<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <div class="search_head_item">
            <div class="block">
              <span class="demonstration">计划月份 </span>
              <el-date-picker
                v-model="planningDate"
                type="month"
                value-format="yyyy-MM"
                placeholder="选择日期"
                :clearable="false"
              >
              </el-date-picker>
            </div>
          </div>
          <span class="search_head_searc">
            <el-button
              size="medium"
              type="primary"
              @click="PlanTraceListInquire"
              >查询</el-button
            >
          </span>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{
            background: '#FAFAFA',
            padding: '10.5px 0 !important',
          }"
          height="calc(100vh - 250px)"
        >
          <el-table-column
            label="车间"
            prop="workshopName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="能源类型"
            prop="bcEneIndex"
            align="center"
          ></el-table-column>
          <el-table-column
            label="计量单位"
            prop="bcUnit"
            align="center"
          ></el-table-column>
          <el-table-column
            label="上月计划用量"
            prop="plannedConsumptionLastMonth"
            align="center"
          ></el-table-column>
          <el-table-column
            label="上月实际用量"
            prop="actualConsumptionLastMonth"
            align="center"
          ></el-table-column>
          <el-table-column
            label="本月计划用量"
            prop="plannedConsumptionThisMonth"
            align="center"
          ></el-table-column>
          <el-table-column
            label="本月累积用量"
            prop="cumulativeUsageThisMonth"
            align="center"
          ></el-table-column>
          <el-table-column
            label="进度"
            sortable
            prop="schedule"
            header-align="center"
            align="left"
          >
            <template slot-scope="scope" align="left">
              <el-tooltip
                class="item"
                effect="dark"
                :content="`当前进度：${scope.row.schedule}%`"
                placement="top"
              >
                <el-progress
                  :stroke-width="15"
                  :percentage="scope.row.schedule"
                  :color="scope.row.schedule > 50 ? '#F8BF36' : 'customColor'"
                ></el-progress>
              </el-tooltip> </template
          ></el-table-column>
        </el-table>
      </div>
    </template>
    <template slot="footer">
      <!-- v-if="total !== 0" -->
      <el-pagination
        background
        :total="total"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="pageSize"
        @size-change="handleSizeChange"
        :current-page="pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import * as api from "@/api/energyPlan.js";
export default {
  data() {
    return {
      total: null,
      create_dialog: false,
      planningDate: "",
      percentage: 30.5,
      pageSize: 10,
      pageIndex: 1,
      tableData: [
        { userName: "name", role: "name", state: "name" },
        { userName: "name", role: "name", state: "name" },
        { userName: "name", role: "name", state: "name" },
      ],
    };
  },
  created() {
    this.planningDate = this.doHandleDate();
    var nowTime = this.doHandleDate();
    this.$startLoading_d("main_conten");
    api.getPlanTraceList(nowTime, this.pageIndex, this.pageSize).then((res) => {
      this.$closeLoading_d("main_conten");
      this.tableData = res.data.records;
      this.total = Number(res.data.total);
    });
  },
  methods: {
    handleSizeChange(val) {
      this.pageSize = val;
      this.getplanTraceList();
    },
    handleCurrentChange(val) {
      this.pageIndex = val;
      this.getplanTraceList();
    },
    PlanTraceListInquire() {
      this.getplanTraceList();
    },
    getplanTraceList() {
      this.$startLoading_d("main_conten");
      api
        .getPlanTraceList(this.planningDate, this.pageIndex, this.pageSize)
        .then((res) => {
          this.$closeLoading_d("main_conten");
          this.tableData = res.data.records;
        });
    },
    doHandleDate() {
      var myDate = new Date();
      var tYear = myDate.getFullYear();
      var tMonth = myDate.getMonth();

      var m = tMonth + 1;
      if (m.toString().length == 1) {
        m = "0" + m;
      }
      return tYear + "-" + m;
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep .el-table .cell {
  white-space: nowrap !important;
}
::v-deep .el-progress__text {
  font-family: DINPro-Regular, DINPro;
  font-weight: 400;
  color: #333333;
  line-height: 22px;
  font-size: 15px !important;
}
::v-deep .el-progress-bar__inner::after {
  content: "";
  border-radius: 50%;
  width: 15px;
  border: 2.5px solid #fff;
  height: 100%;
  //   background:red
}
</style>
