<template>
  <base-layout class="layout_main" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <div class="search_head_item">
            指标类型:
            <el-select
              class="search_head_input"
              v-model="pointertype"
              size="medium"
              clearable
              @clear="()=>{clearSelect('pointertype',null,basicsetSearch)}"
            >
              <el-option
                v-for="item in pointerTypes"
                :key="item.value"
                :value="item.value"
                :label="item.label"
              ></el-option>
            </el-select>
          </div>
          <div class="search_head_item">
            能源指标：
            <el-select
              class="search_head_input"
              v-model="energyTarget"
              size="medium"
              clearable
              @clear="()=>{clearSelect('energyTarget',null,basicsetSearch)}"
            >
              <el-option
                v-for="(item,index) in energyTargets"
                :key="index"
                :value="item.value"
                :label="item.label"
              ></el-option>
            </el-select>
          </div>
          <div class="search_head_item">
            <el-button size="medium" type="primary" @click="basicsetSearch"
            >查询</el-button>
            <el-button size="medium" type="reset" @click="resetSearch"
            >重置</el-button>
          </div>
        </div>
        <div>
          <el-button size="medium" icon="el-icon-plus" type="add" @click="basicsetNew" v-permission="[1]">新建</el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table :data="tableData" :header-cell-style="{background: '#FAFAFA'}" height="calc(100vh - 250px)">
          <el-table-column label="能源指标" align="center" prop="eneIndex"></el-table-column>
          <el-table-column label="计量单位" align="center" prop="unit"></el-table-column>
          <el-table-column label="能源类型" align="center" prop="type" :formatter="typeFormatter"></el-table-column>
          <el-table-column label="国家标准值/月" align="center" prop="standards"></el-table-column>
          <el-table-column label="折标煤系数" align="center" prop="coefStandardCoal"></el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="{row}">
              <el-tooltip 
              effect="dark"
              content="编辑"
              placement="top">
                <el-button size="small" type="text" icon="iconfont icon-icon_bianji" @click="editBasicSet(row)" v-permission="[1]"></el-button>
              </el-tooltip>
              <el-tooltip 
              effect="dark"
              content="删除"
              placement="top"
              >
                <el-button size="small" type="text" icon="iconfont icon-icon_shanchu" @click="delBasicSet(row)" v-permission="[1]"></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-dialog 
        @close="dialogCancel" 
        :title="dialogType"
        :visible.sync="dialogVisible" 
        center
        width="560px"
        :close-on-click-modal='false'
      >
          <el-form label-position="right" :model="formLabelAlign" :rules="rules" ref="formRules">
            <el-form-item label="能源指标" prop="eneIndex">
              <el-input v-model="formLabelAlign.eneIndex"></el-input>
            </el-form-item>
            <el-form-item label="计量单位" prop="unit">
              <el-input v-model="formLabelAlign.unit"></el-input>
            </el-form-item>
            <el-form-item label="能源类型" prop="type">
              <el-select
                v-model="formLabelAlign.type"
                placeholder="请选择能源类型"
                size="medium">
                <el-option
                v-for="(item,index) in pointerTypes.slice(1)"
                :key="index"
                :value="item.value"
                :label="item.label"
              ></el-option>
              </el-select>
              <!-- <el-input v-model="formLabelAlign.type"></el-input> -->
            </el-form-item>
            <el-form-item label="国家标准值/月" prop="standards">
              <el-input v-model="formLabelAlign.standards"></el-input>
            </el-form-item>
            <el-form-item label="折标煤系数" prop="coefStandardCoal">
              <el-input v-model="formLabelAlign.coefStandardCoal"></el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogCancel">取消</el-button>
            <el-button type="primary" @click="formLabelAlignSure">确定</el-button>
          </span>
      </el-dialog>
    </template>
    <template slot="footer">
      <el-pagination
        background
        :total="page.total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="page.pageSize"
        @size-change="handleSizeChange"
        :current-page="page.pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import API from '@/api/systemManagement/index'
const obj = {
  eneIndex: '',
  unit: '',
  type: null,
  standards: '',
  coefStandardCoal: ''
}
export default {
  data() {
    return {
      dialogType: '',
      dialogVisible: false,
      searchParams: {},
      pointertype: null,
      pointerTypes: [
        {
          value: null,
          label: "全部",
        },
        {
          value: 2,
          label: "监测型指标",
        },
        {
          value: 1,
          label: "消耗型指标",
        },
      ],
      energyTarget: null,
      targets: [],
      energyTargets: [
        {
          value: null,
          label: "全部",
        }
      ],
      tableData: [],
      formLabelAlign: {...obj},
      rules: {
        eneIndex: [{required: true,message: '请填写能源指标',trigger: 'blur'}],
        unit: [{required: true,message: '请填写计量单位',trigger: 'blur'}],
        type: [{required: false,message: '请填写能源类型',trigger: ['blur','change']}],
        standards: [
          {required: false,message: '请填写国际标准值/月',trigger: 'blur'},
          {pattern: /^\d+$|^\d*\.\d+$/,message: '请正确填写国际标准值/月',trigger: 'change'}
        ],
        coefStandardCoal: [{required: true,message: '请填写折标煤系数',trigger: 'blur'},
        {pattern: /^\d+$|^\d*\.\d+$/,message: '请正确填写折标煤系数',trigger: 'change'}]
      },
      page: {
        pageSize: 20,
        total: 40,
        pageIndex: 1
      }
    };
  },
  computed: {
    queryParams(){
      return {
        current: this.page.pageIndex,
        size: this.page.pageSize,
        type: this.pointertype,
        eneIndex: this.energyTarget
      }
    }
  },
  mounted(){
    this.getList()
    this.setEnergyTargets()
  },
  methods: {
    resetSearch(){
      this.page.pageIndex = 1;
      this.page.pageSize = 20
      this.pointertype = null
      this.energyTarget = null
      this.getList()
    },
    // 下拉选择 clear事件
    clearSelect(item,value,callback){
      this[item] = value
      callback()
    },
    // 获取全部 能源指标
    getBasicsetAllIndices(){
      API.getAllIndices().then((res)=>{
        this.targets = res.data;
        this.targets.map((item,index)=>{
          this.energyTargets.push({
            value: item,
            label: item,
            index
          })
        })
      })
    },
    setEnergyTargets(){
      this.energyTargets = [{
        value: null,label: '全部'
      }]
      this.getBasicsetAllIndices()
    },
    typeFormatter(row){
      if(!row.type){
        return null
      }else{
        return row.type === 1 ? '消耗型指标':'监测型指标'
      }
    },
    getList(){
      this.$startLoading('el-table')
      API.getConfigList({
        ...this.queryParams
      }).then((res)=>{
        this.tableData = res.data.records;
        this.page.total = +res.data.total;
        // this.setEnergyTargets()
        this.$closeLoading()
      })
      
    },
    // 搜索
    basicsetSearch() {
      this.page.pageIndex = 1
      this.getList()
    },
    // 新建
    basicsetNew(){
        this.dialogVisible = true
        this.dialogType = '新增'
    },
    // 编辑
    editBasicSet(row){
      this.dialogVisible = true
      this.formLabelAlign = JSON.parse(JSON.stringify(row))
      this.dialogType = '修改'
    },
    // 删除
    delBasicSet(row){
      this.$confirm("此操作将永久删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        API.delConfig(row.id).then((res)=>{
          this.$message({
            type: 'success',
            message: '删除成功'
          })
          this.getList()
          this.energyTarget = this.pointertype = null;
        })
      }).catch(()=>{})
    },
    formLabelAlignSure(){
      const method = this.dialogType === '修改' ? API.updateConfig : API.addConfig;
      this.$refs.formRules.validate((valid) => {
        if (valid) {
          method({
            ...this.formLabelAlign,
            standards: !this.formLabelAlign.standards ? 0 : this.formLabelAlign.standards,
            type: !this.formLabelAlign.type ? null : this.formLabelAlign.type,
            coefStandardCoal: !this.formLabelAlign.coefStandardCoal ? 0 : this.formLabelAlign.coefStandardCoal
          }).then((res)=>{
            this.$message({
              type: 'success',
              message: `${this.dialogType}成功`
            })
            this.getList()
            this.dialogCancel()
          })
        }
      })
    },
    dialogCancel(){
      this.formLabelAlign = {...obj}
      this.dialogVisible = false
      this.$refs.formRules.resetFields();
    },
    handleSizeChange(val){
      this.page.pageSize = val
      this.pointertype = this.energyTarget = null
      this.getList()
    },
    handleCurrentChange(val){
      this.page.pageIndex = val
      this.getList()
    }
    
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__footer{
  text-align: center;
}
::v-deep {
.el-form .el-form-item .el-form-item__label{
      width: 120px;
    }
}
</style>
