<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header">
      <div class="flex" style="min-width: 400px">
        <div class="head_row">
          <div class="search_head_item">
            设备名称:
            <el-input
              class="search_head_input"
              type="text"
              size="medium"
              v-model="equipmentName"
              clearable
              placeholder="请输入设备名称"
              @clear="inputClear"
            />
          </div>
          <div class="search_head_item">
            所处车间:
            <el-select
              class="search_head_input"
              v-model="workshopId"
              size="medium"
              clearable
              @clear="
                () => {
                  clearSelect('status', null, search);
                }
              "
            >
              <el-option
                v-for="item in workshopDropDownList"
                :key="item.workshopId"
                :label="item.workshopName"
                :value="item.workshopId"
              >
              </el-option>
            </el-select>
          </div>
          <span class="search_head_searc">
            <el-button size="medium" type="primary" @click="search"
              >查询</el-button
              >
              <!-- <el-button size="medium" type="primary" @click="resetSearch"
              >重置</el-button
            > -->
            <el-button
              size="medium"
              type="reset"
              @click="reset"
              >重置</el-button
            >
          </span>
        </div>
        <div>
          <el-button icon="el-icon-plus" size="medium" type="add" @click="add" v-permission="[1]">
            新建
          </el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
          height="calc(100vh - 240px)"
        >
          <!-- <el-table-column
            label="序号"
            align="center"
            type="index"
          ></el-table-column> -->
          <el-table-column
            label="设备名称"
            prop="equipmentName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="设备ID"
            prop="equipmentId"
            align="center"
          ></el-table-column>
          <el-table-column
            label="传感器数量"
            prop="sensorsAmounts"
            align="center"
          ></el-table-column>
          <el-table-column
            label="所在车间"
            prop="workshopName"
            align="center"
          ></el-table-column>
          <el-table-column label="操作" prop="name" align="center">
            <template slot-scope="{ row }">
              <el-tooltip content="查看" effect="dark" placement="top">
                <el-button
                size="small"
                type="text"
                icon="iconfont icon-icon_chakan"
                @click="check(row)"
              ></el-button>
              </el-tooltip>
              <el-tooltip content="编辑" effect="dark" placement="top">
                <el-button
                size="small"
                type="text"
                icon="iconfont icon-icon_bianji"
                @click="edit(row)"
                v-permission="[1]"
              ></el-button>
              </el-tooltip>
              <el-tooltip content="删除" effect="dark" placement="top">
                <el-button
                size="small"
                type="text"
                icon="iconfont icon-icon_shanchu"
                @click="del(row)"
                v-permission="[1]"
              ></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-dialog
        :title="dialogTitle"
        :visible.sync="dialogVisible"
        width="1000px"
        center
        @close="formCancel"
        :close-on-click-modal="false"
        append-to-body
      >
        <div class="title">
          <span> </span>
          设备信息
        </div>
        <el-form
          :model="formLabelAlign"
          :rules="rules"
          ref="formRule"
          :validate-on-rule-change='false'

        >
          <el-form-item label-width="0" style="margin-top: 20px">
            <el-row>
              <el-col :span="12">
                <el-form-item label="设备名称" prop="equipmentName">
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.equipmentName"
                    clearable
                    placeholder="请输入设备名称"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="设备ID" prop="equipmentID">
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.equipmentID"
                    clearable
                    placeholder="请输入设备ID"
                  />
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>

          <div class="title">
            <span> </span>
            绑定传感器
          </div>

          <el-table
            :data="dialogTableData"
            :header-cell-style="{ background: '#FAFAFA' }"
            height="300px"
          >
            <el-table-column
              label="序号"
              type="index"
              align="center"
            ></el-table-column>
            <el-table-column
              label="传感器名称"
              align="center"
              prop="name"
            >
              <template slot-scope="{row}">
                <el-input size="small" v-model="row.name"></el-input>
              </template>
            </el-table-column>
            <el-table-column
              label="监测指标"
              align="center"
              prop="sensorEneTypeName"
            >
              <template slot-scope="{row}">
                <el-select
                    class="search_head_input"
                    v-model="row.sensorEneTypeId"
                    placeholder="请选择"
                    size="medium"
                    style="width:100%"
                  >
                    <el-option
                      v-for="item in targetList"
                      :key="item.basicConfigId"
                      :value="item.basicConfigId"
                      :label="item.basicConfigName"
                      @click.native="row.sensorEneTypeName=item.basicConfigName"
                    ></el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column
              label="传感器类型"
              align="center"
              prop="sensorPhysicalType"
            >
              <template slot-scope="{ row }">
                {{ sensorPhysicalTypeFilters(row.sensorPhysicalType) }}
              </template>
            </el-table-column>
             <el-table-column
              label="设备编码"
              align="center"
              prop="imei"
            >
               <template slot-scope="{row}">
                <el-input size="small" v-model="row.imei"></el-input>
              </template>
            </el-table-column>
            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button
                  size="small"
                  type="text"
                  icon="iconfont icon-icon_shanchu"
                  @click="del2(scope)"
                ></el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-form-item label-width="0" style="margin-top: 10px">
            <el-row :gutter="10" style="margin-left: 50px">
              <el-col :span="5" >
                <el-form-item label="" prop="name">
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.name"
                    clearable
                    placeholder="请输入"
                    @clear="inputClear"
                  />
                </el-form-item>
              </el-col>
              <!-- <el-col :span="2" style="margin-left: 10px">
                <el-form-item label="" >
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.sensorId"
                    clearable
                    placeholder="请输入"
                    @clear="inputClear"
                  />
                </el-form-item>
              </el-col> -->
              <el-col :span="5">
                <el-form-item label="" prop="sensorEneTypeId">
                  <el-select
                    class="search_head_input"
                    v-model="formLabelAlign.sensorEneTypeId"
                    placeholder="请选择"
                    clearable
                    size="medium"
                    style="width:100%"
                  >
                    <el-option
                      v-for="item in targetList"
                      :key="item.basicConfigId"
                      :value="item.basicConfigId"
                      :label="item.basicConfigName"
                      @click.native="formLabelAlign.sensorEneTypeName=item.basicConfigName"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <!-- <el-col :span="2" style="margin-left: 20px">
                <el-form-item label="" >
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.lng"
                    clearable
                    placeholder="请输入"
                    @clear="inputClear"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="2" style="margin-left: 30px">
                <el-form-item label="" >
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.lat"
                    clearable
                    placeholder="请输入"
                    @clear="inputClear"
                  />
                </el-form-item>
              </el-col> -->
              <!-- 传感器类型 -->
              <el-col :span="5">
                <el-form-item >
                  <el-select
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.sensorPhysicalType"
                    clearable
                    placeholder="请选择"
                    @clear="inputClear"
                    style="width:100%"
                    disabled
                  >
                    <el-option label="数值型" :value="1"></el-option>
                    <el-option label="开关型" :value="2"></el-option>
                    <el-option label="定位型" :value="3"></el-option>
                    <el-option label="图片性" :value="4"></el-option>
                    <el-option label="开关型" :value="5"></el-option>
                    <el-option label="档位型" :value="6"></el-option>
                    <el-option label="视频" :value="7"></el-option>
                    <el-option label="字符串型" :value="8"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <!-- 链接协议 -->
              <el-col :span="5" >
                <el-form-item prop="imei">
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.imei"
                    clearable
                    placeholder="请输入"
                  >
                  </el-input>
                </el-form-item>
              </el-col>
              <!-- 设置单位 -->
              <!-- <el-col :span="2" style="margin-left: 20px">
                <el-form-item >
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    clearable
                    v-model="formLabelAlign.defaultTimescale"
                    placeholder="请输入"
                  >
                  </el-input>
                </el-form-item>
              </el-col> -->
              <!-- 用户ID -->
              <!-- <el-col :span="2" style="margin-left: 30px">
                <el-form-item >
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.userId"
                    clearable
                    placeholder="请输入"
                  >
                  </el-input>
                </el-form-item>
              </el-col> -->
            </el-row>
          </el-form-item>
          
            <div
              class="addPlan"
              @click="addConfirmation"
            >
              <i class="el-icon-plus"></i>
              <span>新增传感器</span>
            </div>
            <!-- <div
              class="addPlan"
              @click="addConfirmation"
              v-if="dialogType == 'edit'"
            >
              <i class="el-icon-plus"></i>
              <span>新增传感器</span>
            </div> -->
         
        </el-form>

        <span slot="footer" class="dialog-footer">
          <el-button @click="formCancel">取 消</el-button>
          <el-button
            v-if="dialogType == 'create'"
            type="primary"
            @click="addConfirmation2"
            >确 定</el-button
          >
          <el-button
            v-if="dialogType == 'edit'"
            type="primary"
            @click="editConfirmation2"
            >确 定</el-button
          >
        </span>
      </el-dialog>


       <el-dialog
        :title="'查看'"
        :visible.sync="dialogVisible2"
        width="1000px"
        center
        @close="formCancel"
        :close-on-click-modal="false"
      >
        <div class="title">
          <span> </span>
          设备信息
        </div>
        <el-form
          :model="formLabelAlign"
          :rules="rules"
          ref="formRule"
        >
          <el-form-item label-width="0" style="margin-top: 20px">
            <el-row>
              <el-col :span="12">
                <el-form-item label="设备名称" prop="equipmentName">
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.equipmentName"
                    clearable
                    placeholder="请输入设备名称"
                    disabled
                  />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="设备ID" prop="equipmentID">
                  <el-input
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="formLabelAlign.equipmentID"
                    clearable
                    placeholder="请输入设备ID"
                    disabled
                  />
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>

          <div class="title">
            <span> </span>
            绑定传感器
          </div>

          <el-table
            :data="dialogTableData"
            :header-cell-style="{ background: '#FAFAFA' }"
            height="300px"
          >
            <el-table-column
              label="序号"
              type="index"
              align="center"
            ></el-table-column>
            <el-table-column
              label="传感器名称"
              align="center"
              prop="name"
            ></el-table-column>
            <el-table-column
              label="监测指标"
              align="center"
              prop="sensorEneTypeName"
            ></el-table-column>
            <el-table-column
              label="传感器类型"
              align="center"
              prop="sensorPhysicalType"
            >
              <template slot-scope="{ row }">
                {{ sensorPhysicalTypeFilters(row.sensorPhysicalType) }}
              </template>
            </el-table-column>
            <el-table-column
              label="设备编码"
              align="center"
              prop="imei"
            ></el-table-column>
          </el-table>
          
        </el-form>

        <span slot="footer" class="dialog-footer">
          <el-button @click="formCancel2">取 消</el-button>
        </span>
      </el-dialog>
    </template>
    <template slot="footer">
      <el-pagination
        v-if="total !== 0"
        background
        :total="total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="pageSize"
        @size-change="handleSizeChange"
        :current-page="pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import API from "@/api/deviceManagement.js";
const obj = {
  equipmentName: "",
  equipmentID: "",
  name: "",
  sensorEneTypeId: "",
  sensorPhysicalType: 1,
  imei:'',
};
export default {
  data() {
    return {
      dialogVisible2:false,
      dialogVisible: false,
      workshopId: "",
      equipmentName: "",
      states: [
        { value: null, label: "全部" },
        { value: 1, label: "正常" },
        { value: 0, label: "禁用" },
      ],
      formLabelAlign: JSON.parse(JSON.stringify(obj)),
      dialogVisible: false,
      dialogTitle: "",
      dialogType: "create", // edit
      tableData: [],
      pageSize: 20,
      pageIndex: 1,
      total: 0,
      rules: {
        name: [{ required: true, message: " ", trigger: "blur" }],
        equipmentName: [{ required: true, message: " ", trigger: "blur" }],
        equipmentID: [{ required: true, message: " ", trigger: "blur" }],
        sensorId: [{ required: true, message: " ", trigger: "blur" }],
        sensorEneTypeId: [{ required: true, message: " ", trigger: "change" }],
        lng: [{ required: true, message: " ", trigger: "blur" }],
        lat: [{ required: true, message: " ", trigger: "blur" }],
        sensorPhysicalType: [{ required: true, message: " ", trigger: "change" }],
        defaultTimescale: [{ required: true, message: " ", trigger: "blur" }],
        linkType: [{ required: true, message: " ", trigger: "blur" }],
        imei: [{ required: true, message: " ", trigger: "blur" }],
      },
      workshopDropDownList: [],
      targetList: [],
      dialogTableData: [],
      list: [],
      id: "",


      addTableList: []
    };
  },
  computed: {
    queryParams() {
      return {
        current: this.pageIndex,
        size: this.pageSize,
        equipmentName: this.equipmentName,
        workshopId: this.workshopId,
      };
    },
  },
  created() {
    this.getList();
    this.getWorkshopDropDownList();
    this.getTargetList();
  },
  methods: {
    resetSearch(){
      this.pageIndex = 1;
      this.pageSize = 20
      this.equipmentName = null
      this.workshopId = null
      this.getList()
    },
    getList() {
      this.$startLoading('app-main')
      API.getEquipmentList(this.queryParams).then((res) => {
        this.$closeLoading()
        if (res.code == 200) {
          this.tableData = res.data.records;
          this.total = Number(res.data.total);
        }
      });
    },
    getWorkshopDropDownList() {
      API.getWorkshopDropDownList().then((res) => {
        this.workshopDropDownList = res.data;
      });
    },
    getTargetList() {
      API.getTargetList().then((res) => {
        if (res.code == 200) {
          this.targetList = res.data;
        }
      });
    },
    // 下拉选择 clear事件
    clearSelect(item, value, callback) {
      this[item] = value;
      callback();
    },
    inputClear() {
      this.getList();
    },
    search() {
      this.pageIndex = 1;
      this.getList();
    },
    edit(row) {
      this.formLabelAlign = {...obj, ...row, equipmentID: row.equipmentId, };
      
      this.id = this.formLabelAlign.id;
      API.getTheSensorList({
        current: 1,
        size: 99999,
        equipmentId: row.id,
      }).then((res) => {
        this.dialogTableData = res.data.records;
        console.log(this.dialogTableData);
        this.addTableList = []
        this.dialogType = "edit";
        this.dialogTitle = "编辑设备";
        this.dialogVisible = true;
      });
    },
    editConfirmation2() {
      if (
        this.formLabelAlign.equipmentName != "" &&
        this.formLabelAlign.equipmentID != ""
      ) {
        this.$startLoading('main-container')
        const obj = {
          equipmentID: this.formLabelAlign.equipmentID,
          equipmentName: this.formLabelAlign.equipmentName,
          equipmentPId: this.id,
          
          list: this.dialogTableData, // 增加得
        };
        API.editADevice(obj).then((res) => {
          this.$closeLoading()
          if (res.code == 200) {
            this.$message({ type: "success", message: "修改成功" });
            this.addTableList = []
            this.getList()
            this.formCancel()
          }
        });
      } else {
        this.$message({ type: "warning", message: "设备名称，设备ID不能为空" });
      }
    },
    del(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          API.deleteDevice(row.id).then((res) => {
            if (res.code == 200) {
              this.getList();
              this.$message({
                type: "success",
                message: "删除成功!",
              });
            }
          });
        })
        .catch(() => {});
    },
    del2(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          console.log(row);
          let item = this.dialogTableData.splice(row.$index,1)[0]
          if(item.type){
            this.addTableList.splice(row.$index,1)
          }else{
            API.deleteSensor(row.row.id).then((res) => {
              if (res.code == 200) {
                // API.getTheSensorList({
                //   current: 1,
                //   size: 99999,
                //   equipmentId: this.id,
                // }).then((res) => {
                //   this.dialogTableData = res.data.records;
                //   this.$message({
                //     type: "success",
                //     message: "删除成功!",
                //   });
                // });
              }
            });
          }
          
        })
        .catch(() => {});
    },
    add() {
      this.formLabelAlign = { ...obj };
      this.dialogTableData = []
      this.dialogType = "create";
      this.dialogTitle = "新增设备";
      this.dialogVisible = true;
    },
    addConfirmation() {
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          this.dialogTableData.unshift(
            {
              name: this.formLabelAlign.name,
              sensorEneTypeId: this.formLabelAlign.sensorEneTypeId,
              sensorEneTypeName: this.formLabelAlign.sensorEneTypeName,
              sensorPhysicalType: this.formLabelAlign.sensorPhysicalType,
              imei:this.formLabelAlign.imei,
              type:'temporary',
            }
          ) 
          this.addTableList.unshift(
            {
              name: this.formLabelAlign.name,
              sensorEneTypeId: this.formLabelAlign.sensorEneTypeId,
              sensorEneTypeName: this.formLabelAlign.sensorEneTypeName,
              sensorPhysicalType: this.formLabelAlign.sensorPhysicalType,
              imei:this.formLabelAlign.imei,
            }
          )
          this.formLabelAlign.name = "";
          this.formLabelAlign.sensorEneTypeId = "";
          this.formLabelAlign.sensorEneTypeName = '';
          this.formLabelAlign.sensorPhysicalType = 1;
          this.formLabelAlign.imei = ''
          this.$nextTick(()=>{
            this.$refs.formRule.clearValidate()
          })
        }
      });
    },
    addConfirmation2() {
      if (
        this.formLabelAlign.equipmentName != "" &&
        this.formLabelAlign.equipmentID != ""
      ) {
        if(this.addTableList.length==0) {
          API.addADevice({
            equipmentID: this.formLabelAlign.equipmentID,
            equipmentName: this.formLabelAlign.equipmentName,
            list: [],
          }).then((res) => {
            this.id = res.data;
            this.dialogType = "edit";
            API.getTheSensorList({
              current: 1,
              size: 99999,
              equipmentId: this.id,
            }).then((res) => {
              this.dialogTableData = res.data.records;
              this.dialogType = "edit";
              this.$message({ type: "success", message: "添加成功" });
              this.getList();
            });
            this.formCancel()
          });
        }else{
          API.addADevice({
            equipmentID: this.formLabelAlign.equipmentID,
            equipmentName: this.formLabelAlign.equipmentName,
            list: this.addTableList,
          }).then((res) => {
            this.id = res.data;
            this.dialogType = "edit";
            API.getTheSensorList({
              current: 1,
              size: 99999,
              equipmentId: this.id,
            }).then((res) => {
              this.dialogTableData = res.data.records;
              this.dialogType = "edit";
              this.$message({ type: "success", message: "添加成功" });
              this.getList();
            });
            this.addTableList=[]
            this.formCancel()
          });
        }
      } else {
        this.$message({ type: "warning", message: "设备名称，设备ID不能为空" });
      }
    },
    del1(row) {
      console.log(row);
    },
    sensorPhysicalTypeFilters(val) {
      let str = "";
      switch (val) {
        case 1:
          str = "数值型";
          break;
        case 2:
          str = "开关型";
          break;
        case 3:
          str = "定位型";
          break;
        case 4:
          str = "图片性";
          break;
        case 5:
          str = "开关型";
          break;
        case 6:
          str = "档位型";
          break;
        case 7:
          str = "视频";
          break;
        case 8:
          str = "字符串型";
          break;
        default:
          break;
      }
      return str;
    },
    // 分页 size
    handleSizeChange(value) {
      this.pageSize = value;
      this.getList();
    },
    // 分页 num
    handleCurrentChange(value) {
      this.pageIndex = value;
      this.getList();
    },
    formCancel() {
      this.$refs.formRule.resetFields();
      this.dialogTableData = []
      this.dialogVisible = false;
      
    },
    formCancel2() {
      this.$refs.formRule.resetFields();
      this.dialogTableData = []
      this.dialogVisible2 = false;

    },


    check(row) {
      this.formLabelAlign = { ...row, equipmentID: row.equipmentId };
      this.id = this.formLabelAlign.id;
      API.getTheSensorList({
        current: 1,
        size: 99999,
        equipmentId: row.id,
      }).then((res) => {
        this.dialogTableData = res.data.records;
        this.dialogVisible2 = true;
      });
    },

    reset() {
      this.equipmentName = '';
      this.workshopId = '';
      this.search()
    }
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 18px;
  color: #333333;
  display: flex;
  align-items: center;
  & > span {
    margin-right: 10px;
    display: inline-block;
    width: 3px;
    height: 18px;
    background: #0079ff;
  }
}
.addPlan {
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i.el-icon-plus {
    display: inline-block;

    color: #3a8ee6;
    font-size: 16px;
    font-weight: 600;
  }
  span {
    display: inline-block;
    color: #3a8ee6;
    font-size: 20px;
    // padding-left: 10px;
  }
}
</style>
