<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header">
      <div class="flex" style="min-width: 400px">
        <div class="head_row">
          <div class="search_head_item">
            租户名称:
            <el-input
              class="search_head_input"
              type="text"
              size="medium"
              v-model="name"
              clearable
              placeholder="请输入租户名称"
              @clear="inputClear"
            />
          </div>
          <div class="search_head_item">
            手机号码:
            <el-input
              class="search_head_input"
              oninput="value=value.replace(/[^\d]/g,'')"
              maxLength='11'
              size="medium"
              v-model="phone"
              clearable
              placeholder="请输入手机号"
              @clear="inputClear"
            />
          </div>
          <div class="search_head_item">
            状态:
            <!-- <el-select
              v-model="status"
              size="medium"
              clearable
              placeholder="请选择"
            >
              <el-option :value="0" label="禁用"> </el-option>
              <el-option :value="1" label="正常"> </el-option>
            </el-select> -->
            <el-select
              v-model="status"
              size="medium"
              clearable
              @clear="()=>{clearSelect('status',null,search)}"
            >
              <el-option v-for="item in states" :key="item.value" :label="item.label" :value="item.value"> </el-option>
            </el-select>
          </div>
          <span class="search_head_searc">
            <el-button size="medium" type="primary" @click="search"
              >查询</el-button
            >
            <el-button size="medium" type="reset" @click="resetSearch"
              >重置</el-button
            >
          </span>
        </div>
        <div>
          <el-button icon="el-icon-plus" size="medium" type="add" @click="add">
            新建
          </el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
          height="calc(100vh - 240px)"
        >
          <!-- <el-table-column
            label="序号"
            align="center"
            type="index"
          ></el-table-column> -->
          <el-table-column
            label="租户名称"
            prop="name"
            align="center"
          ></el-table-column>
          <el-table-column
            label="负责人"
            prop="userName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="手机号码"
            prop="phone"
            align="center"
          ></el-table-column>
          <el-table-column label="状态" prop="status" align="center">
            <template slot-scope="{ row }">
              <!-- {{ row.status == 0 ? "禁用" : row.status == 1 ? "正常" : "" }} -->
              <el-switch @change="tableSwitchChange(row,a)"  v-model="row.status" :active-value='1' :inactive-value='0'></el-switch>
            </template>
          </el-table-column>
          <el-table-column label="操作" prop="name" align="center">
            <template slot-scope="{ row }">
              <el-tooltip 
              effect="dark"
              content="编辑"
              placement="top">
                <el-button
                size="small"
                type="text"
                icon="iconfont icon-icon_bianji"
                @click="edit(row)"
              ></el-button>
              </el-tooltip>
              <el-tooltip 
              effect="dark"
              content="编辑"
              placement="top">
               <el-button
                size="small"
                type="text"
                icon="iconfont icon-icon_shanchu"
                @click="del(row)"
              ></el-button>
              </el-tooltip>
              
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-dialog
        :title="dialogTitle"
        :visible.sync="dialogVisible"
        width="600px"
        center
        @close="formCancel"
        :close-on-click-modal='false'
      >
        <el-form
          :model="formLabelAlign"
          :rules="rules"
          ref="formRule"
        >
          <el-form-item label="租户名称" prop="name">
            <el-input v-model="formLabelAlign.name"></el-input>
          </el-form-item>
          <el-form-item label="负责人" prop="userName">
            <el-input v-model="formLabelAlign.userName"></el-input>
          </el-form-item>
          <el-form-item label="手机号" prop="phone">
            <el-input v-model="formLabelAlign.phone"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <!-- <el-select style="width: 100%" v-model="formLabelAlign.status">
              <el-option :value="0" label="禁用"> </el-option>
              <el-option :value="1" label="正常"> </el-option>
            </el-select> -->
             <el-switch v-model="formLabelAlign.status" :active-value='1' :inactive-value='0' ></el-switch>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="formCancel">取 消</el-button>
          <el-button
            v-if="dialogType == 'create'"
            type="primary"
            @click="addConfirmation"
            >确 定</el-button
          >
          <el-button
            v-if="dialogType == 'edit'"
            type="primary"
            @click="editConfirmation"
            >确 定</el-button
          >
        </span>
      </el-dialog>
    </template>
    <template slot="footer">
      <el-pagination
        v-if="total !== 0"
        background
        :total="total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="pageSize"
        @size-change="handleSizeChange"
        :current-page="pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
// import API from "@/api/tenant.js";
import API from '@/api/systemManagement/index'
import { validUsername } from '@/utils/validate';
const obj = {
  name: "",
  phone: "",
  status: 1,
  userName: "",
};
export default {
  data() {
    return {
      dialogVisible: false,
      phone: "",
      status: null,
      name: "",
      states: [
        {value: null,label: '全部'},
        {value: 1,label: '正常'},
        {value: 0,label: '禁用'}
      ],
      formLabelAlign: { ...obj },
      dialogVisible: false,
      dialogTitle: "",
      dialogType: "create", // edit
      tableData: [],
      pageSize: 20,
      pageIndex: 1,
      total: 0,
      rules: {
        name: [{ required: true, message: "请填写租户名称", trigger: "blur" }],
        userName: [
          { required: true, message: "请填写负责人", trigger: "blur" },
        ],
        phone: [
          { required: true, message: "请填写手机号", trigger: "blur" },
          { pattern: /^1[3-9](\d{9}$)/,message: '请填写正确的手机号',trigger: 'change'}
        ],
      },
    };
  },
  computed: {
    queryParams() {
      return {
        current: this.pageIndex,
        size: this.pageSize,
        name: this.name,
        status: this.status,
        phone: this.phone,
      };
    },
  },
  created() {
    this.getList();
  },
  methods: {
    resetSearch(){
      this.pageIndex = 1;
      this.pageSize = 20;
      this.name = null
      this.status = null
      this.phone = null
      this.getList()
    },
    // 下拉选择 clear事件
    clearSelect(item,value,callback){
      this[item] = value
      callback()
    },
    inputClear(){
      this.getList()
    },
    getList() {
      this.$startLoading('app-main')
      API.getTenantList({
        ...this.queryParams
      }).then((res) => {
         this.$closeLoading()
        if (res.code == 200) {
          this.tableData = res.data.records;
          this.total = Number(res.data.total);
        }
      });
    },
    search() {
      this.pageIndex = 1
      this.getList();
    },
    reset() {
      this.name = '';
      this.phone = '';
      this.status = '';
      this.search()
    },
    edit(row) {
      this.formLabelAlign = { ...row };
      this.dialogType = "edit";
      this.dialogTitle = "租户编辑";
      this.dialogVisible = true;
    },
    editConfirmation() {
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          API.editTenant(this.formLabelAlign).then((res) => {
            if (res.code == 200) {
              this.getList();
              this.$message({ type: "success", message: "修改成功" });
              this.formCancel();
            }
          });
        }
      });
    },
    del(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          API.delTenant(row.id).then((res) => {
            if (res.code == 200) {
              this.getList();
              this.$message({
                type: "success",
                message: "删除成功!",
              });
            }
          });
        })
        .catch(() => {
          
        });
    },
    add() {
      this.formLabelAlign = { ...obj };
      this.dialogType = "create";
      this.dialogTitle = "新增租户";
      this.dialogVisible = true;
    },
    addConfirmation() {
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          API.addTenant(this.formLabelAlign).then((res) => {
            if (res.code == 200) {
              this.getList();
              this.$message({ type: "success", message: "添加成功" });
              this.formCancel();
            }
          });
        }
      });
    },
    // 分页 size
    handleSizeChange(value) {
      this.pageSize = value;
      this.getList();
    },
    // 分页 num
    handleCurrentChange(value) {
      this.pageIndex = value;
      this.getList();
    },
    formCancel() {
      this.$refs.formRule.resetFields();
      this.dialogVisible = false;
    },
    statusChange(val){
      this.formLabelAlign.status = +val
    },

    tableSwitchChange(row) {
      API.tenantStatus({
        status:row.status,
        id:row.id
      }).then((res) => {
            if (res.code == 200) {
              this.getList();
              this.$message({ type: "success", message: "修改成功" });
            }
          });
    }
  },
};
</script>

<style lang="scss" scoped>
</style>
