<template>
  <base-layout class="layout_main" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <div class="search_head_item">
              开始时间：
        <el-date-picker
      v-model="searchParams.dst"
      type="datetime"
      format="yyyy-MM-dd HH:mm"
      value-format="yyyy-MM-dd HH:mm"
      :picker-options="dateCheck.startDatePicker"
      @change="dateInput"
      placeholder="选择日期时间">
    </el-date-picker>
          </div>
          <div class="search_head_item">
            结束时间:
            <el-date-picker
            class="search_head_input"
      v-model="searchParams.det"
      value-format="yyyy-MM-dd HH:mm"
        format="yyyy-MM-dd HH:mm"
      type="datetime"
      :picker-options="dateCheck.endDatePicker"
      @change="dateInput"
      placeholder="选择日期时间">
        </el-date-picker>
          </div>
          <div class="search_head_item">
            所属租户：
            <el-select
              v-model="tenantName"
              size="medium"
              clearable
              @clear="()=>{clearSelect('tenantName',null,getList)}"
            >
              <el-option
                v-for="item in tenantNames"
                :key="item.value"
                :value="item.value"
                :label="item.label"
              ></el-option>
            </el-select>
          </div>
          <div class="search_head_item">
            <el-button size="medium" type="primary" @click="deviceManagementSearch"
            >查询</el-button>
            <el-button size="medium" type="reset" @click="resetSearch"
            >重置</el-button>
          </div>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table :data="tableData" :header-cell-style="{background: '#FAFAFA'}" height="calc(100vh - 250px)">
          <el-table-column label="用户名" align="center" prop="userName"></el-table-column>
          <el-table-column label="角色" align="center" prop="roleId" :formatter="roleTransform"></el-table-column>
          <el-table-column label="所属租户" align="center" prop="tenantName"></el-table-column>
          <el-table-column label="登录时间" align="center" prop="loginTime" :formatter="loginTimeFormatter"></el-table-column>
          <el-table-column label="关键操作" align="center" prop="operation"></el-table-column>
        </el-table>
      </div>
    </template>
    <template slot="footer">
      <el-pagination
        background
        :total="page.total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="page.pageSize"
        @size-change="handleSizeChange"
        :current-page="page.pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import API from '@/api/systemManagement/index'
export default {
  data() {
    return {
      
      searchParams: {
          det: '',
          dst: ''
      },
      dateCheck: {
        startDatePicker: this.beginDate(),
        endDatePicker: this.processDate()
      },
      tableData: [],
      tenantName: null,
      tenantNames: [
        {
          value: null,
          label: '全部'
        },
      ],
      targets: [],
      page: {
        pageSize: 20,
        total: 0,
        pageIndex: 1
      }
    };
  },
  mounted(){
    this.getList()
    this.setTenantNames()
  },
  computed: {
    queryParams(){
      return {
        size: this.page.pageSize,
        current: this.page.pageIndex,
        endTime: this.searchParams.det,
        startTime: this.searchParams.dst,
        tenantName: this.tenantName
      }
    }
  },
  methods: {
    resetSearch(){
      this.page.pageSize = 20;
      this.page.pageIndex = 1;
      this.searchParams.det = '';
      this.searchParams.dst = ''
      this.tenantName = null
      this.getList()
    },
    // 角色IDname转换 0 超级管理员 1 租户管理员 2 访客
    roleTransform(role){
      let roleNames = ['超级管理员','租户管理员','访客']
      return roleNames[role.roleId]
    },
    // 下拉选择 clear事件
    clearSelect(item,value,callback){
      this[item] = value
      callback()
    },
    dateInput(val){
      if(!val){
        // 清空了一个时间，请求一次
        this.getList()
      }
    },
         beginDate(){
          const self = this
          return {
            disabledDate(time){
              if (self.searchParams.det) {  //如果结束时间不为空，则小于结束时间
                return new Date(self.searchParams.det).getTime() < time.getTime()
              } else {
                // return time.getTime() > Date.now()//开始时间不选时，结束时间最大值小于等于当天
              }
            }
          }
        },
        processDate() {
          const  self = this
          return {
            disabledDate(time) {
              if (self.searchParams.dst) {  //如果开始时间不为空，则结束时间大于开始时间
                return new Date(self.searchParams.dst).getTime() > time.getTime()
              } else {
                // return time.getTime() > Date.now()//开始时间不选时，结束时间最大值小于等于当天
              }
            }
          }
        },
    setTenantNames(){
      API.getTenantName().then((res)=>{
        this.targets = res.data;
        this.targets.map((item,index)=>{
          this.tenantNames.push({
            value: item.name,
            label: item.name,
            index
          })
        })
      })
    },
    loginTimeFormatter(row,column){
      let str = String(row.loginTime)
      return str.substring(0,str.length-3)
    },
    getList(){
      this.$startLoading('el-table')
      API.getLogList({
        ...this.queryParams
      }).then((res)=>{
        this.tableData = res.data.records;
        this.page.total = +res.data.total;
        this.$closeLoading()
      })
    },
    // 搜索
    deviceManagementSearch() {
      this.page.pageIndex = 1
      this.getList()
    },
    handleSizeChange(val){
      this.page.pageSize = val
      this.getList()
      // this.searchParams.det = this.searchParams.dst = null
      // this.tenantName = null
    },
    handleCurrentChange(val){
      this.page.pageIndex = val
      this.getList()
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__footer{
  text-align: center;
}
</style>
