<template>
  <base-layout class="layout_main" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <div class="search_head_item">
              用户名:
            <el-input clearable @clear="inputClear" v-model="userName" placeholder="请输入" class="search_head_input"></el-input>
          </div>
          <div class="search_head_item">
            角色:
            <el-select
              v-model="role"
              size="medium"
              clearable
              @clear="()=>{clearSelect('role',null,usersManagementSearch)}"
            >
              <el-option
                v-for="item in roles"
                :key="item.roleId"
                :value="item.roleId"
                :label="item.roleName"
              ></el-option>
            </el-select>
          </div>
          <div class="search_head_item">
            所属租户:
            <el-select
              v-model="tenantName"
              size="medium"
              clearable
              @clear="()=>{clearSelect('tenantName',null,usersManagementSearch)}"
            >
              <el-option
                v-for="item in tenantNames"
                :key="item.generateId"
                :value="item.generateId"
                :label="item.tenantName"
              ></el-option>
            </el-select>
          </div>
          <div class="search_head_searc">
            <el-button size="medium" type="primary" @click="usersManagementSearch"
            >查询</el-button>
            <el-button size="medium" type="reset" @click="resetSearch"
            >重置</el-button>
          </div>
        </div>
        <div>
          <el-button size="medium" icon="el-icon-plus" type="add" @click="usersManagementNew">新建</el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table :data="tableData" :header-cell-style="{background: '#FAFAFA'}" height="calc(100vh - 250px)">
          <el-table-column label="序号" type="index" width="50"></el-table-column>
          <el-table-column label="用户名" align="center" prop="userName"></el-table-column>
          <el-table-column label="所属租户" align="center" prop="tenantName"></el-table-column>
          <el-table-column label="联系方式" align="center" prop="phone"></el-table-column>
          <el-table-column label="角色" align="center" prop="roleName" :formatter="roleTransform"></el-table-column>
          <el-table-column label="状态" align="center" prop="status">
            <template slot-scope="{row,$index}">
              <el-switch :value="!!row.status" @change="()=>{changeUserStatus(row,$index)}"></el-switch>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="{row}">
              <el-tooltip placement="top" effect="dark" content="编辑">
                <el-button size="small" type="text" icon="iconfont icon-icon_bianji" @click="editusersManagement(row)"></el-button>
              </el-tooltip>
              <el-tooltip placement="top" effect="dark" content="删除">
                <el-button size="small" type="text" icon="iconfont icon-icon_shanchu" @click="delusersManagement(row)"></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-dialog @close="dialogCancel" :title="dialogType" center :visible.sync="dialogVisible" width="40%" :show-close="true">
          <el-form label-position="right" :model="formLabelAlign" :rules="rules" ref="formRule">
            <el-form-item label="用户名" prop="userName">
              <el-input v-model="formLabelAlign.userName" placeholder="请输入用户名"></el-input>
              <div class="input-tip" v-if="this.dialogType==='修改'">
                <div class="tip" @click="resetPass"><span class="iconfont icon-icon-zhongzhimima"></span>重置密码</div>
                <div>重置后密码为手机号后六位</div>
              </div>
              <div class="input-tip" v-else>
                <div>初始密码为手机号后六位</div>
              </div>
            </el-form-item>
            <el-form-item label="联系方式" prop="phone">
              <el-input v-model="formLabelAlign.phone" placeholder="请输入手机号"></el-input>
            </el-form-item>
            <el-form-item label="角色" prop="roleName">
              <el-select
              v-model="selectExchange.role"
              placeholder="请选择角色"
              value-key="roleId"
             @change="()=>{selectExchangeFun(selectExchange.role,'formLabelAlign')}"
              size="medium">
                <el-option
                v-for="item in roles.slice(1)"
                :key="item.roleId"
                :value="item"
                :label="item.roleName"
              ></el-option>
              </el-select>
              <!-- <el-input v-model="formLabelAlign.phone"></el-input> -->
            </el-form-item>
            <el-form-item label="所属租户" prop="tenantName">
              <!-- <el-select
              v-model="selectExchange.tenantName"
              @change="()=>{selectExchangeFun(selectExchange.tenantName,'formLabelAlign')}"
              value-key="generateId"
              placeholder="请选择所属租户"
              size="medium">
                <el-option
                v-for="item in tenantNames.slice(1)"
                :key="item.generateId"
                :value="item"
                :label="item.tenantName"
              ></el-option>
              </el-select> -->
              <el-select
              v-model="formLabelAlign.tenantInfo"
              placeholder="请选择所属租户"
              value-key="tenantName"
              size="medium">
                <el-option
                v-for="item in tenantNames.slice(1)"
                :key="item.tenantName"
                :value="item"
                :label="item.tenantName"
              ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="状态" prop="status">
              <el-switch @change="formLabelChangeState" :value="!!+formLabelAlign.status"></el-switch>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogCancel">取消</el-button>
            <el-button type="primary" @click="formLabelAlignSure">确定</el-button>
          </span>
      </el-dialog>
    </template>
    <template slot="footer">
      <el-pagination
        background
        :total="page.total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="page.pageSize"
        @size-change="handleSizeChange"
        :current-page="page.pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import API from '@/api/systemManagement/index'
const obj = {
          userName: '',
          phone: '',
          roleName: '',
          tenantName: '',
          status: 1,
          roleId: '',
          tenantInfo: {}
        }
export default {
  data() {
    return {
      // select转换
      selectExchange: {},
      dialogType: '',
      dialogVisible: false,
      userName: "",
      role: null,
      roles: [
        {
          roleId: null,
          roleName: "全部",
        },
        {
          roleId: '1',
          roleName: "租户管理员",
        },
        {
          roleId: '2',
          roleName: '访客'
        }
      ],
      tenantName: null,
      tenantNames: [],
      tenantNamesMap: new Map(),
      rules: {
        userName: [{required: true,message: '请输入用户名',trigger: 'blur'}],
        phone: [
          {required: true,pattern: /^1[3-9](\d{9}$)/,message: '请输入正确的手机号',trigger: 'change'},
          {required: true,message: '请输入手机号',trigger: 'blur'}
        ],
        roleName: [{required: true,message: '请选择角色',trigger: ['blur','change']}],
        tenantName: [{required: true,message: '请选择所属租户',trigger: ['blur']}],
      },
      tableData: [],
      formLabelAlign: {},
      page: {
        pageSize: 20,
        total: 0,
        pageIndex: 1
      }
    };
  },
  computed: {
    queryParmas(){
      return {
        current: this.page.pageIndex,
        size: this.page.pageSize,
        userName:!this.userName?null:this.userName,
        roleId:this.role,
        tenantId:this.tenantName,
      }
    }
  },
  mounted(){
    this.getUsers()
    this.getAllTenantNames()
    console.log(this.$store.getters.name)
  },
  methods: {
    resetSearch(){
      this.page.pageIndex = 1;
      this.page.pageSize = 20;
      this.userName = null;
      this.role = null
      this.tenantName = null
      this.getUsers()
    },
    changeUserStatus(row,index){
      // console.log(index)
      // console.log(row)
      this.tableData[index] = {
        ...row,
        status: +!this.tableData[index].status
      }
      API.editUser(this.tableData[index]).then((res)=>{
            this.getUsers()
            this.$message({
              type: 'success',
              message: `修改成功`
            })
      })
    },
    selectExchangeFun(obj,name){
      this[name] = {
        ...this[name],
        ...obj
      }
    },
    // 下拉选择 clear事件
    clearSelect(item,value,callback){
      this[item] = value
      callback()
    },
    inputClear(){
      this.getUsers()
    },
    getAllTenantNames(){
      API.getTenantName().then((res)=>{
        this.tenantNames = [{generateId: null,tenantName: '全部'}]
        this.tenantNamesMap = new Map()
        res.data.map((item)=>{
          this.tenantNames.push({generateId: item.generateId,tenantName: item.name})
          this.tenantNamesMap.set(item.tenantName,item.generateId)
        })
      })
    },
    // 角色IDname转换 0 超级管理员 1 租户管理员 2 访客
    roleTransform(role){
      let roleNames = ['超级管理员','租户管理员','访客']
      return roleNames[role.roleId]
    },
    getUsers(){
      this.$startLoading('el-table')
      API.getUserList({
        ...this.queryParmas
      }).then((res)=>{
      this.tableData = res.data.records;
      this.page.total = +res.data.total;
      this.$closeLoading()
    })
    },
    // 搜索
    usersManagementSearch() {
      this.page.pageIndex = 1
      this.getUsers()
    },
    // 新建
    usersManagementNew(){
        this.dialogVisible = true
        this.dialogType = '新增'
        this.formLabelAlign = {...obj}
    },
    // 编辑
    editusersManagement(row){
      this.dialogVisible = true
      this.formLabelAlign = {
        ...JSON.parse(JSON.stringify(row)),
        tenantInfo: {
          tenantName: row.tenantName,
          generateId: this.tenantNamesMap.get(row.tenantName)
        }
      }
      this.selectExchange.role = {
        roleId: this.formLabelAlign.roleId,
        roleName: this.formLabelAlign.roleName
      }
      this.selectExchange.tenantName = {
        tenantName: this.formLabelAlign.tenantName,
        generateId: '0'
      }
      this.dialogType = '修改'

    },
    // 删除
    delusersManagement(row){
      this.$confirm("此操作将永久删除该用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        API.delUser(row.id).then((res)=>{
          this.getUsers()
          this.$message({
            type: 'success',
            message: '删除成功'
          })
        })
        this.getUsers()
      }).catch(()=>{})
    },
    // 弹窗确认
    formLabelAlignSure(){
      const method = this.dialogType === '修改' ? API.editUser : API.addUser
      // const message = this.dialogType === '修改' ? '' : ' 初始密码为手机号后六位'
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          method({...this.formLabelAlign,status: +this.formLabelAlign.status,...this.formLabelAlign.tenantInfo}).then((res)=>{
            this.getUsers()
            this.$message({
              type: 'success',
              message: `${this.dialogType}成功`
            })
            this.dialogCancel()
          })
        }
      })
    },
    dialogCancel(){
      this.dialogVisible = false
      this.selectExchange = {}
      this.$refs.formRule.resetFields();
    },
    handleSizeChange(val){
      this.page.pageSize = val
      this.userName = this.role = this.tenantName = null,
      this.getUsers()
    },
    handleCurrentChange(val){
      this.page.pageIndex = val
      this.getUsers()
    },
    formLabelChangeState(val){
      this.formLabelAlign.status = val;
    },
    resetPass(){
      this.$confirm("此操作将重置该用户密码, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        API.resetUserPass(this.formLabelAlign.id).then((res)=>{
          this.$message({
            type: 'success',
            message: '重置成功'
          })
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dialog__footer{
  text-align: center;
}
.input-tip{
  display: flex;
  justify-content:space-between;
  color: #B3B3B3;
  height: 30px;
  margin-top: 10px;
  & > div.tip{
    color: #0079FF;
    cursor: pointer;
    span{
      margin-right: 3px;
    }
  }
}
</style>
