<template>
  <div class="benchmarking-management">
    <div class="left">
      <div class="left-head">
        <!-- <img
          style="margin-right: 15px"
          src="../../assets/images/生产车间.png"
          alt=""
        /> -->
        <span class="iconfont icon-shengchanchejian"></span>
        所有车间
      </div>
      <el-scrollbar
        style="height: calc(100% - 66px)"
        wrap-class="scrollbar-wrapper"
        v-if="aWorkshopList && aWorkshopList.length != 0"
      >
        <div
          class="workshop-item"
          :class="currentIndex == index ? 'workshop-item-active' : ''"
          v-for="(item, index) in aWorkshopList"
          :key="item.workshopId"
          @click="handleWorkshopClick(index, item.workshopId)"
        >
          <el-tooltip
            class="item"
            effect="dark"
            :content="item.workshopName"
            placement="top"
            v-if="item.workshopName.length>8"
          >
            <span class="item-name">{{ item.workshopName }} </span>
          </el-tooltip>
          <span v-else class="item-name">{{ item.workshopName }} </span>
          <!-- <el-tooltip class="item" effect="dark" content="Top Center 提示文字" placement="top">
      <div>{{ item.workshopName }}</div>
    </el-tooltip> -->
        </div>
      </el-scrollbar>
       <div style="display: flex;justify-content: center;align-items: center;height: calc(100vh - 120px);color: #999;" v-else>暂无数据</div>
    </div>
    <div class="right">
      <base-layout class="layout_main" headerHeight="auto" pageFoot>
        <template slot="header">
          <div class="flex">
            <div id="right-header">
              <div class="header-title">
                <div class="current-title" :title="aWorkshopList[currentIndex] && aWorkshopList[currentIndex].workshopName">{{ aWorkshopList[currentIndex] && aWorkshopList[currentIndex].workshopName }}</div>
                <el-popover
                  class="addCompareBtn"
                  popper-class="checkboxStyle"
                  placement="bottom"
                  width="124"
                  trigger="click">
                    <el-checkbox-group v-model="checkedCompares" >
                      <el-checkbox @change="checked=>handleCheckedComparesChange(checked,item)" v-for="item in aWorkshopList.filter((item,index)=>index!=currentIndex)" :label="item" :key="item.workshopId">{{item.workshopName}}</el-checkbox>
                    </el-checkbox-group>
                    <el-button slot="reference" icon="el-icon-plus">添加对比车间</el-button>
                </el-popover>
                <div class="compare-titles">
                  <div class="compare-window" style="left: 0;">
                    <div class="compare-title" :title="item" v-for="item in checkedCompares.slice(1)" :key="item.workshopId"><div class="text">{{item.workshopName}}</div><i @click="()=>{removeCompare(item)}" class="el-icon-close"></i> </div>
                  </div>
                </div>
                <div class="scrollBtns" v-if="leftRightBtn">
                  <div @click="()=>{scrollCompares(100)}" class="scrollBtnLeft scrollBtn"><i class="el-icon-arrow-left"></i></div>
                  <div @click="()=>{scrollCompares(-100)}" class="scrollBtnRight scrollBtn"><i class="el-icon-arrow-right"></i></div>
                </div>
              </div>
            </div>
            <div class="head_row">
              <span class="search_head_item">
                能源类型
                <el-select
                  class="search_head_input"
                  v-model="energyTypeId"
                  placeholder="请选择"
                  size="medium"
                  @change="getChart"
                >
                  <el-option
                    v-for="item in energyList"
                    :key="item.basicConfigId"
                    :value="item.basicConfigId"
                    :label="item.basicConfigName"
                  ></el-option>
                </el-select>
              </span>
              <span class="search_head_item">
                <div class="timeSele">
                  <span
                    :class="timeIndex == 1 ? 'timeSele-active' : ''"
                    @click="handleTiemSelection(1)"
                    >年</span
                  >
                  <span
                    :class="timeIndex == 2 ? 'timeSele-active' : ''"
                    @click="handleTiemSelection(2)"
                    >月</span
                  >
                </div>
              </span>
            </div>
          </div>
          <div style="font-size: 14px; color: #999999">单位：{{energyTypeUnit}}</div>
        </template>
        <template slot="main">
          <div class="main_conten content" v-show="dateLists && dateLists.length != 0">
            <div class="head" v-if="Object.keys(info).length !== 0">
              <span class="time">{{ info.data }}</span>
              消耗同比<span class="highlight_text">{{ info.compareSame }}</span
              >，环比<span class="highlight_text">{{ info.compareAround }}</span
              >，该车间消耗排名第<span class="highlight_text">{{ info.rank }}</span
              >。
            </div>

            
            <div class="tubiao" style="width: 100%;height: 40vh;" id="tubiao" ></div>
            <table class="mytable" style="width: 100%;">
              <tr style="background: #fafafa">
                <th>车间名称</th>
                <th>工程名称</th>
                <th v-for="(item, index) in dateLists" :key="index">
                  {{ item }}
                </th>
              </tr>
            </table>
            <div style="overflow: auto;height: calc(100vh - 40vh - 260px);">
              <div v-for="obj in checkedCompares" :key="obj.workshopId">
                <table class="mytable" style="width: 100%;">
                  <tr>
                    <td rowspan="3">{{obj.workshopName}}</td>
                    <td>国家标准值</td>
                    <td v-for="(item,index2) in tableDatas.get(obj.workshopName).standardValueLists" :key="'standardValueLists'+index2">
                      {{ item }}
                    </td>
                  </tr>
                  <tr>
                    <td>实际值</td>
                    <td v-for="(item,index2) in tableDatas.get(obj.workshopName).actuallyValueLists" :key="'actuallyValueLists'+index2">
                      {{ item }}
                    </td>
                  </tr>
                  <tr>
                    <td>差值</td>
                    <td v-for="(item,index2) in tableDatas.get(obj.workshopName).subValueLists" :key="'subValueLists'+index2">
                      {{ item }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            

          </div>
          <div style="width: 100%;height: 500px;display: flex;justify-content: center;" v-show="!dateLists || dateLists.length == 0">
              <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;"><img src="../../assets/images/_10-空页面-light.png" alt="">
              <span>暂无数据</span></div>
            </div>
        </template>
      </base-layout>
    </div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import DashboardAPI from "@/api/dashboard.js";
import API from "@/api/benchmarkingManagement.js";
let dayjs = require("dayjs");
export default {
  data() {
    return {
      option: '',
      observe: null,
      maxIndex: 0,
      currentIndex: 0,
      timeIndex: 1,
      customerName: "",
      aWorkshopList: [], // 车间
      energyList: [],
      energyTypeId: "",
      energyTypeUnit: '',
      tableData: [],
      dateLists: [], // 日期
      actuallyValueLists: [], // 实际值
      standardValueLists: [], // 国家标准值
      subValueLists: [], // 差值
      tableDatas: new Map(), // 表格数据
      timeLists: [], // 图表x轴数据
      echartsdata: [],//没有对比时，图表数据
      echartsdatas: [],//对比车间时，图表数据
      info: {},
      checkedCompares: [
        // '新增车间1',
        // '新增车间2123123123',
        // '新增车间3',
        // '新增车间4',
        // '新增车间5',
        // '新增车间6'
        ], //compare array
        leftRightBtn: false,
        colors: [
          '#0079FF',
          '#68B0FF',
          '#4BD5D9',
          '#F79C36',
          '#F76161',
          '#6B70E9',
          '#DE85EA',
          '#52C188',
          '#4D8DC5',
          '#F8BF36'
        ]

    };
  },
  mounted() {
    this.getAWorkshopList();
    window.addEventListener('resize',()=>{
      this.controlLeftRightBtn()
    })


  },
  computed: {
    queryParams() {
      return {
        workshopId: this.aWorkshopList[this.currentIndex].workshopId,
        energyTypeId: this.energyTypeId,
        dateType: this.timeIndex,
        monthNumber: this.timeIndex == 1 ? "" : dayjs().format("YYYY-MM"),
        yearNumber: this.timeIndex == 2 ? "" : dayjs().format("YYYY"),
      };
    },
    tableQueryParams() {
      return {
        workshopId: this.aWorkshopList[this.currentIndex].workshopId,
        energyTypeId: this.energyTypeId,
        dateType: this.timeIndex,
        monthNumber: dayjs().format("YYYY-MM"),
      };
    },
  },
  methods: {
    // 用于判断是否显示左右滚动按钮（添加对比车间）
    controlLeftRightBtn(){
      setTimeout(() => {
        let item = document.getElementsByClassName('compare-window')[0];
        let windo = document.getElementsByClassName('compare-titles')[0];
        this.leftRightBtn = item.clientWidth > windo.clientWidth;
      }, 200);
    },
    // 左右滚动按钮（添加对比车间）
    scrollCompares(step){
      const item = document.getElementsByClassName('compare-window')[0];
      const titles = document.getElementsByClassName('compare-titles')[0];
      if(step > 0){
        if((parseInt(item.style.left) + step) <= 0){
          item.style.left = parseInt(item.style.left) + step + 'px'
        }else{
          item.style.left = '0px'
        }
      }else{
        if((parseInt(item.style.left) + step) > titles.getBoundingClientRect().width - item.scrollWidth){
          item.style.left = parseInt(item.style.left) + step + 'px'
        }else{
          item.style.left = titles.getBoundingClientRect().width - item.scrollWidth + 'px'
        }
      }
    },
    //(添加对比车间)删除其中的某一项
    removeCompare(it){
      this.checkedCompares.splice(this.checkedCompares.findIndex(item=>item==it),1)
      this.showEcharts()
      // 左右滚动left归0
      const item = document.getElementsByClassName('compare-window')[0]
      item.style.left = '0px';
      this.controlLeftRightBtn()
    },
    // 添加对比车间，多选框change事件
    handleCheckedComparesChange(flag,obj){
      let that = this;

      this.controlLeftRightBtn()


      // 获取添加的车间的数据
      if(flag){
        API.getChart({
          ...this.queryParams,
          workshopId: obj.workshopId
        }).then((res)=>{
          that.checkedCompares.map((item)=>{
            if(item.workshopId == obj.workshopId){
              item.valueLists = res.data.valueLists
            }
          })
        }).then(()=>{
          that.showEcharts()
          // that.getTableList()
        })
      }else{
        that.showEcharts()
        // that.getTableList()
      }
      that.getTableList()

    },
    findMax(arr){
      let arrTemp = [...arr]
      return arr.findIndex((item)=>item == arrTemp.sort((a,b)=>b-a)[0])
    },
    // 车间
    getAWorkshopList() {
      DashboardAPI.getAWorkshopList().then((res) => {
        if (res.code == 200) {
          this.aWorkshopList = res.data;
          this.getEnergyList();
        }
      });
    },
    // 能源列表
    getEnergyList() {
      DashboardAPI.getTargetList(1).then((res) => {
        if (res.code == 200) {
          this.energyList = res.data;
          this.energyTypeId = res.data[0].basicConfigId;
          this.energyTypeUnit = res.data[0].basicConfigUnit;
          



          // 初始将currentIndex的车间放入对比车间
          this.checkedCompares.push(this.aWorkshopList[this.currentIndex])

          // this.getTableList();
          this.getChart();
        }
      });
    },
    getChart(e) {
      let that = this;
      this.$startLoading_d('main_conten')
      const data = this.energyList.filter((item)=>item.basicConfigId == e)
      data[0] && (this.energyTypeUnit = data[0].basicConfigUnit)
      this.observe && this.observe.disconnect()
      if(this.checkedCompares.length > 1){
        // 存在多个对比车间，需要遍历求新值
        that.checkedCompares.map((item)=>{
          that.getChartTemp(item.workshopId)
        })
        this.getTableList()
        this.$closeLoading_d('main_conten')
        
      }else{
        API.getChart(this.queryParams).then((res) => {
        
          // // 在res.data.valueLists中查找最大值的index
          //   this.maxIndex = this.findMax(res.data.valueLists)

          that.timeLists = res.data.dateLists
          that.checkedCompares.map((item)=>{
            if(item.workshopId == that.queryParams.workshopId){
              item.valueLists = res.data.valueLists
            }
          })
          
          this.showEcharts()

        }).catch(()=>{
          this.$closeLoading_d('main_conten')
        })
        this.getTableList()
      }
    },
    getChartTemp(id){
      API.getChart({
        ...this.queryParams,
        workshopId: id
      }).then((res) => {
        this.timeLists = res.data.dateLists
        this.checkedCompares.map((item)=>{
          if(item.workshopId == id){
            item.valueLists = res.data.valueLists
          }
        })
        this.showEcharts()
      })
      this.getTableList()
    },
    showEcharts(){
      let that = this;
                // 设置legend 如果没有对比车间，则显示此刻的单一车间
          // let legendShow = that.checkedCompares.length == 0 ? [that.aWorkshopList[that.currentIndex].workshopName] : that.checkedCompares

          // 设置legend
          let legend = that.checkedCompares.map(item=>item.workshopName)
       // 处理数据
          let series = [];
          that.checkedCompares.forEach(((item,index)=>{
              series.push(
                {
                  name: item.workshopName,
                  type: 'bar',
                  barGap: 0,
                  label: labelOption,
                  emphasis: {
                    focus: 'series'
                  },
                  data: item.valueLists,
                  itemStyle: {
                    color: that.colors[index%that.colors.length]
                  },
                  barMaxWidth: 80
                }
              )
          }))
          // console.log(series)
        // let option = {
        //   tooltip: {
        //     trigger: "axis",
        //     axisPointer: {
        //       type: "shadow",
        //     }
        //   },
        //   grid: {
        //     // top: "15%",
        //     // right: "3%",
        //     // left: "50",
        //     // bottom: "12%",
        //     top: "30px",
        //     left: "30px",
        //     right: "30px",
        //     bottom: "30px",
        //   },
        //   xAxis: [
        //     {
        //       type: "category",
        //       data: res.data.dateLists,
        //       axisLine: {
        //         show: true,
        //         lineStyle: {
        //           color: "#BFBFBF",
        //         },
        //       },
        //       axisLabel: {
        //         show: true,
        //         margin: 10,
        //         color: "#666666",
        //         textStyle: {
        //           fontSize: 14,
        //         },
        //       },
        //       axisTick: {
        //         show: true,
        //         alignWithLabel: true,
        //         interval: "auto",
        //       },
        //     },
        //   ],
        //   yAxis: [
        //     {
        //       axisLabel: {
        //         // formatter: "{value}",
        //         formatter: function (value, index) {
        //           if (value >= 10000 && value < 10000000) {
        //             value = value / 10000 + "万";
        //           } else if (value >= 10000000 && value < 100000000) {
        //             value = value / 10000000 + "千万";
        //           } else if (value >= 100000000){
        //             value = value / 100000000 + "亿"
        //           }
        //           return value;
        //         },
        //         color: "#9D9D9D",
        //       },

        //       axisTick: {
        //         show: false,
        //       },
        //       axisLine: {
        //         show: false,
        //         lineStyle: {
        //           color: "rgba(0,186,255,.6)",
        //         },
        //       },
        //       splitLine: {
        //           show: true,
        //           lineStyle:{
        //               color: ['#d9d9d9'],
        //               width: 1,
        //               type: 'solid'
        //           }
        //       },
        //     },
        //   ],
        //   series: [
        //     {
        //       type: "bar",
        //       data: res.data.valueLists,
        //       barWidth: "28px",

        //       itemStyle: {
        //         color: (params)=>{
        //           return params.dataIndex != this.maxIndex ? new echarts.graphic.LinearGradient(
        //             0,
        //             0,
        //             0,
        //             1,
        //             [
        //               {
        //                 offset: 0,
        //                 color: "#4CA1FE", // 0% 处的颜色
        //               },
        //               {
        //                 offset: 1,
        //                 color: "#0079FF", // 100% 处的颜色
        //               },
        //             ],
        //             false
        //           ) : new echarts.graphic.LinearGradient(
        //             0,
        //             0,
        //             0,
        //             1,
        //             [
        //               {
        //                 offset: 0,
        //                 color: "#F8Bf36", // 0% 处的颜色
        //               },
        //               {
        //                 offset: 1,
        //                 color: "#F79C36", // 100% 处的颜色
        //               },
        //             ],
        //             false
        //           )
        //         },
        //       },
        //       label: {
        //         normal: {
        //           show: false,
        //           lineHeight: 30,
        //           formatter: "{c}",
        //           position: "top",
        //           textStyle: {
        //             color: "#00D6F9",
        //             fontSize: 20,
        //           },
        //         },
        //       },
        //     },
        //   ],
        // };
        const posList = [
          'left',
          'right',
          'top',
          'bottom',
          'inside',
          'insideTop',
          'insideLeft',
          'insideRight',
          'insideBottom',
          'insideTopLeft',
          'insideTopRight',
          'insideBottomLeft',
          'insideBottomRight'
        ];
        app.configParameters = {
          rotate: {
            min: -90,
            max: 90
          },
          align: {
            options: {
              left: 'left',
              center: 'center',
              right: 'right'
            }
          },
          verticalAlign: {
            options: {
              top: 'top',
              middle: 'middle',
              bottom: 'bottom'
            }
          },
          position: {
            options: posList.reduce(function (map, pos) {
              map[pos] = pos;
              return map;
            }, {})
          },
          distance: {
            min: 0,
            max: 100
          }
        };
        app.config = {
          rotate: 90,
          align: 'left',
          verticalAlign: 'middle',
          position: 'insideBottom',
          distance: 15,
          onChange: function () {
            const labelOption = {
              rotate: app.config.rotate,
              align: app.config.align,
              verticalAlign: app.config.verticalAlign,
              position: app.config.position,
              distance: app.config.distance
            };
            myChart.setOption({
              series: [
                {
                  label: labelOption
                }
              ]
            });
          }
        };
        const labelOption = {
          // show: true,
          position: app.config.position,
          distance: app.config.distance,
          align: app.config.align,
          verticalAlign: app.config.verticalAlign,
          rotate: app.config.rotate,
          // formatter: '{c}  {name|{a}}',
          fontSize: 16,
          rich: {
            name: {}
          }
        };
        let option = {
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          legend: {
            data: legend,
            bottom: 0,
          },
          grid: {
            top: "30px",
            left: "50px",
            right: "30px",
            bottom: "60px",
          },
          xAxis: [
            {
              type: 'category',
              axisTick: { show: false },
              // data: ['2012', '2013', '2014', '2015', '2016'],
              data: that.timeLists,
            }
          ],
          yAxis: [
            {
              type: 'value',
              axisLabel: {
                // formatter: "{value}",
                formatter: function (value, index) {
                  if (value >= 10000 && value < 10000000) {
                    value = value / 10000 + "万";
                  } else if (value >= 10000000 && value < 100000000) {
                    value = value / 10000000 + "千万";
                  } else if (value >= 100000000){
                    value = value / 100000000 + "亿"
                  }
                  return value;
                },
                color: "#9D9D9D",
              },
            }
          ],
          series: [...series]
          // series: [
          //   {
          //     name: 'Forest',
          //     type: 'bar',
          //     barGap: 0,
          //     label: labelOption,
          //     emphasis: {
          //       focus: 'series'
          //     },
          //     data: [320, 332, 301, 334, 390]
          //   }
          // ]
        };
        this.$nextTick(() => {
          var myChart = null
          setTimeout(()=>{
            myChart = echarts.init(document.getElementById("tubiao"))
            myChart.setOption(option,true);
          
            let resizeFun = ()=>{
              myChart.resize()
            }
            resizeFun()
            window.onresize = myChart.resize
            this.observe = new ResizeObserver(entries => {
              myChart.resize();
            });
            this.observe.observe(document.querySelector('.benchmarking-management'));   
            this.$closeLoading_d('main_conten')

            },100)
           
          });
    },
    getTableList() {
      // 清空
      this.actuallyValueLists = []
      this.standardValueLists = []
      this.subValueLists = []
      // if(this.checkedCompares.length > 1){
      //   // 存在多个对比车间
      //   this.checkedCompares.map((item)=>{
      //     this.getTabelListTemp(item.workshopId)
      //   })
      //   console.log(this.actuallyValueLists)
      // }else{
      //   API.getTableList(this.tableQueryParams).then((res) => {
      //     this.dateLists = res.data.dateLists;
      //     this.actuallyValueLists.push(res.data.actuallyValueLists);
      //     this.standardValueLists.push(res.data.standardValueLists);
      //     this.subValueLists.push(res.data.subValueLists);
      //   });
      // }
      console.log(this.checkedCompares)
      this.checkedCompares.map(async (item)=>{
        await this.getTabelListTemp(item.workshopId).then((res)=>{
          console.log(item.workshopName)
          console.log(res.data.subValueLists)
          this.dateLists = res.data.dateLists;
          this.actuallyValueLists.push(res.data.actuallyValueLists);
          this.standardValueLists.push(res.data.standardValueLists);
          this.subValueLists.push(res.data.subValueLists);
          this.tableDatas.set(item.workshopName,{
            ...res.data
          })
        })
        // this.dateLists = res.data.dateLists;
        // this.actuallyValueLists.push(res.data.actuallyValueLists);
        // this.standardValueLists.push(res.data.standardValueLists);
        // this.subValueLists.push(res.data.subValueLists);
      })
    },
    getTabelListTemp(id){
      return new Promise((resolve,reject)=>{
        API.getTableList({
          ...this.tableQueryParams,
          workshopId: id
        }).then((res) => {
          resolve(res)
        });
      })
    },
    // 切换车间
    handleWorkshopClick(index) {
      this.currentIndex = index;


      // 对比车间 先清空，后添加
      this.checkedCompares = []
      this.checkedCompares.push(this.aWorkshopList[this.currentIndex])

      this.getChart();
      // this.getTableList();
    },
    handleTiemSelection(index) {
      if(this.timeIndex != index){
        this.timeIndex = index;
        this.getChart();
      }
    },
  },
};
</script>

<style lang='scss' scoped>
.benchmarking-management {
  height: calc(100vh - 90px);
  width: 100%;
  position: relative;
  .left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 188px;
    background-color: #f5f7f9;
    ::v-deep {
      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
      .left-head {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #333;
        border-bottom: 1px solid #e8ebef;
        .icon-shengchanchejian {
          margin-right: 15px;
        }
      }
      .workshop-item {
        width: 188px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 4px solid #f5f7f9;
        cursor: pointer;
        .item-name {
          width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        & > span::before {
          display: inline-block;
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #999999;
          margin-bottom: 4px;
          // margin-right: 20px;
          margin-right: 12px;
        }
      }
      .workshop-item:hover {
        background: rgba(0, 121, 255, 0.1);
        border-right: 4px solid #0079ff;
        color: #0079ff;
        & > span::before {
          background-color: #0079ff;
        }
      }
      .workshop-item-active {
        background: rgba(0, 121, 255, 0.1);
        border-right: 4px solid #0079ff;
        & > span::before {
          background-color: #0079ff;
        }
      }
    }
  }
  .right {
    height: 100%;
    width: 100%;
    padding-left: 188px;
    background-color: #fff;
    #right-header{
      flex: 1;
      .header-title{
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 7px;
        display:flex;
        align-items: center;
        .current-title{
          margin-right: 18px;
          line-height: 40px;
          max-width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .addCompareBtn{
          ::v-deep .el-button--default{
            padding: 8px 4px;
          }
          font-size: 14px;
          color: #999;
          line-height: 40px;
        }
        .compare-titles{
          margin-left: 8px;
          display: flex;
          flex: 1;
          height: 32px;
          position: relative;
          overflow: hidden;
          .compare-window{
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            .compare-title{
              display: flex;
              align-items: center;
              border-radius: 2px;
              color: #333;
              font-weight: 400;
              font-size: 14px;
              line-height: 32px;
              // min-width: 100px;
              .text{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              max-width: 130px;
              // overflow: hidden;
              

              text-align: center;
              margin-right: 8px;
              border: 1px solid #D9D9D9;
              border-left: 4px solid #D9D9D9;
              padding: 0 10px;
              &:hover{
                background: rgba(0, 121, 255, 0.1);
                border: 1px solid #B2D6FF;
                border-left: 4px solid #B2D6FF;
                .el-icon-close{
                  display: inline-block;
                  // opacity: 1;
                  color: #0079ff;
                  font-weight: bold;
                }
              }
              .el-icon-close{
                display: none;
                // opacity: 0;
                cursor: pointer;
              }
              height: 32px;
            }
          }
        }
        .scrollBtns{
          display: flex;
          margin: 0 16px;
          border: 1px solid #D9D9D9;
          .scrollBtn{
            width: 32px;
            height: 32px;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            color: #a6a6a6;
            &:hover{
              background: #F8F8F8;
            }
          }
          .scrollBtnLeft{
            border-right: 1px solid #d9d9d9;
          }
        }
      }
    }
  }
  .timeSele {
    & > span {
      display: inline-block;
      width: 48px;
      height: 36px;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      line-height: 36px;
      text-align: center;
      cursor: pointer;
    }
    & > span:nth-child(1) {
      border-radius: 2px 0px 0px 2px;
    }
    & > span:nth-child(2) {
      border-radius: 0px 2px 2px 0px;
    }
    .timeSele-active {
      border: 1px solid #0079ff;
      color: #0079ff;
    }
  }
  .content {
    .head {
      font-size: 14px;
      display: flex;
      align-items: center;
      height: 48px;
      background: linear-gradient(180deg, #f6faff 0%, #ffffff 100%);
      border-radius: 4px;
      border: 1px solid;
      border-image: linear-gradient(
          180deg,
          rgba(223, 231, 241, 1),
          rgba(255, 255, 255, 1)
        )
        1 1;
      & > .time {
        margin-left: 10px;
        margin-right: 20px;
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 16px;
          background: #0079ff;
          position: relative;
          top: 3px;
          margin-right: 10px;
        }
      }
      .highlight_text{
        color: rgba(0, 121, 255, 1);
        font-size: 18px;
        margin: 0 3px;
      }
    }
    .tubiao {
      height: calc(100vh - 550px);
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
.mytable {
  // margin-top: 30px;
  table-layout: fixed;
  border-collapse: collapse;
  & th {
    min-width: 100px;
    padding: 16px 0;
  }
  & td {
    min-width: 120px;
    text-align: center;
    padding: 16px 0;
  }
  & tr {
    border-bottom: 1px solid #e9e9e9 !important;
  }
}

</style>
<style lang="scss">
.checkboxStyle{
  color: red;
  .el-checkbox-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    .el-checkbox{
      margin-right: 0;
      display: flex;
      align-items: center;
      padding: 8px 0;
      .el-checkbox__label{
        overflow: hidden;
        max-width: 130px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>