<template>
  <base-layout class="layout_main" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <div class="search_head_item">
            时间:
            <el-date-picker
              class="search_head_input"
              v-model="searchDate"
              type="month"
              format="yyyy年M月"
              value-format="yyyy-MM"
              placeholder="选择日期"
              :clearable="false"
            >
            </el-date-picker>
          </div>
          <div class="search_head_item">
            <el-button
              size="medium"
              type="primary"
              @click="
                () => {
                  appraisalSearch(this.params);
                }
              "
              >查询</el-button
            >
          </div>
        </div>
        <el-button size="medium" type="add" @click="appraisalNew" v-permission="[1]"
              >填写成本</el-button
            >
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
          height="calc(100vh - 250px)"
        >
          <el-table-column v-for="item in labels" :key="item.label" :label="item.label" :prop="item.prop" align="center"></el-table-column>
        </el-table>
      </div>
      <el-dialog
        class="el-dialog-wrap"
        center
        @close="dialogCancel"
        title="填写成本"
        :visible.sync="dialogVisible"
        width="60%"
      >
        <div class="head_row">
          <div class="search_head_item">
            时间：
            <el-date-picker
              class="search_head_input"
              v-model="dialogSearchDate"
              type="month"
              format="yyyy年M月"
              value-format="yyyy-MM"
              placeholder="选择日期"
              @change="getCostsByTime"
              :clearable="false"
            >
            </el-date-picker>
          </div>
        </div>
        <el-form
          ref="formRule"
          :rules="formLabelModel.rules"
          label-position="right"
          label-width="70px"
          :model="formLabelModel"
        >
          <el-table
            :data="formLabelModel.formData"
            :header-cell-style="{ background: '#FAFAFA' }"
            height="calc(50vh - 100px)"
          >
            <el-table-column
              v-for="item in formLabels"
              :label="item.label"
              :key="item.label"
              align="center"
              :prop="item.name"
            >
              <template slot-scope="scope">
                <!-- <span v-if="!row.editable">{{row[item.name]}}</span>
                   <el-input v-else v-model="formLabelAlign[item.name]" ></el-input> -->
                <el-form-item
                  :prop="'formData[' + scope.$index + '][' + item.name + ']'"
                  :rules="formLabelModel['rules'][item.name]"
                > 
                  <el-input
                    v-if="item.type==='input'"
                    v-model="formLabelModel.formData[scope.$index][item.name]"
                    :placeholder="'请输入'+item.label"
                  ></el-input>

                  <el-select
                    v-if="item.type==='select'"
                    class="search_head_input"
                    v-model="formLabelModel.formData[scope.$index][item.name]"
                    size="medium"
                    placeholder="请选择能源类型"
                  >
                    <el-option
                      v-for="(item,index) in energyTargets"
                      :key="index"
                      :value="item.value"
                      :label="item.label"
                    ></el-option>
                  </el-select>

                  <span v-if="item.type==='onlyRead'">{{formLabelModel.formData[scope.$index][item.name]}}</span>
                </el-form-item>
              </template>
            </el-table-column>
            <!-- <el-table-column width="150px" label="操作" align="center">
              <template slot-scope="{ row, $index }"> -->
                <!-- <el-button size="small" type="text" icon="iconfont icon-icon_bianji" @click="editCost(row)"></el-button> -->
                <!-- <el-button
                  size="small"
                  type="text"
                  icon="iconfont icon-icon_shanchu"
                  @click="delCost(row, $index)"
                ></el-button>
              </template>
            </el-table-column> -->
          </el-table>
        </el-form>
        <!-- <div class="form-add-btn" @click="addCost">+ 新增成本</div> -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogCancel">取消</el-button>
          <el-button type="primary" @click="formLabelAlignSure">确定</el-button>
        </span>
      </el-dialog>
    </template>
    <template slot="footer">
      <el-pagination
        background
        :total="page.total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="page.pageSize"
        @size-change="handleSizeChange"
        :current-page="page.pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import APIBasic from '@/api/systemManagement/index'
import api from "@/api/effectAppraisal/index";
import { parseTime } from "@/utils/index";
const obj = {
  energyName: "",
  consumeValue: "",
  unit: "",
  coefStandardCoal: "",
  simplePrice: "",
  allPrice: "",
  percentage: "",
};
// const formObj = {
//   basicConfigName: "",
//   consumption: 0,
//   cost: "",
// };
export default {
  data() {
    return {
      searchDate: new Date(), // 查询 时间
      dialogSearchDate: new Date(), //弹窗 时间
      dialogVisible: false,
      // 表格 表头项
      labels: [
        {
          label: '能耗类型',
          prop: 'energyName'
        },
        {
          label: '消耗量',
          prop: 'consumeValue'
        },
        {
          label: '计量单位',
          prop: 'unit'
        },
        {
          label: '折标煤量',
          prop: 'coefStandardCoal'
        },
        {
          label: '平均单价',
          prop: 'simplePrice'
        },
        {
          label: '能源费用总价',
          prop: 'allPrice'
        },
        {
          label: '费用占比',
          prop: 'percentage'
        }
      ],
      // 表单 表头项
      formLabels: [
        {
          label: "能源类型",
          name: "basicConfigName",
          type: 'onlyRead'
        },
        {
          label: "消耗量",
          name: "consumption",
          type: 'onlyRead'
        },
        {
          label: "能源费用",
          name: "cost",
          type: 'input'
        },
      ],
      // 表格数据
      tableData: [],
      formLabelModel: {
        formData: [], // 表单 数据
        rules: {
          // basicConfigName: [
          //   {required: true,message: '请选择能源类型',trigger: ['change','blur']}
          // ],
          // consumption: [
          //   { required: false, message: "请填写消耗量", trigger: "blur" },
          // ],
          cost: [
            { required: false, message: "请填写能源费用", trigger: "blur" },
            {pattern: /^\d+$|^\d*\.\d+$/,message: '请正确填写能源费用',trigger: 'change'}
          ],
        },
      },
      formLabelAlign: {},
      page: {
        pageSize: 20,
        total: 40,
        pageIndex: 1,
      },
      // 能源类型
      energyTargets: [],
      energyTarget: ""
    };
  },
  computed: {
    params() {
      return {
        queryDate: parseTime(this.searchDate, "{y}-{m}"),
        current: this.page.pageIndex,
        size: this.page.pageSize,
      };
    },
    formParams() {
      return {
        current: this.page.pageIndex,
        planDate: parseTime(this.dialogSearchDate, "{y}-{m}"),
        size: this.page.pageSize,
      };
    },
  },
  mounted() {
    this.getBasicsetAllIndices()
    this.appraisalSearch(this.params);
  },
  methods: {
    // 获取全部 能源指标
    getBasicsetAllIndices(){
      APIBasic.getAllIndices().then((res)=>{
        this.targets = res.data;
        this.targets.map((item,index)=>{
          this.energyTargets.push({
            value: item,
            label: item,
            index
          })
        })
      })
    },
    getCostsByTime(value) {
      // 弹出框 获取某个月份的成本
      // console.log(value);
      this.dialogSearchDate = value
      this.appraisalNew()
    },
    // 搜索
    appraisalSearch(params) {
      api.EnergyCompareStandardManagementCost(params).then((res) => {
        // console.log(res)
        this.tableData = res.data.records;
        this.page.total = +res.data.total;
      });

      // 设置填写成本也为当前查询的时间
      this.dialogSearchDate = this.searchDate;
    },
    // 填写成本
    appraisalNew() {
      this.dialogVisible = true;
      // this.formLabelAlign = { ...this.tableData };
      // this.formLabelModel.formData = JSON.parse(JSON.stringify(this.tableData));
      api.eneCostShowAndQuery(this.formParams).then((res)=>{
        this.formLabelModel.formData = res.data;
        // console.log(res)
      });
    },
    // 删除
    // delCost(row, index) {
    //   // console.log(index)
    //   this.formLabelModel.formData.splice(index, 1);
    // },
    // 新增
    // addCost() {
    //   this.formLabelModel.formData.push({ ...formObj });
    // },
    formLabelAlignSure() {
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          this.formLabelModel.formData.forEach((item)=>{
            item.cost = !item.cost ? 0 : item.cost
          })
          this.$confirm("确定修改该月成本?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(() => {
            const data = this.formLabelModel.formData
            // console.log(this.formLabelModel.formData);
            api.eneCostSave({dataList: data}).then((res)=>{
              // console.log(res)
              this.$message({ type: "success", message: "保存成功" });
              this.appraisalSearch({
                ...this.params
              })
            })
            // 重置
            this.dialogCancel();
          })
        }
      });
    },
    dialogCancel() {
      this.dialogVisible = false;
      // this.formLabelAlign = {};
      // this.$refs.formRule.clearValidate();
    },
    handleSizeChange(val){
      this.page.pageSize = val
      this.pointertype = this.energyTarget = null
      this.appraisalSearch({...this.params,size: val})
    },
    handleCurrentChange(val){
      this.appraisalSearch({
        ...this.params,
        current: val
        })
    }
  },
};
</script>

<style lang="scss" scoped>
.el-table .el-button--small {
  color: #f76161;
}
.form-add-btn {
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  color: #0079ff;
}

::v-deep .el-form-item__content {
  margin-left: 0 !important;
}

</style>
