<template>
  <div class="energy-management">
    <div class="left">
      <div class="left-head">
        <span class="iconfont icon-shengchanchejian"></span>
        所有车间
      </div>
      <el-scrollbar
        style="height: calc(100% - 66px)"
        wrap-class="scrollbar-wrapper"
        v-if="list[0] && list[0].workshopId != -1"
      >
        <div
          class="workshop-item"
          :class="currentIndex == index ? 'workshop-item-active' : ''"
          v-for="(item, index) in list"
          :key="index"
          @click="handleWorkshopClick(index, item.workshopId)"
        >
          <span>{{ item.workshopName }}</span>
        </div>
      </el-scrollbar>
      <div style="display: flex;justify-content: center;align-items: center;height: calc(100vh - 120px);color: #999;" v-else>暂无数据</div>
    </div>
    <div class="right">
      <base-layout class="layout_main" footerHeight="0" pageFoot fullHeight>
        <template slot="header">
          <div class="flex">
            <div class="header-title" v-if="list[currentIndex]">
              <!-- {{ list.filter((item)=>item.workshopId === currentIndex)[0].workshopName }} -->
              <!-- {{ list[currentIndex].workshopName }} -->
              <div class="current-title" :title="list[currentIndex].workshopName">{{ list[currentIndex].workshopName }}</div>
                <el-popover
                  class="addCompareBtn"
                  popper-class="checkboxStyle"
                  placement="bottom"
                  width="124"
                  trigger="click">
                    <el-checkbox-group v-model="checkedCompares" >
                      <el-checkbox @change="checked=>handleCheckedComparesChange(checked,item,false)" v-for="(item,shopIndex) in list.filter((item,index)=>index!=currentIndex)" :label="item" :key="item.workshopId">{{item.workshopName}}</el-checkbox>
                    </el-checkbox-group>
                    <el-button slot="reference" icon="el-icon-plus">添加对比车间</el-button>
                </el-popover>
                <div class="compare-titles">
                  <div class="compare-window" style="left: 0;">
                    <div class="compare-title" :title="item" v-for="(item) in checkedCompares.slice(1)" :key="item.workshopId"><div class="text">{{item.workshopName}}</div>
                    <i @click="()=>{handleCheckedComparesChange(false,item,true)}" class="el-icon-close"></i> </div>
                  </div>
                </div>
                <div class="scrollBtns" v-if="leftRightBtn">
                  <div @click="()=>{scrollCompares(100)}" class="scrollBtnLeft scrollBtn"><i class="el-icon-arrow-left"></i></div>
                  <div @click="()=>{scrollCompares(-100)}" class="scrollBtnRight scrollBtn"><i class="el-icon-arrow-right"></i></div>
                </div>
            </div>
            <div class="header-title" v-else style="text-align: left;">
              无车间数据
            </div>
            <div class="head_row">
              <el-date-picker
              class="search_head_input"
              v-model="currentDate"
              type="month"
              format="yyyy年M月"
              value-format="yyyy-MM"
              placeholder="选择日期"
              :clearable="false"
            >
            </el-date-picker>
              <div class="search_head_search">
                <el-button
                  type="primary"
                  size="medium"
                  @click="energyManagementSearch"
                  v-throttle
                  >查询</el-button
                >
              </div>
            </div>
          </div>
        </template>
        <template slot="main">
          <div class="main_conten content">
            <div class="main-container">
              <base-layout
                class="layout_main"
                :headerHeight="itemHeaderHeight"
                footerHeight="0"
              >
                <template slot="header">
                  <div class="flex">
                    <div class="header-title">能源成本</div>
                  </div>
                </template>
                <template slot="main">
                  <div class="main-content cost-wrapper">
                    <div v-show="energyCostShow" class="echarts-container" id="cost-wrapper"></div>
                    <div v-show="!energyCostShow" class="main-item-none" >
                      <div class="main-item-none-wrapper"><img src="../../assets/images/_10-空页面-light.png" alt="">
                      <span>暂无数据</span></div>
                    </div>
                  </div>
                </template>
              </base-layout>
              <base-layout
                class="layout_main"
                :headerHeight="itemHeaderHeight"
                footerHeight="0"
              >
                <template slot="header">
                  <div class="flex">
                    <div class="header-title">能源汇总</div>
                    <div class="header-row">
                      能源类型:
                        <el-select
                          value-key="value"
                          @change="
                            () => {
                              changeEnergyTypeSummary()
                            }
                          "
                          v-model="energyTypeByAll"
                          size="medium"
                          popper-class="energyTypeContent"
                        >
                          <el-option
                            v-for="(item, index) in energyTypesByAll"
                            :key="index"
                            :value="item"
                            :label="item.label"
                            :title="item.label"
                          ></el-option>
                        </el-select>
                    </div>
                  </div>
                </template>
                <template slot="main">
                  <div class="main-content">
                    <div class="echarts-container" id="energyAll">
                      <div class="energyAll-items energyAll">
                        <div class="energytype-items" v-if="legendShowContentCollect.size != 0">
                          <div v-if="energyTypeByAll.value == null">
                            <ul class="energytype-item" v-for="(item,index) in legendShowContentCollectSorted" :key="item[0]">
                              <li>
                                <div class="energytype-title"><div class="energy-icon" :style="'color: '+ energyTypeColors.get(item[0]) + ';background-color: '+energyTypeColors.get(item[0])+'40'"><i :class="'iconfont '+ (!!iconList[item[0]]?iconList[item[0]].icon:iconList['default'].icon)"></i></div>用{{item[0]}}</div>
                                <div class="progress displaynone"></div>
                                <div class="cost">消耗</div>
                                <div class="compare">同比</div>
                              </li>  
                              <li class="workshop-item" v-for="(shopitem,shopindex) in item[1]" :key="shopindex">
                                <div class="shopname" :title="shopitem.workshopName">
                                  {{shopitem.workshopName}}
                                </div>
                                <div class="progress">
                                  <el-progress :color="energyTypeColors.get(item[0])" :percentage="100" :stroke-width="13" :show-text="false">
                                  </el-progress>
                                </div>
                                <div class="cost">
                                  {{item[1][shopindex] && item[1][shopindex].xvalue}}<span class="unit">{{item[1][shopindex] && item[1][shopindex].unit}}</span>
                                </div>
                                <div class="compare" 
                                  :style="item[1][shopindex] && (item[1][shopindex].compareEach >= 0 ? 'color: #E85B49' : 'color: #3AC0A5')">
                                  {{item[1][shopindex] && ((item[1][shopindex].compareEach >= 0 ? '+' : '') + item[1][shopindex].compareEach)}}%
                                  <i v-if="item[1][shopindex] && (item[1][shopindex].compareEach < 0)" class="iconfont icon-down"></i>
                                  <i v-if="item[1][shopindex] && item[1][shopindex].compareEach >= 0" class="iconfont icon-up"></i>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div v-else style="height: 100%;">
                            <div v-if="legendShowContentCollectSorted.get(energyTypeByAll.label)">
                              <ul class="energytype-item">
                                <li>
                                  <div class="energytype-title"><div class="energy-icon" :style="'color: '+ energyTypeColors.get(energyTypeByAll.label) + ';background-color: '+energyTypeColors.get(energyTypeByAll.label)+'40'"><i :class="'iconfont '+ (!!iconList[energyTypeByAll.label]?iconList[energyTypeByAll.label].icon:iconList['default'].icon)"></i></div>用{{energyTypeByAll.label}}</div>
                                  <div class="progress displaynone"></div>
                                  <div class="cost">消耗</div>
                                  <div class="compare">同比</div>
                                </li>
                                <li class="workshop-item" v-for="(item,shopindex) in legendShowContentCollectSorted.get(energyTypeByAll.label)" :key="shopindex">
                                  <div class="shopname" :title="item.workshopName">
                                    {{item.workshopName}}
                                  </div>
                                  <div class="progress">
                                    <el-progress :color="energyTypeColors.get(energyTypeByAll.label)" :percentage="100" :stroke-width="13" :show-text="false">
                                    </el-progress>
                                  </div>
                                  <div class="cost">
                                    {{item && item.xvalue}}<span class="unit">{{item && item.unit}}</span>
                                  </div>
                                  <div class="compare" 
                                    :style="item && (item.compareEach >= 0 ? 'color: #E85B49' : 'color: #3AC0A5')">
                                    {{item && ((item.compareEach >= 0 ? '+' : '') + item.compareEach)}}%
                                    <i v-if="item && (item.compareEach < 0)" class="iconfont icon-down"></i>
                                    <i v-if="item && item.compareEach >= 0" class="iconfont icon-up"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div v-else style="width: 100%;height: 100%;">
                              <div class="main-item-none" >
                                <div class="main-item-none-wrapper"><img src="../../assets/images/_10-空页面-light.png" alt="">
                                <span>暂无数据</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div v-else style="width: 100%;height: 100%;">
                          <div class="main-item-none" >
                            <div class="main-item-none-wrapper"><img src="../../assets/images/_10-空页面-light.png" alt="">
                            <span>暂无数据</span></div>
                          </div>
                        </div>
                        <!-- <div
                          v-show="energyAllDatas.length!=0"
                          class="energyAll-item"
                          v-for="item in energyAllDatas"
                          :key="item.energyName"
                        >
                          <div class="energyAll-item-container">
                            <div
                              style="display: flex;justify-content: space-evenly;width: 100%;"
                            >
                              <img style="width: 33%;height: 33%;object-fit: contain;" :src="item.pic" alt="">
                              <div style="font-size: 16px;">
                                <div class="energyAll-item-type">
                                用{{ item.energyName }}
                              </div>
                              <div style="font-size: 32px;font-weight: bold;margin: 9px 0 20px 0;" class="energyAll-item-value">
                                <span>{{ item.xvalue }}</span
                                ><span>{{ item.unit }}</span>
                              </div>
                              <div
                                v-if="item.compareEach >= 0"
                                class="energyAll-item-compare"
                              >
                                <span>同比</span
                                ><span class="upIcon"
                                  >+{{ parseInt(+item.compareEach) }}%</span
                                ><span class="upIcon iconfont icon-up"></span>
                              </div>
                              <div
                                v-else-if="item.compareEach < 0"
                                class="energyAll-item-compare"
                              >
                                <span>同比</span
                                ><span class="downIcon"
                                  >{{ item.compareEach }}%</span
                                ><span
                                  class="downIcon iconfont icon-down"
                                ></span>
                              </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div v-show="energyAllDatas.length == 0" class="energyAll-item-none">
                          <div class="energyAll-item-none-wrapper"><img src="../../assets/images/_10-空页面-light.png" alt="">
                          <span>暂无数据</span></div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </template>
              </base-layout>
            </div>
            <div class="main-container">
              <base-layout
                class="layout_main"
                :headerHeight="itemHeaderHeight"
                footerHeight="0"
              >
                <template slot="header">
                  <!-- <div class="header-row"><h3>昨日用电趋势曲线</h3><div>能源类型</div></div> -->
                  <div class="flex">
                    <div class="header_title">
                      {{time[timeIndex - 1]}}用{{ energyTypeLine.label }}趋势曲线
                    </div>
                    <div class="header_row">
                      能源类型:
                      <!-- <el-select
                        value-key="value"
                        @change="
                          () => {
                            handleCurrentType(1);
                          }
                        "
                        v-model="energyTypeByDay"
                        size="medium"
                        popper-class="energyTypeContent"
                      >
                        <el-option
                          v-for="(item, index) in energyTypes"
                          :key="index"
                          :value="item"
                          :label="item.label"
                          :title="item.label"
                        ></el-option>
                      </el-select> -->
                      <el-select
                        value-key="value"
                        @change="
                          () => {
                            changeLineEnergyType()
                          }
                        "
                        v-model="energyTypeLine"
                        size="medium"
                        popper-class="energyTypeContent"
                      >
                        <el-option
                          v-for="(item, index) in energyTypes"
                          :key="index"
                          :value="item"
                          :label="item.label"
                          :title="item.label"
                        ></el-option>
                      </el-select>
                      <span class="search_head_item">
                        <div class="timeSele">
                          <span
                            :class="timeIndex == 1 ? 'timeSele-active' : ''"
                            @click="handleTiemSelection(1)"
                            >昨日</span>
                          <span
                            :class="timeIndex == 2 ? 'timeSele-active' : ''"
                            @click="handleTiemSelection(2)">上月</span>
                      </div>
                    </span>
                    </div>

                  </div>
                </template>
                <template slot="main">
                  <div class="main-content">
                    <div class="echarts-container last-day-wrapper" id="last-day-wrapper"></div>
                    <!-- <div v-show="!lastDayModel.timeList" class="main-item-none">
                      <div class="main-item-none-wrapper"><img src="../../assets/images/_10-空页面-light.png" alt="">
                      <span>暂无数据</span></div>
                    </div> -->
                  </div>
                </template>
              </base-layout>
              <!-- <base-layout
                class="layout_main"
                :headerHeight="itemHeaderHeight"
                footerHeight="0"
              >
                <template slot="header">
                  <div class="flex">
                    <div class="header_title">
                      上月用{{ energyTypeByMonth && energyTypeByMonth.label }}趋势曲线
                    </div>
                    <div class="header_row">
                      能源类型:
                      <el-select
                        @change="
                          () => {
                            handleCurrentType(2);
                          }
                        "
                        v-model="energyTypeByMonth"
                        size="medium"
                      >
                        <el-option
                          v-for="item in energyTypes"
                          :key="item.value"
                          :value="item"
                          :label="item.label"
                        ></el-option>
                      </el-select>
                    </div>
                  </div>
                </template>
                <template slot="main">
                  <div class="main-content">
                    <div
                      v-show="lastMonthModel.timeList"
                      class="echarts-container last-month-wrapper"
                      id="last-month-wrapper"
                    ></div>
                    <div v-show="!lastMonthModel.timeList" class="main-item-none">
                      <div class="main-item-none-wrapper"><img src="../../assets/images/_10-空页面-light.png" alt="">
                      <span>暂无数据</span></div>
                    </div>
                  </div>
                </template>
              </base-layout> -->
            </div>
          </div>
        </template>
      </base-layout>
    </div>
  </div>
</template>

<script>
// 引入能源类型的图片
import iconDefault from '@/assets/images/energyAll/icon_默认能源.png'
import iconDian from "@/assets/images/energyAll/icon_用电.png"
import iconQi from "@/assets/images/energyAll/icon_用气.png"
import iconShui from "@/assets/images/energyAll/icon_用水.png"

import api from "@/api/effectAppraisal/index";
import { getPlantList } from "@/api/energyPlan";
import * as echarts from "echarts";
import { parseTime } from '@/utils';
export default {
  data() {
    return {
      echarts: new Map(),
      observe: null,
      energyCostTotal: null,
      energyCostShow: true,
      lastMonth: '', 
      lastDay: parseTime(new Date()-1000*60*60*24*1,'{y}-{m}-{d}'),
      itemHeaderHeight: "40px", // 图表所属板块的头部高度
      list: [{ workshopName: "", workshopId: -1 }],//车间列表
      listObj: {}, // 车间列表 id=》name
      currentWorkShopId: -1, //当前车间id
      currentIndex: 0, //当前车间在list中的index
      currentDate: parseTime(new Date()-1000*60*60*24*1,'{y}-{m}'), // 右上角选择的时间
      energyTypes: [ //能源类型 下拉选项

      ],
      timeIndex: 1, //昨日 1 上月 2
      energyTypesAll : [], //所有的能源类型 （带单位）
      energyTypeByDay: '', // 昨日 能源类型id
      energyTypeByDayUnit: '', // 昨日 能源类型unit
      energyTypeByMonth: '', // 上月 能源类型id
      energyTypeByMonthUnit: '', //上月 能源类型unit
      energyTypeLine: '',//昨日/上月 能源类型id
      energyTypeLineUnit: '', //昨日/上月 能源类型unit
      energyTypesByAll: [
        {
          value: null,
          label: '全部'
        }
      ], // 能源汇总 （全部）
      energyTypeByAll: {
        value: null,
        label: '全部'
      }, // 能源汇总 能源类型
      lastDayModel: {}, 
      lastMonthModel: {},
      time: ['昨日','上月'],
      // 能源成本 数据
      energyCosts: [{ value: 0, name: "", itemStyle: { color: "" } }],
      // 能耗汇总 数据
      energyAllDatas: [],
      // 颜色
      colors: [
        "#0079FF",
        "#68B0FF",
        "#4BD5D9",
        "#F79C36",
        "#F76161",
        "#6B70E9",
        "#DE85EA",
        "#52C188",
        "#4D8DC5",
        "#F8BF36",
      ],
      // 颜色20 如果能源类型较多，则选择颜色20
      colors20: [
        "#0079FF",
        "#68B0FF",
        "#4BD5D9",
        "#F79C36",
        "#F76161",
        "#6B70E9",
        "#DE85EA",
        "#52C188",
        "#4D8DC5",
        "#F8BF36",
        '#7BB2F0',
        '#D0E1F4',
        '#B8EEEF',
        '#FBD6AC',
        '#FBBCBC',
        '#BBBDF8',
        '#F1CBF6',
        '#9BE3BE',
        '#9DCAF1',
        '#F1DBA4'
      ],
      energyTypeColors: new Map(), // 能源类型 对应的颜色
      // 能源类型 图标
      // 先import引入后，在这里添加
      energyTypeIcon: {
        '电能': iconDian,
        '水': iconQi,
        '气': iconShui,
        default: iconDefault //默认图标 
      },
          // 设置能源汇总iconList
      iconList: {
        '电': {
          icon: 'icon-icon_yongdian'
        },
        '水': {
          icon: 'icon-icon_yongshui'
        },
        '气': {
          icon: 'icon-icon_yongqi'
        },
        'default': {
          icon: 'icon-icon_default'
        }
      },
      checkedCompares: [
        // '新增车间1',
        // '新增车间2123123123',
        // '新增车间3',
        // '新增车间4',
        // '新增车间5',
        // '新增车间6'
      ], //compare array
      checkedShopTemp: [], // checkedCompare 的备份
      leftRightBtn: false,//对比车间 左右滚动是否显示
      legendShowContent: new Map(), // 能源成本数据 以及 图表legend显示
      legendShowContentLine: new Map(), // 昨日/上月 以及 图表legend显示
      xAxisLineTime: [],//昨日/上月 xAxis显示
      legendShowContentCollect: new Map(), // 能源汇总 数据
      legendShowContentCollectSorted: new Map(), // 与legendShowContentCollect数据上保持一致，只用于排序显示，增删还是通过legendShowContentCollect进行
      legendShowContentCollectShopNameSorted: [], // 能源汇总 排序后的车间名称

    };
  },
  computed: {
    queryParams() {
      return {
        queryDate: parseTime(this.currentDate,'{y}-{m}'),
        workshopId: this.currentWorkShopId,
      };
    },
  },
  mounted() {
    // 计算上月
    var d = new Date();
    d.setDate(1);
    d.setMonth(d.getMonth() - 1);
    this.lastMonth = parseTime(d,'{y}-{m}')

    
    Promise.all([
      this.getEnergyTypes(),
      this.getPlantLists()
      
    ]).then(() => {
      // this.handleCurrentType(1);
      // this.handleCurrentType(2);
      // this.getCostsDataById(this.currentWorkShopId)
      // this.getEnergyAllData();
      // this.getEnergyCollectById(this.currentWorkShopId,false)

      this.getLineDataById(this.currentWorkShopId)

      // 能源成本
      this.getDataSync(api.EnergySavingManagementCost,'legendShowContent','能源成本')
      // 能源汇总
      this.getDataSync(api.EnergySavingManagementEnergySummary,'legendShowContentCollect','能源汇总')

      
      
      this.resize()
    }).then(()=>{
      this.getCosts();

    }).catch((err)=>{
          console.error(err)
        })

    // this.$startLoading_d('cost-wrapper')
    window.addEventListener('resize',()=>{
      this.controlLeftRightBtn()
    })



    
  },
  methods: {
    // 昨日/上月 切换能源类型
    changeLineEnergyType(){
      this.checkedCompares.map((item)=>{
        this.getLineDataById(item.workshopId)
      })
    },
    // 用来计算能源汇总中的排序
    energySummarySort(){
      // 清除旧数据
      this.legendShowContentCollectSorted = new Map();
      this.legendShowContentCollectShopNameSorted = []
      // sort
      this.legendShowContentCollect.forEach((value,key)=>{
        let arr = JSON.parse(JSON.stringify(value))
        arr.sort((a,b)=>b.xvalue - a.xvalue)
        this.legendShowContentCollectSorted.set(key,arr)
      })
      this.$forceUpdate()
    },
    // 切换能源汇总的能源类型
    changeEnergyTypeSummary(){
      this.energySummarySort()
      // console.log(this.legendShowContentCollect)
      // console.log(this.legendShowContentCollect.get(this.energyTypeByAll.label))
    },
    // 切换 昨日/上月
    handleTiemSelection(index){
      this.timeIndex = index

      // 如果存在对比车间，需要多次请求
      this.checkedCompares.map((item)=>{
        this.getLineDataById(item.workshopId)
      })
      
    },
    // 用于判断是否显示左右滚动按钮（添加对比车间）
    controlLeftRightBtn(){
      setTimeout(() => {
        let item = document.getElementsByClassName('compare-window')[0];
        let windo = document.getElementsByClassName('compare-titles')[0];
        this.leftRightBtn = item.clientWidth > windo.clientWidth;
      }, 200);
      if(this.leftRightBtn){
        // 左右滚动left归0
        const item = document.getElementsByClassName('compare-window')[0]
        item.style.left = '0px';
      }
    },
    // 左右滚动按钮（添加对比车间）
    scrollCompares(step){
      const item = document.getElementsByClassName('compare-window')[0];
      const titles = document.getElementsByClassName('compare-titles')[0];
      if(step > 0){
        if((parseInt(item.style.left) + step) <= 0){
          item.style.left = parseInt(item.style.left) + step + 'px'
        }else{
          item.style.left = '0px'
        }
      }else{
        if((parseInt(item.style.left) + step) > titles.getBoundingClientRect().width - item.scrollWidth){
          item.style.left = parseInt(item.style.left) + step + 'px'
        }else{
          item.style.left = titles.getBoundingClientRect().width - item.scrollWidth + 'px'
        }
      }
    },
    //(添加对比车间)删除其中的某一项
    // flag true: 点击事件来的 false: change事件来的
    removeCompare(it,flag){
      let that = this;
      // index 需要传入该workname在checkedcompare中的index
      let index = that.checkedShopTemp.findIndex(o=>o.workshopId == it.workshopId)

      // 左右滚动left归0
      const item = document.getElementsByClassName('compare-window')[0]
      item.style.left = '0px';
      this.controlLeftRightBtn()
      
      // 能源成本
      that.costDeleteCompareShop(index)

      // 昨日/上月
      that.lastDataDeleteCompareShop(it.workshopName)

      // 能源汇总
      that.energyCollectDelete(index)


      that.checkedShopTemp.splice(index,1)
      flag && (that.checkedCompares.splice(index,1))
    },
    // 添加对比车间，多选框change事件
    // click true: click false: change
    handleCheckedComparesChange(flag,obj,click){
      let that = this;
      this.controlLeftRightBtn()
      // 获取添加的车间的数据
      if(flag){
        that.checkedShopTemp.push(obj)


        // 增加对比车间
        // 获取数据
        // 能源成本
        // that.getCostsDataById(obj.workshopId)
        this.getDataSync(api.EnergySavingManagementCost,'legendShowContent','能源成本')
        // 昨日/上月
        that.getLineDataById(obj.workshopId)
        // 能源汇总
        this.getDataSync(api.EnergySavingManagementEnergySummary,'legendShowContentCollect','能源汇总')


      }else{
        that.removeCompare(obj,click)
      }




    },
    // 能源汇总 删除某个对比车间
    energyCollectDelete(index){
      let that = this;
      that.legendShowContentCollect.forEach((value,key)=>{
          value.splice(index,1)
      })
      setTimeout(() => {
        that.energySummarySort()
      }, 200);

    },
    // 昨日/上月 删除某个对比车间
    lastDataDeleteCompareShop(name){
      let that = this;
        that.legendShowContentLine.delete(name)
        that.getLastDay()
    },
    // 能源成本 删除某个对比车间
    costDeleteCompareShop(index){
      let that = this;
        that.legendShowContent.forEach((value,key)=>{
            value.splice(index,1)

            if(value.length == 1 && value[0] == 0){
              that.legendShowContent.delete(key)
            }
        })
        setTimeout(() => {
          that.getCosts()
        }, 200);
    },
    throttle(update,ms){
      let isThrottle = false,savedArgs,savedThis;
      function wrapper(...args){
        if(isThrottle){
          savedThis = this;
          savedArgs = args;
          return;
        }
        update.apply(this,args);
        isThrottle = true;
        setTimeout(()=>{
          isThrottle = false;
          if(savedArgs){
            wrapper.apply(savedThis,savedArgs);
            savedArgs = savedThis = null;
          }
        },ms)
      }
      return wrapper
    },
    resize(){
      let func = () => {
        this.echarts.forEach((item)=>{
          item.resize()
        })
      }

      this.observe = new ResizeObserver(this.throttle(func,300));
      this.observe.observe(document.querySelector('.energy-management'));
    },
    // 处理下能源汇总的数据 加入图标参数
    addEnergyTypePic(arr){
      arr.forEach((item)=>{
        item.pic = !this.energyTypeIcon[item.energyName] ? this.energyTypeIcon.default : this.energyTypeIcon[item.energyName]
      })
      return arr
    },
    // 能源汇总 数据获取
    getEnergyAllData() {
      // this.$startLoading_d('energyAll')
      api
        .EnergySavingManagementEnergySummary({
          ...this.queryParams,
          // queryDate: "2021-11",
          // workshopId: 101,
        })
        .then((res) => {
          // this.energyAllDatas = this.energyAllDatas.concat(res.data)

          // this.energyAllDatas = res.data;
          this.energyAllDatas = this.addEnergyTypePic(res.data)
          // this.$closeLoading_d('energyAll')
        }).catch((err)=>{
          // this.$closeLoading_d('energyAll')
          console.error(err)
        }).finally(()=>{
          // this.$closeLoading_d('energyAll')
        })
    },
    // 获取能源汇总的数据 通过shopid flag用于判断是否进行排序操作
    getEnergyCollectById(id,flag){
      api.EnergySavingManagementEnergySummary({
        ...this.queryParams,
        workshopId: id
      }).then((res)=>{
        res.data.map((item)=>{
          if(this.legendShowContentCollect.has(item.energyName)){
            // 如果存在当前能源类型,则直接push数据
            this.legendShowContentCollect.get(item.energyName).push({
              ...item,
              workshopName: this.listObj[id]
            })
          }else{
            // 如果不存在当前能源类型，需要判断此车间是否为第一个车间（被对比车间）
            if(id == this.currentWorkShopId){
              // 是 直接set数据
              this.legendShowContentCollect.set(item.energyName,[{...item,workshopName: this.listObj[id]}])
            }else{
              // 不是，则需要补"0"
              let dataEmpty = new Array(this.checkedCompares.length - 1).fill({
                energyName: 'null',
                compareEach: 0,
                xvalue: 0,
                unit: null,
                workshopName: null
              })
              // 需要遍历目前checkcompares进行赋值id
              this.checkedCompares.slice(0,this.checkedCompares.length-1).map((item,index)=>{
                dataEmpty[index].workshopName = item.workshopName
              })
              this.legendShowContentCollect.set(item.energyName,dataEmpty)
              this.legendShowContentCollect.get(item.energyName).push({
                ...item,
                workshopName: this.listObj[id]
              })
            }
          }
        })
        if(res.data.length == 0 && this.checkedCompares.length != 0){
          // 此时没有数据但不是被对比车间，则在所有能源类型出补0
          let tempEmpty = {
            energyName: 'null',
            xvalue: 0,
            compareEach: 0,
            unit: null,
            workshopName: this.listObj[id]
          }
          this.legendShowContentCollect.forEach((value,key)=>{
            value.push(tempEmpty)
          })
        }else{
          // 不显示数据
        }
        this.$forceUpdate()
      }).finally(()=>{
        if(this.checkedCompares.length == 1 || flag){this.energySummarySort()}
      })
    },
    // 修改昨日/上月的类型 进行查询
    handleCurrentType(type) {
      // type 1 day 2 month
      let method = type == 1 ? this.getLastDayData : this.getLastMonthData;
      let params = {
        energyTypeId: null
      }
      if(type == 1){
        this.energyTypeByDay && (params.energyTypeId = this.energyTypeByDay.value)
      }else{
        this.energyTypeByMonth && (params.energyTypeId = this.energyTypeByMonth.value)
      }

      // let params = {
      //   energyTypeId:
      //     type == 1 ? this.energyTypeByDay.value : this.energyTypeByMonth.value,
      // };
      // 设置单位
      
      if(type == 1){
        let item = this.energyTypesAll.filter((item)=>{return item.bcId === this.energyTypeByDay.value})
        item.length != 0 && (this.energyTypeByDayUnit = item[0].unit)
      }else{
        let item = this.energyTypesAll.filter((item)=>{return item.bcId === this.energyTypeByMonth.value})
        item.length != 0 && (this.energyTypeByMonthUnit = item[0].unit)
      }
      if(params.energyTypeId){
        method({
          ...this.queryParams,
          ...params,
        });
      }
    },
    // 获取所有能源类型
    getEnergyTypes() {
      return api.getEnergyTypeList().then((res) => {
        this.energyTypes = [];
        res.data.forEach((element) => {
          this.energyTypes.push({
            value: element.bcId,
            label: element.bcName,
          });
          this.energyTypesByAll.push({
            value: element.bcId,
            label: element.bcName
          })
        });
        this.energyTypeByDay = this.energyTypes[0];
        this.energyTypeByMonth = this.energyTypes[0];

        // 设置默认能源类型
        this.energyTypeLine = this.energyTypes[0];
        this.energyTypesAll = res.data

        // 创建一个map 用于存储能源类型与颜色对应关系
        this.energyTypeColors = new Map()
        let colorsrandom = this.energyTypesAll.length > 10 ? this.colors20 : this.colors
        this.energyTypesAll.map((item,index)=>{
          this.energyTypeColors.set(item.bcName,colorsrandom[index%colorsrandom.length])
        })


      }).catch((err)=>{
          console.error(err)
        })
    },
    // 获取所有车间
    getPlantLists() {
      return getPlantList().then((res) => {
        this.list = res.data;
        this.currentIndex = 0;
        res.data[0] && (this.currentWorkShopId = res.data[0].workshopId);


        // 默认设置第一个入对比车间
        this.checkedCompares.push(res.data[0])
        this.checkedShopTemp.push(res.data[0])

        // 创建一个特殊的车间列表，id=》name
        this.listObj = {}
        res.data.map((item)=>{
          this.listObj[item.workshopId] = item.workshopName
        })
      }).catch((err)=>{
          console.error(err)
        })
    },
    // 切换车间
    handleWorkshopClick(index, id) {
      // 这里只有能源成本init
      this.observe && this.observe.disconnect()
      this.echarts.delete('energyCost')
      this.resize()
      this.currentIndex = index;
      this.currentWorkShopId = id;

      // 能源类型 初始化
      this.energyTypeLine = this.energyTypes[0]; //昨日/上月 能源类型
      this.energyTypeByAll = this.energyTypesByAll[0]; //能源汇总 能源类型
      this.timeIndex = 1; // 昨日1/上月2


      // 设置对比车间
      this.checkedCompares = []
      this.checkedShopTemp = []
      this.checkedCompares.push(this.list[this.currentIndex])
      this.checkedShopTemp.push(this.list[this.currentIndex])
      this.legendShowContent = new Map()
      this.legendShowContentCollect = new Map()

      this.legendShowContentCollectSorted = new Map()
      this.legendShowContentCollectShopNameSorted = []
      // 右上角时间
      this.energyManagementSearch()

      this.getLastDayData({
        ...this.queryParams,
        energyTypeId: this.energyTypeByDay.value
      })
      this.getLastMonthData({
        ...this.queryParams,
        energyTypeId: this.energyTypeByMonth.value
      })

      
    },
    // 车间+时间 查询
    energyManagementSearch() {
      // console.log("查询");
      // this.getCostsData()
      // this.getEnergyAllData()


      // 切换了右上角的时间
      // 清除之前的数据
      this.legendShowContent = new Map()
      this.legendShowContentLine = new Map()
      this.legendShowContentCollect = new Map()
      this.legendShowContentCollectSorted = new Map()
      this.legendShowContentCollectShopNameSorted = []
      this.checkedCompares.map((item,index)=>{
        // 能源成本
        // this.getCostsDataById(item.workshopId)
        // 能源汇总
        // this.getEnergyCollectById(item.workshopId,index==this.checkedCompares.length - 1)
        // 昨日/上月
        this.getLineDataById(item.workshopId)
      })


      // test sync
      this.getDataSync(api.EnergySavingManagementCost,'legendShowContent','能源成本')
      // 能源汇总
      this.getDataSync(api.EnergySavingManagementEnergySummary,'legendShowContentCollect','能源汇总')

      // this.getDataSync(api.EnergySavingManagementEnergySummary,this.legendShowContentCollect,'能源汇总')

    },
    // 能源成本
    getCosts() {
      let that = this;
      // var labelData1 = [];
      // for (var i = 0; i < 100; ++i) {
      //   labelData1.push({
      //     value: 1,
      //     name: "",
      //     itemStyle: {
      //       normal: {
      //         color: "rgba(0,0,0,0)",
      //       },
      //     },
      //   });
      // }
      // for (var i = 0; i < labelData1.length; ++i) {
      //   if (labelData1[i].name < 100) {
      //     labelData1[i].itemStyle = {
      //       normal: {
      //         color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
      //           {
      //             offset: 0,
      //             color: "#f0f2f6",
      //           },
      //           {
      //             offset: 1,
      //             color: "#f0f2f6",
      //           },
      //         ]),
      //       },
      //     };
      //   }
      // }
      // let option = {
      //    title: {
      //       zlevel: -1,
      //       text: [
      //           '{value|' + this.energyCostTotal + '}',
      //           '{name|总成本}',
      //       ].join('\n'),
      //       rich: {
      //           value: {
      //               color: '#303133',
      //               fontSize: 40,
      //               lineHeight: 40
      //           },
      //           name: {
      //               color: '#909399',
      //               lineHeight: 20
      //           },
      //       },
      //       top: 'center',
      //       left: '30%',
      //       textAlign: 'center',
      //       textStyle: {
      //           rich: {
      //               value: {
      //                   color: '#303133',
      //                   fontSize: 28,
      //                   textAlign: 'center',
      //                   lineHeight: 40,
      //                   padding: [0,0,0,-10]
      //               },
      //               name: {
      //                   color: '#909399',
      //                   lineHeight: 20,
      //                   padding: [0,0,0,-10],
      //                   fontSize: 16
      //               },
      //           },
      //       },
      //   },
      //   grid: {
      //     top: "30px",
      //     left: "30px",
      //     right: "30px",
      //     bottom: "30px",
      //   },
      //   legend: {
      //     left: "60%",
      //     top: "center",
      //     orient: "vertical",
      //     selectedMode: false, //这里有bug 禁止legend hover暂时解决
      //     formatter: function (name) {
      //       // 获取legend显示内容
      //       let data = option.series[0].data;
      //       let total = 0;
      //       let tarValue = 0;
      //       for (let i = 0, l = data.length; i < l; i++) {
      //         total += data[i].value;
      //         if (data[i].name == name) {
      //           tarValue = data[i].value;
      //         }
      //       }
      //       let p = ((tarValue / total) * 100).toFixed(1);
      //       return `{name|${name}}{percent|${p}%}`;
      //     },
      //     textStyle: {
      //       rich: {
      //         name: {
      //           width: 40,
      //         },
      //         percent: {
      //           width: 20,
      //         },
      //       },
      //     },
      //   },
      //   series: [
      //     {
      //       name: "Radius Mode",
      //       type: "pie",
      //       radius: ['50%', '70%'],
      //       center: ['30%', "50%"],
      //       label: {
      //         normal: {
      //           show: false,
      //           position: "center",
      //           formatter: function (item) {
      //             // 设置圆饼图中间文字排版
      //             let data = option.series[0].data;
      //             let total = 0;
      //             let tarValue = 0;
      //             for (let i = 0, l = data.length; i < l; i++) {
      //               total += data[i].value;
      //               if (data[i].name == item.name) {
      //                 tarValue = data[i].value;
      //               }
      //             }
      //             let p = ((tarValue / total) * 100).toFixed(1);
      //             return `{a|${p}%}\n{b|${item.name}}`;
      //           },
      //           textStyle: {
      //             rich: {
      //               a: {
      //                 fontSize: 28,
      //                 verticalAlign: "top",
      //                 textAlign: "center",
      //                 align: "center",
      //               },
      //               b: {
      //                 padding: [10, 0, 0, 0],
      //                 align: "center",
      //                 verticalAlign: "",
      //                 fontSize: 16
      //               },
      //             },
      //             color: () => {},
      //           },
      //         },

      //         emphasis: {
      //           show: true, //文字至于中间时，这里需为true
      //         },
      //       },
      //       itemStyle: {
      //         borderRadius: 0,
      //       },
      //       data: this.energyCosts,
      //     },
      //     {
      //       type: "pie",
      //       data: labelData1,
      //       radius: ['40%', '45%'],
      //       center: ['30%', "50%"],
      //       zlevel: -1,
      //       silent: true, //不触发hover事件
      //       itemStyle: {
      //         normal: {
      //           borderColor: "#fff",
      //           borderWidth: 1,
      //         },
      //       },
      //       label: {
      //         show: false,
      //         normal: {
      //           position: "inside",
      //           show: false,
      //         },
      //       },
      //     },
      //   ],
      // };
      // series 数据处理
      // 公共部分
      let seriesCommon = {
          type: 'bar',
          stack: 'total',
          emphasis: {
            focus: 'series'
          },
          barMaxWidth: 80
      }
      // let series = [
      //     {
      //       name: 'Direct',
      //       ...seriesCommon,
      //       data: [320]
      //     },
      //     {
      //       name: 'Mail Ad',
      //       ...seriesCommon,
      //       data: [120]
      //     },
      //   ];
      let series = [];
      let index = 0;
      that.legendShowContent.forEach((value,key)=>{
        index++ && (index %= that.colors.length)
        series.push({
          name: key,
          ...seriesCommon,
          data: value,
          itemStyle: {
            color: that.energyTypeColors.get(key)
          }
        })
      })
      

        // 图表x轴文字
        // 对比车间的车间名称
      let xAxisContent = that.checkedShopTemp.map(o=>o.workshopName)
      let textStyle = {
        width: 100,
        overflow: 'truncate'
      }
      let xAxisData = []
      xAxisContent.map((item)=>{
        xAxisData.push({
          value: item,
          textStyle
        })
      })
      if(series.length == 0 && that.checkedCompares.length == 1){
        that.energyCostShow = false
      }
      let option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            // Use axis to trigger tooltip
            type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
          },
          confine: true, // 限制在图表的区域内，防止被遮盖
        },
        legend: {
          bottom: 0
        },
        grid: {
          top: "30px",
          left: "30px",
          right: "30px",
          bottom: "30px",
          containLabel: true
        },
        xAxis: {
          type: 'category',
          data: xAxisData,
          axisLabel: {
            interval: 0
          }
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            // formatter: "{value}",
            formatter: function (value, index) {
                  if (value >= 10000 && value < 10000000) {
                    value = value / 10000 + "万";
                  } else if (value >= 10000000 && value < 100000000) {
                    value = value / 10000000 + "千万";
                  } else if (value >= 100000000){
                    value = value / 100000000 + "亿"
                  }
                  return value;
                },
          },
        },
        series
      };
      this.$nextTick(() => {
         
        var myChart = echarts.init(document.getElementById("cost-wrapper"));
        this.echarts.set('energyCost',myChart)
        myChart.clear()
        myChart.setOption(option);

        var resizefun = () => {
          myChart.resize();
        };

        window.addEventListener("resize", () => {
          resizefun();
        });

        resizefun()
        // this.$closeLoading_d('cost-wrapper')
      });
    },
    // 能源成本 数据获取
    getCostsData() {
      
      api
        .EnergySavingManagementCost({
          ...this.queryParams
        })
        .then((res) => {
            let costs = [];
            let costTotal = 0;
            res.data.forEach((item, index) => {
              costTotal += +item.percentage
              costs.push({
                value: item.percentage,
                name: item.energyName,
                itemStyle: { color: this.colors[index] },
              });
            });

            this.energyCosts = costs;
            this.energyCostTotal = costTotal
            this.getCosts();

        }).catch((err)=>{
          // this.$closeLoading_d('cost-wrapper')
          console.error(err)
        })
    },
    // 获取车间数据 
    async getData(api,workshopId,content,kind){
      const res = await api({
        ...this.queryParams,
        workshopId
      }).then((res)=>{
        this.disposalData(workshopId,res,content,kind)
      })
    },
    async getDataSync(api,content,kind){
      // 需要清除所有数据
      // 不能全部清除，需要根据kind进行判断，是否进行清除
      if(kind == '能源成本'){
        this.legendShowContent = new Map()
      }else if(kind == '能源汇总'){
        this.legendShowContentCollect = new Map()
        this.legendShowContentCollectSorted = new Map()
        this.legendShowContentCollectShopNameSorted = []
      }
      for(const item of this.checkedCompares){
        await this.getData(api,item.workshopId,content,kind)
      }
      // 渲染能源成本的图表
      this.getCosts()
      // 对能源汇总数据进行排序处理
      this.energySummarySort()
    },
    // 整理数据
    // data 请求到的一个车间的数据 
    // content 需要将data存入的地方，区分为能源成本，能源汇总，昨日/上月
    // kind 用于区分content （因为push数据的方式不同）
    disposalData(id,res,content,kind){
      if(kind == '能源成本'){
        const {data} = res;
        if(data && data.length != 0 || this.checkedCompares.length != 1){// 数据不为空，或此时是多个车间对比
          // 1. 数据不为空
          // 2. 对比车间有多个
          this.energyCostShow = true;
          let tempObj = []
          data.map((item)=>{
            tempObj = this[content].get(item.energyName)
            if(!tempObj){
              // 添加对比车间，该能源类型在现有中不存在
              // 需要新建一个
              this[content].set(item.energyName,[])
              let index = this.checkedCompares.findIndex(item=>item.workshopId == id)
              if(index == 0){// 是第一个车间进行录入数据，直接push
                this[content].get(item.energyName).push(item.percentage)
              }else{ //如果不是第一个车间录入，则需要帮前面几个推入空数据
                let arrayEmpty = new Array(index).fill(0)
                this[content].get(item.energyName).push(...[...arrayEmpty,item.percentage])
              }
            }else{
              // 已经存在该能源类型的数据，直接push
              this[content].get(item.energyName).push(item.percentage)
            }
          })
          // 遍历一遍现有的能源类型，将length不足的补0
          // 这里是判断此时的id是否为checkedcompares的第一个车间，如果不是则需要判断补0，如果是那么就不需要补0
          if(id != this.currentWorkShopId){
            const length = this.checkedCompares.length;
            this[content].forEach((value,key)=>{
              if(value.length < length){
                value.push(0)
              }
            })
          }
        }else{
          // 数据为空且此时只有一个车间 不做显示
          this.energyCostShow = false;
        }
      }else if(kind == '能源汇总'){
        // 需要两套值，一套进行正常的增删操作，一套进行展示（排序后的）
        console.log(id,res,content,kind)
        res.data.map((item)=>{
          // 判断是否存在当前的能源类型
          // 如果存在，则可以直接push数据
          // 如果不存在，则需要进一步去判断 此车间是否为第一个车间，如果是则set数据，如果不是则push空数据
          if(this[content].has(item.energyName)){
            this[content].get(item.energyName).push({
              ...item,
              workshopName: this.listObj[id]
            })
          }else{
            if(id == this.currentWorkShopId){
              this[content].set(item.energyName,[{
                ...item,
                workshopName: this.listObj[id]
              }])
            }else{
              // 此车间不是第一个车间 并且没有找到该能源类型，则需要新建一个，并且补全前面车间的空数据
              let emptyData = new Array(this.checkedCompares.length - 1).fill({
                energyName: 'null',
                compareEach: 0,
                xvalue: 0,
                unit: null,
                workshopName: null
              })
              // 遍历目前的对比车间list，对空数据的workshopname进行赋值
              this.checkedCompares.slice(0,this.checkedCompares.length - 1).map((item,index)=>{
                emptyData[index].workshopName = item.workshopName
              })
              this[content].set(item.energyName,emptyData)
              this[content].get(item.energyName).push({
                ...item,
                workshopName: this.listObj[id]
              })
            }
          }
        })
        if(res.data.length == 0 && id != this.currentWorkShopId){
          // 此车间没有数据 并且该车间不是第一个车间
          // 则需要遍历现有的能源类型，都补上空数据
          let tempEmpty = {
            energyName: 'null',
            xvalue: 0,
            compareEach: 0,
            unit: null,
            workshopName: this.listObj[id]
          }
          this[content].forEach((value,key)=>{
            value.push(tempEmpty)
          })
        }else if(id == this.currentWorkShopId && res.data.length == 0){
          //第一个车间 没有数据 不进行展示

        }
      }
    },
    getCostsDataById(id) {
      let that = this;
      api
        .EnergySavingManagementCost({
          ...this.queryParams,
          workshopId: id
        })
        .then((res) => {
            const {data} = res
            if(data && data.length!=0 || that.checkedCompares.length != 1){
              that.energyCostShow = true;
              let tempObj = []
              data.map((item)=>{
                tempObj = that.legendShowContent.get(item.energyName)
                if(!tempObj){
                  // 添加对比车间时，该能源类型不存在
                  // 新创建一个array
                  that.legendShowContent.set(item.energyName,[])
                  // 推入数据(需要判断此时的车间在checkedcompares（对比车间）中的索引)
                  let index = that.checkedCompares.findIndex(item=>item.workshopId == id)
                  if(index == 0){
                    // 此时是第一个车间录入数据
                    that.legendShowContent.get(item.energyName).push(item.percentage)
                  }else{
                    // 不是第一个车间录入，但是第一次出现的能源类型，则需要补全前面“缺”的数据
                    let arrayEmpty = new Array(index).fill(0)
                    that.legendShowContent.get(item.energyName).push(...[...arrayEmpty,item.percentage])
                  }
                }else{
                  // 存在
                  that.legendShowContent.get(item.energyName).push(item.percentage)
                }
              })
              const length = that.checkedCompares.length;
              // 遍历能源类型，value.length不足的补0
              that.legendShowContent.forEach((value,key)=>{
                if(value.length < length){
                  that.legendShowContent.get(key).push(0)
                }
              })
              this.getCosts();
            }else{
              // 如果当前是多个对比，则不控制变为false
              if(that.checkedCompares.length == 1){
                that.energyCostShow = false
              }
            }
        }).catch((err)=>{
          // this.$closeLoading_d('cost-wrapper')
          console.error(err)
        })
    },
    // 昨日用电趋势曲线
    getLastDay() {
      // let option = {
      //   grid: {
      //     top: "30px",
      //     left: "35px",
      //     right: "30px",
      //     bottom: "30px",
      //   },
      //   // tooltip: {
      //   //   trigger: "axis",
      //   //   axisPointer: {
      //   //     type: "cross",
      //   //   },
      //   // },
      //   tooltip: {
      //     show: true,
      //     trigger: "axis",
      //     formatter: (params) => {
      //       // console.log(params);
      //       return `${this.lastDay}<br />${
      //         params[0].marker
      //       }${this.list[this.currentIndex].workshopName}  ${params[0].value}`;
      //     },
      //   },
      //   // toolbox: {
      //   //   show: true,
      //   //   feature: {
      //   //     saveAsImage: {},
      //   //   }
      //   // },
      //   xAxis: {
      //     type: "category",
      //     boundaryGap: true,
      //     axisTick: {
      //       alignWithLabel: true,
      //     },
      //     // prettier-ignore
      //     data: this.lastDayModel.timeList,
      //     axisLabel: {
      //       interval: 1
      //     }
      //     // data: ['00:00', '01:15', '02:30', '03:45', '05:00', '06:15', '07:30', '08:45', '10:00', '11:15', '12:30', '13:45', '15:00', '16:15', '17:30', '18:45', '20:00', '21:15', '22:30', '23:45'],
      //   },
      //   yAxis: {
      //     type: "value",
      //     // min: 0,
      //     // max: 500,
      //     // interval: 100,
      //     name: "单位："+this.energyTypeByDayUnit,
      //     nameRotate: "0.1",
      //     axisLabel: {
      //       // formatter: "{value}",
      //       formatter: function (value, index) {
      //             if (value >= 10000 && value < 10000000) {
      //               value = value / 10000 + "万";
      //             } else if (value >= 10000000 && value < 100000000) {
      //               value = value / 10000000 + "千万";
      //             } else if (value >= 100000000){
      //               value = value / 100000000 + "亿"
      //             }
      //             return value;
      //           },
      //     },
      //     axisPointer: {
      //       snap: true,
      //     },
      //     splitLine: {
      //         show: true,
      //         lineStyle:{
      //             color: ['#d9d9d9'],
      //             width: 1,
      //             type: 'solid'
      //         }
      //     },
      //   },
      //   series: [
      //     {
      //       name: "Electricity",
      //       type: "line",
      //       smooth: true,
      //       // prettier-ignore
      //       data: this.lastDayModel.dataList,
      //       // data: [300, 280, 250, 260, 270, 300, 550, 500, 400, 390, 380, 390, 400, 500, 600, 750, 800, 700, 600, 400],
      //       areaStyle: {},
      //       itemStyle: {
      //         normal: {
      //           //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
      //           color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
      //             {
      //               offset: 0,
      //               color: "#0079FF", // 0% 处的颜色
      //             },
      //             {
      //               offset: 0.5,
      //               color: "#67aeff", // 100% 处的颜色
      //             },
      //             {
      //               offset: 1,
      //               color: "#fff", // 100% 处的颜色
      //             },
      //           ]), //背景渐变色
      //           lineStyle: {
      //             // 系列级个性化折线样式
      //             width: 1,
      //             type: "solid",
      //             color: "#0079FF",
      //           },
      //         },
      //         emphasis: {
      //           color: "#0079FF",
      //           lineStyle: {
      //             // 系列级个性化折线样式
      //             width: 2,
      //             type: "solid",
      //             color: "#0079FF", //折线的颜色
      //           },
      //         },
      //       }, //线条样式
      //       symbolSize: 0, //折线点的大小
      //     },
      //   ],
      // };
      let that = this;
      let series = [];
      const commonStyle = {
          type: 'line',
          // stack: 'Total',
          symbolSize: 0, //折线点的大小
      }
      const checkedShopStyle = {
        areaStyle: {
              normal: {
                //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  {
                    offset: 0,
                    color: "#0079FF", // 0% 处的颜色
                  },
                  {
                    offset: 0.5,
                    color: "#67aeff", // 100% 处的颜色
                  },
                  {
                    offset: 1,
                    color: "#fff", // 100% 处的颜色
                  },
                ]), //背景渐变色
                lineStyle: {
                  // 系列级个性化折线样式
                  width: 1,
                  type: "solid",
                  color: "#0079FF",
                },
              },
        }
      }
      that.checkedCompares.map((item,index)=>{
        let sepStyle = that.currentWorkShopId != item.workshopId ? {
          areaStyle: {
            opacity: 0
          }
        } : checkedShopStyle
        series.push({
          name: item.workshopName,
          ...commonStyle,
          data: that.legendShowContentLine.get(item.workshopName),
          ...sepStyle,
          itemStyle: {
            color: that.colors[index%that.colors.length]
          }
        })
      })
      // 设置series
      // let series = [
      //     {
      //       name: 'Email',
      //       type: 'line',
      //       stack: 'Total',
      //       data: [120, 132, 101, 134, 90, 230, 210],
      //       areaStyle: {
      //         normal: {
      //           //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
      //           color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
      //             {
      //               offset: 0,
      //               color: "#0079FF", // 0% 处的颜色
      //             },
      //             {
      //               offset: 0.5,
      //               color: "#67aeff", // 100% 处的颜色
      //             },
      //             {
      //               offset: 1,
      //               color: "#fff", // 100% 处的颜色
      //             },
      //           ]), //背景渐变色
      //           lineStyle: {
      //             // 系列级个性化折线样式
      //             width: 1,
      //             type: "solid",
      //             color: "#0079FF",
      //           },
      //         },
      //       }
      //     },
      //     {
      //       name: '车间1',
      //       type: 'line',
      //       stack: 'Total',
      //       data: [220, 182, 191, 234, 290, 330, 310],
      //       itemStyle : {
      //         normal : {
      //           lineStyle:{
      //             color: that.colors[1]
      //           }
      //         }
      //       }
      //     },
      //   ];
      let option = {
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: that.checkedCompares.map(o=>o.workshopName),
          bottom: 0
        },
        grid: {
          top: '30px',
          left: '10px',
          right: '10px',
          bottom: '30px',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          boundaryGap: true,
          axisTick: {
            alignWithLabel: true,
          },
          // prettier-ignore
          data: that.xAxisLineTime,
          axisLabel: {
            interval: 1
          }
        },
        
        yAxis: {
          type: 'value',
                name: "单位："+this.energyTypeByDayUnit,
                nameRotate: "0.1",
                axisLabel: {
                  // formatter: "{value}",
                  formatter: function (value, index) {
                        if (value >= 10000 && value < 10000000) {
                          value = value / 10000 + "万";
                        } else if (value >= 10000000 && value < 100000000) {
                          value = value / 10000000 + "千万";
                        } else if (value >= 100000000){
                          value = value / 100000000 + "亿"
                        }
                        return value;
                      },
                },
                axisPointer: {
                  snap: true,
                },
                splitLine: {
                    show: true,
                    lineStyle:{
                        color: ['#d9d9d9'],
                        width: 1,
                        type: 'solid'
                    }
                },
        },
        series
      };
      this.$nextTick(() => {
        var myChart = echarts.init(document.getElementById("last-day-wrapper"));
        this.echarts.set('lastDay',myChart)
        myChart.clear()
        myChart.setOption(option);
        // this.$closeLoading_d('last-day-wrapper')
        window.addEventListener("resize", () => {
          myChart.resize();
        });
      });
    },
    // 昨日用电 数据获取
    getLastDayData(params) {
      // console.log(params)
      // this.$startLoading_d('last-day-wrapper')
      api
        .EnergyLastEnergyConsumeStatisticsGet({
          ...params,
          queryDate: this.lastDay
        })
        .then((res) => {
          this.lastDayModel = res.data;
        })
        .then(() => {
          this.getLastDay();
        }).catch((err)=>{
          this.$closeLoading_d('last-day-wrapper')
          console.error(err)
        })
    },
    getLineDataById(id){
      let that = this;
      // 判断上月2/昨日1
      let funAPI,queryDate,energyTypeId;
      if(this.timeIndex == 1){
        // 昨日
        funAPI = api.EnergyLastEnergyConsumeStatisticsGet
        queryDate = that.lastDay
      }else{
        // 上月
        funAPI = api.EnergyLastMonthEnergyConsumeStatisticsGet
        queryDate = that.lastMonth
      }


      funAPI({
        workshopId: id,
        queryDate,
        energyTypeId: that.energyTypeLine.value
      }).then((res)=>{
        let name = that.checkedCompares.filter(o=>o.workshopId == id)[0].workshopName
        that.legendShowContentLine.set(name,res.data.dataList)
        that.xAxisLineTime = res.data.timeList
        this.getLastDay()
      })      
    },
    // 上月用电趋势曲线
    getLasyMonth() {
      let option = {
        grid: {
          top: "30px",
          left: "40px",
          right: "30px",
          bottom: "30px",
        },
        tooltip: {
          show: true,
          trigger: "axis",
          formatter: (params) => {
            // console.log(params);
            return `${this.lastMonth}-${params[0].axisValue}<br />${
              params[0].marker
            }${this.list[this.currentIndex].workshopName}  ${params[0].value}`;
          },

        },
        xAxis: {
          type: "category",
          boundaryGap: true,
          axisTick: {
            alignWithLabel: true,
          },
          axisLabel: {
            interval: 1
          },
          data: this.lastMonthModel.timeList,
        },
        yAxis: {
          type: "value",
          name: "单位："+this.energyTypeByMonthUnit,
          nameRotate: "0.1",
          axisLabel: {
            margin: 2,
            formatter: function (value, index) {
              if (value >= 10000 && value < 10000000) {
                value = value / 10000 + "万";
              } else if (value >= 10000000 && value < 100000000) {
                value = value / 10000000 + "千万";
              } else if (value >= 100000000){
                value = value / 100000000 + "亿"
              }
              return value;
            },
          },
          splitLine: {
              show: true,
              lineStyle:{
                  color: ['#d9d9d9'],
                  width: 1,
                  type: 'solid'
              }
          },
        },
        series: [
          {
            data: this.lastMonthModel.dataList,
            type: "line",
            areaStyle: {},
            itemStyle: {
              normal: {
                //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  {
                    offset: 0,
                    color: "#2C81EE", // 0% 处的颜色
                  },
                  {
                    offset: 0.5,
                    color: "#67aeff", // 100% 处的颜色
                  },
                  {
                    offset: 1,
                    color: "#fff", // 100% 处的颜色
                  },
                ]), //背景渐变色
                lineStyle: {
                  // 系列级个性化折线样式
                  width: 1,
                  type: "solid",
                  color: "#0079FF",
                },
              },
              emphasis: {
                color: "#0079FF",
                lineStyle: {
                  // 系列级个性化折线样式
                  width: 2,
                  type: "solid",
                  color: "#0079FF", //折线的颜色
                },
              },
            }, //线条样式
            symbolSize: 0, //折线点的大小
          },
        ],
      };
      // this.$nextTick(() => {
      //   var myChart = echarts.init(
      //     document.getElementById("last-month-wrapper")
      //   );
      //   // this.$closeLoading_d('last-month-wrapper')
      //   this.echarts.set('lastMonth',myChart)
      //   myChart.setOption(option);
        
      //   window.addEventListener("resize", () => {
      //     myChart.resize();
      //   });
      // });
    },
    // 上月用电 数据获取
    getLastMonthData(params) {
      // this.$startLoading_d('last-month-wrapper')
      api
        .EnergyLastMonthEnergyConsumeStatisticsGet({
          ...params,
          queryDate: this.lastMonth
          // queryDate: "2011-6",
          // workshopId: 102,
        })
        .then((res) => {
          this.lastMonthModel = res.data;
        })
        .then(() => {
          this.getLasyMonth();
        }).catch((err)=>{
          // this.$closeLoading_d('last-month-wrapper')
          console.error(err)
        })
    },
  },
};
</script>

<style lang='scss' scoped>
.energy-management {
  height: calc(100vh - 90px);
  width: 100%;
  position: relative;
  .left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 188px;
    background-color: #f5f7f9;
    ::v-deep {
      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
      .left-head {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #333;
        border-bottom: 1px solid #e8ebef;
        .icon-shengchanchejian {
          margin-right: 15px;
        }
      }
      .workshop-item {
        width: 188px;
        height: 48px;
        // 暂时 车间左对齐 一行显示（超出显示省略号）
        line-height: 48px;
        padding-left: 33px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        border-right: 4px solid #f5f7f9;
        cursor: pointer;
        & > span::before {
          display: inline-block;
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #999999;
          margin-bottom: 4px;
          // margin-right: 20px;
          margin-right: 12px;
        }
      }
      .workshop-item:hover {
        background: rgba(0, 121, 255, 0.1);
        border-right: 4px solid #0079ff;
        color: #0079ff;
        & > span::before {
          background-color: #0079ff;
        }
      }
      .workshop-item-active {
        background: rgba(0, 121, 255, 0.1);
        border-right: 4px solid #0079ff;
        & > span::before {
          background-color: #0079ff;
        }
      }
    }
  }
  .right {
    height: 100%;
    width: 100%;
    padding-left: 188px;
    background-color: #fff;
    .layout_main {
      .header-title{
        font-size: 24px;
        // margin-bottom: 10px;
        // margin-top: 7px;
        display:flex;
        align-items: center;
        flex: 1;
        .current-title{
          margin-right: 18px;
          line-height: 40px;
          max-width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .addCompareBtn{
          ::v-deep .el-button--default{
            padding: 8px 4px;
          }
          font-size: 14px;
          color: #999;
          line-height: 40px;
        }
        .compare-titles{
          margin-left: 8px;
          display: flex;
          flex: 1;
          height: 32px;
          position: relative;
          overflow: hidden;
          .compare-window{
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            .compare-title{
              display: flex;
              align-items: center;
              border-radius: 2px;
              color: #333;
              font-weight: 400;
              font-size: 14px;
              line-height: 32px;
              // min-width: 100px;
              .text{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              max-width: 130px;
              // overflow: hidden;
              

              text-align: center;
              margin-right: 8px;
              border: 1px solid #D9D9D9;
              border-left: 4px solid #D9D9D9;
              padding: 0 10px;
              &:hover{
                background: rgba(0, 121, 255, 0.1);
                border: 1px solid #B2D6FF;
                border-left: 4px solid #B2D6FF;
                .el-icon-close{
                  display: inline-block;
                  // opacity: 1;
                  color: #0079ff;
                  font-weight: bold;
                }
              }
              .el-icon-close{
                display: none;
                // opacity: 0;
                cursor: pointer;
              }
              height: 32px;
            }
          }
        }
        .scrollBtns{
          display: flex;
          margin: 0 16px;
          border: 1px solid #D9D9D9;
          .scrollBtn{
            width: 32px;
            height: 32px;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            color: #a6a6a6;
            &:hover{
              background: #F8F8F8;
            }
          }
          .scrollBtnLeft{
            border-right: 1px solid #d9d9d9;
          }
        }
      }
    }
  }
}
.main_conten {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .main-container {
    display: flex;
    margin-left: 0 !important;
    height: calc((100vh - 180px) / 2);
    .layout_main {
      padding: 0;
      flex: 1;
      .main-content {
        height: 100%;
        .echarts-container {
          height: calc((100vh - 310px) / 2);
          // width: 100%;
          // height: 100%;
        }
        .main-item-none{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .main-item-none-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
          }
        }
      }
      .flex {
        // border-left: 4px solid #0079ff;
        color: #333;
        // padding-left: 10px;
        position: relative;
        margin-left: 8px;
        font-size: 18px;
          &::before{
            content: '';
            width: 3px;
            height: 18px;
            background-color: #0079ff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -8px;
          }

        .header_title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          flex: 1;
          font-size: 18px;
          
        }
        .header_row {
          display: flex;
          align-items: center;
          font-size: 18px;

          .timeSele {
            & > span {
              display: inline-block;
              width: 48px;
              font-size: 14px;
              height: 36px;
              background: #ffffff;
              border: 1px solid #d9d9d9;
              line-height: 36px;
              text-align: center;
              cursor: pointer;
            }
            & > span:nth-child(1) {
              border-radius: 2px 0px 0px 2px;
            }
            & > span:nth-child(2) {
              border-radius: 0px 2px 2px 0px;
            }
            .timeSele-active {
              border: 1px solid #0079ff;
              color: #0079ff;
            }
          }
        }
      }
      .header-title{
        font-size: 19px;
      }
      // .header-title {
      //   display: flex;
      //   justify-content: space-between;
      //   height: 30px;
      //   margin-left: 8px;
      //   font-size: 18px;
      //   line-height: 30px;
      //   // padding-left: 8px;
      //   // border-left: 4px solid #0079ff;
      //   position: relative;
      //   &::before{
      //     content: '';
      //     width: 3px;
      //     height: 18px;
      //     background-color: #0079ff;
      //     position: absolute;
      //     top: 50%;
      //     transform: translateY(-50%);
      //     left: -8px;
      //   }
      //   color: #333;
      // }

      .energyAll-items {
        display: flex;
        // height: 90%;
        height: 100%;
        // float: left;
        .energytype-items{
          width: 100%;
          .energytype-item{
            text-align: center;
            color: #666;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 25px;
            li{
              list-style: none;
              display: flex;
              align-items: center;
              width: 100%;
              .energytype-title{
                display: flex;
                .energy-icon{
                  width: 24px;
                  height: 24px;
                  margin-right: 12px;
                  text-align: center;
                  background-color: pink;
                  line-height: 24px;
                  border-radius: 4px;
                  color: black;
                }
              }
              .shopname{
                width: 100px;
                overflow: hidden;
                text-align: left;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .progress{
                flex: 2;
              }
              .cost{
                width: 100px;
              }
              .compare{
                width: 100px;
              }
            }
            .workshop-item{
              margin-top: 15px;
              color: #333;
              line-height: 22px;
              .cost{
                font-weight: 500;
              }
            }
          }
        }
        .energyAll-item {
          margin-left: 10px;
          width: calc(((100vw - ( 210px + 40px + 188px + 40px )) * 1.8/2.8 - 20px) * 1/3);
          // flex: 1;

          background: linear-gradient(180deg, #f6faff 0%, #ffffff 100%);
          border-radius: 8px;
          border: 1px solid;
          border-image: linear-gradient(
              180deg,
              rgba(223, 231, 241, 1),
              rgba(255, 255, 255, 1)
            )
            1 1;

          // position: relative;
          // border: 1px solid transparent;
          // border-radius: 16px;
          // background: linear-gradient(180deg, #f6faff 0%, #ffffff 100%);
          // background-clip: padding-box;
          // &::after {
          //   position: absolute;
          //   top: -1px;
          //   bottom: -1px;
          //   left: -1px;
          //   right: -1px;
          //   content: "";
          //   z-index: -1;
          //   border-radius: 16px;
          //   background: linear-gradient(
          //     180deg,
          //     rgba(223, 231, 241, 1),
          //     rgba(255, 255, 255, 1)
          //   );
          // }
          .energyAll-item-container {
            height: 100%;
            display: flex;
            // align-items: center;
            padding-top: 30%;
            // margin-top: 30%;
              .energyAll-item-compare {
                color: #999;
                span:nth-child(2) {
                  margin: 0 5px;
                }
                span.upIcon {
                  color: #e85b49;
                }
                span.downIcon {
                  color: #3ac0a5;
                }
              }
            .energyAll-item-left {
              flex: 1;
              img {
                width: 90%;
              }
            }
            .energyAll-item-right {
              flex: 1.2;
              margin-left: 10px;
              font-size: 14px;
              & > div {
                margin-bottom: 10px;
              }
              & > div:nth-child(1) {
                color: #666;
              }
              .energyAll-item-value {
                font-size: 18px;
                span {
                  font-size: 20px;
                }
              }
            }
          }
        }
        .energyAll-item:nth-child(1) {
          margin-left: 0px;
        }
        .energyAll-item-none{
          width: calc(((100vw - ( 210px + 40px + 188px + 40px )) * 1.8/2.8 - 20px));
          display: flex;
          align-items: center;
          justify-content: center;
          .energyAll-item-none-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
  .echarts-container {
    height: 200px;
    width: 100%;
  }
}

</style>
<style lang="scss">
.checkboxStyle{
  color: red;
  .el-checkbox-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    .el-checkbox{
      margin-right: 0;
      display: flex;
      align-items: center;
      padding: 8px 0;
      .el-checkbox__label{
        overflow: hidden;
        max-width: 130px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.el-select {
  width: 120px;
  margin: 0 10px;
}
</style>
<style lang="scss">
.energyTypeContent {
  .el-select-dropdown__item{
    width: 120px;
    overflow: hidden;
  }
}
.el-progress-bar__inner{
  border-radius: 0;
}
.el-progress-bar__outer{
  border-radius: 0;
}
</style>