<template>
  <base-layout class="layout_main" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <h2 class="table-title">{{ tableTitleTime }}能耗消耗报表</h2>
          <div class="search_wrap">
              <div class="search_head_item">
              时间:
              <el-date-picker
                class="search_head_input"
                v-model="searchDate"
                type="year"
                format="yyyy年"
                value-format="yyyy年"
                :default-value="new Date()"
                placeholder="选择日期"
                :clearable="false"
              >
              </el-date-picker>
            </div>
            <div class="search_head_item">
              <el-button size="medium" style="margin-right: 12px;" type="primary" @click="basicsetSearch"
                >查询</el-button
              >
              <el-button size="medium" type="add" @click="output" :loading="exportBtnLoading" v-permission="[1]">导出</el-button>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <!-- <h2 class="table-title">{{ tableTitleTime }}能耗消耗报表</h2> -->
        <el-table
         v-loading="tableloading"
          border
          show-summary
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
        >
          <el-table-column
            label="月份"
            type="index"
            width="50"
            align="center"
          ></el-table-column>
          <el-table-column
            v-for="item in columns"
            :key="item.name"
            :label="item.label"
            :prop="item.name"
            align="center"
          ></el-table-column>
          <el-table-column
            label="折合标煤"
            align="center"
            v-for="item in backStep"
            :key="item"
            :prop="item"
          ></el-table-column>
        </el-table>
      </div>
    </template>
    <template slot="footer"> </template>
  </base-layout>
</template>

<script>
import api from "@/api/effectAppraisal/index";
import { parseTime } from "@/utils/index";
export default {
  data() {
    return {
      tableloading: true,
      columns: [],
      backStep: [], // 折标煤系数
      tableTitleTime: new Date().getFullYear() + "年",
      searchDate: new Date().getFullYear() + "年",
      tableData: [],
      formLabelAlign: {},
      exportBtnLoading: false,
      page: {
        pageSize: 10,
        total: 40,
        pageIndex: 1,
      },
    };
  },
  mounted() {
    this.getList({ queryDate: parseTime(new Date(), "{y}") });
  },
  methods: {
    // 数据处理
    dataChecked({ data, headDataLists }) {
      // 表头
      this.columns = [];
      headDataLists.map((value, index) => {
        this.columns.push({
          label: value,
          name: value,
        });
      });
      this.columns.push({
        label: '折合标煤',
        name: '折合标煤'
      })
      // 报表数据
      this.tableData = [];
      data.map((items) => {
        let monthData = {};
        items.mainDataLists.map((item) => {
          monthData[item.name] = item.value;
        });
        monthData['折合标煤'] = items.sumValue

        this.tableData.push(monthData);
      });
    },
    getList(params) {
      this.tableloading = true;
      api.EnergyStatisticsReports(params).then((res) => {
        // console.log(res);
        this.dataChecked(res.data);
        this.tableloading = false;
      });
    },
    // 搜索
    basicsetSearch() {
      this.tableTitleTime = this.searchDate;
      this.getList({ queryDate: parseInt(this.searchDate) });
    },
    // 导出
    output() {
      this.exportBtnLoading = true
      // this.searchDate = this.searchDate !== new Date().getFullYear() 
      api.exportReports({queryDate: parseInt(this.searchDate)}).then((res) => {
        const link = document.createElement("a");
        let blob = new Blob([res], {
          // type: "multipary/form-data",
          type: res.type
        });
        link.style.display = "none";
        link.href = URL.createObjectURL(blob);
        link.setAttribute("download", decodeURI(this.tableTitleTime+ "能耗消耗报表"));
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        this.exportBtnLoading = false
      }).catch(()=>{
        this.exportBtnLoading = false
      })
    },
    // handleSizeChange() {
    //   console.log("handleSizeChange");
    // },
    // handleCurrentChange() {
    //   console.log("handleCurrentChange");
    // },
  },
};
</script>

<style lang="scss" scoped>
.table-title {
  text-align: center;
}
.flex {
  .search_head_item{
    margin-right: 12px;
    ::v-deep {
      .el-input__inner{
        height: 36px;
      }.el-input__icon{
        line-height: 36px;
      }
    }

  }
  .head_row{
    width: 100%;
    display: flex;
    justify-content:space-between;
  }
  .search_wrap{
    display: flex;
  }
}

</style>
