<template>
  <div class="sidebar-logo-container" :class="{ collapse: collapse }">
    <transition name="sidebarLogoFade">
      <router-link
        v-if="collapse"
        key="collapse"
        class="sidebar-logo-link"
        to="/"
      >
        <img
          v-if="logo"
          src="../../../assets/images/logo_小.png"
          class="sidebar-logo-avtive"
        />
        <h1 v-else class="sidebar-title">{{ title }}</h1>
      </router-link>
      <router-link v-else key="expand" class="sidebar-logo-link" to="/">
        <!-- <img v-if="logo" :src="logo" class="sidebar-logo" />
        <h1 class="sidebar-title">{{ title }}</h1> -->
        <div>
          <!-- <img
            v-if="logo"
            src="../../../assets/images/logo-01.png"
            class="sidebar-logo"
          /> -->
          <svg-icon v-if="logo" class="sidebar-logo" icon-class='logo-白色' />
        </div>
        <h1 class="sidebar-title">制药生产能耗监管平台</h1>
      </router-link>
    </transition>
  </div>
</template>

<script>

export default {
  name: "SidebarLogo",
  props: {
    collapse: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      title: "Vue Admin Template",
      logo: "https://wpimg.wallstcn.com/69a1c46c-eb1c-4b46-8bd4-e9e686ef5251.png",
    };
  },
};
</script>

<style lang="scss" scoped>
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 120px;
  line-height: 50px;
  /* background: #2b2f3a; */
  text-align: center;
  overflow: hidden;

  & .sidebar-logo-link {
    height: 100%;
    width: 100%;
    display: flex !important;
    align-content: center;
    flex-flow: column;
    justify-content: center;

    & .sidebar-logo {
      width: 140px;
      height: 43px;
      vertical-align: middle;
      margin-right: 12px;
      /* font-size: 20px; */
    }
    & .sidebar-logo-avtive {
      width: 43px;
      height: 43px;
    }

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      color: #fff;
      font-weight: 600;
      line-height: 50px;
      font-size: 20px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}
</style>
