<template>
  <base-layout class="layout_main" headerHeight="auto" footerHeight="0">
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <div class="search_head_item">
            能源指标
            <el-select
              class="search_head_input"
              v-model="energyType"
              placeholder="请选择"
              size="medium"
              :clearable="false"
            >
              <el-option
                v-for="item in energyTypeList"
                :key="item.basicConfigId"
                :label="item.basicConfigName"
                :value="item.basicConfigId"
                :disabled="item.disabled"
              >
              </el-option>
            </el-select>
          </div>
          <div class="search_head_item">
            <div class="block">
              <span class="demonstration">计划月份 </span>
              <el-date-picker
                v-model="addPlanTime"
                type="month"
                value-format="yyyy-MM"
                placeholder="选择日期"
                :clearable="false"
              >
              </el-date-picker>
            </div>
          </div>

          <span class="search_head_searc">
            <el-button size="medium" type="primary" @click="inquire"
              >查询</el-button
            >
          </span>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <div class="echars">
          <div v-if="placeholder == true" class="placeholder-container">
            <img
              src="@/assets/images/_10-空页面-light.png"
              alt=""
              style="width: 100%"
            />
            <span>暂无车间统计数据</span>
          </div>
          <div
            v-show="!placeholder"
            ref="chart"
            style="width: 99%; height: 40vh; margin: 0 aoto"
          ></div>
        </div>
        <div class="title1">{{ titles }}</div>
        <div class="report-container">
          <div class="report-left">
            <div>
              <div>
                <span :class="{ isActive: active0 >= 0 }">{{
                  `${active0}%`
                }}</span>
                <i
                  class="iconfont"
                  :class="active0 >= 0 ? 'icon-up' : 'icon-down'"
                ></i>
              </div>
              <div>全厂与同期相比</div>
              <div>全厂同比</div>
            </div>
            <div>
              <div>
                <span :class="{ isActive: active1 >= 0 }">{{
                  `${active1}%`
                }}</span>
                <i
                  class="iconfont"
                  :class="active1 >= 0 ? 'icon-up' : 'icon-down'"
                ></i>
              </div>
              <div>{{ titles1 }}</div>
              <div>车间同比</div>
            </div>
            <div>
              <div>
                <span :class="{ isActive: active2 >= 0 }">{{
                  `${active2}%`
                }}</span>
                <i
                  class="iconfont"
                  :class="active2 >= 0 ? 'icon-up' : 'icon-down'"
                ></i>
              </div>
              <div>{{ titles2 }}</div>
              <div>车间同比</div>
            </div>
          </div>
          <div class="report-right">
            <div>
              <div>
                <span :class="{ isActive: active3 >= 0 }">{{
                  `${active3}%`
                }}</span>
                <i
                  class="iconfont"
                  :class="active3 >= 0 ? 'icon-up' : 'icon-down'"
                ></i>
              </div>
              <div>全厂与上月相比</div>
              <div>全厂环比</div>
            </div>
            <div>
              <div>
                <span :class="{ isActive: active4 >= 0 }">{{
                  `${active4}%`
                }}</span>
                <i
                  class="iconfont"
                  :class="active4 >= 0 ? 'icon-up' : 'icon-down'"
                ></i>
              </div>
              <div>{{ titles4 }}</div>
              <div>车间环比</div>
            </div>
            <div>
              <div>
                <span :class="{ isActive: active5 >= 0 }">{{
                  `${active5}%`
                }}</span>
                <i
                  class="iconfont"
                  :class="active5 >= 0 ? 'icon-up' : 'icon-down'"
                ></i>
              </div>
              <div>{{ titles5 }}</div>
              <div>车间环比</div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </base-layout>
</template>

<script>
import * as echarts from "echarts";
import * as api from "@/api/energyPlan.js";
export default {
  data() {
    return {
      titles: "2021年10月能源计划报告",
      addPlanTime: null,
      energyType: null,
      energyTypeList: null,
      placeholder: false,
      value: "",
      titles1: "",
      titles2: "",
      titles3: "",
      titles4: "",
      titles5: "",
      active0: 0,
      active1: 0,
      active2: 0,
      active3: 0,
      active4: 0,
      active5: 0,
      option: {
        // title: {
        //   text: 'Rainfall vs Evaporation',
        //   subtext: 'Fake Data'
        // },
        tooltip: {
          trigger: "axis",
        },
        grid: {
          left: "0%",
          right: "0%",
          bottom: "3%",
          containLabel: true,
        },
        legend: {
          data: ["计划", "实际"],
          x: "right", //居右显示
        },

        calculable: true,
        xAxis: [
          {
            type: "category",
            // prettier-ignore
            data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            axisTick: { show: false },
            axisLabel: {
              interval: 0,
            },
          },
        ],
        yAxis: [
          {
            name: "单位:秒",
            type: "value",
            nameTextStyle: {
              fontSize: 15,
              padding: [0, -27, 15, 0],
              //   borderWidth: 1,
              //   borderColor: "red",
              align: "right",
            },
            splitLine: {
                show: true,
                lineStyle:{
                    color: ['#d9d9d9'],
                    width: 1,
                    type: 'solid'
                }
            },
          },
        ],
        series: [
          {
            barMaxWidth: "30",
            name: "计划",
            type: "bar",
            barGap: -0.5,
            data: [
              2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4,
              3.3,
            ],
            itemStyle: {
              normal: {
                label: {
                  show: true,
                  position: "top",
                  textStyle: {
                    color: "#208afe",
                  },
                },

                color: "#c0e0fe",
              },
            },
          },
          {
            barMaxWidth: "30",
            name: "实际",
            type: "bar",

            data: [
              2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0,
              2.3,
            ],
            itemStyle: {
              normal: {
                label: {
                  show: true,
                  position: "top",
                  textStyle: {
                    color: "#208afe",
                  },
                },

                color: "#208afe",
              },
            },
          },
        ],
      },
    };
  },
  mounted() {
    api.getEnergyTypeList().then((res) => {
      console.log(res);
      this.energyTypeList = res.data;
      this.initData();
      this.energyType = res.data[0].basicConfigId;
      this.option.yAxis[0].name = `单位：${res.data[0].basicConfigUnit}`;
    });
    api.getReportOne(this.doHandleDate()).then((res) => {
      this.active0 = res.data;
    });
    api.getReportTow(this.doHandleDate()).then((res) => {
      this.active1 = res.data.mostSavingworkshopData;
      this.titles1 = `${res.data.mostSavingworkshop}与同期相比`;
      this.active2 = res.data.mostWastingworkshopData;
      this.titles2 = `${res.data.mostWastingworkshop}与同期相比`;
    });
    api.getReportThree(this.doHandleDate()).then((res) => {
      console.log(res, "three");
      this.active3 = res.data;
    });
    api.getReportFour(this.doHandleDate()).then((res) => {
      this.active4 = res.data.mostSavingworkshopData;
      this.titles4 = `${res.data.mostSavingworkshop}与同期相比`;
      this.active5 = res.data.mostWastingworkshopData;
      this.titles5 = `${res.data.mostWastingworkshop}与同期相比`;
    });
  },

  methods: {
    getEnergyName(id) {
      for (var i = 0; i < this.energyTypeList.length; i++) {
        if (this.energyTypeList[i].basicConfigId == id) {
          return this.energyTypeList[i].basicConfigName;
        }
      }
    },
    //   获取当前月份
    doHandleDate() {
      var myDate = new Date();
      var tYear = myDate.getFullYear();
      var tMonth = myDate.getMonth();

      var m = tMonth + 1;
      if (m.toString().length == 1) {
        m = "0" + m;
      }
      return tYear + "-" + m;
    },
    //   第一次获取echars数据
    initData() {
      var nowTime = this.doHandleDate();
      this.addPlanTime = nowTime;
      var formaterTitles =
        nowTime.slice(0, 4) + "年" + nowTime.slice(5, 7) + "月能源计划报告";
      this.titles = formaterTitles;
      this.$startLoading_d("echars");
      api
        .getchartData(nowTime, this.energyTypeList[0].basicConfigId)
        .then((res) => {
          this.$closeLoading_d("echars");
          this.option.series[0].data = res.data.plannedConsumptionThisMonth;
          this.option.series[1].data = res.data.actualConsumptionLastMonth;
          this.option.xAxis[0].data = res.data.workshopName;
          if (res.data.workshopName.length > 0) {
            this.placeholder = false;
            this.getEchartData();
          } else {
            this.placeholder = true;
          }
        });
    },
    // 查询
    inquire() {
      console.log(this.addPlanTime, this.energyType);
      this.$startLoading_d("echars");
      api.getchartData(this.addPlanTime, this.energyType).then((res) => {
        this.$closeLoading_d("echars");
        this.option.series[0].data = res.data.plannedConsumptionThisMonth;
        this.option.series[1].data = res.data.actualConsumptionLastMonth;
        this.option.xAxis[0].data = res.data.workshopName;
        if (res.data.workshopName.length > 0) {
          this.placeholder = false;
          this.getEchartData();
        } else {
          this.placeholder = true;
        }
      });
      // 单位联动：根据能源id获取单位
      var unit = this.getBasicConfigUnit(this.energyType);
      this.option.yAxis[0].name = `单位：${unit}`;

      //   报告标题联动
      var formaterTitles =
        this.addPlanTime.slice(0, 4) +
        "年" +
        this.addPlanTime.slice(5, 7) +
        "月能源计划报告";
      this.titles = formaterTitles;
      // 全厂同比
      api.getReportOne(this.addPlanTime).then((res) => {
        this.active0 = res.data;
      });
      //   车间同比
      api.getReportTow(this.addPlanTime).then((res) => {
        this.active1 = res.data.mostSavingworkshopData;
        this.titles1 = `${res.data.mostSavingworkshop}与同期相比`;
        this.active2 = res.data.mostWastingworkshopData;
        this.titles2 = `${res.data.mostWastingworkshop}与同期相比`;
      });
      api.getReportThree(this.addPlanTime).then((res) => {
        console.log(res, "three");
        this.active3 = res.data;
      });
      api.getReportFour(this.addPlanTime).then((res) => {
        this.active4 = res.data.mostSavingworkshopData;
        this.titles4 = `${res.data.mostSavingworkshop}与同期相比`;
        this.active5 = res.data.mostWastingworkshopData;
        this.titles5 = `${res.data.mostWastingworkshop}与同期相比`;
      });
    },

    // 根据能源id获取单位
    getBasicConfigUnit(id) {
      for (var i = 0; i < this.energyTypeList.length; i++) {
        if (this.energyTypeList[i].basicConfigId == id) {
          return this.energyTypeList[i].basicConfigUnit;
        }
      }
    },
    getEchartData() {
      const chart = this.$refs.chart;
      if (chart) {
        const myChart = echarts.init(chart);
        this.$nextTick(() => {
          myChart.resize();
        });
        console.log(9999999);
        myChart.setOption(this.option);

        window.addEventListener("resize", function () {
          myChart.resize();
        });
      }
      this.$on("hook:destroyed", () => {
        window.removeEventListener("resize", function () {
          myChart.resize();
        });
      });
    },
  },
};
</script>

 <style lang="scss" scoped>
.main-cantainer {
  //   height: 80vh;
  border: 1px solid red;
}
.echars {
  .placeholder-container {
    position: relative;
    margin: 0 auto;
    width: 40%;
    height: 40%;
    span {
      text-align: center;
      display: block;
      font-size: 1rem;
    }
  }
  div {
    position: relative;
    // left: 20px;
  }
}
.title1 {
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  position: relative;
  margin-top: 50px;
  border-bottom: 1px solid rgb(224 230 241);
}
.report-container {
  position: relative;
  margin-top: 10px;
  height: 20vh;
  //   border: 1px solid red;
  display: flex;
  justify-content: space-between;
  .report-left,
  .report-right {
    // position: absolute;
    display: flex;
    width: 49.5%;
    height: 100%;
    // justify-content: space-between;
    align-items: center;
    justify-content: center;
    // border: 1px solid rgb(7, 84, 172);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(180deg, #f6faff 0%, #ffffff 100%);
    border: 1px solid;
    border-image: linear-gradient(
        180deg,
        rgba(223, 231, 241, 1),
        rgba(255, 255, 255, 1)
      )
      1 1;

    > div {
      width: 30%;
    }
    //
    > div:nth-child(1) {
      div {
        line-height: 30px;
      }
      :nth-child(1) {
        text-align: center;
        .icon-down {
          color: #208afe;
        }
        .icon-up {
          color: rgb(247 159 74);
        }

        span {
          font-size: 28px;
          color: #208afe;
        }
        .isActive {
          font-size: 28px;
          color: rgb(247 159 74);
        }
      }
      :nth-child(2) {
        text-align: center;
        color: rgb(163 164 168);
        font-size: 15px;
      }
      :nth-child(3) {
        text-align: center;
        font-size: 20px;
      }
    }
    //
    > div:nth-child(2) {
      border-left: 1px solid #abc3de;
      border-right: 1px solid #abc3de;
      div {
        line-height: 30px;
      }
      :nth-child(1) {
        text-align: center;
        .icon-down {
          color: #208afe;
        }
        .icon-up {
          color: rgb(247 159 74);
        }

        span {
          font-size: 28px;
          color: #208afe;
        }
        .isActive {
          font-size: 28px;
          color: rgb(247 159 74);
        }
      }
      :nth-child(2) {
        text-align: center;
        color: rgb(163 164 168);
        font-size: 15px;
      }
      :nth-child(3) {
        text-align: center;
        font-size: 20px;
      }
    }
    //
    > div:nth-child(3) {
      div {
        line-height: 30px;
      }
      :nth-child(1) {
        text-align: center;
        .icon-down {
          color: #208afe;
        }
        .icon-up {
          color: rgb(247 159 74);
        }

        span {
          font-size: 28px;
          color: #208afe;
        }
        .isActive {
          font-size: 28px;
          color: rgb(247 159 74);
        }
      }
      :nth-child(2) {
        text-align: center;
        color: rgb(163 164 168);
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
      }
      :nth-child(3) {
        text-align: center;
        font-size: 20px;
      }
    }
  }
}
.el-container {
  min-height: calc(100vh - 150px);
  //   border: 1px solid red;
}
</style>
