// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}


.el-message {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border: none;
  font-size: 14px;

  .el-message__icon {
    font-size: 20px;
  }
}

.el-form-item {
  margin-bottom: 20px;

}

.el-dialog__header {
  padding: 24px 30px;
  text-align: center;

  &>.el-dialog__title {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
  }

  .el-dialog__headerbtn {
    top: 25px;
    right: 25px;
    font-size: 20px;
  }
}

.el-dialog__body {
  padding: 0 30px;
  padding-bottom: 24px;
  padding-top: 0 !important;
}

.el-dialog__footer {
  padding: 0px 30px 36px 30px;

  &>.dialog-footer {
    .el-button {
      width: 120px;
      height: 36px;
    }
  }
}

.el-form {
  margin-left: 0;
}

.el-table {
  .el-table__body-wrapper {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(144, 147, 153, 0.3);
      border: 3px solid transparent;
      border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(144, 147, 153, 0.5);
    }
  }

  .has-gutter {
    th {
      padding: 16px 0 !important;
      color: #333333;
      font-size: 14px;
    }
  }

  td,
  th {
    padding: 16px 0 !important;
  }

  & .el-button--small {
    padding: 0 15px !important;

    &>i {
      font-size: 20px;
    }
  }
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: rgba(0, 121, 255, 0.06) !important;
}


.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #E7F1FD;
}



.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #0A90FF !important;
  border: 1px solid #0A90FF;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
}

.el-dialog__body{
  padding: 0 30px!important;
}
.el-form{
  .el-form-item{
    display: flex;
    .el-form-item__label{
      width: 80px;
      padding: 0 8px 0 0!important;
    }
    .el-form-item__content{
      flex: 1;
      margin-left: 0;
      .el-select{
        width: 100%;
      }
    }
  }
  .el-form-item:nth-last-child(1){
      margin-bottom: 0;
    }
}
.el-dialog__footer{
  padding: 36px 30px;
}
