@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


:root{
  --view-red:red;
  --view-yellow:yellow;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Medium, PingFang SC;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.layout_main {
  background-color: #fff;
  padding: 10px 20px;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .el-header,
  .el-main {
    padding: 0;
  }

  .head_row {
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .search_head_input {
      width: 260px;
      margin-left: 9px;
    }

    // 所有label和表单元素之间的间隔为6px
    .label_form_space {
      margin-right: 6px;
    }

    // 所有头部搜索条目之间间隔 14px
    .search_head_item {
      color: #666;
      // margin-right: 30px;
      margin-right: 12px;
    }

    // 所有头部搜索的 查询等按钮距离前面为 8px
    .search_head_search {
      margin-left: 8px;

      .el-button--small {
        font-size: 14px;
        padding: 0 15px;
        height: 32px;
        line-height: 32px;
      }

      .el-button [class*=tf-icon-]+span {
        margin-left: 5px;
      }
    }
  }

  .main_conten {
    box-sizing: border-box;
    margin-top: 10px
  }

  .pageFoot {
    display: flex;
    align-items: center;
    justify-content: flex-end
  }
}

.el-input--medium {
  &>.el-input__inner {
    border-radius: 2px !important;
  }
}

.el-button--medium {
  padding: 9px 12px;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
}

.el-button--primary,.el-button--primary:hover,.el-button--primary:focus {
  background: #0079FF;
  border: #0079FF;
}

.el-button--add, .el-button--add:hover, .el-button--add:focus {
  background: #3AC0A5 !important;
  border: #3AC0A5;
  color: #fff;
}

.el-button--reset,.el-button--reset:hover,.el-button--reset:focus {
  background: #fff !important;
  border-color: #dcdfe6;
  color: #606266;
}
.custom-class{
  z-index: 99999;
}

