<template>
  <div class="basicConfiguration">
    <div class="head">
      <div>
        <i class="el-icon-back" style="margin-right:10px;cursor: pointer;" @click="$router.go(-1)"></i>
        生产线生产流程图
      </div>
      <div>
        <el-select
          class="search_head_input"
          v-model="workshopId"
          placeholder="请选择车间"
          size="medium"
          @change="handleChange"
        >
          <el-option
            v-for="item in enePlanningAWorkshopList"
            :key="item.workshopId"
            :value="item.workshopId"
            :label="item.workshopName"
          ></el-option>
        </el-select>
        <el-button
          style="margin-left: 12px;color:#000"
          size="medium"
          @click="editorialShop"
           v-permission='[1]'
          >编辑车间</el-button
        >
        <el-button
          style="margin-left: 24px"
          size="medium"
          type="primary"
          @click="keep"
          v-permission='[1]'
          >保存</el-button
        >
      </div>
    </div>
    <div class="super-flow-base-demo">
      <div class="add" @click="newEquipmentDialog" id="meta">
        <div>
          <i style="font-size: 25px" class="el-icon-plus"></i>
        </div>
        <div style="font-size: 14px; margin-top: 5px">新增设备</div>
      </div>
      <super-flow
        ref="superFlow"
        :node-list="nodeList"
        :link-list="linkList"
        :origin="origin"
        :graph-menu="graphMenuList"
        :node-menu="nodeMenuList"
        :link-menu="linkMenuList"
        :enter-intercept="enterIntercept"
        :output-intercept="outputIntercept"
        :link-desc="linkDesc"
        :linkEditable="true"
        :link-style="linkStyle"
        :link-base-style="linkBaseStyle"
      >
        <template v-slot:node="{meta}"  id="meta">
          <!-- <el-popover
            placement="bottom"
            width="260"
            trigger="hover"
            :append-to-body="false"
            :close-delay="100"
            @show='showItem(meta)'
            @hide='hideItem'
            @after-leave='afterLeave'
            @after-enter='afterEnter'
          >
            <div xlp="xlp" id="popover"  v-if="index == 2">
              <div class="titleBtn">
                <div
                  xlp="xlp"
                  class="active"
                  @click="handleTitleClick(2)"
                >
                  设置信息
                </div>
              </div>
              <div class="formDiv"  xlp="xlp" >
                <div xlp="xlp" >
                  设备名称
                   <el-select
                    ref="selectRef"
                    class="search_head_input"
                    style="width: 180px"
                    v-model="equipmentFormData.equipmentId"
                    placeholder="请选择设备"
                    size="medium"
                    :popper-append-to-body='false'
                  >
                    <el-option
                      v-for="item in deviceList"
                      :key="item.id"
                      :value="item.id"
                      :label="item.equipmentName"
                      @click.native="equipmentFormData.equipmentNo = item.equipmentNo;equipmentFormData.equipmentName = item.equipmentName"
                    ></el-option>
                  </el-select>
                </div>
                <div style="margin: 10px 0" xlp="xlp">
                  设备编号
                  <el-input
                    xlp="xlp"
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="equipmentFormData.equipmentNo"
                    clearable
                    placeholder="请输入"
                    style="width: 180px"
                    disabled
                  />
                </div>
                <div xlp="xlp">
                  <el-button type="primary" @click="handleEquipmentWwitch(meta)">确定</el-button>
                </div>
              </div>
            </div>
            <div style="height: 150px" id="meta" slot="reference">
              <div class="flex" id="meta">
                <header>{{ meta.name }}</header>
                <img
                  class="prohibit"
                  src="../../assets/images/img_设备-1正常.png"
                  alt=""
                />
              </div>
            </div>
          </el-popover> -->
          
          <div style="height: 150px">
            <div class="flex">
                <header>{{ meta.name }}</header>
                <img
                  class="prohibit"
                  src="../../assets/images/img_设备-0.png"
                  alt=""
                />
            </div>
          </div>
        </template>
      </super-flow>
    </div>
    <el-dialog
      title="编辑车间"
      :visible.sync="dialogVisible"
      width="700px"
      center
      @close="formCancel"
      :close-on-click-modal='false'
      >
      <div class=" main_conten">
          <el-table :data="tableData" :header-cell-style="{ background: '#FAFAFA' }"
          height="400px" ref='table'>
        <el-table-column label="车间名称" prop="workshopName">
          <template slot-scope="{row}">
            <template v-if="row.edit">
              <el-row :gutter="10">
                <el-col :span="20">
                  <el-input style="width:100%"  v-model="row.workshopName" />
                </el-col>
                <el-col :span="4">
                  <el-button type="primary" @click="inputBlur(row)">确定</el-button>
                </el-col>
              </el-row>
            </template>
            <span @click="inLineEditing(row)" v-else>{{row.workshopName}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" prop="name" width="180px" align="center">
          <template slot-scope="{ row }">
              <el-button
                size="small"
                type="text"
                icon="iconfont icon-icon_shanchu"
                @click="del(row)"
              ></el-button>
            </template>
        </el-table-column>
      </el-table>
      </div>
      <div>
        <el-input placeholder="车间名称" v-model="workshopName" />
      </div>
       <div class="addPlan" @click="newWorkshop">
        <i class="el-icon-plus"></i>
        <span>新增车间</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="formCancel">取 消</el-button>
        <!-- <el-button type="primary" @click="newEquipment">确 定</el-button> -->
      </span>
    </el-dialog>


    <el-dialog
      title="添加设备"
      :visible.sync="dialogVisible2"
      width="500px"
      center
      @close="formCancel"
      :close-on-click-modal='false'
      >
       <el-form :model="formData" :rules='rules' ref="formRule">
        <el-form-item label="设备名称" prop="equipmentId">
          <el-select
          class="search_head_input"
          style="width:100%"
          v-model="formData.equipmentId"
          placeholder="请选择设备"
          size="medium"
        >
          <el-option
            v-for="item in deviceList"
            :key="item.id"
            :value="item.id"
            :label="item.equipmentName"
            @click.native="formData.equipmentNo = item.equipmentNo;formData.equipmentName = item.equipmentName"
          ></el-option>
        </el-select>
        </el-form-item>
        <el-form-item label="设备编号">
          <el-input
          class="search_head_input"
          style="width:100%"
          v-model="formData.equipmentNo"
          placeholder="请选择设备"
          size="medium"
          disabled
        ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="configure">取 消</el-button>
        <el-button type="primary" @click="newEquipment">确 定</el-button>
      </span>
    </el-dialog>


    <el-dialog
        :title="drawerConf.title"
        :visible.sync="drawerConf.visible"
        :close-on-click-modal="false"
        width="500px">
      <el-form
          @keyup.native.enter="settingSubmit"
          @submit.native.prevent
          ref="linkSetting"
          :model="linkSetting"
          :rules="rules"
          >
        <el-form-item
            label="连接能源"
            size="small"
            prop="idList"
            :rules="rules.idList"
            >
          <el-select v-model="linkSetting.idList" v-if="drawerConf.info" multiple >
            <el-option v-for="item in connectionTypeList" :key="item.id" :value="item.id" :label="item.energyName"
            >
              <div>
                <span style="display: inline-block;width: 14px;height: 4px;" :style="{background:item.colors}"></span>
                {{item.energyName}}
              </div>
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span
          slot="footer"
          class="dialog-footer">
        <el-button
            @click="drawerConf.cancel">
          取 消
        </el-button>
        <el-button
            type="primary"
            @click="settingSubmit">
          确 定
        </el-button>
      </span>
    </el-dialog>


    <el-dialog
        title="设备"
        :visible.sync="drawerConf2.visible"
        :close-on-click-modal="false"
        width="500px">
      <el-form
          @keyup.native.enter="settingSubmit2"
          @submit.native.prevent
          ref="linkSetting"
          :model="equipmentFormData"
          label-width="150"
          >
        <el-form-item
            label="设备名称"
            size="small"
            >
              <el-select
                    ref="selectRef"
                    class="search_head_input"
                    style="width:100%"
                    v-model="equipmentFormData.equipmentId"
                    placeholder="请选择设备"
                    size="medium"
                    :popper-append-to-body='false'
                  >
                    <el-option
                      v-for="item in deviceList"
                      :key="item.id"
                      :value="item.id"
                      :label="item.equipmentName"
                      @click.native="equipmentFormData.equipmentNo = item.equipmentNo;equipmentFormData.equipmentName = item.equipmentName"
                    ></el-option>
                  </el-select>
            </el-form-item>
            <el-form-item label="设备编号" size="small">
 <el-input
                    xlp="xlp"
                    class="search_head_input"
                    type="text"
                    size="medium"
                    v-model="equipmentFormData.equipmentNo"
                    clearable
                    placeholder="请输入"
                    style="width:100%"
                    disabled
                  />

            </el-form-item>
      </el-form>
      <span
          slot="footer"
          class="dialog-footer">
        <el-button
            @click="drawerConf2.cancel">
          取 消
        </el-button>
        <el-button
            type="primary"
            @click="settingSubmit2">
          确 定
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import API from "@/api/dashboard.js";

const drawerType = {
  node: 0,
  link: 1,
};
let workshopId = ''
export default {
  data() {
    return {
      equipmentMyItem:[],

      name:'',
      row:{},
      visible: false,
      dialogVisible:false,
      dialogVisible2:false,
      formData:{
        equipmentId:'', //设备
        workshopId :'',  // 车间
        equipmentNo:''
      },
      rules:{
        idList:[
          { required: true, message: '请选择设备', trigger: 'change' }
        ],
      },
      workshopName:'',
      tableData:[],
      index: 2,
      list: [],
      node: {},
      visible: false,
      workshopId: "",
      drawerType,
      drawerConf: {
        title: "",
        visible: false,
        type: null,
        info: null,
        open: (info) => {
          const conf = this.drawerConf;
          conf.visible = true;
          conf.info = info;
          conf.title = "连线";
          if(info.meta&&info.meta.energyList.length!==0){
            this.linkSetting.idList = info.meta.energyList.map(item => item.id)
          }else{
            this.linkSetting.idList = [this.connectionTypeList[0].id]
          }
        },
        cancel: () => {
          this.drawerConf.visible = false;
          this.$refs.linkSetting.clearValidate();
        },
      },
      drawerConf2:{
        visible: false,
        info: null,
         open: (info) => {
          const conf = this.drawerConf2;
          conf.visible = true;
          conf.info = info;
          this.deviceList.unshift({
            equipmentName:info.meta.name,
            equipmentNo:info.meta.equipmentNo,
            id:info.meta.equipmentId
          })
          this.equipmentFormData.equipmentMeta = info.meta.equipmentId
          this.equipmentFormData.equipmentId = info.meta.equipmentId
          this.equipmentFormData.equipmentNo = info.meta.equipmentNo
          this.equipmentFormData.equipmentName = info.meta.name
        },
        cancel: () => {
          this.drawerConf2.visible = false;
          this.getDeviceList()
          this.$refs.linkSetting.clearValidate();
        },
      },
      nodeSetting: {
        name: "",
        desc: "",
      },

      origin: [681, 465],
      nodeList: [],
      linkList: [],

      graphMenuList: [
 
        [
          // {
          //   label: "打印数据",
          //   selected: (graph, coordinate) => {
          //     console.log(JSON.stringify(graph.toJSON(), null, 2));
          //   },
          // },
          // {
          //   label: "全选",
          //   selected: (graph, coordinate) => {
          //     graph.selectAll();
          //   },
          // },
        ],
      ],
      nodeMenuList: [],
      linkMenuList: [
        [
          {
            label: "删除",
            disable: false,
            selected: (link, coordinate) => {
              link.remove();
            },
          },
        ],
        [
          {
            label: "编辑",
            disable: false,
            selected: (link, coordinate) => {
              this.drawerConf.open(link)
            },
          },
        ],
      ],


      linkBaseStyle: {
        color: '#000',           // line 颜色
        hover: '#FF0000',           // line hover 的颜色
        textColor: '#000',       // line 描述文字颜色
        textHover: '#000',       // line 描述文字 hover 颜色
        font: '20px Arial',         // line 描述文字 字体设置 参考 canvas font
        dotted: false,              // 是否是虚线
        lineDash: [4, 4],           // 虚线时生效
        background: 'rgba(255,255,255,0)'    // 描述文字背景色
      },

      enePlanningAWorkshopList: [],
      deviceList: [],
      connectionTypeList:[],

      equipmentMeta:{},
      equipmentFormData:{
        equipmentId:'',
        equipmentNo:'',
        equipmentName:'',
        equipmentMeta:''
      },

      pageId:'',
      isShow:false,

      linkSetting: {
        idList: [],
        rowList: []
      },
    };
  },
  created() {
    this.pageId = this.$route.query.id
    const _this = this
    this.nodeMenuList = [
      [
          {
            label: "编辑",
            disable: false,
            selected(node, coordinate) {
              _this.drawerConf2.open(node)
              
              // API.deleteDevice({equipmentId:node.meta.equipmentId}).then(res => {
              //   node.remove(); 
              //   API.getDeviceList().then(res => {
              //     _this.deviceList = res.data
              //   })
              //   let fd = new FormData();
              //   fd.append("linkedString", JSON.stringify(node.graph.toJSON()));
              //   fd.append("workshopId", workshopId);
              //   API.flowchartSave(fd).then((res) => {
 
              //   });
              // })
              
            },
          },
      ],
      [
          {
            label: "删除",
            disable: false,
            selected(node, coordinate) {
              API.deleteDevice({equipmentId:node.meta.equipmentId}).then(res => {
                node.remove(); 
                API.getDeviceList().then(res => {
                  _this.deviceList = res.data
                })
                let fd = new FormData();
                fd.append("linkedString", JSON.stringify(node.graph.toJSON()));
                fd.append("workshopId", workshopId);
                API.flowchartSave(fd).then((res) => {
 
                });
              })
              
            },
          },
      ],
    ]
  },  
  mounted() {

    this.$nextTick(() => {
      this.getEnePlanningAWorkshopList();
    });
    this.getDeviceList()
    this.getConnectionType()
    this.getWorkshopList()
  },
  methods: {
    linkStyle (link) {
      console.log(link);
      // return {
      //   color:link.meta?link.meta.color:this.connectionTypeList[0].colors?this.connectionTypeList[0].colors:'#000',
      //   hover:link.meta?link.meta.color:this.connectionTypeList[0].colors?this.connectionTypeList[0].colors:'#000',
      // }
      // return {
      //   color:link.meta?link.meta.color:link.start.meta.bcColorList[0]?this.connectionTypeList[0].colors:'#000',
      //   hover:link.meta?link.meta.color:link.start.meta.bcColorList[0]?this.connectionTypeList[0].colors:'#000',
      // }
      let color;
      if(link.meta&&link.meta.energyList.length==1){
        color = link.meta.energyList[0].colors
      }else if(link.meta&&link.meta.energyList.length>1){
        color = '#000'
      }else if(!link.meta){
        color = this.connectionTypeList[0].colors
      }
      return {
        color,
        hover:color
      }
    },
    linkDesc (link) {
       return link.meta && (link.meta.energyList?.length!==0) ?link.meta.energyList.length==1?'':link.meta.energyList.map(item => item.energyName).join('  ') : ''
    },



    getDeviceList(){
      API.getDeviceList().then(res => {
        this.deviceList = res.data

      })
    },
    formCancel() {

      this.dialogVisible = false;
      this.tableData.forEach(item => {
        item.edit = false
      })
    },
    getConnectionType() {
      API.getConnectionType().then(res => {
        this.connectionTypeList = res.data
      })
    },
    getWorkshopList() {
      API.getWorkshopList({
        current:1,
        size:999999
      }).then(res => {
        if(res.code ==200){
          res.data.records.forEach(item => {
            item.edit = false
          })
          this.tableData = res.data.records
        }
      })
    },
    open() {
      this.$notify({
        title: "",
        position: "bottom-right",
        duration: 0,
        dangerouslyUseHTMLString: true,
        customClass: "customClass1",
        message: `
            <div style='display: flex;'>
              <div style='width: 35px;text-align:center'>
              <i style="color:#E85B49;font-size:20px" class="iconfont icon-alarm-warning"></i>
            </div>
            <div style='flex: 1;'>
              <div  style='display: flex;'>
                <span style="font-size: 18px">甲醇车间</span>
                <span style="font-size:12px;padding:0 12px;display:inline-block;text-align:center;color: #E85B49;line-height: 18px;
                      height: 20px;
                      background: #FBE6E3;
                      border-radius: 12px;
                      border: 1px solid #E85B49;
                      margin:0 5px 0 10px
                      "  
                >高
                </span>
                <span style="padding:0 12px;font-size:12px;display:inline-block;text-align:center;color: #E85B49;line-height: 18px;
                      height: 20px;
                      background: #FBE6E3;
                      border-radius: 12px;
                      border: 1px solid #E85B49;
                      margin:0 5px 0 10px">93</span>
              </div>
              <div style="font-weight: 400; color: #666666;">
                <div>预警指标</div>
                <div>预警设备</div>
                <div>开始预警时间</div>
              </div>
            </div>
            </div>
          `,
      });
    },
    handleClick(e) {
      e.stopPropagation();
      if (!e.target.getAttribute("xlp")) {
        if (Object.keys(this.node).length !== 0) {
          this.node.meta.visible = false;
        }
      }
      if (
        e.target.className == "super-flow__menu-item-content" ||
        e.target.className == "super-flow__menu-item-icon"
      ) {
        this.node.meta.visible = true;
      }
    },
    handleTitleClick(index) {
      this.index = index;
      if(index==2){
        this.equipmentMyItem = [
          {
            equipmentName:this.equipmentMeta.name,
            equipmentNo:this.equipmentMeta.equipmentNo,
            id:this.equipmentMeta.equipmentId
          }
        ]
       this.deviceList.unshift(...this.equipmentMyItem)
      }else{
        this.deviceList.shift();
      }
    },
    getFlowChart() {
      API.getFlowChart({ workshopId: this.pageId }).then((res) => {
        if (res.code == 200) {
          if (res.data) {
            res.data.nodeList.forEach((item) => {
              item.meta.visible = false;
            });
            this.linkList = res.data.linkList;
            this.nodeList = res.data.nodeList;
            this.origin = res.data.origin;
            // console.log('this.nodeList',this.nodeList);
          } else {
            this.linkList = [];
            this.nodeList = [];
            this.origin = [];
          }
        }
      });
    },
    getEnePlanningAWorkshopList() {
      API.getEnePlanningAWorkshopList().then((res) => {
        if (res.code == 200) {
          this.enePlanningAWorkshopList = res.data;
          this.workshopId = this.pageId;
          workshopId = this.workshopId
          this.getFlowChart();
        }
      });
    },
    enterIntercept(formNode, toNode, graph) {
      const formType = formNode.meta.prop;
      switch (toNode.meta.prop) {
        case "start":
          return false;
        case "approval":
          return ["start", "approval", "condition", "cc"].includes(formType);
        case "condition":
          return ["start", "approval", "condition", "cc"].includes(formType);
        case "end":
          return ["approval", "cc"].includes(formType);
        case "disableConnection":
          return [].includes(formType);
        default:
          return true;
      }
    },
    outputIntercept(node, graph) {
      return !(node.meta.prop === "disableConnection");
    },
    keep() {
      let { graph } = this.$refs.superFlow;
      console.log(graph);
      if(graph.origin.length==0){
        graph.origin = [100,100]
      }
      let fd = new FormData();
      fd.append("linkedString", JSON.stringify(graph.toJSON()));
      fd.append("workshopId", this.workshopId);
      API.flowchartSave(fd).then((res) => {
        if (res.code == 200) {
          this.$message({ type: "success", message: "保存成功" });
        }
      });
    },
    handleChange(id) {
      workshopId = id
      this.getDeviceList()
      API.getFlowChart({ workshopId: this.workshopId }).then((res) => {
        if (res.code == 200) {
          if (res.data) {
            res.data.nodeList.forEach((item) => {
              item.meta.visible = false;
            });
            this.linkList = res.data.linkList;
            this.nodeList = res.data.nodeList;
            this.origin = res.data.origin;
            console.log(this.nodeList);
          } else {
            this.linkList = [];
            this.nodeList = [];
            this.origin = [];
          }
        }
      });

    },
    newEquipmentDialog(){
      this.formData = {
        equipmentId:'',
        workshopId :this.workshopId,
        equipmentNo:'',
        equipmentName:''
      }
      this.dialogVisible2 = true
    },
    newEquipment() {
      this.$refs.formRule.validate((valid) => {
        if(valid){
          API.addADevice(this.formData).then(res => {
            if(res.code == 200){
              let { graph } = this.$refs.superFlow;
              graph.addNode({
                width: 160,
                height: 180,
                coordinate: [-this.origin[0], -this.origin[1]],
                meta: {
                  prop: "condition",
                  name: this.formData.equipmentName,
                  equipmentId: this.formData.equipmentId,
                  bcId:'',
                  equipmentNo:this.formData.equipmentNo,
                  warningValuesOne:0,
                  warningValuesOneFlag:'',
                  warningValuesPriority:0,
                  desc:'1',
                  bcColorList: [],
                },
              });
              this.keep()
              this.getDeviceList()
              this.configure();
            }
          })
        }
      }) 
    },
    editorialShop() {
      this.dialogVisible = true
    },
    newWorkshop() {
      // this.isShow = true
      if(this.workshopName!=''){
        this.$startLoading('app-main')
        API.addWorkshopList({workshopName:this.workshopName}).then(res=> {
          this.workshopName = ''
          this.$message({type:"success",message:'添加成功'})
          this.getWorkshopList()
          
          this.$closeLoading()
        })
      }else{
        this.$message({type:'warning',message:'请输入车间名称'})
      }
      // let index = this.tableData.findIndex(item => {
      //   return item.workshopName == ''&&!item.workshopId
      // })
      // if(index!==-1){
      //   return
      // }
      // this.tableData.push({
      //   edit:true,
      //   workshopName:''
      // })
      // this.scrollChange()
    },
    scrollChange() {
      this.$nextTick(() => {
         let tab = this.$refs.table.$el.getElementsByClassName('el-table__body-wrapper')[0]
         tab.scrollTop = tab.scrollHeight
      });
    },
    inLineEditing(row) {
      row.edit = true
    },
    inputBlur(row) {
      if(row.workshopName !==''){
        if(row.workshopId){
          API.editWorkshopList({
            workshopId:row.workshopId,
            workshopName:row.workshopName 
          }).then(res => {
            if(res.code == 200) {
              this.$message({type:'success',message:"修改成功"})
              row.edit = false
            }
          })
        }else{
          API.addWorkshopList({workshopName:row.workshopName}).then(res=> {
            this.$message({type:"success",message:'添加成功'})
            this.getWorkshopList()
          })
        }
      }else{
        this.$message({type:'warning',message:'请输入车间名称'})
      }
    },
    del(row) {
      if(row.workshopId){
        API.delWorkshopList(row.workshopId).then(res => {
          if(res.code == 200) {
            this.$message({type:"success",message:'删除成功'})
            this.getWorkshopList()
          }
        })
      }else{
        this.tableData.splice(this.tableData.length-1,1)
      }
    },

    configure() {
      this.$refs.formRule.resetFields();
      this.dialogVisible2 = false
      
    },


    showItem(meta) {
      this.index = 2
      this.equipmentMeta = meta
      this.equipmentFormData = {
        equipmentId:meta.equipmentId,
        equipmentNo:meta.equipmentNo
      }
      if(this.index == 2){
        this.equipmentMyItem = [
          {
            equipmentName:meta.name,
            equipmentNo:meta.equipmentNo,
            id:meta.equipmentId
          }
        ]
       this.deviceList.unshift({
            equipmentName:meta.name,
            equipmentNo:meta.equipmentNo,
            id:meta.equipmentId
          })
      }
    },
    hideItem() {
      this.index = 1
      if(this.$refs.selectRef){
        this.$refs.selectRef.blur()
      }
    },
    handleenergyItem(item) {
      this.equipmentMeta.bcId = item.id
      this.equipmentMeta.prop = 'condition'
      let index = this.equipmentMeta.bcColorList.findIndex(indey => {
        return item.id == indey.id
      })
      if(index >-1) {
        if(this.equipmentMeta.bcColorList.length!==0){
          
          let node = this.nodeList.find(item => {
            return item.meta.equipmentId == this.equipmentMeta.equipmentId
          })
          // 默认给每个线条meta都赋值，后面清除线条要用到
          this.linkList.forEach(itemz => {
            if(itemz.startId == node.id) {
              console.log(itemz,'itemz');
              if(!itemz.meta){
                itemz.meta = {
                  desc: node.meta.bcColorList[0].energyName,
                  id: node.meta.bcColorList[0].id,
                  color: node.meta.bcColorList[0].colors
                }
              }
            }
          })
          for (let index = 0; index < this.linkList.length; index++) {
            const element = this.linkList[index];
            if(element.meta){
              if(element.meta.id == item.id){
                this.linkList.splice(index,1)
                index--
              }
              if(element.meta.energyList&&element.meta.energyList.length!==0){
                let index = element.meta.energyList.findIndex(itemy=> itemy.id==item.id)
                element.meta.energyList.splice(index,1)
              }
            }
          }
          this.equipmentMeta.bcColorList.splice(index,1)
        }
      }else{
        this.equipmentMeta.bcColorList.push(item)
      }
      
      // let { graph } = this.$refs.superFlow;
      // if(graph.origin.length==0){
      //   graph.origin = [100,100]
      // }
      // let fd = new FormData();
      // fd.append("linkedString", JSON.stringify(graph.toJSON()));
      // fd.append("workshopId", this.workshopId);
      // API.flowchartSave(fd).then((res) => {
      //   if (res.code == 200) {
      //     this.$message({ type: "success", message: "保存成功" });
      //     this.getFlowChart()
      //   }
      // });
    },
    afterLeave() {
      this.deviceList = []
      this.getDeviceList()
      this.equipmentMyItem = []
    },
    afterEnter(){
      this.index = 2
      if(this.$refs.selectRef){
        this.$refs.selectRef.blur()
      }
    },
    handleEquipmentWwitch(meta) {
      if(meta.equipmentId == this.equipmentFormData.equipmentId){
        return
      }
      let obj = {
        equipmentId: this.equipmentFormData.equipmentId,
        oldEquipmentId: this.equipmentMeta.equipmentId,
        workshopId: this.workshopId,
        equipmentNo:this.equipmentFormData.equipmentNo,
        name:this.equipmentFormData.equipmentName,
      }
      API.changeDevice(obj).then(res => {
        if(res.code == 200) {
          this.getDeviceList()
          meta.equipmentId = this.equipmentFormData.equipmentId
          meta.equipmentNo = this.equipmentFormData.equipmentNo
          meta.name = this.equipmentFormData.equipmentName
          this.keep()
        }
      })
    },


    settingSubmit () {
      this.$refs.linkSetting.validate((valid)=>{
        if(valid) {
          const conf = this.drawerConf

          if (!conf.info.meta) conf.info.meta = {}
          // Object.keys(this.linkSetting).forEach(key => {
          //   this.$set(conf.info.meta, key, this.linkSetting[key])
          // })
          let arr = []
          this.linkSetting.idList.forEach(item => {
            this.connectionTypeList.forEach(itemx => {
              if(item == itemx.id){
                arr.push(itemx)
              }
            })
          })
          this.$set(conf.info.meta, 'energyList', arr)
          this.linkSetting = {
            idList:[]
          }
          if (this.$refs.linkSetting) this.$refs.linkSetting.resetFields(); 
          conf.visible = false
        }
      })
    },


    settingSubmit2() {
       const conf = this.drawerConf2
       let obj = {
        equipmentId: this.equipmentFormData.equipmentId,
        oldEquipmentId: this.equipmentFormData.equipmentMeta,
        workshopId: this.workshopId,
        equipmentNo:this.equipmentFormData.equipmentNo,
        name:this.equipmentFormData.equipmentName,
      }
       API.changeDevice(obj).then(res => {
        if(res.code == 200) {
          this.getDeviceList()
          conf.info.meta.equipmentId = this.equipmentFormData.equipmentId
          conf.info.meta.equipmentNo = this.equipmentFormData.equipmentNo
          conf.info.meta.name = this.equipmentFormData.equipmentName
          this.keep()
          if (this.$refs.linkSetting) this.$refs.linkSetting.resetFields(); 
          conf.visible = false
        }
      })  
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .el-popover {
    /* top: 180px; */
    padding: 0;
  }
}
#popover {
  .active {
    background-color: #f9f9f9;
  }
  .titleBtn {
    display: flex;
    align-items: center;
    height: 47px;
    border-bottom: 1px solid #eee;
    & > div {
      height: 47px;
      line-height: 47px;
      flex: 1;
      text-align: center;
      cursor: pointer;
    }
  }
  .item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    & > span:nth-child(1) {
      display: inline-block;
      width: 14px;
      height: 4px;
      background: #52c188;
      margin-right: 15px;
    }
    &:hover {
      background-color:rgba(0,121,255,.06)
    }
  }
  .formDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
  }
}
.basicConfiguration {
  background-color: #fff;
  height: calc(100vh - 95px);
  .head {
    height: 72px;
    padding: 0 20px 0 30px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div:nth-child(1) {
      font-weight: 600;
      color: #333333;
      font-size: 24px;
    }
  }
}
.aaa {
  width: 100%;
  background-color: #fff;
  background-size: 20px 20px, 20px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 0);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prohibit {
  -webkit-user-select: none;
  cursor: default;
  pointer-events: none;
}
.super-flow-base-demo {
  width: 100%;
  height: calc(100vh - 165px);
  margin: 0 auto;
  position: relative;
   overflow: scroll;
  .super-flow {
    width  : 4000px;
    height : 4000px;
  }
  .add {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 91px;
    height: 91px;
    background: linear-gradient(180deg, #00b1ff 0%, #0079ff 100%);
    box-shadow: 0px 4px 20px 0px rgba(0, 121, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    z-index: 9;
  }
  ::v-deep {
    .super-flow__node {
      background-color: transparent;
      border: 1px solid #D9D9D9;
      box-shadow: none;
      &:hover{
        border: 1px solid #0079FF;
      }

      .flow-node {
        > header {
          font-size: 14px;
          height: 32px;
          line-height: 32px;
          padding: 0 12px;
          color: #ffffff;
        }

        > section {
          text-align: center;
          line-height: 20px;
          overflow: hidden;
          padding: 6px 12px;
          word-break: break-all;
        }

        &.flow-node-start {
          > header {
            background-color: #55abfc;
          }
        }

        &.flow-node-condition {
          > header {
            background-color: #bc1d16;
          }
        }

        &.flow-node-approval {
          > header {
            background-color: rgba(188, 181, 58, 0.76);
          }
        }

        &.flow-node-cc {
          > header {
            background-color: #30b95c;
          }
        }

        &.flow-node-end {
          > header {
            height: 50px;
            line-height: 50px;
            background-color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
::v-deep {
  
  .notify {
    & > div:nth-child(1) {
    }
    & > div:nth-child(2) {
    }
  }
}
.linkWrap{
  ::v-deep{
    .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
  }
}
.addPlan {
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:10px;
  i.el-icon-plus {
    display: inline-block;

    color: #3a8ee6;
    font-size: 16px;
    font-weight: 600;
  }
  span {
    display: inline-block;
    color: #3a8ee6;
    font-size: 20px;
    // padding-left: 10px;
  }
}
.energyActive{
  background-color: rgba(0,121,255,.06);
}
</style>
