<template>
  <div class="basicConfiguration">
    <div class="head">
      <div>
        能源流向图
      </div>
      <div>
        区域
        <el-select
          class="search_head_input"
          v-model="workshopId"
          placeholder="请选择车间"
          size="medium"
          @change="handleChange"
          style="margin:0 20px 0 10px"
        >
          <el-option
            v-for="item in enePlanningAWorkshopList"
            :key="item.workshopId"
            :value="item.workshopId"
            :label="item.workshopName"
          ></el-option>
        </el-select>
        指标
        <el-select
          class="search_head_input"
          v-model="bcId"
          placeholder="请选择指标"
          size="medium"
          @change="handleChange"
          style="margin:0 20px 0 10px"
          clearable 
        >
          <el-option value="" label="全部"></el-option>
          <el-option
            v-for="item in targetList"
            :key="item.basicConfigId"
            :value="item.basicConfigId"
            :label="item.basicConfigName"
          ></el-option>
        </el-select>
        时间
        <el-date-picker
              class="search_head_input"
              v-model="time"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              size="medium"
              value-format="yyyy-MM-dd"
              style="margin-left:10px"
              @change="handleChange"
            >
            </el-date-picker>
      </div>
    </div>
    <div class="super-flow-base-demo">
      <super-flow
        ref="superFlow"
        :node-list="nodeList"
        :link-list="linkList"
        :origin="origin"
        :graph-menu="graphMenuList"
        :node-menu="nodeMenuList"
        :link-menu="linkMenuList"
        :enter-intercept="enterIntercept"
        :output-intercept="outputIntercept"
        :link-desc="linkDesc"
        :link-style="linkStyle"
        :linkEditable="false"
        :draggable="true"
        :linkAddable='false'
        :link-base-style="linkBaseStyle"
        :open='true'
      >
        <template v-slot:node="{ meta }" id="meta">
          <div :style="{height: meta.consumeValuesOne?addConsumeValuesOneName(meta.consumeValuesOne) +'px':'180px'}" id="meta">
              <div class="flex" id="meta">
                <header style="text-align:center;word-break:break-all">{{ meta.name }}</header>
                <img
                  class="prohibit"
                  src="../../assets/images/img_设备-1正常.png"
                  alt=""
                />
                <!-- <div v-html="meta.consumeValuesOne"></div> -->
                <div v-for="(item,index) in meta.consumeValuesOne" :key="index" style="padding:2px 0;text-align:left;width:100%">
                  {{item.bcName}}：<span :style="{'color':item.thisColors}">{{item.consumeValue}}</span>
                </div>
              </div>
            </div>
        </template>
      </super-flow>
    </div>
  </div>
</template>

<script>
import API from "@/api/dashboard.js";
let dayjs = require('dayjs')

const drawerType = {
  node: 0,
  link: 1,
};

export default {
  data() {
    return {
      visible: false,
      dialogVisible:false,
      targetList: [],
      formData:{
        equipmentId:'', //设备
        workshopId :'',  // 车间
        equipmentNo:''
      },
      rules:{
        equipmentId:[
          { required: true, message: '请选择设备', trigger: 'change' }
        ],
      },
      index: 1,
      list: [],
      node: {},
      visible: false,
      workshopId: "",
      drawerType,
      drawerConf: {
        title: "",
        visible: false,
        type: null,
        info: null,
        open: (type, info) => {
          const conf = this.drawerConf;
          conf.visible = true;
          conf.type = type;
          conf.info = info;
          if (conf.type === drawerType.node) {
            conf.title = "节点";
            if (this.$refs.nodeSetting) this.$refs.nodeSetting.resetFields();
            this.$set(this.nodeSetting, "name", info.meta.name);
            this.$set(this.nodeSetting, "desc", info.meta.desc);
          } else {
            conf.title = "连线";
            if (this.$refs.linkSetting) this.$refs.linkSetting.resetFields();
            this.$set(
              this.linkSetting,
              "desc",
              info.meta ? info.meta.desc : ""
            );
          }
        },
        cancel: () => {
          this.drawerConf.visible = false;
          if (this.drawerConf.type === drawerType.node) {
            this.$refs.nodeSetting.clearValidate();
          } else {
            this.$refs.linkSetting.clearValidate();
          }
        },
      },
      linkSetting: {
        desc: "",
      },
      nodeSetting: {
        name: "",
        desc: "",
      },

      origin: [681, 465],
      nodeList: [],
      linkList: [],
      linkBaseStyle: {
        color: '#000',           // line 颜色
        hover: '#FF0000',           // line hover 的颜色
        textColor: '#000',       // line 描述文字颜色
        textHover: '#000',       // line 描述文字 hover 颜色
        font: '20px Arial',         // line 描述文字 字体设置 参考 canvas font
        dotted: false,              // 是否是虚线
        lineDash: [4, 4],           // 虚线时生效
        background: 'rgba(255,255,255,0)'    // 描述文字背景色
      },
      graphMenuList: [
        // [
        //   {
        //     label: "开始节点",
        //     disable(graph) {
        //       return !!graph.nodeList.find(
        //         (node) => node.meta.prop === "start"
        //       );
        //     },
        //     selected: (graph, coordinate) => {
        //       const start = graph.nodeList.find(
        //         (node) => node.meta.prop === "start"
        //       );
        //       if (!start) {
        //         graph.addNode({
        //           width: 100,
        //           height: 80,
        //           coordinate: coordinate,
        //           meta: {
        //             prop:"start" ,
        //             name: "开始节点",
        //           },
        //         });
        //       }
        //     },
        //   },
        //   {
        //     label: "条件节点",
        //     disable:false,
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 160,
        //         height: 120,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: 'xlp',
        //           name: "条件节点",
        //         },
        //       });
        //     },
        //   },
        //   {
        //     label: "审批节点",
        //     disable: false,
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 160,
        //         height: 80,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: "approval",
        //           name: "审批节点",
        //         },
        //       });
        //     },
        //   },
        //   {
        //     label: "抄送节点",
        //     disable: false,
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 160,
        //         height: 80,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: "cc",
        //           name: "抄送节点",
        //         },
        //       });
        //     },
        //   },
        //   {
        //     label: "结束节点",
        //     disable(graph) {
        //       return !!graph.nodeList.find(
        //         (point) => point.meta.prop === "end"
        //       );
        //     },
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 80,
        //         height: 50,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: "end",
        //           name: "结束节点",
        //         },
        //       });
        //     },
        //   },
        // ],
        [
          // {
          //   label: "打印数据",
          //   selected: (graph, coordinate) => {
          //     console.log(JSON.stringify(graph.toJSON(), null, 2));
          //   },
          // },
          // {
          //   label: "全选",
          //   selected: (graph, coordinate) => {
          //     graph.selectAll();
          //   },
          // },
        ],
      ],
      nodeMenuList: [
        [
          {
            label: "删除",
            disable: false,
            // hidden(node) {
            //   return node.meta.prop === "start";
            // },
            selected(node, coordinate) {
              node.remove();
            },
          },
        ],
        [
          {
            label: "编辑",
            selected: (node, coordinate) => {
              if (Object.keys(this.node).length != 0) {
                this.node.meta.visible = false;
              }
              this.node = node;
              node.meta.visible = true;
              this.index = 1;
            },
          },
        ],
      ],
      linkMenuList: [
        [
          {
            label: "删除",
            disable: false,
            selected: (link, coordinate) => {
              link.remove();
            },
          },
        ],
        [
          {
            label: "编辑",
            disable: false,
            selected: (link, coordinate) => {
              console.log(link);
              console.log(link, coordinate);
            },
          },
        ],
      ],

      enePlanningAWorkshopList: [],
      deviceList: [],
      connectionTypeList:[],
      time:[],
      bcId:''
    };
  },
  created() {
    this.time = [
      dayjs().subtract(1,'week').format('YYYY-MM-DD'),
      dayjs().format('YYYY-MM-DD'),
    ]
  },
  mounted() {
    this.$nextTick(() => {
      this.getEnePlanningAWorkshopList();
    });
    this.getDeviceList()
    this.getConnectionType()
    this.getTargetList()
  },
  methods: {
    linkStyle (link) {
      let color;
      if(link.meta&&link.meta.energyList.length==1){
        color = link.meta.energyList[0].colors
      }else if(link.meta&&link.meta.energyList.length>1){
        color = '#000'
      }else if(!link.meta){
        color = this.connectionTypeList[0].colors
      }
      return {
        color,
        hover:color
      }
    },
    linkDesc (link) {
      console.log(link.meta);
       return link.meta && (link.meta.energyList?.length!==0) ?link.meta.energyList.length==1?'':link.meta.energyList.map(item => item.energyName).join('  ') : ''
    },

    addConsumeValuesOneName(list) {
      const str = list.reduce((prev,cur)=>{
        return prev + cur.bcName+cur.consumeValue
      },'')
      console.log(str.length * 3.2);
      return str.length * 3.2
    },

    getTargetList() {
      API.getTargetList(1).then((res) => {
        if (res.code == 200) {
          this.targetList = res.data;
        }
      });
    },
    getDeviceList(){
      API.getDeviceList().then(res => {
        this.deviceList = res.data
      })
    },
    formCancel() {
      this.$refs.formRule.resetFields();
      this.dialogVisible = false;
    },
    getConnectionType() {
      API.getConnectionType().then(res => {
        this.connectionTypeList = res.data
      })
    },
    open() {
      this.$notify({
        title: "",
        position: "bottom-right",
        duration: 0,
        dangerouslyUseHTMLString: true,
        customClass: "customClass1",
        message: `
            <div style='display: flex;'>
              <div style='width: 35px;text-align:center'>
              <i style="color:#E85B49;font-size:20px" class="iconfont icon-alarm-warning"></i>
            </div>
            <div style='flex: 1;'>
              <div  style='display: flex;'>
                <span style="font-size: 18px">甲醇车间</span>
                <span style="font-size:12px;padding:0 12px;display:inline-block;text-align:center;color: #E85B49;line-height: 18px;
                      height: 20px;
                      background: #FBE6E3;
                      border-radius: 12px;
                      border: 1px solid #E85B49;
                      margin:0 5px 0 10px
                      "  
                >高
                </span>
                <span style="padding:0 12px;font-size:12px;display:inline-block;text-align:center;color: #E85B49;line-height: 18px;
                      height: 20px;
                      background: #FBE6E3;
                      border-radius: 12px;
                      border: 1px solid #E85B49;
                      margin:0 5px 0 10px">93</span>
              </div>
              <div style="font-weight: 400; color: #666666;">
                <div>预警指标</div>
                <div>预警设备</div>
                <div>开始预警时间</div>
              </div>
            </div>
            </div>
          `,
      });
    },

    handleTitleClick(index) {
      this.index = index;
    },
    getFlowChart() {
      const query = {
        workshopId: this.workshopId,
        bcId: this.bcId,
        queryStartTime: this.time[0]?this.time[0]:'',
        queryEndTime: this.time[1]?this.time[1]:'',
      }
      this.$startLoading('app-main')
      API.getFlowChart(query).then((res) => {
        this.$closeLoading()
        if (res.code == 200) {
          if (res.data) {
            res.data.nodeList.forEach((item) => {
              item.meta.visible = false;
            });
            this.linkList = res.data.linkList;
            this.nodeList = res.data.nodeList;
            this.origin = res.data.origin;
            console.log(this.nodeList);
          } else {
            this.linkList = [];
            this.nodeList = [];
            this.origin = [];
          }
        }
      });
    },
    getEnePlanningAWorkshopList() {
      API.getEnePlanningAWorkshopList().then((res) => {
        if (res.code == 200) {
          this.enePlanningAWorkshopList = res.data;
          this.workshopId = res.data[0].workshopId;
          // this.getTargetList();
          this.getFlowChart();
          
        }
      });
    },
    enterIntercept(formNode, toNode, graph) {
      const formType = formNode.meta.prop;
      switch (toNode.meta.prop) {
        case "start":
          return false;
        case "approval":
          return ["start", "approval", "condition", "cc"].includes(formType);
        case "condition":
          return ["start", "approval", "condition", "cc"].includes(formType);
        case "end":
          return ["approval", "cc"].includes(formType);
        case "xlp":
          return [].includes(formType);
        default:
          return true;
      }
    },
    outputIntercept(node, graph) {
      return !(node.meta.prop === "xlp");
    },
    keep() {
      let { graph } = this.$refs.superFlow;
      console.log(JSON.stringify(graph.toJSON()));
      let fd = new FormData();
      fd.append("linkedString", JSON.stringify(graph.toJSON()));
      fd.append("workshopId", this.workshopId);
      API.flowchartSave(fd).then((res) => {
        if (res.code == 200) {
          this.$message({ type: "success", message: "保存成功" });
        }
      });
    },
    handleChange() {
      this.getFlowChart();
    },
    newEquipmentDialog(){
      this.formData = {
        equipmentId:'',
        workshopId :this.workshopId,
        equipmentNo:'',
        equipmentName:''
      }
      this.dialogVisible = true
    },
    newEquipment() {
      this.$refs.formRule.validate((valid) => {
        if(valid){
          API.addADevice(this.formData).then(res => {
            if(res.code == 200){
              let { graph } = this.$refs.superFlow;
              graph.addNode({
                width: 160,
                height: 180,
                coordinate: [-this.origin[0], -this.origin[1]],
                meta: {
                  prop: "condition",
                  name: this.formData.equipmentName,
                  visible: false,
                },
              });
              this.formCancel();
            }
          })
        }
      }) 
    },

    configure() {
      this.nodeMenuList = [
        [
          {
            label: "删除",
            disable: false,
            // hidden(node) {
            //   return node.meta.prop === "start";
            // },
            selected(node, coordinate) {
              node.remove();
            },
          },
        ],
        [
          {
            label: "编辑",
            selected: (node, coordinate) => {
              node.meta = "condition";
              console.log(node, coordinate);
            },
          },
        ],
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .el-popover {
    top: 180px;
    padding: 0;
  }
}
#popover {
  .active {
    background-color: #f9f9f9;
  }
  .titleBtn {
    display: flex;
    align-items: center;
    height: 47px;
    border-bottom: 1px solid #eee;
    & > div {
      height: 47px;
      line-height: 47px;
      flex: 1;
      text-align: center;
      cursor: pointer;
    }
  }
  .item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    & > span:nth-child(1) {
      display: inline-block;
      width: 14px;
      height: 4px;
      background: #52c188;
      margin-right: 15px;
    }
  }
  .formDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
  }
}
.basicConfiguration {
  background-color: #fff;
  height: calc(100vh - 95px);
  .head {
    height: 72px;
    padding: 0 20px 0 30px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div:nth-child(1) {
      font-weight: 600;
      color: #333333;
      font-size: 24px;
    }
  }
}
.aaa {
  width: 100%;
  background-color: #fff;
  background-size: 20px 20px, 20px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 0);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
}
.prohibit {
  -webkit-user-select: none;
  cursor: default;
  pointer-events: none;
}
.super-flow-base-demo {
  width: 100%;
  height: calc(100vh - 165px);
  margin: 0 auto;
  position: relative;
   overflow: scroll;
  .super-flow {
    width  : 4000px;
    height : 4000px;
  }
  .add {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 91px;
    height: 91px;
    background: linear-gradient(180deg, #00b1ff 0%, #0079ff 100%);
    box-shadow: 0px 4px 20px 0px rgba(0, 121, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    z-index: 9;
  }
  ::v-deep {
    .super-flow__node {
      background-color: transparent;
      /* border: 1px solid #D9D9D9; */
      border: none;
      box-shadow: none;

      .flow-node {
        > header {
          font-size: 14px;
          height: 32px;
          line-height: 32px;
          padding: 0 12px;
          color: #ffffff;
        }

        > section {
          text-align: center;
          line-height: 20px;
          overflow: hidden;
          padding: 6px 12px;
          word-break: break-all;
        }

        &.flow-node-start {
          > header {
            background-color: #55abfc;
          }
        }

        &.flow-node-condition {
          > header {
            background-color: #bc1d16;
          }
        }

        &.flow-node-approval {
          > header {
            background-color: rgba(188, 181, 58, 0.76);
          }
        }

        &.flow-node-cc {
          > header {
            background-color: #30b95c;
          }
        }

        &.flow-node-end {
          > header {
            height: 50px;
            line-height: 50px;
            background-color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
::v-deep {
  .notify {
    & > div:nth-child(1) {
    }
    & > div:nth-child(2) {
    }
  }
}
.linkWrap{
  ::v-deep{
    .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
}
</style>
