queryParmas<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <span class="search_head_item">
            车间
            <el-select
              class="search_head_input"
              v-model="workshopId"
              placeholder="请选择"
              clearable
              size="medium"
              @change="workshopChange"
              @clear='clear'
              style="width:200px"
            >
              <el-option
                v-for="item in aWorkshopList"
                :key="item.workshopId"
                :value="item.workshopId"
                :label="item.workshopName"
              ></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            指标
            <el-select
              class="search_head_input"
              v-model="bcId"
              placeholder="请选择"
              clearable
              size="medium"
              @clear='clear'
              style="width:200px"
            >
              <el-option
                v-for="item in targetList"
                :key="item.basicConfigId"
                :value="item.basicConfigId"
                :label="item.basicConfigName"
              ></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            设备
            <el-select
              class="search_head_input"
              v-model="equipmentId"
              placeholder="请选择"
              clearable
              size="medium"
              @clear='clear'
              style="width:200px"
            >
              <el-option v-for="item in workshopList" :value="item.equipmentId" :label="item.equipmentName" :key="item.equipmentId"></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            时间
            <el-date-picker
              class="search_head_input"
              v-model="time"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              size="medium"
              clearable
              @change="timeChange"
              value-format='yyyy-MM-dd'
            >
            </el-date-picker>
          </span>
          <span class="search_head_searc">
            <el-button
              size="medium"
              type="primary"
              @click="inquire"
              >查询</el-button
            >
            <el-button
              size="medium"
              type="reset"
              @click="reset"
              >重置</el-button
            >
          </span>
        </div>
        <div>
          <el-button
            icon="el-icon-download"
            size="medium"
            type="add"
            @click="exportIndicatorQuery"
          >
            导出
          </el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
          height="calc(100vh - 240px)"
        >
          <el-table-column
            label="序号"
            type="index"
            align="center"
          ></el-table-column>
          <el-table-column
            label="车间"
            prop="workshopName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="设备"
            prop="equipmentName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="指标"
            prop="indexName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="时间"
            prop="occurTime"
            align="center"
          ></el-table-column>
          <el-table-column
            label="指标值"
            prop="xvalue"
            align="center"
          ></el-table-column>
          <el-table-column
            label="计量单位"
            prop="unit"
            align="center"
          ></el-table-column>
        </el-table>
      </div>
    </template>
    <template slot="footer">
      <!-- v-if="total !== 0" -->
      <el-pagination
        background
        :total="total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="pageSize"
        @size-change="handleSizeChange"
        :current-page="pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import API from "@/api/dashboard.js";
let dayjs = require('dayjs')
export default {
  data() {
    return {
      workshopId: "", // 车间
      bcId: "", // 指标
      equipmentId: "",
      pageSize:20,
      pageIndex:1,
      total:0,
      time: [],
      aWorkshopList: [], // 车间
      targetList: [], // 指标
      pageId:'',
      tableData:[],
      workshopList:[]
    };
  },
  created() {
    console.log(this.$route.params);
    this.getAWorkshopList();
    this.getTargetList();
    this.pageId = this.$route.params.id
    this.workshopId = this.$route.params.workshopId
    this.equipmentId = this.$route.params.equipmentId
    this.bcId = this.$route.params.bcId
    if(this.workshopId){
      this.workshopChange(this.workshopId)
    }
    if(this.pageId){
      this.time = [dayjs().format('YYYY-MM-DD'+' 00:00:00'),dayjs().format('YYYY-MM-DD HH:mm:ss')]
    }
    if(this.$route.params.time){
      this.time = this.$route.params.time || []
    }
    this.getList()
  },
  computed: {
    queryParmas() {
      return {
        bcId: this.bcId,
        equipmentId: this.equipmentId,
        workshopId: this.workshopId,
        queryStartTime:this.pageId?dayjs().format('YYYY-MM-DD'+' 00:00:00') :this.time?this.time[0]?this.time[0]:'':'',
        queryEndTime :this.pageId?dayjs().format('YYYY-MM-DD HH:mm:ss') : this.time?this.time[1]?this.time[1]:'':'',
        warningInformationId: this.pageId,

        size: this.pageSize,
        current: this.pageIndex
      };
    },
  },
  methods: {
    getList() {
      this.$startLoading('app-main')
      API.getIndicatorQuery(this.queryParmas).then((res) => {
        this.$closeLoading()
        if(res.code == 200) {
          console.log(res);
          this.tableData = res.data.records
          this.total = Number(res.data.total)
        }
      });
    },
    getAWorkshopList() {
      API.getAWorkshopList().then((res) => {
        if (res.code == 200) {
          this.aWorkshopList = res.data;
        }
      });
    },
    getTargetList() {
      API.getTargetList().then((res) => {
        if (res.code == 200) {
          this.targetList = res.data;
        }
      });
    },

    workshopChange(id) {
      if(id){
        API.getWorkshop(id).then(res => {
          if(res.code ==200){
            this.workshopList = res.data
          }
        })
      }else{
        this.workshopList = []
        this.equipmentId = ''
      }
    },
    inquire() {
      this.pageIndex = 1
      this.getList()
    },
     // 分页 size
    handleSizeChange(value) {
      this.pageSize = value;
      this.getList();
    },
    // 分页 num
    handleCurrentChange(value) {
      this.pageIndex = value;
      this.getList();
    },
    clear(){
      this.inquire()
    },
    timeChange(a) {
      if(!a){
        this.time = []
        API.getIndicatorQuery({...this.queryParmas,queryStartTime:'',queryEndTime:''}).then((res) => {
          this.$closeLoading()
          if(res.code == 200) {
            this.tableData = res.data.records
            this.total = Number(res.data.total)
          }
        });
      }
    },
    reset() {
      this.workshopId = '';
      this.bcId = '';
      this.equipmentId = '';
      this.time = [];
      this.inquire()
    },
    exportIndicatorQuery() {
      if(this.time.length==0) {
        return this.$message({type:'warning', message:'请选择时间'})
      }
      const query = {
        workshopId:this.workshopId,
        bcId:this.bcId,
        equipmentId:this.equipmentId,
        startTime: this.time[0] ? this.time[0] : "",
        endTime: this.time[1] ? this.time[1] : "",
      }
      API.exportIndicatorQuery(query).then(res => {
        const link = document.createElement("a");
        let blob = new Blob([res], { type: res.type });
        link.style.display = "none";
        link.href = URL.createObjectURL(blob);
        link.download = '指标'; //下载的文件名
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      })
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
