<!--
 * User: CHT
 * Date: 2020/5/27
 * Time: 9:52
-->
<template>
  <div class="basicConfiguration">
    <div class="head">
      <div>
        {{ name }}
        <el-button
          type="text"
          icon="el-icon-edit"
          @click="newEquipmentDialog"
          v-permission="[1]"
        ></el-button>
        <!-- <i style="color: #ccc; font-size: 16px" class="el-icon-edit" ></i> -->
      </div>
      <div>
        <el-select
          class="search_head_input"
          v-model="workshopId"
          placeholder="请选择车间"
          size="medium"
          @change="handleChange"
        >
          <el-option
            v-for="item in enePlanningAWorkshopList"
            :key="item.workshopId"
            :value="item.workshopId"
            :label="item.workshopName"
          ></el-option>
        </el-select>
        <el-button
          style="margin-left: 12px"
          size="medium"
          type="primary"
          icon="iconfont icon-settings-line"
          @click="configure"
          v-permission="[1]"
          >配置</el-button
        >
        <!-- <el-button
          style="margin-left: 10px"
          size="medium"
          type="primary"
          @click="keep"
          >保存</el-button
        > -->
      </div>
    </div>
    <div class="super-flow-base-demo">
      <!-- <div class="add" @click="newEquipmentDialog" id="meta">
        <div>
          <i style="font-size: 25px" class="el-icon-plus"></i>
        </div>
        <div style="font-size: 14px; margin-top: 5px">新增设备</div>
      </div> -->
      <super-flow
        ref="superFlow"
        :node-list="nodeList"
        :link-list="linkList"
        :origin="origin"
        :graph-menu="graphMenuList"
        :node-menu="nodeMenuList"
        :link-menu="linkMenuList"
        :enter-intercept="enterIntercept"
        :output-intercept="outputIntercept"
        :link-desc="linkDesc"
        :linkEditable="false"
        :draggable="true"
        :linkAddable="false"
        :link-style="linkStyle"
        :link-base-style="linkBaseStyle"
      >
        <template v-slot:node="{ meta }" id="meta">
          <div class="flex" id="meta">
            <header style="text-align: center; word-break: break-all">
              {{ meta.name }}
            </header>
            <img
              class="prohibit"
              src="../../assets/images/img_设备-1正常.png"
              alt=""
              v-if="meta.warningValuesPriority == 3||meta.warningValuesPriority == null||meta.warningValuesPriority == 0"
            />
            <img
              class="prohibit"
              src="../../assets/images/img_设备-2预警中.png"
              alt=""
              v-if="meta.warningValuesPriority == 2"
            />
            <img
              class="prohibit"
              src="../../assets/images/img_设备-3预警高.png"
              alt=""
              v-if="meta.warningValuesPriority == 1"
            />
            <div class="voltage" :class="meta.warningValuesPriority==2?'voltage-warn':meta.warningValuesPriority==3?'voltage-warn2':''" v-if="meta.warningValuesOne">
              <div>
                <i class="iconfont icon-a-yujing1"></i>
              </div>
              <div>
                {{ meta.warningValuesOne }}
              </div>
            </div>
          </div>
        </template>
      </super-flow>
    </div>
    <el-dialog
      title="编辑总览名称"
      :visible.sync="dialogVisible"
      width="500px"
      center
      @close="formCancel"
      :close-on-click-modal="false"
    >
      <el-form
        :model="formData"
        :rules="rules"
        ref="formRule"
      >
        <el-form-item label="总览名称" prop="workshopName">
          <el-input
            class="search_head_input"
            style="width: 100%"
            v-model="formData.workshopName"
            placeholder="总览名称"
            size="medium"
          >
          </el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="formCancel">取 消</el-button>
        <el-button type="primary" @click="newEquipment">确 定</el-button>
      </span>
    </el-dialog>

    <!-- <el-popover
      placement="bottom"
      trigger="click"
      class="popover"
      width='280'
      >
      <div class="popover-content">

      </div>
      <div slot="reference" class="pop-reference">
        <div>
          预警信息 <span>18</span>
        </div>
        <span>收起</span>
      </div>
    </el-popover> -->

    <el-collapse accordion class="popover" @change='collapseChange' v-if="notifyList.length!==0">
      <el-collapse-item>
        <template slot="title">
          <div  class="pop-reference">
            <div style="font-size: 18px;">
              预警信息 <span>{{notifyList.length}}</span>
            </div>
            
            <span v-if="collapseState"  style="color:#0F88EB">收起<i style="transform:rotate(-90deg);" class="el-icon-d-arrow-right"></i></span>
            <span v-else  style="color:#0F88EB">展开<i style="transform:rotate(90deg);" class="el-icon-d-arrow-right"></i></span>
          </div>
        </template>
        <div style="height:calc(100vh - 265px)">
          <!--  -->
          <el-scrollbar wrap-class="scrollbar-wrapper" style="height:100%">
            <div style='display: flex;border-bottom:1px solid #eee;padding:10px 0' v-for="item in notifyList" :key="item.id">
              <div style='width: 35px;text-align:center;margin-right:5px'>
                <i v-if="item.priority == 1" style="color:#E85B49;font-size:20px;background-color:#FBE6E3;padding:5px;border-radius:50%"  class="iconfont icon-alarm-warning" ></i>
                <i v-if="item.priority == 2" style="color:rgb(247,156,54);font-size:20px;background-color:rgba(232,91,73,.1);padding:5px;border-radius:50%"  class="iconfont icon-alarm-warning" ></i>
                <i v-if="item.priority == 3" style="color:rgb(244,185,47);font-size:20px;background-color:rgba(232,91,73,0.1);padding:5px;border-radius:50%"  class="iconfont icon-alarm-warning" ></i>
            </div>
            <div style='flex: 1;'>
              <div  style='display: flex;align-items: center;'>
                <span style="font-size: 18px">{{item.workshopName}}</span>
                <span style="font-size:12px;padding:0 12px;display:inline-block;text-align:center;line-height: 18px;height: 20px;border-radius: 12px;margin:0 5px 0 10px;"  
                    :style='{color: item.priority == 1? "#E85B49": item.priority == 2? "#F79C36": item.priority == 3? "#F4B92F": "",
                      background:
                      item.priority == 1
                        ? "#FBE6E3"
                        : item.priority == 2
                        ? "rgba(247,156,54,0.06)"
                        : item.priority == 3
                        ? "#FCF3E0"
                        : "",
                        border: item.priority == 1 ? "1px solid #E85B49": item.priority == 2 ? "1px solid #F79C36":item.priority == 2 ? "1px solid #F4B92F":""
                    }'
                >
                  {{item.priority == 1
                    ? "高"
                    : item.priority == 2
                    ? "中"
                    : item.priority == 3
                    ? "低"
                    : ""}}
              
                </span>
                <span style="padding:0 12px;font-size:12px;display:inline-block;text-align:center;;line-height: 18px;
                      height: 20px;
                     
                      border-radius: 12px;
                      
                      margin:0 5px 0 10px"
                      :style='{
                        color: 
                  item.priority == 1
                    ? "#E85B49"
                    : item.priority == 2
                    ? "#F79C36"
                    : item.priority == 3
                    ? "#F4B92F"
                    : "",
                       background:
                        item.priority == 1
                          ? "#FBE6E3"
                          : item.priority == 2
                          ? "rgba(247,156,54,0.06)"
                          : item.priority == 3
                          ? "#FCF3E0"
                          : "",
                      border: item.priority == 1 ? "1px solid #E85B49": item.priority == 2 ? "1px solid #F79C36":item.priority == 2 ? "1px solid #F4B92F":""
                      
                      }'
                      
                      >{{item.warningValue}}</span>
              </div>
              <div style="font-weight: 400; color: #666666;">
                <div>预警指标：{{item.bcEneIndex}}</div>
                <div>预警设备：{{item.equipmentName}}</div>
                <div>开始预警时间：{{item.warningStartTime}}</div>
              </div>
            </div>
            </div>
          </el-scrollbar>
        </div>
      </el-collapse-item>
    </el-collapse>  

    <div class="connection">
      <span v-for="item in connectionTypeList" :key="item.id" class="connection-item">
       <span :style="{backgroundColor:item.colors}"></span>  {{item.energyName}}
      </span>
    </div>

    
  </div>
</template>

<script>
import API from "@/api/dashboard.js";

const drawerType = {
  node: 0,
  link: 1,
};

export default {
  data() {
    return {
      collapseState:'',
      name: "",
      visible: false,
      dialogVisible: false,
      formData: {
        workshopName: "",
      },
      rules: {
        workshopName: [
          { required: true, message: "请输入总览名称", trigger: "blur" },
        ],
      },
      index: 1,
      list: [],
      node: {},
      visible: false,
      workshopId: "",
      drawerType,
      drawerConf: {
        title: "",
        visible: false,
        type: null,
        info: null,
        open: (type, info) => {
          const conf = this.drawerConf;
          conf.visible = true;
          conf.type = type;
          conf.info = info;
          if (conf.type === drawerType.node) {
            conf.title = "节点";
            if (this.$refs.nodeSetting) this.$refs.nodeSetting.resetFields();
            this.$set(this.nodeSetting, "name", info.meta.name);
            this.$set(this.nodeSetting, "desc", info.meta.desc);
          } else {
            conf.title = "连线";
            if (this.$refs.linkSetting) this.$refs.linkSetting.resetFields();
            this.$set(
              this.linkSetting,
              "desc",
              info.meta ? info.meta.desc : ""
            );
          }
        },
        cancel: () => {
          this.drawerConf.visible = false;
          if (this.drawerConf.type === drawerType.node) {
            this.$refs.nodeSetting.clearValidate();
          } else {
            this.$refs.linkSetting.clearValidate();
          }
        },
      },
      linkSetting: {
        desc: "",
      },
      nodeSetting: {
        name: "",
        desc: "",
      },

      origin: [681, 465],
      nodeList: [],
      linkList: [],

      graphMenuList: [
        // [
        //   {
        //     label: "开始节点",
        //     disable(graph) {
        //       return !!graph.nodeList.find(
        //         (node) => node.meta.prop === "start"
        //       );
        //     },
        //     selected: (graph, coordinate) => {
        //       const start = graph.nodeList.find(
        //         (node) => node.meta.prop === "start"
        //       );
        //       if (!start) {
        //         graph.addNode({
        //           width: 100,
        //           height: 80,
        //           coordinate: coordinate,
        //           meta: {
        //             prop:"start" ,
        //             name: "开始节点",
        //           },
        //         });
        //       }
        //     },
        //   },
        //   {
        //     label: "条件节点",
        //     disable:false,
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 160,
        //         height: 120,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: 'xlp',
        //           name: "条件节点",
        //         },
        //       });
        //     },
        //   },
        //   {
        //     label: "审批节点",
        //     disable: false,
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 160,
        //         height: 80,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: "approval",
        //           name: "审批节点",
        //         },
        //       });
        //     },
        //   },
        //   {
        //     label: "抄送节点",
        //     disable: false,
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 160,
        //         height: 80,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: "cc",
        //           name: "抄送节点",
        //         },
        //       });
        //     },
        //   },
        //   {
        //     label: "结束节点",
        //     disable(graph) {
        //       return !!graph.nodeList.find(
        //         (point) => point.meta.prop === "end"
        //       );
        //     },
        //     selected: (graph, coordinate) => {
        //       graph.addNode({
        //         width: 80,
        //         height: 50,
        //         coordinate: coordinate,
        //         meta: {
        //           prop: "end",
        //           name: "结束节点",
        //         },
        //       });
        //     },
        //   },
        // ],
        [
          // {
          //   label: "打印数据",
          //   selected: (graph, coordinate) => {
          //     console.log(JSON.stringify(graph.toJSON(), null, 2));
          //   },
          // },
          // {
          //   label: "全选",
          //   selected: (graph, coordinate) => {
          //     graph.selectAll();
          //   },
          // },
        ],
      ],
      nodeMenuList: [
        // [
        //   {
        //     label: "删除",
        //     disable: false,
        //     // hidden(node) {
        //     //   return node.meta.prop === "start";
        //     // },
        //     selected(node, coordinate) {
        //       node.remove();
        //     },
        //   },
        // ],
        // [
        //   {
        //     label: "编辑",
        //     selected: (node, coordinate) => {
        //       if (Object.keys(this.node).length != 0) {
        //         this.node.meta.visible = false;
        //       }
        //       this.node = node;
        //       node.meta.visible = true;
        //       this.index = 1;
        //     },
        //   },
        // ],
      ],
      linkMenuList: [
        // [
        //   {
        //     label: "删除",
        //     disable: false,
        //     selected: (link, coordinate) => {
        //       link.remove();
        //     },
        //   },
        // ],
        // [
        //   {
        //     label: "编辑",
        //     disable: false,
        //     selected: (link, coordinate) => {
        //       console.log(link);
        //       console.log(link, coordinate);
        //     },
        //   },
        // ],
      ],
      linkBaseStyle: {
        color: '#000',           // line 颜色
        hover: '#FF0000',           // line hover 的颜色
        textColor: '#000',       // line 描述文字颜色
        textHover: '#000',       // line 描述文字 hover 颜色
        font: '20px Arial',         // line 描述文字 字体设置 参考 canvas font
        dotted: false,              // 是否是虚线
        lineDash: [4, 4],           // 虚线时生效
        background: 'rgba(255,255,255,0)'    // 描述文字背景色
      },
      enePlanningAWorkshopList: [],
      deviceList: [],
      connectionTypeList: [],

      notifyList: [],

      interval:null,
    };
  },
  created() {

  },
  mounted() {
    this.$nextTick(() => {
      this.getEnePlanningAWorkshopList();
    });
    this.getDeviceList();
    this.getConnectionType();
  },
  destroyed(){
    clearInterval(this.interval)
  },
  methods: {
    linkStyle (link) {
      let color;
      if(link.meta&&link.meta.energyList.length==1){
        color = link.meta.energyList[0].colors
      }else if(link.meta&&link.meta.energyList.length>1){
        color = '#000'
      }else if(!link.meta){
        color = this.connectionTypeList[0].colors
      }
      return {
        color,
        hover:color
      }
    },
    linkDesc (link) {
       return link.meta && (link.meta.energyList?.length!==0) ?link.meta.energyList.length==1?'':link.meta.energyList.map(item => item.energyName).join('  ') : ''
    },

    getAWarningState() {
      API.getAWarningState(this.workshopId).then((res) => {
        if (res.code == 200) {
          this.notifyList = res.data || []
        }
      });
    },
    getDeviceList() {
      API.getDeviceList().then((res) => {
        this.deviceList = res.data;
      });
    },
    formCancel() {
      this.$refs.formRule.resetFields();
      this.dialogVisible = false;
    },
    getConnectionType() {
      API.getConnectionType().then((res) => {
        this.connectionTypeList = res.data;
      });
    },
    open(index, item) {
      return this.$notify({
        title: "",
        position: "bottom-right",
        duration: 0,
        dangerouslyUseHTMLString: true,
        customClass: "customClass1",
        message: `
            
          `,
        onClose: (el) => {},
        index,
      });
    },
    handleTitleClick(index) {
      this.index = index;
    },
    getFlowChart() {
      this.$startLoading('app-main')
      API.getFlowChart({ workshopId: this.workshopId }).then((res) => {
        this.$closeLoading()
        if (res.code == 200) {
          if (res.data) {
            res.data.nodeList.forEach((item) => {
              item.meta.visible = false;
            });
            this.linkList = res.data.linkList;
            this.nodeList = res.data.nodeList;
            this.origin = res.data.origin;
          } else {
            console.log(12313123);
            this.linkList = [];
            this.nodeList = [];
            this.origin = [];
          }
        }
      });
    },
    getEnePlanningAWorkshopList() {
      API.getEnePlanningAWorkshopList().then((res) => {
        if (res.code == 200) {
          this.enePlanningAWorkshopList = res.data;
          this.workshopId = res.data[0].workshopId;
          this.getFlowChart();
          this.getAWarningState();
          this.interval = setInterval(()=>{
            this.getAWarningState();
          },3000)
          API.getAnOverviewChartName(this.workshopId).then((res) => {
            this.name = res.data;
          });
        }
      });
    },
    enterIntercept(formNode, toNode, graph) {
      const formType = formNode.meta.prop;
      switch (toNode.meta.prop) {
        case "start":
          return false;
        case "approval":
          return ["start", "approval", "condition", "cc"].includes(formType);
        case "condition":
          return ["start", "approval", "condition", "cc"].includes(formType);
        case "end":
          return ["approval", "cc"].includes(formType);
        case "disableConnection":
          return [].includes(formType);
        default:
          return true;
      }
    },
    outputIntercept(node, graph) {
      return !(node.meta.prop === "disableConnection");
    },
    // linkDesc(link) {
    //   return link.meta ? link.meta.desc : "";
    // },
    keep() {
      let { graph } = this.$refs.superFlow;
      console.log(JSON.stringify(graph.toJSON()));
      let fd = new FormData();
      fd.append("linkedString", JSON.stringify(graph.toJSON()));
      fd.append("workshopId", this.workshopId);
      API.flowchartSave(fd).then((res) => {
        if (res.code == 200) {
          this.$message({ type: "success", message: "保存成功" });
        }
      });
    },
    handleChange() {
      this.getFlowChart();
      this.getAWarningState();
    },
    newEquipmentDialog() {
      this.formData = {
        workshopName: this.name,
        workshopId: this.workshopId,
      };
      this.dialogVisible = true;
    },
    newEquipment() {
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          API.setAnOverviewChartName(this.formData).then((res) => {
            if (res.code == 200) {
              API.getAnOverviewChartName(this.workshopId).then((res) => {
                this.name = res.data;
              });
              this.$message({ type: "warning", message: "修改成功" });
              this.formCancel();
            }
          });
        }
      });
    },

    configure() {
      this.$router.push({
        name: "basicConfiguration",
        query: { id: this.workshopId },
      });
      // this.nodeMenuList = [
      //   [
      //     {
      //       label: "删除",
      //       disable: false,
      //       // hidden(node) {
      //       //   return node.meta.prop === "start";
      //       // },
      //       selected(node, coordinate) {
      //         node.remove();
      //       },
      //     },
      //   ],
      //   [
      //     {
      //       label: "编辑",
      //       selected: (node, coordinate) => {
      //         node.meta = "condition";
      //         console.log(node, coordinate);
      //       },
      //     },
      //   ],
      // ];
    },


    collapseChange(a,b) {
      this.collapseState = a
    },
  },
};
</script>

<style lang="scss" scoped>
.connection{
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 20px;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  .connection-item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    &>span{
      margin-right: 8px;
      display: inline-block;
      width: 14px;
      height: 4px;
    }
  }
}

::v-deep {
  .el-icon-edit{
    color: #ccc;
  }
  .el-icon-edit:hover{
    color: #0079ff;
  }
  .el-popover {
    /* top: 180px; */
    padding: 0;
  }
  .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
}
#popover {
  .active {
    background-color: #f9f9f9;
  }
  .titleBtn {
    display: flex;
    align-items: center;
    height: 47px;
    border-bottom: 1px solid #eee;
    & > div {
      height: 47px;
      line-height: 47px;
      flex: 1;
      text-align: center;
      cursor: pointer;
    }
  }
  .item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    & > span:nth-child(1) {
      display: inline-block;
      width: 14px;
      height: 4px;
      background: #52c188;
      margin-right: 15px;
    }
  }
  .formDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
  }
}
.basicConfiguration {
  background-color: #fff;
  height: calc(100vh - 95px);
  position: relative;
  .head {
    height: 72px;
    padding: 0 20px 0 30px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div:nth-child(1) {
      font-weight: 600;
      color: #333333;
      font-size: 24px;
    }
  }
}
.aaa {
  width: 100%;
  background-color: #fff;
  background-size: 20px 20px, 20px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 0);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
}
.prohibit {
  -webkit-user-select: none;
  cursor: default;
  pointer-events: none;
}
.super-flow-base-demo {
  width: 100%;
  height: calc(100vh - 165px);
  margin: 0 auto;
  position: relative;
   overflow: scroll;
  .super-flow {
    width  : 4000px;
    height : 4000px;
  }
  .add {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 91px;
    height: 91px;
    background: linear-gradient(180deg, #00b1ff 0%, #0079ff 100%);
    box-shadow: 0px 4px 20px 0px rgba(0, 121, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    z-index: 9;
  }
  ::v-deep {
    .super-flow__node {
      background-color: transparent;
      /* border: 1px solid #D9D9D9; */
      border: none;
      box-shadow: none;

      .flow-node {
        > header {
          font-size: 14px;
          height: 32px;
          line-height: 32px;
          padding: 0 12px;
          color: #ffffff;
        }

        > section {
          text-align: center;
          line-height: 20px;
          overflow: hidden;
          padding: 6px 12px;
          word-break: break-all;
        }

        &.flow-node-start {
          > header {
            background-color: #55abfc;
          }
        }

        &.flow-node-condition {
          > header {
            background-color: #bc1d16;
          }
        }

        &.flow-node-approval {
          > header {
            background-color: rgba(188, 181, 58, 0.76);
          }
        }

        &.flow-node-cc {
          > header {
            background-color: #30b95c;
          }
        }

        &.flow-node-end {
          > header {
            height: 50px;
            line-height: 50px;
            background-color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
::v-deep {
  .customClass1 {
    & > .el-notification__group {
      margin-left: 0 !important;
    }
  }
}
.linkWrap {
  ::v-deep {
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
  }
}
.voltage {
  display: flex;
  width: 128px;
  height: 32px;
  border: 1px solid #e85b49;
  align-items: center;
  justify-content: space-evenly;
  color: #ea6447;
  background: rgba(232, 91, 73, 0.1);
  margin-top: 5px;
}
.voltage-warn {
  border: 1px solid #F79C36 !important;
  color: #F79C36 !important;
  background: rgba(247, 156, 54, 0.1) !important;
}
.voltage-warn2 {
  border: 1px solid #F4B92F !important;
  color: #F4B92F !important;
  background: #FCF3E0 !important;
}
.popover{
  position: absolute;
  z-index: 999;
  top:73px;
  right: 21px;
  width: 280px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 6px 20px 0px rgba(26, 67, 159, 0.1);
  border-radius: 24px 0px 0px 24px;
  padding: 0 24px;
  .pop-reference{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 280px;
    height: 55px;
    
  }
  ::v-deep{
    .el-icon-arrow-right:before{
      display: none;
    }
  }
}
</style>
<style lang='scss'>
.customClass1 {
  & > .el-notification__group {
    margin-left: 0 !important;
  }
}
</style>