<template>
  <base-layout class="layout_main" headerHeight="auto" footerHeight="0">
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <span class="search_head_item">
            车间
            <el-select
              class="search_head_input"
              v-model="workshopId"
              placeholder="请选择"
              clearable
              size="medium"
              @change="workshopChange"
              @clear='clear'
              style="width:200px"
            >
              <el-option
                v-for="item in aWorkshopList"
                :key="item.workshopId"
                :value="item.workshopId"
                :label="item.workshopName"
              ></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            指标
            <el-select
              class="search_head_input"
              v-model="bcId"
              placeholder="请选择"
              clearable
              size="medium"
              @clear='clear'
              style="width:200px"
            >
              <el-option
                v-for="item in targetList"
                :key="item.basicConfigId"
                :value="item.basicConfigId"
                :label="item.basicConfigName"
              ></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            设备
            <el-select
              class="search_head_input"
              v-model="equipmentId"
              placeholder="请选择"
              clearable
              size="medium"
              @change='clear'
              style="width:200px"
            >
              <el-option v-for="item in workshopList" :value="item.equipmentId" :label="item.equipmentName" :key="item.equipmentId"></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            时间
            <el-date-picker
              style="width:380px;"
              class="search_head_input"
              v-model="time"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              size="medium"
              @clear='timeChange'
              value-format='yyyy-MM-dd HH:mm:ss'
            >
            </el-date-picker>
          </span>
          <span class="search_head_searc">
            <el-button
              size="medium"
              type="primary"
              @click="inquire"
              >查询</el-button
            >
            <el-button
              size="medium"
              type="reset"
              @click="reset"
              >重置</el-button
            >
          </span>
        </div>
        <div>
          <el-button size="medium" type="add" @click="$router.push({name:'indicatorQuery',params:{id:pageId,bcId:bcId,workshopId:workshopId,equipmentId:equipmentId,time:time}})">
            指标查询
          </el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <div style="height: calc(100vh - 190px)" id="echarts" v-if="list.length!==0"></div>
        <div v-if="list.length==0" class="placeholder" style="height: calc(100vh - 190px)">
          <div>
            <img src="../../assets/images/_10-空页面-light.png" alt="">
            <div>请选择查询条件</div>
          </div>
        </div>
      </div>
    </template>
  </base-layout>
</template>

<script>
import * as echarts from "echarts";
import API from "@/api/dashboard.js";
let dayjs = require('dayjs')
export default {
  data() {
    return {
      workshopId: "", // 车间
      bcId: "", // 指标
      equipmentId: "",
      pageSize:20,
      pageIndex:1,
      total:0,
      time: [],
      aWorkshopList: [], // 车间
      targetList: [], // 指标
      pageId:'',
      tableData:[],
      workshopList:[],

      list:[],
      myChart:{}
    };
  },

  computed: {
    queryParmas() {
      return {
        bcId: this.bcId,
        equipmentId: this.equipmentId,
        workshopId: this.workshopId,
        queryStartTime:this.pageId?dayjs().subtract(10, 'minute').format('YYYY-MM-DD HH:mm:ss'):this.time?this.time[0]?this.time[0]:'':'',
        queryEndTime :this.pageId?dayjs().format('YYYY-MM-DD HH:mm:ss'):this.time?this.time[1]?this.time[1]:'':'',
        warningInformationId: this.pageId,  
      };
    },
  },
  mounted() {
    this.pageId = this.$route.params.id
    this.workshopId = this.$route.params.workshopId
    this.equipmentId = this.$route.params.equipmentId
    this.bcId = this.$route.params.bcId
    this.getAWorkshopList();
    this.getTargetList();
    if(this.pageId){
      this.getList()
      this.workshopChange(this.workshopId)
      this.time = [dayjs().subtract(10, 'minute').format('YYYY-MM-DD HH:mm:ss'),dayjs().format('YYYY-MM-DD HH:mm:ss')]
    }
    

    
  },
  methods: {
    timeChange(a) {
      if(!a){
        this.time = []
        this.inquire()
      }
    },
    getList() {
      let label = [233, 233, 200, 180, 199, 233, 210, 180];
      let value = [233, 233, 200, 180, 199, 233, 210, 180];

      this.option = {
        grid: {
          top: "15%",
          right: "5%",
          left: "3%",
          bottom: "12%",
          containLabel: true,
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            lineStyle: {
              color: {
                type: "linear",
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: "#D9D9D9", // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: "#D9D9D9", // 100% 处的颜色
                  },
                ],
                global: false, // 缺省为 false
              },
            },
          },
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            axisLine: {
              show: true,
              lineStyle: {
                color: "#BFBFBF",
              },
            },
            axisLabel: {
              show: true,
              margin: 10,
              color: "#666666",
              textStyle: {
                fontSize: 14,
              },
            },
            axisTick: {
              show: true,
              alignWithLabel: true,
              interval: "auto",
            },
            data: [],
          },
        ],
        yAxis: [
          {
            boundaryGap: false,
            axisLabel: {
              formatter: "{value}",
              color: "#9D9D9D",
            },
            axisTick: {
              show: false,
            },
            axisLine: {
              show: false,
              lineStyle: {
                color: "rgba(0,186,255,.6)",
              },
            },
            splitLine: {
              lineStyle: {
                color: "#D9D9D9",
              },
            },
          },
        ],
        series: [
          {
            name: "",
            type: "line",
            smooth: false,
            showSymbol: true,
            symbolSize: 8,
            zlevel: 3,
            itemStyle: {
              color: "#0079ff",
              borderColor: "#a3c8d8",
            },
            lineStyle: {
              normal: {
                width: 6,
                color: "#0079ff",
              },
            },
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "rgba(0,121,255,.2)",
                    },
                    {
                      offset: .8,
                      color: "rgba(0,121,255, 0)",
                    },
                  ],
                  false
                ),
              },
            },
            data: [],
          },
        ],
      };
      this.$startLoading('app-main')
      API.getTrendCurve(this.queryParmas).then(res => {
        this.$closeLoading()
        if(res.code == 200) {
          this.list = res.data.valueLists
          this.option.series[0].data = res.data.valueLists
          this.option.xAxis[0].data = res.data.dateLists
          this.$nextTick(() => {
            var myChart = echarts.init(document.getElementById("echarts"));
            myChart.setOption(this.option);
            window.onresize = function () {
              myChart.resize();
            };
          });
        }
      })
      
    },
    getAWorkshopList() {
      API.getAWorkshopList().then((res) => {
        if (res.code == 200) {
          this.aWorkshopList = res.data;
        }
      });
    },
    getTargetList() {
      API.getTargetList().then((res) => {
        if (res.code == 200) {
          this.targetList = res.data;
        }
      });
    },

    workshopChange(id) {
      if(id){
        API.getWorkshop(id).then(res => {
          if(res.code ==200){
            this.workshopList = res.data
          }
        })
      }else{
        this.workshopList = []
        this.equipmentId = ''
      }
    },
    inquire() {     if(this.option){
        this.option.series[0].data = []
      this.option.xAxis[0].data = []
      var myChart = echarts.init(document.getElementById("echarts"));
      myChart.setOption(this.option);
      myChart.clear()
     }
      if(this.workshopId!==''&&this.bcId!==''&&this.equipmentId!==''&&this.time.length!==0){
        this.getList()
      }else{
        this.$message({type:'warning',message:'请选择条件'})
      }
    },
    reset() {
      this.workshopId = '';
      this.bcId = '';
      this.equipmentId = '';
      this.time = []
      this.list = []
      this.option.series[0].data = []
      this.option.xAxis[0].data = []
      var myChart = echarts.init(document.getElementById("echarts"));
      myChart.setOption(this.option);
      myChart.clear()
    },
    clear(){
      this.inquire()
    },
  },
};
</script>

<style lang="scss" scoped>
.placeholder{
  height: calc(100vh - 190px);
  width: 100%;
  position: relative;
  background-color: #fff;
  z-index: 999;
  &>div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
  }
}
</style>
