<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <span class="search_head_item">
            车间
            <el-select
              class="search_head_input"
              v-model="workshopId"
              placeholder="请选择"
              clearable
              size="medium"
              @clear='getList'
            >
              <el-option
                v-for="item in aWorkshopList"
                :key="item.workshopId"
                :value="item.workshopId"
                :label="item.workshopName"
              ></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            报警指标
            <el-select
              class="search_head_input"
              v-model="bcId"
              placeholder="请选择"
              clearable
              size="medium"
              @clear='getList'
            >
             <el-option
                v-for="item in targetList"
                :key="item.basicConfigId"
                :value="item.basicConfigId"
                :label="item.basicConfigName"
              ></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            时间
            <el-date-picker
              class="search_head_input"
              v-model="time"
              type="daterange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              size="medium"
              value-format="yyyy-MM-dd"
              @change='timeChange'
              clearable
            >
            </el-date-picker>
          </span>
          <span class="search_head_searc">
            <el-button
              size="medium"
              type="primary"
              @click="inquire"
              >查询</el-button
            >
            <el-button
              style="margin-left: 12px;"
              size="medium"
              type="reset"
              @click="reset"
              >重置</el-button
            >
          </span>
        </div>
        <div>
          <el-button
            icon="el-icon-download"
            size="medium"
            type="add"
            @click="exportAlertInformation"
          >
            导出
          </el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
          height="calc(100vh - 240px)"
        >
          <el-table-column
            label="序号"
            type="index"
            align="center"
            width="55"
          ></el-table-column>
          <el-table-column
            label="报警车间"
            prop="workshopName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="报警设备"
            prop="equipmentName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="报警指标"
            prop="bcEneIndex"
            align="center"
          ></el-table-column>
          <el-table-column
            label="报警值"
            prop="warningValue"
            align="center"
          ></el-table-column>
          <el-table-column
            label="正常区间"
            prop="indexReferenceValueScopes"
            align="center"
          ></el-table-column>
          <el-table-column
            label="报警开始时间"
            prop="warningStartedTime"
            align="center"
          ></el-table-column>
          <el-table-column
            label="报警结束时间"
            prop="warningEndedTime"
            align="center"
          ></el-table-column>
          <el-table-column
            label="状态"
            prop="status"
            align="center"
          >
            <template slot-scope="{ row }">
              
                <div style="display:flex;justify-content:center">
                  <span v-if="row.status==1" style="display:flex;align-items: center;justify-content:center;width: 60px;height:25px;color:#f79c36;border: 1px solid #F79C36;padding:3px 5px;border-radius:12px;background-color:#FDF0E1;">预警</span>
                <span v-if="row.status==0" style="display:flex;align-items: center;justify-content:center;width: 60px;height:25px;border: 1px solid #5ecf69;padding:3px 5px;border-radius:12px;color:#5ecf69;background-color:rgba(94,207,105,0.2);">正常</span>
                </div>
              
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="{ row }">
              <el-tooltip
                class="item"
                effect="dark"
                content="查看指标"
                placement="top"
              >
                <el-button
                  size="small"
                  type="text"
                  icon="iconfont icon-dashboard-3-line"
                  @click="$router.push({name:'indicatorQuery',params:{id:row.id,equipmentId:row.equipmentId,workshopId:row.workshopId,bcId:row.bcId}})"
                >
                </el-button>
              </el-tooltip>
              <el-tooltip
                class="item"
                effect="dark"
                content="查看趋势"
                placement="top"
              >
                <el-button
                  style="margin:0"
                  size="small"
                  type="text"
                  icon="iconfont icon-funds-box-line"
                  @click="$router.push({name:'trendCurve',params:{id:row.id, equipmentId:row.equipmentId,workshopId:row.workshopId,bcId:row.bcId}})"
                ></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </template>
    <template slot="footer">
      <!-- v-if="total !== 0" -->
      <el-pagination
        v-if="total !== 0"
        background
        :total="total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="pageSize"
        @size-change="handleSizeChange"
        :current-page="pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import API from "@/api/dashboard.js";
export default {
  data() {
    return {
      workshopId: "", //车间
      bcId: "",
      time: [],
      pageSize: 20,
      pageIndex: 1,
      total: 0,
      dialogVisible: false,
      value1: [],
      targetList: [],
      aWorkshopList: [],
      tableData:[]
    };
  },
  created() {
    this.getList()
    this.getAWorkshopList();
    this.getTargetList();
  },
  computed: {
    queryParams() {
      return {
        bcId: this.bcId,
        current: this.pageIndex,
        size: this.pageSize,
        workshopId: this.workshopId,
        startTime: this.time?this.time[0] ? this.time[0] : "":'',
        endTime: this.time?this.time[1] ? this.time[1] : "":'',
      };
    },
  },
  methods: {
    timeChange(a) {
      if(!a){
        this.time = []
        this.inquire()
      }
    },
    getList() {
      this.$startLoading('app-main')
      API.getWarningInformationList(this.queryParams).then((res) => {
        this.$closeLoading()
        if(res.code==200) {
          this.tableData = res.data.records
          this.total = Number(res.data.total)
        }
      });
    },
    getAWorkshopList() {
      API.getAWorkshopList().then((res) => {
        if (res.code == 200) {
          this.aWorkshopList = res.data;
        }
      });
    },
    getTargetList() {
      API.getTargetList().then((res) => {
        if (res.code == 200) {
          this.targetList = res.data;
        }
      });
    },
    // 分页 size
    handleSizeChange(value) {
      this.pageSize = value;
      this.getList();
    },
    // 分页 num
    handleCurrentChange(value) {
      this.pageIndx = value;
      this.getList();
    },
    add() {
      this.$message({ type: "error", message: "测试" });
    },
    inquire() {
      this.pageIndex = 1
      this.getList()
    },
    reset() {
      this.workshopId = '';
      this.bcId = '';
      this.time = []
      this.inquire()
    },
    exportAlertInformation() {
      const query = {
        workshopId:this.workshopId,
        bcId:this.bcId,
        startTime: this.time[0] ? this.time[0] : "",
        endTime: this.time[1] ? this.time[1] : "",
      }
      API.exportAlertInformation(query).then(res => {
        console.log(res);
        const link = document.createElement("a");
        let blob = new Blob([res], { type: res.type });
        link.style.display = "none";
        link.href = URL.createObjectURL(blob);
        link.download ='预警信息'; //下载的文件名
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      })
    },
  },
};
</script>

<style lang="scss" scoped>
a{
  
}
</style>
