<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <span class="search_head_item">
            指标
            <el-select
              class="search_head_input"
              v-model="bcId"
              placeholder="请选择"
              clearable
              size="medium"
              @clear='getList'
            >
              <el-option
                v-for="item in targetList"
                :key="item.basicConfigId"
                :value="item.basicConfigId"
                :label="item.basicConfigName"
              ></el-option>
            </el-select>
          </span>
          <span class="search_head_item">
            优先级
            <el-select
              class="search_head_input"
              v-model="priorityId"
              placeholder="请选择"
              clearable
              size="medium"
              @clear='getList'
            >
              <el-option :value="1" label="高"></el-option>
              <el-option :value="2" label="中"></el-option>
              <el-option :value="3" label="低"></el-option>
            </el-select>
          </span>
          <span class="search_head_searc">
            <el-button
              size="medium"
              type="primary"
              @click="inquire"
              >查询</el-button
            >
            <el-button
              size="medium"
              type="reset"
              @click="reset"
              >重置</el-button
            >
          </span>
        </div>
        <div>
          <el-button icon="el-icon-plus" size="medium" type="add" @click="add" v-permission='[1]'>
            新建
          </el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
          height="calc(100vh - 240px)"
        >
          <el-table-column
            label="序号"
            type="index"
            align="center"
            width="55"
          ></el-table-column>
          <el-table-column
            label="指标"
            prop="bcEneIndex"
            align="center"
          ></el-table-column>
          <el-table-column
            label="设备名称"
            prop="equipmentName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="指标正常区间"
            prop="indexReferenceValueScopes"
            align="center"
          ></el-table-column>
          <el-table-column
            label="计量单位"
            prop="bcUnit"
            align="center"
          ></el-table-column>
          <el-table-column label="优先级" prop="priority" align="center">
            <template slot-scope="{ row }">
              {{
                row.priority == 1
                  ? "高"
                  : row.priority == 2
                  ? "中"
                  : row.priority == 3
                  ? "低"
                  : ""
              }}
            </template>
          </el-table-column>
          <el-table-column
            label="能源类型"
            prop="bcEneType"
            align="center"
          ></el-table-column>
          <el-table-column
            label="统计区间"
            prop="bcUnit"
            align="center"
          >
            <template slot-scope="{row}">
              {{row.countStartTime}} - {{row.countEndTime}}
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="{ row }">
              <el-tooltip
                class="item"
                effect="dark"
                content="编辑"
                placement="top"
                v-permission='[1]'
              >
                <el-button
                  size="small"
                  type="text"
                  
                  @click="edit(row)"
                >
                <!-- icon="iconfont icon-icon_bianji" -->
                  <i class="iconfont icon-icon_bianji" style="font-size:21px"></i>
                </el-button>
              </el-tooltip>
              <el-tooltip
                class="item"
                effect="dark"
                content="删除"
                placement="top"
                v-permission='[1]'
              >
                <el-button
                  size="small"
                  type="text"
                  icon="iconfont icon-icon_shanchu"
                  @click="deleteRow(row)"
                ></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-dialog
        :title="dialogTitle"
        :visible.sync="dialogVisible"
        width="600px"
        center
        @close="formCancel"
        :close-on-click-modal='false'
      >
        <el-form
          :model="formData"
          :rules="rules"
          ref="formRule"
        >
          <el-form-item label="指标" prop="bcId">
            <el-select
              v-model="formData.bcId"
              placeholder="请选择"
              clearable
              size="medium"
              style="width:100%"
            >
              <el-option
                v-for="item in targetList"
                :key="item.basicConfigId"
                :value="item.basicConfigId"
                :label="item.basicConfigName"
                @click.native="formData.basicConfigType=item.basicConfigType"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="能源类型">
            {{formData.basicConfigType}}
          </el-form-item>
          <el-form-item label="优先级" prop="priority">
            <el-select
              v-model="formData.priority"
              placeholder="请选择"
              clearable
              size="medium"
              style="width:100%"
            >
              <el-option :value="1" label="高"></el-option>
              <el-option :value="2" label="中"></el-option>
              <el-option :value="3" label="低"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="统计区间" v-if="formData.basicConfigType=='消耗型指标'">
            <el-date-picker
              style="width:100%"
              v-model="formData.time"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              value-format="yyyy-MM-dd HH:mm:ss"
              :picker-options="pickerOptions"
              >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="正常区间" class="qujian">
            <el-row>
              <el-col :span="11">
                <el-form-item label="" prop=" lowestValueIndex">
                  <el-input-number style="width:100%" :controls='false' v-model="formData.lowestValueIndex" :min="0" ></el-input-number>
                </el-form-item>
              </el-col>
              <el-col :span="2" style="text-align:center"> ~ </el-col>
              <el-col :span="11">
                <el-form-item label="" prop="highestValueIndex">
                  <el-input-number style="width:100%" :controls='false' v-model="formData.highestValueIndex" :min="0" ></el-input-number>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="预警设备" prop="equipmentId">
            <el-select style="width:100%" v-model="formData.equipmentId" placeholder="">
              <el-option v-for="item in AnEarlyWarningDeviceList" :key="item.id" :value="item.id" :label="item.equipmentName"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="formCancel">取 消</el-button>
          <el-button v-if="dialogType=='create'" type="primary" @click="addConfirmation">确 定</el-button>
          <el-button v-if="dialogType=='edit'" type="primary" @click="editConfirmation">确 定</el-button>
        </span>
      </el-dialog>
    </template>
    <template slot="footer">
      <!-- v-if="total !== 0" -->
      <el-pagination
        background
        :total="total"
        :page-sizes="[20, 40, 60, 80, 100]"
        :page-size="pageSize"
        @size-change="handleSizeChange"
        :current-page="pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import API from "@/api/dashboard.js";
const obj = {
  bcId: "",
  priority: "",
  highestValueIndex: undefined,
  lowestValueIndex: undefined,
  equipmentId: "",
  time:[],
  basicConfigType:''
};
export default {
  data() {
    return {
      priorityId: "",
      bcId: "",
      formData: { ...obj },
      dialogVisible: false,
      dialogTitle: "",
      dialogType: "create",
      targetList: [],
      pageIndex: 1,
      pageSize: 20,
      tableData: [],
      total: 0,
      rules: {
        bcId: [{ required: true, message: "请选择指标", trigger: "change" }],
        priority: [
          { required: true, message: "请选择优先级", trigger: "change" },
        ],
        highestValueIndex: [
          { required: true, message: "请填写区间", trigger: "blur" },
        ],
        lowestValueIndex: [
          { required: true, message: "请填写区间", trigger: "blur" },
        ],
        equipmentId: [
          { required: true, message: "请选择预警设备", trigger: "change" },
        ],
      },
      AnEarlyWarningDeviceList:[],
      pickerOptions: {
          shortcuts: [{
            text: '最近一小时',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 1);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一天',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }]
        }, 
    };
  },
  computed: {
    queryParams() {
      return {
        bcId: this.bcId,
        current: this.pageIndex,
        size: this.pageSize,
        priorityId: this.priorityId,
      };
    },
  },
  created() {
    this.getList();
    this.getTargetList();
    this.getAnEarlyWarningDevice()
  },
  methods: {
    getList() {
      this.$startLoading('app-main')
      API.getWarningSettingsList(this.queryParams).then((res) => {
        this.$closeLoading()
        if (res.code == 200) {
          this.tableData = res.data.records;
          this.total = Number(res.data.total);
        }
      });
    },
    getTargetList() {
      API.getTargetList().then((res) => {
        if (res.code == 200) {
          this.targetList = res.data;
        }
      });
    },
    getAnEarlyWarningDevice() {
      API.getAnEarlyWarningDevice().then(res => {
        if(res.code == 200) {
          this.AnEarlyWarningDeviceList = res.data
        }
      })
    },
    add() {
      this.formData = { ...obj };
      this.dialogType = "create";
      this.dialogTitle = "新增";
      this.dialogVisible = true;
    },
    edit(row) {
      API.getAWarningDeviceDetails(row.id).then(res => {
        if(res.code == 200) {
          this.formData = res.data;
          this.$set(this.formData,'time',[res.data.countStartTime, res.data.countEndTime])
          let item = this.targetList.find(item => {
            return this.formData.bcId == item.basicConfigId
          })
          this.formData.basicConfigType = item.basicConfigType
          this.dialogType = "edit";
          this.dialogTitle = "编辑";
          this.dialogVisible = true;
        }
      })
      
    },
    deleteRow(row) {
      this.$confirm("此操作将永久删除, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          API.delAWarningSettings(row.id).then(res => {
          if(res.code == 200) {
            this.getList()
            this.$message({type:"success", message:'删除成功'})
          }
      })
        })
        .catch(() => {
          
        });
      
    },
    addConfirmation() {
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          if(!(this.formData.highestValueIndex>=this.formData.lowestValueIndex)){
            return this.$message({type:'warning',message:'区间范围不正确'})
          }
          if(this.formData.basicConfigType=='消耗型指标'){
            this.formData.countStartTime = this.formData.time[0]?this.formData.time[0]:''
            this.formData.countEndTime = this.formData.time[1]?this.formData.time[1]:''
          }
          API.addAWarningSettings(this.formData).then(res => {
            if(res.code == 200) {
              this.getList()
              this.formCancel()
              this.$message({type:"success", message:'添加成功'})
            }
          })
        }
      })
    },
    editConfirmation() {
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          if(!(this.formData.highestValueIndex>=this.formData.lowestValueIndex)){
            return this.$message({type:'warning',message:'区间范围不正确'})
          }
          const obj = {...this.formData}
          obj.countStartTime = obj.time[0]
          obj.countEndTime = obj.time[1]
          API.editAWarningSettings(obj).then(res => {
            if(res.code == 200) {
              this.getList()
              this.formCancel()
              this.$message({type:"success", message:'修改成功'})
            }
          })
        }
      })
    },
    // 分页 size
    handleSizeChange(value) {
      this.pageSize = value;
      this.getList();
    },
    // 分页 num
    handleCurrentChange(value) {
      this.pageIndx = value;
      this.getList();
    },
    inquire() {
      this.pageIndx = 1;
      this.getList()
    },
    formCancel() {
      this.$refs.formRule.resetFields();
      this.dialogVisible = false;
    },
    reset() {
      this.bcId = '';
      this.priorityId = '';
      this.inquire()
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep{
  .qujian{
    .el-form-item__label::before{
      content: '*';
      color: #F56C6C;
      margin-right: 4px;
    }
  }
}
</style>
