<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header">
      <div class="flex">
        <div class="head_row">
          <div class="search_head_item">
            计划创建人
            <el-select
              class="search_head_input"
              v-model="creatorNameValue"
              placeholder="请选择"
              size="medium"
              :clearable="false"
              @change="creatorNameChange"
            >
              <el-option value="all" label="全部"> 全部 </el-option>
              <el-option
                v-for="item in creatorNameList"
                :key="item.creatorId"
                :label="item.creatorName"
                :value="item.creatorId"
                :disabled="item.disabled"
              >
              </el-option>
            </el-select>
          </div>
          <div class="search_head_item">
            <div class="block">
              <span class="demonstration">计划月份 </span>
              <el-date-picker
                :clearable="true"
                v-model="planMonth"
                type="month"
                placeholder="选择日期"
                @change="selectCreaterTime"
                value-format="yyyy-MM"
              >
              </el-date-picker>
            </div>
          </div>
          <span class="search_head_searc">
            <el-button size="medium" type="primary" @click="queryPlanList"
              >查询</el-button
            >
          </span>
        </div>
        <div>
          <el-button
            icon="el-icon-plus"
            size="medium"
            type="add"
            @click="addPlan"
            v-permission="[1]"
          >
            新建
          </el-button>
        </div>
      </div>
    </template>
    <template slot="main">
      <div class="main_conten">
        <el-table
          :data="tableData"
          :header-cell-style="{ background: '#FAFAFA' }"
          height="calc(100vh - 250px)"
        >
          <el-table-column
            label="序号"
            prop="userName"
            align="center"
            type="index"
            width="50"
          ></el-table-column>
          <el-table-column
            label="计划名称"
            prop="planName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="计划月份"
            prop="planDate"
            align="center"
          ></el-table-column>
          <el-table-column
            label="计划创建时间"
            prop="createTime"
            align="center"
          ></el-table-column>
          <el-table-column
            label="计划创建人"
            prop="creatorName"
            align="center"
          ></el-table-column>
          <el-table-column
            label="计划最终修改人"
            prop="modifierName"
            align="center"
          ></el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="{ row }">
              <el-tooltip
                class="item"
                effect="dark"
                content="查看"
                placement="top"
              >
                <el-button
                  size="small"
                  type="text"
                  @click="viewDepartment(row)"
                  icon="iconfont icon-icon_chakan"
                >
                </el-button>
              </el-tooltip>
              <el-tooltip
                class="item"
                effect="dark"
                content="编辑"
                placement="top"
                v-permission="[1]"
              >
                <el-button
                  type="text"
                  @click="editorialDepartment(row)"
                  size="small"
                  icon="iconfont icon-icon_bianji"
                >
                </el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 查看弹出框 -->
      <el-dialog
        width="1030px"
        :visible.sync="view_dialog"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :show-close="true"
        :show-header="true"
        center
        :title="viewTitle"
      >
        <el-form label-width="25px">
          <el-form-item class="viewPlan">
            <el-table
              :data="tableDataPlan"
              max-height="500px"
              :header-cell-style="{ background: '#FAFAFA' }"
            >
              <el-table-column
                label="车间"
                prop="workshopName"
                align="center"
              ></el-table-column>
              <el-table-column
                label="能源类型"
                prop="bcEneIndex"
                align="center"
              ></el-table-column>
              <el-table-column
                label="计量单位"
                prop="bcUnit"
                align="center"
              ></el-table-column>
              <el-table-column
                label="上月计划用量"
                prop="plannedConsumptionLastMonth"
                align="center"
              ></el-table-column>
              <el-table-column
                label="上月实际用量"
                prop="actualConsumptionLastMonth"
                align="center"
              ></el-table-column>
              <el-table-column
                label="本月计划用量"
                prop="plannedConsumptionThisMonth"
                align="center"
              ></el-table-column>
              <el-table-column
                label="备注"
                prop="remarks"
                align="center"
              ></el-table-column>
            </el-table>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button class="determine" type="primary" @click="confirm" center
            >确定</el-button
          >
        </span>
      </el-dialog>
      <!-- 新增能源计划弹窗 -->
      <el-dialog
        width="1030px"
        :visible.sync="add_dialog"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :show-close="true"
        :title="showTitle ? '编辑能源计划' : '新增能源计划'"
        center
      >
        <el-form>
          <el-form-item>
            <div class="block">
              <span class="demonstration">计划月份 </span>
              <el-date-picker
                v-model="addPlanTime"
                type="month"
                value-format="yyyy-MM"
                placeholder="选择日期"
                @change="changeAddPlanTime"
                :clearable="false"
                :readonly="showTitle ? true : false"
              >
              </el-date-picker>
            </div>
          </el-form-item>
          <el-form-item class="tow-form-item addPlanLoading">
            <el-table
              :data="tableDataPlan"
              :header-cell-style="{ background: '#FAFAFA' }"
              max-height="350"
            >
              <el-table-column label="车间" prop="workshopName" align="center">
                <template slot-scope="{ row }">
                  <el-select
                    class="search_head_input"
                    v-model="row.workshopName"
                    placeholder="请选择能源类型"
                    size="medium"
                    :clearable="false"
                    @change="energyTypeChange"
                  >
                    <div class="row">
                      <el-option
                        v-for="item in plantList"
                        :key="item.workshopId"
                        :label="item.workshopName"
                        :value="item.workshopId"
                        :disabled="item.disabled"
                        @click.native="row.workshopName = item.workshopName"
                      >
                      </el-option>
                    </div>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column
                label="能源类型"
                prop="bcEneIndex"
                align="center"
              >
                <template slot-scope="{ row }">
                  <el-select
                    class="search_head_input"
                    v-model="row.bcEneIndex"
                    placeholder="请选择能源类型"
                    size="medium"
                    :clearable="false"
                    @change="energyTypeChange"
                  >
                    <div class="row">
                      <el-option
                        v-for="item in energyTypeList"
                        :key="item.basicConfigId"
                        :label="item.basicConfigName"
                        :value="item.basicConfigName"
                        :disabled="item.disabled"
                        @click.native="redactEneryType(row, item)"
                      >
                      </el-option>
                    </div>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column label="计量单位" align="center">
                <template slot-scope="{ row }">{{ row.bcUnit }}</template>
              </el-table-column>
              <el-table-column
                label="上月计划用量"
                prop="plannedConsumptionLastMonth"
                align="center"
              ></el-table-column>
              <el-table-column
                label="上月实际用量"
                prop="actualConsumptionLastMonth"
                align="center"
              ></el-table-column>
              <el-table-column
                label="本月计划用量"
                prop="plannedConsumptionThisMonth"
                align="center"
              >
                <template slot-scope="{ row }">
                  <el-input
                    size="small"
                    v-model="row.plannedConsumptionThisMonth"
                  ></el-input> </template
              ></el-table-column>
              <el-table-column label="备注" prop="remarks" align="center">
                <template slot-scope="{ row }">
                  <el-input size="small" v-model="row.remarks"></el-input>
                </template>
              </el-table-column>
              <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                  <el-button
                    size="small"
                    type="text"
                    icon="iconfont icon-icon_shanchu"
                    @click.native.prevent="
                      open(scope.$index, tableDataPlan, scope)
                    "
                    class="del-plan"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-form-item>
          <el-form-item>
            <el-table
              :show-header="false"
              :data="tableData1"
              @row-contextmenu="false"
              class="select-wrapper"
            >
              <el-table-column label="日期">
                <template slot-scope="row">
                  <el-select
                    popper-class="dddd"
                    class="search_head_input"
                    v-model="plant"
                    placeholder="请选择车间"
                    size="medium"
                    :clearable="false"
                    @change="plantChange"
                  >
                    <div class="row">
                      <el-option
                        v-for="item in plantList"
                        :key="item.workshopId"
                        :label="item.workshopName"
                        :value="item.workshopId"
                        :disabled="item.disabled"
                      >
                      </el-option>
                    </div>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column label="日期">
                <template slot-scope="scope">
                  <el-select
                    class="search_head_input"
                    v-model="energyType"
                    placeholder="请选择能源类型"
                    size="medium"
                    :clearable="false"
                    @change="energyTypeChange"
                  >
                    <div class="row">
                      <el-option
                        v-for="item in energyTypeList"
                        :key="item.basicConfigId"
                        :label="item.basicConfigName"
                        :value="item.basicConfigId"
                        :disabled="item.disabled"
                      >
                      </el-option>
                    </div>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column label="日期">
                <template slot-scope="scope">
                  <el-input
                    class="search_head_input"
                    v-model="unit"
                    size="medium"
                    :clearable="false"
                    disabled
                  >
                  </el-input>
                </template>
              </el-table-column>
              <el-table-column label="日期"> </el-table-column>
              <el-table-column label="日期"> </el-table-column>
              <el-table-column label="日期">
                <template slot-scope="scope">
                  <el-input
                    class="search_head_input"
                    v-model="plannedConsumptionThisMonth"
                    placeholder="请输入"
                    size="medium"
                    :clearable="false"
                  >
                    <el-option label="item.label" value="item.value">
                    </el-option>
                    <el-option label="item.label" value="item.value">
                    </el-option>
                  </el-input>
                </template>
              </el-table-column>
              <el-table-column label="日期">
                <template slot-scope="scope">
                  <el-input
                    class="search_head_input"
                    v-model="remarks"
                    placeholder="请输入"
                    size="medium"
                    :clearable="true"
                  >
                  </el-input>
                </template>
              </el-table-column>
              <el-table-column label="日期"> </el-table-column>
            </el-table>
          </el-form-item>
          <el-form-item>
            <div class="addPlan" @click="addPlanHandle">
              <i class="el-icon-plus"></i>
              <span>新增计划</span>
            </div>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="cancelCreate">取消</el-button>
          <el-button
            v-if="showEdit"
            class="determine"
            type="primary"
            @click="saveEdit"
            center
            >确定</el-button
          >
          <el-button
            v-if="!showEdit"
            class="determine"
            type="primary"
            @click="saveAdded"
            center
            >确定</el-button
          >
        </span>
      </el-dialog>
    </template>
    <template slot="footer">
      <!-- v-if="total !== 0" -->
      <el-pagination
        background
        :total="total"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="pageSize"
        @size-change="handleSizeChange"
        :current-page="pageIndex"
        @current-change="handleCurrentChange"
        layout=" sizes, prev, pager, next, jumper,total"
      >
      </el-pagination>
    </template>
  </base-layout>
</template>

<script>
import * as api from "@/api/energyPlan.js";
import { number } from "echarts";

export default {
  data() {
    return {
      remarks: "",
      viewTitle: null,
      addTotal: "",
      view_dialog: false,
      showTitle: false,
      showEdit: false,
      total: null,
      pageIndex: 1,
      pageSize: 10,
      plannedConsumptionThisMonth: "",
      energyType: "",
      unit: "",
      plant: "",
      dialogTableVisible: false,
      energyTypeList: "",
      plantList: "",
      planMonth: "", //计划月份查询时间
      creatorNameList: [], //创建人列表
      add_dialog: false,
      create_dialog: true,
      creatorNameValue: "全部", //选中的创建人名字
      creatorId: null, //创建人id
      addPlanTime: "",
      tableData: [
        { userName: "name", role: "name", state: "name" },
        { userName: "name", role: "name", state: "name" },
        { userName: "name", role: "name", state: "name" },
      ],
      tableDataPlan: [],
      tableData1: [
        {
          basicConfigId: "",
          workshopId: "",
          workshopName: "",
          bcEneIndex: "",
          bcUnit: "",
          plannedConsumptionLastMonth: "",
          actualConsumptionLastMonth: "",
          plannedConsumptionThisMonth: "",
          remarks: "无备注!",
        },
      ],
    };
  },
  created() {
    //获取创建人列表
    api.getCreatorList().then((res) => {
      this.creatorNameList = res.data;
    });
    this.planMonth = this.doHandleDate(); //默认获取时间
    //获取计划列表
    this.queryPlanList();
  },
  methods: {
    redactEneryType(row, item) {
      console.log(this.getEnergyUnit(row.basicConfigId));
      row.basicConfigId = item.basicConfigId;
      row.bcUnit = this.getEnergyUnit(row.basicConfigId);
      console.log(row, "row");
    },
    confirm() {
      this.view_dialog = false;
    },
    open(index, rows, scope) {
      if (rows.length < 2) {
        this.$message({
          type: "warning",
          message: "至少保留一条能源计划!",
        });
        return;
      }
      this.$confirm("此操作将删除该计划, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteRow(index, rows);
          if (scope.row.detailId) {
            api.deleteplan(scope.row.detailId);
          }
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    viewDepartment(row) {
      this.view_dialog = true;
      var Y = row.planDate.slice(0, 4);
      var M = row.planDate.slice(5, 7);
      this.viewTitle = `${Y}年${M}月能耗计划`;

      this.$startLoading_d("viewPlan");
      api.addEnergyPlanList(row.planDate).then((res) => {
        this.$closeLoading_d("viewPlan");
        this.tableDataPlan = res.data.records;
      });
    },
    saveEdit() {
      api.editEnergyPlan(this.tableDataPlan, this.addPlanTime).then((res) => {
        if (res.code == "200") {
          this.$message({
            type: "success",
            message: `${this.showTitle ? "编辑计划成功" : "新增计划成功"}`,
          });
          this.add_dialog = false;
          this.queryPlanList();
        }
      });
    },
    editorialDepartment(row) {
      this.showEdit = true;
      this.emptyPlanSelect();
      this.addPlanTime = row.planDate;
      this.showTitle = true;
      this.add_dialog = true;
      //   var nowTime = this.doHandleDate();
      //   console.log(nowTime);
      //获取新增能源计划列表
      api.addEnergyPlanList(this.addPlanTime).then((res) => {
        this.tableDataPlan = res.data.records;
      });
      //获取车间列表
      api.getPlantList().then((res) => {
        this.plantList = res.data;
      });
      //获取能源类型
      api.getEnergyTypeList().then((res) => {
        console.log(res);
        this.energyTypeList = res.data;
      });
    },
    handleSizeChange(val) {
      this.pageSize = val; //每页显示条数
      api
        .getPlanList(
          this.creatorId,
          this.planMonth,
          this.pageIndex,
          this.pageSize
        )
        .then((res) => {
          this.tableData = res.data.records;
        });
    },
    handleCurrentChange(val) {
      this.pageIndex = val;
      api
        .getPlanList(
          this.creatorId,
          this.planMonth,
          this.pageIndex,
          this.pageSize
        )
        .then((res) => {
          this.tableData = res.data.records;
        });
    },
    cancelCreate() {
      this.add_dialog = false;
    },
    changeAddPlanTime() {
      api.addEnergyPlanList(this.addPlanTime).then((res) => {
        this.tableDataPlan = res.data.records;
        if (res.data.total > 0) {
          this.showEdit = true;
        } else {
          this.showEdit = false;
        }
      });
    },
    //   根据车间id获取车间name
    getPlantName(id) {
      for (var i = 0; i < this.plantList.length; i++) {
        if (this.plantList[i].workshopId == id) {
          return this.plantList[i].workshopName;
        }
      }
    },
    // 根据能源id,获取能源类型
    getEnergyName(id) {
      for (var i = 0; i < this.energyTypeList.length; i++) {
        if (this.energyTypeList[i].basicConfigId == id) {
          return this.energyTypeList[i].basicConfigName;
        }
      }
    },
    // 根据能源id,获取能源单位
    getEnergyUnit(id) {
      for (var i = 0; i < this.energyTypeList.length; i++) {
        if (this.energyTypeList[i].basicConfigId == id) {
          return this.energyTypeList[i].basicConfigUnit;
        }
      }
    },
    energyTypeChange() {
      this.unit = this.getEnergyUnit(this.energyType);
      var energyName = this.getEnergyName(this.energyType);
      this.tableData1[0].bcEneIndex = energyName;
      this.tableData1[0].basicConfigId = this.energyType;

      console.log(this.tableData1);
    },
    plantChange() {
      var plantName = this.getPlantName(this.plant);
      this.tableData1[0].workshopName = plantName;
      this.tableData1[0].workshopId = this.plant;
      console.log(this.tableData1);
    },
    deleteRow(index, rows) {
      rows.splice(index, 1);
      console.log(this.tableDataPlan);
    },
    addPlanHandle() {
      if (this.plant == "") {
        this.$message({
          type: "error",
          message: `请选择车间`,
        });
        return;
      } else if (this.energyType == "") {
        this.$message({
          type: "error",
          message: `请选择能源类型`,
        });
        return;
      } else if (this.unit == "") {
        this.$message({
          type: "error",
          message: `请选择计量单位`,
        });
        return;
      } else if (this.plannedConsumptionThisMonth == "") {
        this.$message({
          type: "error",
          message: `请输入本月计划用量`,
        });
        return;
      }
      console.log(this.unit);
      this.tableData1[0].plannedConsumptionThisMonth =
        this.plannedConsumptionThisMonth;
      this.tableData1[0].bcUnit = this.unit;
      this.tableData1[0].remarks = this.remarks;
      function deepCopy(obj) {
        //给一个跳出去的条件，这个条件表示当传进来的参数不是对象的时候，就不需要递归了
        if (typeof obj != "object") {
          return obj;
        }

        //如果要复制的对象里有个属性的值是数组，那复制的结果就必需还是数组
        if (obj instanceof Array) {
          var newObj = [];
        } else {
          var newObj = {};
        }

        for (var attr in obj) {
          newObj[attr] = deepCopy(obj[attr]);
        }

        return newObj;
      }
      var obj5 = deepCopy(this.tableData1);

      this.tableDataPlan.unshift(obj5[0]);
      this.emptyPlanSelect();
    },
    // 清空选择的内容
    emptyPlanSelect() {
      this.plant = "";
      this.energyType = "";
      this.plannedConsumptionThisMonth = "";
      this.unit = "";
      this.remarks = "";
    },
    selectCreaterTime(e) {
      if (!e) {
        this.queryPlanList();
      }
    },
    doHandleDate() {
      var myDate = new Date();
      var tYear = myDate.getFullYear();
      var tMonth = myDate.getMonth();
      var m = tMonth + 1;
      if (m.toString().length == 1) {
        m = "0" + m;
      }
      return tYear + "-" + m;
    },
    addPlan() {
      this.emptyPlanSelect();
      this.add_dialog = true;
      this.showTitle = false;
      var nowTime = this.doHandleDate();
      this.addPlanTime = nowTime;
      //获取新增能源计划列表
      this.$startLoading_d("addPlanLoading");
      api.addEnergyPlanList(nowTime).then((res) => {
        this.$closeLoading_d("addPlanLoading");
        this.tableDataPlan = res.data.records;

        if (res.data.total > 0) {
          this.showEdit = true;
        } else {
          this.showEdit = false;
        }
      });
      //获取车间列表
      api.getPlantList().then((res) => {
        this.plantList = res.data;
      });
      //获取能源类型
      api.getEnergyTypeList().then((res) => {
        console.log(res);
        this.energyTypeList = res.data;
      });
    },

    saveAdded() {
      console.log(this.addPlanTime);
      api.addEnergyPlan(this.tableDataPlan, this.addPlanTime).then((res) => {
        if (res.code == "200") {
          this.$message({
            type: "success",
            message: `${this.showTitle ? "编辑计划成功" : "新增计划成功"}`,
          });
          this.add_dialog = false;
          this.queryPlanList();
        }
      });
    },
    creatorNameChange(e) {
      if (e == "all") {
        this.creatorId = "";
        return;
      }
      this.creatorId = e;
    },
    //查询计划列表
    queryPlanList() {
      this.$startLoading_d("main_conten");
      console.log(
        this.creatorId,
        this.planMonth,
        this.pageIndex,
        this.pageSize
      );
      api
        .getPlanList(
          this.creatorId,
          this.planMonth,
          this.pageIndex,
          this.pageSize
        )
        .then((res) => {
          this.$closeLoading_d("main_conten");
          this.tableData = res.data.records;
          this.total = Number(res.data.total);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.del-plan {
  color: red;
}
.workshop-select {
  width: 10vw;
  //   border: 1px solid red;
}

::v-deep .select-wrapper .el-table__body tr:hover > td {
  background-color: transparent !important;
}
.addPlan {
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i.el-icon-plus {
    display: inline-block;

    color: #3a8ee6;
    font-size: 16px;
    font-weight: 600;
  }
  span {
    display: inline-block;
    color: #3a8ee6;
    font-size: 20px;
    // padding-left: 10px;
  }
}
.tow-form-item {
  margin-bottom: 0px;
}
::v-deep .el-dialog--center .el-dialog__body {
  padding: 0px 25px 0px 25px;
}
.row {
  max-height: 120px;
}

::v-deep .el-dialog {
  margin-top: 0px !important;
  top: 50%;
  transform: translateY(-50%);
  //   background: red;
}
::v-deep .el-input.is-disabled .el-input__inner {
  color: #000;
  text-align: center;
  cursor: default;
  background: #ffff;
}
</style>
