<template>
    <el-container class="wrap content">
        <el-aside :class="asideClass" :style="{ 'width': asideWidth }">
            <slot name="aside"></slot>
        </el-aside>
        <el-main class="spe_main" style="padding:0">
            <el-container class="spe_container">
                <el-header :class="headerClass" :height="headerHeight" :style="{ 'min-height': headerHeight}">
                    <slot name="header"></slot>
                </el-header>
                <el-main :class="mainClass">
                    <slot name="main"></slot>
                </el-main>
            </el-container>
        </el-main>
    </el-container>
</template>

<script>
export default {
    props : {
        headerHeight : {
            type : String,
            default : '60px'
        },
        asideWidth : {
            type : String,
            default : '240px'
        },
        headerClass: {
            type : String,
            default : ''
        },
        asideClass: {
            type : String,
            default : ''
        },
        mainClass: {
            type : String,
            default : ''
        }
    }
}
</script>

<style lang="scss">
    .spe_container {
        height: 100%;
    }
</style>