<template>
  <el-container class="wrap content" :class="{ fullHeight: fullHeight }">
    <el-header
      :height="headerHeight"
      :class="{ header_bottom_line: headerBottomLine }"
    >
      <slot name="header"></slot>
    </el-header>
    <el-main class="inhert_main">
      <slot name="main"></slot>
    </el-main>
    <el-footer :height="footerHeight" :class="{ pageFoot: pageFoot }">
      <slot name="footer"></slot>
    </el-footer>
  </el-container>
</template>

<script>
export default {
  props: {
    fullHeight: {
      type: Boolean,
      default: false
    },
    headerHeight: {
      type: String,
      default: "60px",
    },
    footerHeight: {
      type: String,
      default: "60px",
    },
    headerBottomLine: {
      type: Boolean,
      default: false,
    },
    pageFoot: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
.inhert_main {
  height: inherit;
}
.fullHeight{
  height: 100%;
}
</style>