<template>
    <el-container class="wrap content">
        <el-header :height="headerHeight" :class="{ header_bottom_line : headerBottomLine}">
            <slot name="header"></slot>
        </el-header>
        <el-main>
            <slot name="main"></slot>
        </el-main>
    </el-container>
</template>

<script>
export default {
    props : {
        headerHeight : {
            type : String,
            default : '60px'
        },
        headerBottomLine : {
            type : Boolean,
            default : false
        }
    }
}
</script>




