@font-face{
    font-family: "PingFang SC";
    src: url('PingFang.ttf');
    font-weight: normal;
    font-style: normal;
}
// @font-face{
//     font-family: "PingFangSC-Regular";
//     src: url('PingFang-SC-Regular.otf');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face{
//     font-family: "SourceHanSerifCN";
//     src: url('SourceHanSerifCN.otf');
//     font-weight: normal;
//     font-style: normal;
// }
@font-face{
    font-family: "SourceHanSerifCN-Heavy";
    src: url('SourceHanSerifCN-Heavy.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "PangMenZhengDao";
    src: url('庞门正道标题体2.0增强版.ttf');
    font-weight: normal;
    font-style: normal;
}