<template>
  <div class="navbar">
    <hamburger
      :is-active="sidebar.opened"
      class="hamburger-container"
      @toggleClick="toggleSideBar"
    />

    <breadcrumb class="breadcrumb-container" />

    <div class="right-menu">
      <span>你好啊，{{name}}</span>
      <img
        style="margin: 0 15px"
        src="../../assets/images/头像.png"
        class="user-avatar"
      />
      <i
        @click="changePassword"
        style="font-size: 20px;margin-right:5px"
        class="el-icon-key"
      ></i>
      <i
        @click="logout"
        style="font-size: 20px"
        class="iconfont icon-icon_coslebeifen"
      ></i>
      <!-- <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <img :src="avatar+'?imageView2/1/w/80/h/80'" class="user-avatar">
          <i class="el-icon-caret-bottom" />
        </div>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <router-link to="/">
            <el-dropdown-item>
              Home
            </el-dropdown-item>
          </router-link>
          <a target="_blank" href="https://github.com/PanJiaChen/vue-admin-template/">
            <el-dropdown-item>Github</el-dropdown-item>
          </a>
          <a target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/#/">
            <el-dropdown-item>Docs</el-dropdown-item>
          </a>
          <el-dropdown-item divided @click.native="logout">
            <span style="display:block;">Log Out</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown> -->
    </div>
    <el-dialog
        title="修改密码"
        :visible.sync="dialogVisible"
        width="600px"
        center
        @close="formCancel"
        :close-on-click-modal='false'
    >
      <el-form
        :model="formData"
        :rules="rules"
        ref="formRule"
      >
        <el-form-item label="原始密码" prop="password">
          <el-input type="password" v-model="formData.password"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newPassword">
          <el-input type="password" v-model="formData.newPassword"></el-input>
        </el-form-item>
        <el-form-item label="确认新密码" prop="confirmPassword">
          <el-input type="password" v-model="formData.confirmPassword"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="formCancel">取 消</el-button>
        <el-button
          type="primary"
          @click="addConfirmation"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Breadcrumb from "@/components/Breadcrumb";
import Hamburger from "@/components/Hamburger";
import {Password} from '@/api/user'
let sha256 = require("js-sha256").sha256;

export default {
  components: {
    Breadcrumb,
    Hamburger,
  },
  data() {
    return {
      dialogVisible:false,
      formData: {
        password: "",
        newPassword: "",
        confirmPassword: "",
      },
      rules:{
        password:[
          { required: true, message: "请填写原始密码", trigger: "blur" },
        ],
        newPassword:[
          { required: true, message: "请填写新密码", trigger: "blur" },
        ],
        confirmPassword:[
          { required: true, message: "请填写确认密码", trigger: "blur" },
        ],
      }
    }
  },
  computed: {
    ...mapGetters(["sidebar", "avatar",'name', 'userId']),
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch("app/toggleSideBar");
    },
    async logout() {
      await this.$store.dispatch("user/logout");
      this.$router.push(`/login`);
    },
    changePassword() {
      this.formData= {
        password: "",
        newPassword: "",
        confirmPassword: "",
        userId:this.userId
      }
      this.dialogVisible = true;
    },
    addConfirmation() {
      if(this.formData.newPassword.trim()!==this.formData.confirmPassword.trim()){
        return this.$message({type:'warning', message:'新密码不一致'})
      }
      const obj = {...this.formData}
      obj.newPassword = sha256(obj.newPassword)
      obj.confirmPassword = sha256(obj.confirmPassword)
      obj.password = sha256(obj.password)
      this.$refs.formRule.validate((valid) => {
        if (valid) {
          Password(obj).then(res => {
            if(res.code == 200) {
              this.$message({type:'success', message:"修改成功"})
              this.formCancel()
            }
          })
        }
      })
    },
    formCancel(){
      this.$refs.formRule.resetFields()
      this.dialogVisible = false
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
.el-form .el-form-item .el-form-item__label{
      width: 120px;
    }
}
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
