<template>
    <base-layout class="layout_main" headerHeight="auto" pageFoot>
        <template slot="header">
        </template>
        <template slot="main">
           <div class="unit-data">
              <div class="table-content">
                  <div class="undataimage" v-show="tableData1 == '' ">
                      <img src="../../../assets/images/_10-空页面-light.png" >
                      <div class="imagems">暂无未统计的设备</div>
                  </div>
                  <div class="content-title">
                      <span class="borderline"></span>
                      <div class="title-text">未统计设备<span>{{Statistics}}</span></div>
                  </div>
                  <el-input v-model="Ninput"  placeholder="请输入关键词查询" @keyup.enter.native="select1">
                     <i @click="select1" slot="prefix" class="iconfont icon-search-2-line" style="position:absolute;line-height:43px; left:395px;"></i>
                  </el-input>
                  <template>
                      <el-table
                        ref="multipleTable"
                        :data="tableData1"
                        tooltip-effect="dark"
                        style="width: 100%"
                        height="calc(100vh - 280px)"
                        @selection-change="handleSelectionChange">
                        <el-table-column
                          type="selection"
                          checked="checkout"
                          width="55">
                        </el-table-column>
                        <el-table-column
                          prop="deviceName"
                          label="设备名称"
                          align="center"
                          width="200">
                        </el-table-column>
                        <el-table-column
                          prop="workshopName"
                          label="所在车间"
                          align="center"
                          show-overflow-tooltip>
                        </el-table-column>
                      </el-table>
                  </template>
              </div>
              <div class="table-content">
                  <div class="undataimage" v-show="tableData2 == '' ">
                      <img src="../../../assets/images/_10-空页面-light.png" >
                      <div class="imagems">暂无统计的设备</div>
                  </div>
                  <div class="content-title">
                         <span class="borderline"></span>
                         <div class="title-text">统计设备<span>{{Nstatistical}}</span></div>
                  </div>
                  <el-input v-model="Yinput" placeholder="请输入关键词查询" @keyup.enter.native="select2" >
                     <i @click="select2" slot="prefix" class="iconfont icon-search-2-line" style="position:absolute;line-height:43px; left:395px;"></i>
                  </el-input>
                  <template>
                      <el-table
                        ref="multipleTable"
                        :data="tableData2"
                        tooltip-effect="dark"
                        style="width: 100%"
                        height="calc(100vh - 280px)"
                       >
                        <el-table-column
                          prop="deviceName"
                          label="设备名称"
                          align="center"
                          width="120">
                        </el-table-column>
                        <el-table-column
                          prop="workshopName"
                          label="所在车间"
                          align="center"
                          width="200"
                          show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column
                            label="操作"
                            align="center"
                            width="100"
                           class="del"
                        >
                            <template slot-scope="{row,$index}"
                               align="center"
                            >
                              <el-button
                                @click.native.prevent="deleteRow(row,$index)"
                                type="text"
                                size="small"
                                icon="el-icon-close"
                               >
                              </el-button>
                            </template>
                        </el-table-column>
                      </el-table>
                  </template>
              </div>
           </div>
        </template>   
        <template slot="footer">
            <el-button plain @click="restore" style="width:160px;height:36px">恢复上次设置</el-button>
             <el-button type="primary" @click="save" style="width:160px;height:36px">保存</el-button>
        </template> 
    </base-layout>
</template>
<script>
import { getshow,getupdate,getselec, getselect } from "@/api/energAnalyse/userAnalyse";
export default{
   data() {
      return{
        Ninput:'',
        Yinput:'',
        tableData1: [],
        tableData2: [],
        Statistics:0,
        Nstatistical:0,
         temp1: [],
         temp2: [],
         list:[],
        // Selected: 1,
        // uncheck: 0
      }
    },
     computed:{
      queryparams1() {
          return{
              "isSelected":0,
               "deviceName":this.Ninput
          }
      },
      queryparams2() {
          return{
              "isSelected": 1,
              "deviceName":this.Yinput
          }
      },
    
    },
    mounted(){
        this.gettabel1();
        this.gettabel2();
    },
    methods: {
       gettabel1() {
          this.$startLoading('app-main')
          getshow(this.queryparams1).then((res)=>{
            this.$closeLoading()
            this.tableData1=res.data;
            // this.temp1=this.tableData1
            this.Statistics=res.data.length;
          });
       },
       gettabel2() {
           getshow(this.queryparams2).then((res)=>{
              this.tableData2=res.data;
              // this.temp2=this.tableData2
              this.Nstatistical=res.data.length;
        });
       },
      //搜索按钮
      select1() {
        getshow(this.queryparams1).then((res)=>{
         this.tableData1=res.data;
         this.Statistics=res.data.length;
        })
      },
      select2() {
       getshow(this.queryparams2).then((res)=>{
         this.tableData2=res.data;
         this.Nstatistical=res.data.length;
        })
      

      },
      // 删除按钮
      deleteRow(row,index) {
        setTimeout(() => {
          let item = this.tableData2.splice(index,1)[0]
          this.tableData1.unshift({...item,isSelected:0})
          let indey = this.list.findIndex(item => {
              return item.equipmentId == row.equipmentId
          })
          if(indey!=-1){
            this.list.splice(indey,1)
          }else{
            this.list.push({...item,isSelected:0})
          }
          this.Statistics=this.tableData1.length
          this.Nstatistical=this.tableData2.length
        }, 100);
       
        // getupdate( this.list).then(res=>{ })
              // this.Ninput=''
              // this.Yinput='' 
              
        
      },
      //选中按钮
      handleSelectionChange(val) {
        setTimeout(() =>{
          val.forEach(itemx => {
            let index =  this.tableData1.findIndex(item => {
                return item.equipmentId == itemx.equipmentId
            })
            let spliceItem =  this.tableData1.splice(index,1)[0]
            this.list.push({...spliceItem,isSelected:1})
            this.tableData2.unshift({...spliceItem,isSelected:1})
          })
            this.Statistics=this.tableData1.length;
        },200)
        
          this.Nstatistical=this.tableData2.length;
          //  getupdate( this.list).then(res=>{
              // this.Ninput=''
              // this.Yinput='' 
             
              // this.gettabel1()
              // this.gettabel2()
          // })
       
      },
      // 恢复按钮
      restore() {
        //  getshow(this.queryparams1).then((res)=>{
            // this.$closeLoading()
            // this.tableData1=res.data;
            // this.temp1=this.tableData1
            // this.Statistics=res.data.length;
            // this.tableData1=this.temp1
            // this.temp2=this.tableData2
            // this.temp1 = this.tableData1.slice()

          // });
         
          this.gettabel1()
          this.gettabel2()
          this.Ninput=''
          this.Yinput='' 
          this.list=[]
          // console.log(this.list)
          // this. Ninput=''
          // this.Yinput=''
        //   let arr1=[]
        //   let arr2=[]
        // for(var i=0; i<this.list.length;i++)
        // {
        //   console.log(this.list,"list");
        //   if(this.list[i].isSelected ==0){
        //     arr1.push({...this.list,isSelected:1})
        //     console.log(arr1,"arr1")
        //     getupdate(arr1).then((res)=>{
        //        this.tableData2.push(arr1)
        //         // this.gettabel1()
        //         // this.gettabel2()
        //         this.list=[]
        //     })
        //   }else if(this.list[i].isSelected ==1)
        //   {
        //     console.log(arr2,"arr2")
        //      arr2.push({...this.list,isSelected:0})
        //      getupdate(arr2).then((res) =>{
        //         this.tableData1.push(arr2)
        //         this.list=[]
        //         // this.gettabel1()
        //         // this.gettabel2()
        //      })
        //   }
        // }
      },
      // 保存按钮
      save() {
        getupdate( this.list).then(res=>{
            if (res.code == 200) {
                this.$message({message: '保存成功',type: 'success' });
                this.Ninput=''
                this.Yinput='' 
                this.gettabel1()
                this.gettabel2()
                this.list = []   
              } else {
                this.$message({
                  type: "error",
                  message: "保存失败",               
                });
              }
        })
      },
    }
}
</script>
<style lang="scss" scoped>
    .unit-data{
      display: flex;
      justify-content: center;
      // margin:0 auto;
      // margin-top:40px;
      // width: 1096px;
      // height: 100%;
      // background-color: blue;
        .table-content:nth-of-type(2){
          margin-right: 0px;
        }       
        .table-content{
            width: 543px;
            // height:784px;
            position: relative;
            margin-right: 13px;
            border-radius: 4px;
            border: 1px solid #EEEEEE;
            // background-color: pink;
            padding-top: 20px;
            padding-left: 58px;
            padding-right: 58px;
             .undataimage{
                position:absolute;
                width: 372px;
                height: 220px;
                background-color: white;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 999;
                margin: auto;
                img{
                  width: 372px;
                  height: 190px;
                }
                .imagems{
                  line-height: 30px;
                  text-align: center;
                  color: #999999;
                  font-size: 16px;
                }
             }
             .content-title {
                position: relative;
                width: 100%;
                height: 40px;
                line-height: 40px;
                margin-bottom: 20px;
                font-family: DINPro-Medium;
              .borderline {
                  display: inline-block;
                  height: 18px;
                  width: 3px;
                  float: left;
                  position: absolute;
                  top: 12px;
                  // left: -10px;
                  background-color: #0c79eb;
                }
                .title-text {
                  font-size: 18px;
                  margin-left: 10px;
                  font-family: PingFangSC-Medium, PingFang SC;
                  span {
                    margin-left:10px;
                  }
                 }
                 .el-button {
                   position: absolute;
                   top: 8px;
                   right: 20px;
                 }
              }
             .el-button--text {
               color: #999999;
               font-size: 15px;
               font-family: 'Arial';
             }
             ::v-deep.el-table .el-button--small:hover {
                  // padding: 0 15px !important;
                 color: #46ACFf;
                // background-color: pink;
              }
              .el-input--prefix .el-input__inner {
                padding-left: 30px;
                position: relative;
              }
              .el-table {
                margin-top: 10px;
              }
              ::v-deep th {
                background-color: #FAFAFA;
              }
              ::v-deep.el-icon-close:before {
                content: "\e6db";
                color: #999999;
                
              }
              // ::v-deep.el-table--enable-row-hover .el-table__body tr:hover > td{
              //    background-color: rgba(0, 0, 0, 0) !important;
              // }
        }
      }
    ::v-deep.layout_main .pageFoot {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: center;
        .el-footer{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        
    }
    
    ::v-deep .el-table{
      height: calc(100vh - 330px);
    }
</style>
