<template>
  <base-layout class="layout_main" headerHeight="auto" pageFoot>
    <template slot="header"> </template>
    <template slot="main">  
      <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class="tabs-outerLayer">
        <el-tab-pane label="单元同比环比" name="first">
          <!-- <span slot="label" style="margin-right:20px">单元同比环比</span> -->
          <div class="table-header">
            <span>时间</span>
            <el-date-picker
              v-model="timevalue"
              type="month"
              value-format="yyyy-MM"
            >
            </el-date-picker>
            <el-button type="primary" @click="selectdate1">查询</el-button>
            <el-button type="success" icon="el-icon-download" @click="expt"
              >导出</el-button
            >
          </div>
          <span class="energy-title">能源指标</span>
          <el-select
            v-model="selectvalue"
            @change="selectenergy"
            placeholder="请选择"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
          <el-tabs
            class="el-tab tabs-innerLayer"
            v-model="activeName2"
            @tab-click="handleClick2"
          >
            <el-tab-pane label="用量同比、环比" name="first1">
              <!-- 用量同比环比柱状图 -->
              <div id="myecharts" v-if="!showbar" v-resize="resize" ></div>
              <div class="main-item-none" v-if="showbar" >
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>请选择能源指标</span>
                  </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="拆标同比、环比" name="second1" >
              <!-- 拆标同比环比 -->
              <div id="chain2" v-if="!showmark" v-resize="resize" ></div>
              <div v-if="showmark" class="main-item-none">
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>请选择能源指标</span>
                  </div>
              </div>
            </el-tab-pane>
          </el-tabs>
          <div class="table-content" >
          <div v-show="yoyData.length == 0" class="main-item-none">
               <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                    <span>暂无数据</span>
               </div>
          </div>
            <el-table :data="yoyData" style="width: 100%" v-show="yoyData.length !=0">
              <el-table-column
                align="center"
                type="index"
                label="序号"
                width="120"
              >
              </el-table-column>
              <el-table-column
                prop="energyType"
                label="能源种类"
                align="center"
              >
              </el-table-column>
              <el-table-column label="用量" align="center">
                <el-table-column
                  prop="usedValue"
                  label="用量"
                  align="center"
                  width="180"
                >
                </el-table-column>
                <el-table-column
                  prop="usedValueYoy"
                  label="同比"
                  align="center"
                  width="180"
                >
                </el-table-column>
                <el-table-column
                  prop="usedValueMom"
                  label="环比"
                  align="center"
                  width="180"
                >
                </el-table-column>
              </el-table-column>
              <el-table-column label="拆标量" align="center">
                <el-table-column
                  prop="factorKgStandardCoal"
                  label="千克标煤"
                  align="center"
                  width="180"
                >
                </el-table-column>
                <el-table-column
                  prop="factorMom"
                  label="同比"
                  align="center"
                  width="180"
                >
                </el-table-column>
                <el-table-column
                  prop="factorYoy"
                  label="环比"
                  align="center"
                  line
                  width="180"
                >
                </el-table-column>
              </el-table-column>
              <el-table-column align="center" prop="percentage" label="百分比">
              </el-table-column>
            </el-table>
          </div>
        </el-tab-pane>
        <el-tab-pane label="单元趋势" name="second">
          <div class="table-header">
            <span>时间</span>
             <el-date-picker
              v-model="timevalue"
              type="month"
              value-format="yyyy-MM"
            >
            </el-date-picker>
            <el-button type="primary" @click="selectdate2">查询</el-button>
            <el-button type="success" icon="el-icon-download" @click="expts"
              >导出</el-button
            >
          </div>
          <!-- 单元趋势折线图 -->
          <div id="myLiner" style="width: 100%" v-show="Xdata.length !=0"  v-resize="resize" ></div>
          <div v-show="Xdata.length == 0" class="main-item-none">
               <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                    <span>暂无数据</span>
               </div>
          </div>
          <div class="unit-table" >
            <div v-show="trendData2.length == 0" class="main-item-none">
               <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                    <span>暂无数据</span>
               </div>
            </div>
            <el-table :data="trendData2" style="width: 100%"  v-show="trendData2.length !=0">
              <el-table-column
                type="index"
                label="序号"
                align="center"
                width="180"
              >
              </el-table-column>
              <el-table-column
                prop="energyType"
                label="测点描述"
                align="center"
                width="240"
              >
              </el-table-column>
              <el-table-column
                prop="maxUsedValue"
                align="center"
                label="最大值"
              >
              </el-table-column>
              <el-table-column
                prop="maxDate"
                label="最大值时间"
                align="center"
                width="240"
              >
              </el-table-column>
              <el-table-column
                prop="minUsedValue"
                label="最小值"
                align="center"
              >
              </el-table-column>
              <el-table-column
                prop="minDate"
                label="最小值时间"
                align="center"
                width="300"
              >
              </el-table-column>
              <el-table-column
                prop="averageUsedValue"
                label="平均分"
                align="center"
                width="300"
              >
              </el-table-column>
            </el-table>
          </div>
        </el-tab-pane>
        <el-tab-pane label="单元占比及排名" name="third" v-resize="resize">
          <div class="table-header">
            <el-date-picker
              v-model="timevalue"
              type="month"
              value-format="yyyy-MM"
            >
            </el-date-picker>
            <el-button type="primary" @click="selectdate3">查询</el-button>
          </div>
          <div class="ranking-content">
            <div class="content-title">
              <div class="borderline"></div>
              <div class="title-text">各设备能耗拆标占比和排行</div>
            </div>
            <div class="content-up">
              <!-- 设备饼图 -->
              <div id="up-left" v-show="optionpie1Data.length !=0"></div>
              <div v-show="optionpie1Data.length == 0" class="main-item-none">
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>暂无数据</span>
                  </div>
              </div>
              <!-- 设备排行榜 -->
              <div id="up-right" v-show="attaData.length !=0"></div>
              <div v-show="salvProMax.length == 0" class="main-item-none">
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>暂无数据</span>
                  </div>
              </div>
            </div>
            <div class="content-title">
              <div class="borderline"></div>
              <div class="title-text">所属车间能耗拆标占比和排行</div>
            </div>
            <div class="content-down">
              <!-- 车间饼图 -->
              <div id="down-left" v-show="optionpie2Data.length !=0"></div>
              <div v-show="optionpie2Data.length == 0" class="main-item-none">
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>暂无数据</span>
                  </div>
              </div>
              <!-- 车间排行榜 -->
              <div id="down-right" v-show="workMax.length!=0"></div>
              <div v-show="workMax.length == 0" class="main-item-none">
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>暂无数据</span>
                  </div>
              </div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="累积量展示" name="fourth">
          <div class="show-header">
            <div class="text-title">年度能源消耗量</div>
            <div class="h-year">
              <template>
                <!--  -->
                <el-radio-group @change="selectyear" v-model="tabPosition" >
                  <el-radio-button label="2022">2022</el-radio-button>
                  <el-radio-button label="2021">2021</el-radio-button>
                  <el-radio-button label="2020">2020</el-radio-button>
                  <el-radio-button label="2019">2019</el-radio-button>
                  <el-radio-button label="2018">2018</el-radio-button>  
                  <el-radio-button label="dropdownVal" class="my-radio" :class="tabPosition!=2022&&tabPosition!=2021&&tabPosition!=2020&&tabPosition!=2019&&tabPosition!=2018?'aaaa':''">
                     <el-dropdown trigger="click" @command="downyear"  size="small"> 
                      <span class="el-dropdown-link">
                        {{dropdownVal}}<i class="el-icon-arrow-down el-icon--right"></i>
                      </span>
                      <el-dropdown-menu slot="dropdown" >
                        <el-dropdown-item :command='2017'>2017</el-dropdown-item>
                        <el-dropdown-item :command='2016'>2016</el-dropdown-item>
                        <el-dropdown-item :command='2015'>2015</el-dropdown-item>
                        <el-dropdown-item :command='2014'>2014</el-dropdown-item>
                        <el-dropdown-item :command='2013'>2013</el-dropdown-item>
                        <el-dropdown-item :command='2012'>2012</el-dropdown-item>
                      </el-dropdown-menu>
                </el-dropdown>
                  </el-radio-button>
                </el-radio-group>
               
              </template>
            </div>
          </div>
          <div class="show-content">
            <div class="content-bar">
              <div class="content-title">
                <div class="borderline"></div>
                <div class="title-text">各设备能耗拆标占比和排行</div>
              </div>
              <!-- 累积量展示的柱状图 -->
              <div id="energydata" v-show="energyBarSeriesData.length !=0" v-resize="resize" ></div>
              <div v-show="energyBarSeriesData.length == 0" class="main-item-none">
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>暂无数据</span>
                  </div>
              </div>
            </div>
            <div class="content-pie">
              <div class="content-title">
                <div class="borderline"></div>
                <div class="title-text">各设备能耗拆标占比和排行</div>
              </div>
              <!-- 累积量展示的饼图 -->
              <div id="groupdata" v-show="energypieData.length !=0" v-resize="resize" ></div>
              <div v-show="energypieData.length == 0" class="main-item-none">
                  <div class="main-item-none-wrapper"><img src="../../../assets/images/_10-空页面-light.png">
                        <span>暂无数据</span>
                  </div>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </template>
  </base-layout>
</template>
<script>
import * as echarts from "echarts";
import {
  getList,
  gettable,
  getList2,
  getenergy,
} from "@/api/energAnalyse/userAnalyse";
import { getmyline } from "@/api/energAnalyse/userAnalyse";
import {
  getmypie,
  getmypie2,
  getworkshop,
  getequipment,
} from "@/api/energAnalyse/userAnalyse";
import { exp, exps } from "@/api/energAnalyse/userAnalyse";
import { getunit } from "@/api/energAnalyse/userAnalyse";
import { getworkbar, getworkpie } from "@/api/energAnalyse/userAnalyse";

export default {
  // name:"myecharts",
  data() {
    var nowDate = new Date();
      let date = {
        year: nowDate.getFullYear(),
        month: nowDate.getMonth() + 1
      };
      if (date.month >= 1 && date.month <= 9) {
          date.month =  "0"  + date.month;
      }
      // console.log(date);
      let systemDate = date.year + "-" + date.month ;
    return {    

        dropdownVal:'更多',

      //判断的条件
      usedValue:"",
      usedValueMoms:"",
      usedValueYoys:"",
      kgStandardCoal:"",
      factorYoy:"",
      factorMom:"",
      chain2first:'',
      // resdata1:'',
      // resdata2:'',
      chain2X:[],
      myXData: [],          
      attaData: [],
      attaName: [],
      topName: [],
      wattaData: [],
      wattaName: [],
      wtopName: [],
      // 设备消耗总值
      costequipment:0,
      // 车间消耗总值
      costwork:0,
      tdata: [
        // { code: "公安机关", stock: "19785", fundPost: "19785" },
        // { code: "住房和城乡建筑部门", stock: "16064", fundPost: "16064" },
        // { code: "教育管理部门", stock: "14319", fundPost: "14319" },
        // { code: "其他", stock: "12054", fundPost: "12054" },
        // { code: "交通部门", stock: "13100", fundPost: "13100" },
      ],
      //拆标柱状图
      Chain2:{},
      salvProMax: [],
      workMax:[],
      // 折线图x轴数据
      Xdata:[],

      colors: ["#0178FF", "#71B4FF", "#A1F6F8", "#F29D3C"],
      // 累积量展示年度能源消耗量柱状图
      energyBarSeriesData: [],
      // x轴的数据
      energyBarXaxis: [
        "#4DC488",
        "#F79A3C",
      ],
      linecolors:[],
      // 累积量柱状图
      energypieData: [],
      // 设备饼图
      optionpie1Data: [],
      // 车间饼图
      optionpie2Data: [],
      // 累积量柱状图颜色
      energycolors: [
        "#0178FF",
        "#4DD5D7",
        "#A1F6F8",
        "#F29D3C",
        "#F66262",
        "#6E71EC",
      ],
      energypiecolors: [
        "#0079FF",
        "#68B0FF",
        "#4BD5D9",
        "#F79C36",
        "#F76161",
        "#6B70E9",
        "#DE85EA",
        "#52C188",
        "#4D8DC5",
        "#F8BF36",
      ],
      activeName: "first",
      activeName2: "first1",
      // 选择时间
      timevalue: systemDate,
      endtime:"",
      // value2: '',
      // 单元同比、环比表格
      yoyData: [],
      // 单元趋势表格
      trendData2: [],
      // 能源指标
      options: [],
      selectvalue: "",
      // 默认年份
      postino: [],
      tabPosition: "2022",
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      document.body.className = `test`;
    });
  },
  beforeRouteUpdate(to, from, next) {
    document.body.className = `test`;
    next();
  },
  beforeRouteLeave(to, from, next) {
    document.body.className = ``;
    next();
  },
  mounted() {

    // this.getbar();
    this.getbar();
    this.gettab();
    // this.getmark();
    this.gettab2();
    this.getenergytype();
    // this.getenergybar();
    // this.getenergypie();
    // this.getdevice();
    // this.getwork();
    // this.getpie();
    // this.getpie2();
  },
  computed: {
    queryPramas() {
      return {
      startDate:this.timevalue,
      endDate:this.endtime
      };
    },
    querybar() {
      return {
        startDate:this.timevalue,
        endDate:this.endtime,
        energyType: this.selectvalue,
      };
    },
    showbar() {
      return (this.usedValue==null || this.usedValue.length==0) && (this.usedValueMoms==null || this.usedValueMoms.length==0) && (this.usedValueYoys==null || this.usedValueYoys.length==0)     
    },
    showmark() {
      return (this.kgStandardCoal==null || this.kgStandardCoal.length==0) && (this.factorYoy==null || this.factorYoy.length==0) && (this.factorMom==null || this.factorMom.length==0)
    }

  },
  directives: {
    // 使用局部注册指令的方式
    resize: {
      // 指令的名称
      bind(el, binding) {
        // el为绑定的元素，binding为绑定给指令的对象
        let width = "",
          height = "";
        function isReize() {
          const style = document.defaultView.getComputedStyle(el);
          if (width !== style.width || height !== style.height) {
            binding.value(); // 关键
          }
          width = style.width;
          height = style.height;
        }
        el.__vueSetInterval__ = setInterval(isReize, 1);
      },
      unbind(el) {
        clearInterval(el.__vueSetInterval__);
      },
    },
  },
  methods: {            
     resize() {
      // 当宽高变化时就会执行
      //执行某些操作
      // this.getbar();
      // this.getmark();
      // this.getline();
      // this.getdevice();
      // this.getwork();
      // this.getpie();
      // this.getpie2();
      // this.getenergybar();
      // this.getenergypie();
      // console.log("klkkgjiu");
     
    },
    unoptions() {
        if(this.options.length==0)
            {
              this.selectvalue = null
            }
    },
    //单元同比环比表格
    gettab() {
      let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
      if(arr[1]>12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-') 
      gettable(this.queryPramas).then((res) => {
        console.log(res);
        this.yoyData = res.data || [];
      });
    },
    // 单元趋势表格
    gettab2() {
     let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
      if(net>12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-')
      getunit(this.queryPramas).then((res) => {
        this.trendData2 = res.data || [];
      });
    },
    // 绘制用量同比环比柱状图
    getbar() {
      let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
       if(arr[1] > 12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-')
      this.$startLoading('app-main')
      getList(this.querybar).then((res) => {
          this.$closeLoading()
          this.myXData = res.data.dates;
          let Chain1 = {
              legend: {
                itemWidth: 12,
                itemHeight: 12,
                right: "10%",
                textStyle: { color: "gray" },
                
              },
              xAxis: {
                type: "value",
                type: "category",
                data: this.myXData,
                axisTick: {
                  show: false,
                  // lineStyle:{
                  //   color:'gray'
                  // }
                },
                axisLine: {
                  show: true,
                  // symbol:['none', 'arrow'],
                  lineStyle: {
                    color: "#666",
                    width:0
                  },
                },
                // textStyle:{
                //   color: 'red'
                // },
              },
              yAxis: {
                type: "value",
                name: "单位：kw/h",
                nameTextStyle: {
                  color: "gray",
                  align: "center",
                },
                
                axisLine: {
                  // show:true,
                  symbol: ["none", "arrow"],
                  symbolOffset: [0, 0],
                  symbolSize: [10, 15],
                  lineStyle: { color: "gray" },
                },
                splitLine: {
                    show: true,
                    lineStyle:{
                        color: ['#d9d9d9'],
                        width: 1,
                        type: 'solid'
                    }
                },
              },
              series: [
                {
                  name: "用量",
                  type: "bar",
                  barWidth: 13,
                  itemStyle: { color: "#52C188" },
                  data: [10, 13, 13, 15, 9, 10, 50, 43, 23, 56, 78, 23, 18, 33, 32],
                },
                {
                  name: "同比",
                  type: "bar",
                  barWidth: 13,
                  itemStyle: { color: "#0079FF" },
                  data: [10, 13, 13, 15, 9, 10, 50, 43, 23, 56, 78, 23, 18, 33, 32],
                },
                {
                  name: "环比",
                  type: "bar",
                  barWidth: 13,
                  itemStyle: { color: "#68B0FF" },
                  data: [10, 13, 13, 15, 9, 10, 50, 43, 23, 56, 78, 23, 18, 33, 32],
                },
              ],
          };
          Chain1.series[0].data = res.data.usedValue;
          Chain1.series[1].data = res.data.usedValueYoys;
          Chain1.series[2].data = res.data.usedValueMoms;
          this.usedValue=res.data.usedValue;
          this.usedValueMoms=res.data.usedValueYoys;
          this.usedValueYoys=res.data.usedValueMoms;
          this.unoptions();
          // 获取dom元素
          this.$nextTick(()=>{
            let mycharts = echarts.init(document.getElementById("myecharts"));
            mycharts.resize()
            mycharts.setOption(Chain1);
            window.onresize = function () {
                mycharts.resize();
              }
          })
         
            
        });
    },
    // 拆标柱状图
    getmark() {
     let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
      if(arr[1]>12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-')
      this.$startLoading('app-main')
      getList2(this.querybar).then((res) => {
        this.$closeLoading()
        this.chain2X = res.data.dates;
        this.Chain2 = {
          legend: {
            name: "单位 kw/h",
            right: "11%",
            itemWidth: 12,
            itemHeight: 12,
            textStyle: { color: "gray" },
          },
          xAxis: {
            axisTick: {
              show: false,
            },
            type: "category",
            data: this.chain2X,
            axisLine: {
              lineStyle: { color: "gray",width:0},
            },
          },
          yAxis: {
            type: "value",
            name: "单位：kw/h",
            nameTextStyle: {
              color: "gray",
              align: "center",
            },
            splitLine: {
                show: true,
                lineStyle:{
                    color: ['#d9d9d9'],
                    width: 1,
                    type: 'solid'
                }
            },
            axisLine: {
            
              lineStyle: { color: "gray" },
            },
          },
          series: [
            {
              name: "千克标煤",
              type: "bar",
              barWidth: 13,
              itemStyle: { color: "#00AFB0" },
              data: [10, 13, 13, 15, 9, 10, 50, 43, 23, 56, 78, 23, 18, 33, 32],
            },
            {
              name: "同比",
              type: "bar",
              barWidth: 13,
              itemStyle: { color: "#94A500" },
              data: [10, 13, 13, 15, 9, 10, 50, 43, 23, 56, 78, 23, 18, 33, 32],
            },
            {
              name: "环比",
              type: "bar",
              barWidth: 13,
              itemStyle: { color: "#94A500" },
              data: [10, 13, 13, 15, 9, 10, 50, 43, 23, 56, 78, 23, 18, 33, 32],
            },
          ],
        };
        this.Chain2.series[0].data = res.data.kgStandardCoal;
        this.Chain2.series[1].data = res.data.factorYoy;
        this.Chain2.series[2].data = res.data.factorMom;
        this.chain2first= this.Chain2.series[0].data
        this.kgStandardCoal=res.data.kgStandardCoal
        this.factorYoy=res.data.factorYoy
        this.factorMom=res.data.factorMom
         this.unoptions();
        //获取dom元素
        this.$nextTick(() => {
        let mycharts2 = echarts.init(document.getElementById("chain2"));
         mycharts2.resize()
         mycharts2.setOption(this.Chain2);
         window.onresize = function () {
            mycharts2.resize();
          }
          // var resizefun = () => {
          //   mycharts2.resize();
          // };
          // window.onresize("resize", () => {
          //   resizefun();
          // });
          // resizefun()
          
        });
      });
    },
    //能源指标
    getenergytype() {
      // if(this.chain2X.length ==0 ) {
      //     this.unoptions()
      // }else{
          getenergy().then((res) => {
            const func1 = (data) => {
              let arr = [];
              data.forEach((item) => {
                arr.push({
                  value: item,
                });
              });
              return arr;
            };
            this.options = func1(res.data);
          
            this.getbar();
            this.getmark();
        });
      // }
    },
    // 绘制折线图
    getline() {
      let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
      if(net>12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-')
      
       this.$startLoading('app-main')
      getmyline(this.queryPramas).then((res) => {
          this.$closeLoading()
          this.Xdata = res.data.dates;
          let optionsline = {
              tooltip: {
                trigger: "axis",
              },
              legend: {
                right: "15px",
                top: "8%",
                itemWidth: 12,
                itemHeight: 12,
                icon:'rect'
                // data: [
                //   {
                //     name: "水能",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#0078FF",
                //     },
                //   },
                //   {
                //     name: "电能",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#4DC488",
                //     },
                //   },
                //   {
                //     name: "天然气",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#F79A3C",
                //     },
                //   },
                //   {
                //     name: "水",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#0078FF",
                //     },
                //   },
                //   {
                //     name: "原子点1",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#F79A3B",
                //     },
                //   },
                //   {
                //      name: "新增",
                //     icon: "bar",
                //     itemStyle: {
                //        color: "#F79A4C",
                //     },
                //   },
                //   {
                //     name: "煤",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#000000",
                //     },
                //   },
                //  {
                //     name: "水(不要删)",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#F3C98B"
                //     },
                //   },
                //   {
                //     name: "气",
                //     icon: "bar",
                //     itemStyle: {
                //        color: "#F7B2B4",
                //     },
                //   },
                //   {
                //     name: "电压",
                //     icon: "bar",
                //     itemStyle: {
                //       color: "#F79C14",
                //     },
                //   },
                //   {
                //     name: "电流",
                //     icon: "bar",
                //     itemStyle: {
                //        color: "#F7123C",
                //     },
                //   },
                  
                // ],
              },
              grid: {
                left: 20,
                right: 10,
                bottom: 10,
                containLabel: true,
              },
              xAxis: {
                type: "category",
                boundaryGap: true,
                axisTick: {
                  alignWithLabel: true,
                  interval: "auto",
                },
                data:this.Xdata
                // data: [
                //   "1日",
                //   "2日",
                //   "3日",
                //   "4日",
                //   "5日",
                //   "6日",
                //   "7日",
                //   "8日",
                //   "9日",
                //   "10日",
                //   "11日",
                //   "12日",
                //   "13日",
                //   "14日",
                //   "15日",
                // ],
              },

              yAxis: {
                type: "value",
                offset: [-25],
                axisLabel: {
                  verticalAlign: "bottom",
                },
                splitLine: {
                    show: true,
                    lineStyle:{
                        color: ['#d9d9d9'],
                        width: 1,
                        type: 'solid'
                    }
                },
              },

              series: [
                // {
                //   name: "水能",
                //   type: "line",
                //   symbol: "none",
                //   data: [
                //     220, 182, 191, 234, 290, 330, 310, 230, 257, 213, 286, 190, 210,
                //     245, 285,
                //   ],

                //   itemStyle: {
                //     normal: {
                //       //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                //       color: new echarts.graphic.LinearGradient(0, 0, 0, 2, [
                //         {
                //           offset: 0,
                //           color: "#81befd", // 0% 处的颜色
                //         },
                //         {
                //           offset: 0.4,
                //           color: "#e4f2ff", // 100% 处的颜色
                //         },
                //         {
                //           offset: 1,
                //           color: "#fff", // 100% 处的颜色
                //         },
                //       ]), //背景渐变色
                //       lineStyle: {
                //         // 系列级个性化折线样式
                //         width: 3,
                //         type: "solid",
                //         color: "#0180ff", //折线的颜色
                //       },
                //     },
                //   },
                //   symbolSize: 5, //折线点的大小
                //   label: {
                //     normal: {
                //       show: true,
                //       position: "top",
                //     },
                //   },
                //   areaStyle: { normal: {} },
                // },
                // {
                //   name: "电能",
                //   type: "line",
                //   symbol: "none",
                //   lineStyle: {
                //     color: "#4DC488",
                //   },
                //   data: [
                //     200, 190, 230, 223, 260, 247, 241, 215, 232, 231, 256, 234, 261,
                //     230, 233,
                //   ],
                // },
                // {
                //   symbol: "none",
                //   name: "天然气",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#F79A3C",
                //   },
                // },
                // {
                //   symbol: "none",
                //   name: "原子点1",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#F79A3B",
                //   },
                // },
                // {
                //   symbol: "none",
                //   name: "新增",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#F79A4C",
                //   },
                // },
                // {
                //   symbol: "none",
                //   name: "煤",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#000000",
                //   },
                // },
                // {
                //   symbol: "none",
                //   name: "水(不要删)",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#F79C2C",
                //   },
                // },
                // {
                //   symbol: "none",
                //   name: "气",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#F7B2B4",
                //   },
                // },
                // {
                //   symbol: "none",
                //   name: "电压",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#F79C14",
                //   },
                // },
                //  {
                //   symbol: "none",
                //   name: "电流",
                //   type: "line",
                //   data: [
                //     150, 232, 201, 154, 190, 330, 410, 263, 243, 257, 280, 240, 247,
                //     277, 310,
                //   ],
                //   lineStyle: {
                //     color: "#F7123C",
                //   },
                // },
              ],
            };
          const func2 = (data) => {
            let dataResult = [];
            data.forEach((item,index) => {
              dataResult.push({
                type: 'line',
                symbol: "none",
                name: res.data.energyTypes,
                name: item,
                itemStyle: { color: this.energypiecolors[index] },
                data: res.data.usedValuesMap[item],
                areaStyle:{
                   normal: {
                //线性渐变，前4个参数分别是x0,y0,x2,y2(范围0~1);相当于图形包围盒中的百分比。如果最后一个参数是‘true’，则该四个值是绝对像素位置。
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: this.energypiecolors[index],
                        opacity:0.3

                    },
                    {
                        offset: 1,
                        color: this.energypiecolors[index],
                        opacity:0,
                    }
                ], false),
                shadowColor: this.energypiecolors[index], //阴影颜色
                
                opacity: 0.1 ,
                shadowBlur: 20 //shadowBlur设图形阴影的模糊大小。配合shadowColor,shadowOffsetX/Y, 设置图形的阴影效果。
            }
                }
              });
            });
            return dataResult;
          };
        
          optionsline.series=func2(res.data.energyTypes)
          this.$nextTick(() => {
            let mychartLine = echarts.init(document.getElementById("myLiner"));
            mychartLine.resize()
            mychartLine.setOption(optionsline);
            window.onresize=function () {
              mychartLine.resize();
            }
          });
        });
    },
    handleClick(tab, event) {
      if (tab.index == "1") {
        this.getline();
      } else if (tab.index == "2") {
       this.$nextTick(()=>{
          this.getpie();
          this.getpie2();
          this.getwork();
          this.getdevice();
       })
      } else if (tab.index == "3") {
        this.getenergybar();
        this.getenergypie();
      }
    },
    handleClick2(tab, event) {
      // 绘制拆标同比环比柱状图
      if (tab.index == "1") {
          this.$nextTick(()=>{
             this.getmark()
            //  this.gettab2()
          })
      }else if(tab.index == "0"){
        this.$nextTick(()=>{
             this.getbar()
            //  this.getenergytype()
          })
      }
    },
    // 绘制设备饼图
    getpie() {
     let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
      if(net > 12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-')
      this.$startLoading('app-main')
      getmypie(this.queryPramas).then((res) => {
        this.$closeLoading()
          //遍历赋值
          let sum = 0;
          const func2 = (data) => {
            let dataResult = [];
            data.forEach((item, index) => {
              sum += +item.kgStandardCoalSummary
              dataResult.push({
                value: item.kgStandardCoalSummary,
                name: item.deviceName,
                itemStyle: { color: this.colors[index] },
              });
            });
            return dataResult;
          };
          this.optionpie1Data = func2(res.data);
          this.costequipment=sum.toFixed(2);
          this.$nextTick(() => {
            let equipment = echarts.init(document.getElementById("up-left"));
            let optionpie1 = {
                tooltip: {
                  trigger: "item",
                  backgroundColor: "rgba(0,0,0,0.6)",
                  textStyle: {
                    color: "#fff",
                  },
                  formatter:'所属设备能耗拆标<br/>' + "<span style=\"display:inline-block;margin-right:4px;border-radius:10px;width:10px;height:10px;background-color:#0178FF;\"></span>"+'{b} '+' {d}'+"%"+' {c}'
                },
                title: {
                    zlevel: -1,
                    text: [
                        
                        '{name|所有设备能耗拆标}',
                        '{value|' + this.costequipment + '}',
                    ].join('\n'),
                    rich: {
                        value: {
                            color: '#303133',
                            fontSize: 30,
                            lineHeight: 35
                        },
                        name: {
                            color: '#909399',
                            lineHeight: 20
                        },
                    },
                    top: 'center',
                    left: '30%',
                    textAlign: 'center',
                    textStyle: {
                        rich: {
                            value: {
                                color: '#303133',
                                fontSize: 32,
                                textAlign: 'center',
                                lineHeight: 45,
                                padding: [25,10,0,0]
                            },
                            name: {
                                color: '#909399',
                                lineHeight: 20,
                                padding: [0,0,0,-10],
                                fontSize: 16
                            },
                        },
                    },
                },
                legend: {
                  itemWidth: 12,
                  itemHeight: 12,
                  orient: "vertical",
                  right: "10%",
                  // left:"10%",
                  top: "30%",
                  textStyle: { lineHeight: "30" ,fontSize:"14"},
                  formatter: function (name) {
                    // 获取legend显示内容
                    let data = optionpie1.series[0].data;
                    let total = 0;
                    let tarValue = 0;
                    for (let i = 0, l = data.length; i < l; i++) {
                      total += data[i].value;
                      if (data[i].name == name) {
                        tarValue = data[i].value;
                      }
                    }
                    let p = ((tarValue / total) * 100).toFixed(1);
                    return `${name}    |    ${p}%    ${tarValue}`;
                  },
                },
                series: [
                  {
                    name: "所属设备能耗拆标",
                    center: ["30%", "50%"],
                    type: "pie",
                    radius: ["60%", "35%"],
                    avoidLabelOverlap: true,
                    label: {
                      show: true,
                      fontSize: "12px",
                      position: "inner",
                      formatter: "{d}%",
                      color:'#fff'
                    },

                    emphasis: {
                      label: {
                        show: false,
                        fontSize: "40",
                        fontWeight: "bold",
                      },
                    },
                    data: this.optionpie1Data,
                    // data: [
                    //     {
                    //       value: 454,
                    //       name: "提纯设备",
                    //       itemStyle: {
                    //         color: "#0178FF",
                    //       },
                    //     },
                    //   {
                    //     value: 320,
                    //     name: "干燥设备",
                    //     itemStyle: {
                    //       color: "#71B4FF",
                    //     },
                    //   },
                    //   {
                    //     value: 211,
                    //     name: "提取设备",
                    //     itemStyle: {
                    //       color: "#A1F6F8",
                    //     },
                    //   },
                    //   {
                    //     value: 28,
                    //     name: "浓缩设备",
                    //     label: {
                    //       show: false,
                    //     },
                    //     itemStyle: {
                    //       color: "#F29D3C",
                    //     },
                    //   },
                    // ],
                  },
                ],
            };
            equipment.resize();
            equipment.setOption(optionpie1);
            window.onresize = function () {
              equipment.resize();
            };
          });
        });
    },
    // 绘制车间饼图
    getpie2() {
     let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
       if(net>12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-')
      getmypie2(this.queryPramas).then((res) => {
          // 遍历赋值
          let costs = 0;
          const func2 = (data) => {
            let dataResult = [];
            data.forEach((item, index) => {
              costs += +item.kgStandardCoalSummary
              dataResult.push({
                value: item.kgStandardCoalSummary,
                name: item.workshopName,
                itemStyle: { color: this.colors[index] },
              });
            });
            return dataResult;
          };
          this.optionpie2Data = func2(res.data);
          this.costwork=costs.toFixed(2);
          this.$nextTick(() => {
            let workshop = echarts.init(document.getElementById("down-left"));
             let optionpies2 = {
                tooltip: {
                  show:true,
                  trigger: "item",
                  backgroundColor: "rgba(0,0,0,0.6)",
                  textStyle: {
                    color: "#fff",
                  },
                  // formatter:(params)=>{
                  //   console.log(params);
                  // }
                  formatter:'所有设备能耗拆标<br/>' +"<span style=\"display:inline-block;margin-right:4px;border-radius:10px;width:10px;height:10px;background-color:#0178FF;\"></span>"+ '{b}  '+' {d}'+"%"+'  {c}'
                },
               title: {
                    zlevel: -1,
                    text: [
                        
                        '{name|所有设备能耗拆标}',
                        '{value|' + this.costwork + '}',
                    ].join('\n'),
                    rich: {
                        value: {
                            color: '#303133',
                            fontSize: 30,
                            lineHeight: 35
                        },
                        name: {
                            color: '#909399',
                            lineHeight: 20
                        },
                    },
                    top: 'center',
                    left: '30%',
                    textAlign: 'center',
                    textStyle: {
                        rich: {
                            value: {
                                color: '#303133',
                                fontSize: 32,
                                textAlign: 'center',
                                lineHeight: 45,
                                padding: [25,10,0,0]
                            },
                            name: {
                                color: '#909399',
                                lineHeight: 20,
                                padding: [0,0,0,-10],
                                fontSize: 16
                            },
                        },
                    },
                },
                legend: {
                  itemWidth: 12,
                  itemHeight: 12,
                  orient: "vertical",
                  right: "10%",
                  top: "30%",
                  textStyle: { lineHeight: "30" ,fontSize:"14"},
                  formatter: function (name) {
                    // 获取legend显示内容
                    let data = optionpies2.series[0].data;
                    let total = 0;
                    let tarValue = 0;
                    for (let i = 0, l = data.length; i < l; i++) {
                      total += data[i].value;
                      if (data[i].name == name) {
                        tarValue = data[i].value;
                      }
                    }
                    let p = ((tarValue / total) * 100).toFixed(1);
                    return `${name}    |    ${p}%    ${tarValue}`;
                  },
                },
                series: [
                  {
                    name: "所有车间能耗拆标",
                    center: ["30%", "50%"],
                    type: "pie",
                    radius: ["60%", "35%"],
                    avoidLabelOverlap: true,
                    label: {
                      show: true,
                      fontSize: "12px",
                      position: "inner",
                      formatter: "{d}%",
                      color:'#fff'
                    },
                    emphasis: {
                      label: {
                        show: false,
                        fontSize: "40",
                        fontWeight: "bold",
                      },
                    },
                    data: this.optionpie2Data,
                    // data: [
                    //     {
                    //       value: 454,
                    //       name: "提纯设备",
                    //       itemStyle: {
                    //         color: "#0178FF",
                    //       },
                    //     },
                    //   {
                    //     value: 320,
                    //     name: "干燥设备",
                    //     itemStyle: {
                    //       color: "#71B4FF",
                    //     },
                    //   },
                    //   {
                    //     value: 211,
                    //     name: "提取设备",
                    //     itemStyle: {
                    //       color: "#A1F6F8",
                    //     },
                    //   },
                    //   {
                    //     value: 28,
                    //     name: "浓缩设备",
                    //     label: {
                    //       show: false,
                    //     },
                    //     itemStyle: {
                    //       color: "#F29D3C",
                    //     },
                    //   },
                    // ],
                  },
                ],
              };
            workshop.resize();
            workshop.setOption(optionpies2);
            window.onresize = function () {
              workshop.resize();
            };
          });
        });
    },
    //绘制设备排行
    getdevice() {
      let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
       if(net>12)
      {
        arr[0]=Number(first)+1
        arr[1]="01"
      }
      this.endtime = arr.join('-')
      var contains = (arr, dst) => {
        var i = arr.length;
        while ((i -= 1)) {
          if (arr[i] == dst) {
            return i;
          }
        }
        return false;
      };
      var attackSourcesColor = [
        new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#EB3B5A" },
          { offset: 1, color: "#FE9C5A" },
        ]),
        new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#FA8231" },
          { offset: 1, color: "#FFD14C" },
        ]),
        new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#395CFE" },
          { offset: 1, color: "#2EC7CF" },
        ]),
        new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#395CFE" },
          { offset: 1, color: "#2EC7CF" },
        ]),
      ];
      var attackSourcesColor1 = [
          "#EB3B5A",
          "#FA8231",
          "#3860FC",
          "#1089E7",
          "#F57474",
          "#56D0E3",
          "#1089E7",
          "#F57474",
          "#1089E7",
          "#F57474",
          "#F57474",
      ];
      let arr2 = [] 
      var attackSourcesDataFmt = (sData) => {
        var sss = [];
        sData.forEach(function (item, i) {
          let itemStyle = {
            color: i > 3 ? attackSourcesColor[3] : attackSourcesColor[i],
          };
          sss.push({
            value: item,
            itemStyle: itemStyle,
            name:arr2[i]
          });
        });
        return sss;
      };
     getequipment(this.queryPramas).then((res) => {
        // this.tdata = this.tdata.sort((a, b) => {
        //   return +b.fundPost - +a.fundPost;
        // });
        res.data.summaryVos = res.data.summaryVos.sort((a,b)=>{
          return b.kgStandardCoalSummary-a.kgStandardCoalSummary
        }) 
        res.data.summaryVos.forEach((item, index) => {
          this.attaData[index] = parseFloat(item.kgStandardCoalSummary).toFixed(2);
          this.attaName[index] = item.kgStandardCoalSummary;
          this.topName[index] = item.deviceName;
          arr2.push(item.deviceName)
        });
        this.topName = this.topName.reverse()
        for (let i = 0; i < this.attaData.length; i++) {
          this.salvProMax.push({
            value:this.attaData[0],
            
            name:123132
          });
        }
        // console.log(equipmentlist)
          this.$nextTick(()=>{
             let equipment2 = echarts.init(document.getElementById("up-right"));
             let equipmentlist = {
                title: {
                  text: "所属设备排行TOP5",
                  top: "3%",
                  left: "3%"
                },  
                tooltip: {
                  show: false,
                  trigger: "item",
                  backgroundColor: "rgba(0,0,0,0.6)",
                  textStyle: {
                    color: "#fff",
                  },
                  borderColor:"rgba(0,0,0,0.6)",
                  formatter:function(item){
                    return item.data.name + ' : '+ item.data.value
                  }
                },
                color: ["#F7B731"],
                legend: {
                  show: false,
                  pageIconSize: [12, 12],
                  itemWidth: 20,
                  itemHeight: 10,
                  textStyle: {
                    //图例文字的样式
                    fontSize: 10,
                    color: "#fff",
                  },
                  selectedMode: false,
                  // data: ['个人所得(亿元)'],
                },
                // grid: {
                //   // left: "1%",
                //   right: "2%",
                //   width: "100%",
                //   bottom: "2%",
                //   top: "8%",
                //   containLabel: true,
                // },
                xAxis: {
                  type: "value",

                  splitLine: {
                    show: false,
                  },
                  axisLabel: {
                    show: false,
                  },
                  axisTick: {
                    show: false,
                  },
                  axisLine: {
                    show: false,
                  },
                },
                yAxis: [
                  {
                    type: "category",
                    inverse: true,
                    axisLine: {
                      show: false,
                    },
                    axisTick: {
                      show: false,
                    },
                    splitLine: {
                        show: false,
                        lineStyle:{
                            color: ['#d9d9d9'],
                            width: 1,
                            type: 'solid'
                        }
                    },
                    axisPointer: {
                      label: {
                        show: true,
                        //margin: 30
                      },
                    },
                    pdaaing: [5, 0, 0, 0],
                    postion: "right",
                    data: this.attaName,
                    axisLabel: {
                      show: true,
                      margin: 30,
                      fontSize: 15,
                      align: "left",
                      padding: [2, 0, 0, 0],
                      color: "#000",
                      rich: {
                        nt1: {
                          color: attackSourcesColor1[0],
                          width: 13,
                          height: 13,
                          fontSize: 23,
                          align: "center",
                          lineHeight: "20",
                          padding: [-10, 1, 2, 1],
                          // padding:[0,0,2,0],
                        },
                        nt2: {
                          color: attackSourcesColor1[1],
                          width: 13,
                          height: 13,
                          fontSize: 23,
                          align: "center",
                          // borderRadius: 100,
                          padding: [-10, 1, 2, 1],
                        },
                        nt3: {
                          color: attackSourcesColor1[2],
                          // backgroundColor: attackSourcesColor1[2],
                          width: 13,
                          height: 13,
                          fontSize: 23,
                          align: "center",
                          borderRadius: 100,
                          padding: [-10, 1, 2, 1],
                        },
                        nt: {
                          color: attackSourcesColor1[3],
                          // backgroundColor: attackSourcesColor1[3],
                          width: 13,
                          height: 13,
                          fontSize: 23,
                          align: "center",
                          lineHeight: 3,
                          borderRadius: 100,
                          padding: [-10, 1, 2, 1],
                          lineHeight: 5,
                        },
                      },
                      formatter: (value, index)=> {
                        index = contains(this.attaName, value) + 1;
                        if (index - 1 < 3) {
                          return ["{nt" + index + "|" + index + "}"].join("\n");
                        } else {
                          return ["{nt|" + index + "}"].join("\n");
                        }
                      },
                    },
                  },
                  {
                    type: "category",
                    inverse: true,
                    axisTick: "none",
                    axisLine: "none",
                    show: true,
                    axisLabel: {
                      textStyle: {
                        color: "#000",
                        fontSize: "14",
                        align: 'right',
                      },
                      margin:40
                    },
                    data: attackSourcesDataFmt(this.attaName),
                  },
                  {
                    //名称
                    type: "category",
                    offset: -10,
                    position: "left",
                    axisLine: {
                      show: false,
                    },
                    inverse: false,
                    axisTick: {
                      show: false,
                    },
                    axisLabel: {
                      show: true,
                      interval: 0,
                      color: ["gray"],
                      align: "left",
                      verticalAlign: "bottom",
                      lineHeight: 52,
                      fontSize: 14,
                    },
                    data: this.topName,
                  },
                ],
                series: [
                  {
                    zlevel: 1,
                    name: "",
                    type: "bar",
                    barWidth: 15,
                    animationDuration: 1500,
                    data: attackSourcesDataFmt(this.attaData),
                    align: "center",
                    itemStyle: {
                      normal: {
                        barBorderRadius: 0,
                      },
                    },
                    label: {
                      show: false,
                      fontSize: 10,
                      color: "#fff",
                      textBorderWidth: 2,
                      padding: [2, 0, 0, 0],
                    },
                  },
                  {
                    name: "",
                    type: "bar",
                    barWidth: 15,
                    barGap: "-100%",
                    margin: "20",
                    data: this.salvProMax,
                    legendHoverLink:false,
                    textStyle: {
                      //图例文字的样式
                      fontSize: 10,
                      color: "yellow",
                    },
                    itemStyle: {
                      normal: {
                        color:  '#eee',
                        width:"100%",
                        fontSize: 10,
                        //barBorderRadius: 30,
                      },
                    },
                    emphasis:{
                       focus:'none',
                       itemStyle:{
                         color:'#eee'
                       }
                    },
                    tooltip:{
                      show:false
                    }
                  },
                ],
              };
             equipment2.resize();
             equipment2.setOption(equipmentlist);
             window.onresize = function () {
                equipment2.resize();
            };
         })
      });
     },
    // 绘制车间排行
    getwork() {
      let arr = this.timevalue.split("-")
      let net = +arr[1] + 1;
      let first= arr[0];
      arr[1] = net < 10 ? '0'+net : net
       if(net>12)
        {
          arr[0]=Number(first)+1
          arr[1]="01"
        }
      this.endtime = arr.join('-')
      // 车间排行榜
      var contains = (arr, dst) => {
        var i = arr.length;
        while ((i -= 1)) {
          if (arr[i] == dst) {
            return i;
          }
        }
        return false;
      };
      var attackSourcesColor = [
        new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#EB3B5A" },
          { offset: 1, color: "#FE9C5A" },
        ]),
        new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#FA8231" },
          { offset: 1, color: "#FFD14C" },
        ]),
        new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#395CFE" },
          { offset: 1, color: "#2EC7CF" },
        ]),
         new echarts.graphic.LinearGradient(0, 1, 1, 1, [
          { offset: 0, color: "#395CFE" },
          { offset: 1, color: "#2EC7CF" },
        ]),
      ];
      var attackSourcesColor1 = [
        "#EB3B5A",
        "#FA8231",
        "#3860FC",
        "#1089E7",
        "#F57474",
        "#56D0E3",
        "#1089E7",
        "#F57474",
        "#1089E7",
        "#F57474",
        "#F57474",
      ];
      var attackSourcesDataFmt = (sData) => {
        var sss = [];
        sData.forEach(function (item, i) {
          let itemStyle = {
            color: i > 3 ? attackSourcesColor[3] : attackSourcesColor[i],
          };
          sss.push({
            value: item,
            itemStyle: itemStyle,
            name:'123123'
          });
        });
        return sss;
      };
      
      getworkshop(this.queryPramas).then((res) => {
        //  this.tdata = this.tdata.sort((a, b) => {
        //     return +b.fundPost - +a.fundPost;
        //   });
        res.data.summaryVos =  res.data.summaryVos .sort((a,b)=>{
          return b.kgStandardCoalSummary-a.kgStandardCoalSummary
        })
         res.data.summaryVos.forEach((item, index) => {
          this.wattaData[index] = parseFloat(item.kgStandardCoalSummary).toFixed(2);
          this.wattaName[index] = item.kgStandardCoalSummary;
          this.wtopName[index] = item.workshopName;
        });
        this.wtopName = this.wtopName.reverse()

        for (let i = 0; i < this.wattaData.length; i++) {
          this.workMax.push(this.wattaData[0]);
        }

        this.$nextTick(() => {
          let Workshop3 = echarts.init(document.getElementById("down-right"));
          let workorder = {
            title: {
              text: "所属车间排行TOP5",
              top: "3%",
              left: "3%"
            },
            tooltip: {
              show: false,
              backgroundColor: "rgba(3,169,244, 0.5)", //背景颜色（此时为默认色）
              textStyle: {
                fontSize: 16,
              },
            },
            color: ["#F7B731"],
            legend: {
              show: false,
              pageIconSize: [12, 12],
              itemWidth: 20,
              itemHeight: 10,
              textStyle: {
                //图例文字的样式
                fontSize: 10,
                color: "#fff",
              },
              selectedMode: false,
              // data: ['个人所得(亿元)'],
            },
            grid: {
              // left: "1%",
              // right: "5%",
              // width: "100%",
              // bottom: "2%",
              // top: "8%",
              // containLabel: true,
            },
            xAxis: {
              type: "value",
              splitLine: {
                show: false,
              },
              axisLabel: {
                show: false,
              },
              axisTick: {
                show: false,
              },
              axisLine: {
                show: false,
              },
            },
            yAxis: [
              {
                type: "category",
                inverse: true,
                axisLine: {
                  show: false,
                },
                splitLine: {
                    show: false,
                    lineStyle:{
                        color: ['#d9d9d9'],
                        width: 1,
                        type: 'solid'
                    }
                },
                axisTick: {
                  show: false,
                },
                axisPointer: {
                  label: {
                    show: true,
                    //margin: 30
                  },
                },
                pdaaing: [5, 0, 0, 0],
                postion: "right",
                data: this.wattaName,
                axisLabel: {
                  show: true,
                  margin: 30,
                  fontSize: 15,
                  align: "left",
                  padding: [2, 0, 0, 0],
                  color: "#000",
                  rich: {
                    nt1: {
                      color: attackSourcesColor1[0],
                      width: 13,
                      height: 13,
                      fontSize: 23,
                      align: "center",
                      lineHeight: "20",
                      padding: [-10, 1, 2, 1],
                      // padding:[0,0,2,0],
                    },
                    nt2: {
                      color: attackSourcesColor1[1],
                      width: 13,
                      height: 13,
                      fontSize: 23,
                      align: "center",
                      // borderRadius: 100,
                      padding: [-10, 1, 2, 1],
                    },
                    nt3: {
                      color: attackSourcesColor1[2],
                      // backgroundColor: attackSourcesColor1[2],
                      width: 13,
                      height: 13,
                      fontSize: 23,
                      align: "center",
                      borderRadius: 100,
                      padding: [-10, 1, 2, 1],
                    },
                    nt: {
                      color: attackSourcesColor1[3],
                      // backgroundColor: attackSourcesColor1[3],
                      width: 13,
                      height: 13,
                      fontSize: 23,
                      align: "center",
                      lineHeight: 3,
                      borderRadius: 100,
                      padding: [-10, 1, 2, 1],
                      lineHeight: 5,
                    },
                  },
                  formatter: (value, index)=> {
                    index = contains(this.wattaName, value) + 1;
                    if (index - 1 < 3) {
                      return ["{nt" + index + "|" + index + "}"].join("\n");
                    } else {
                      return ["{nt|" + index + "}"].join("\n");
                    }
                  },
                },
              },
              {
                type: "category",
                inverse: true,
                axisTick: "none",
                axisLine: "none",
                show: true,
                axisLabel: {
                  textStyle: {
                    color: "#000",
                    fontSize: "14",
                    align: 'right',
                  },
                  margin:40
                  // padding: [0, 0, 0, 0],
                },
                data: attackSourcesDataFmt(this.wattaName),
              },
              {
                //名称
                type: "category",
                offset: -10,
                position: "left",
                axisLine: {
                  show: false,
                },
                inverse: false,
                axisTick: {
                  show: false,
                },
                axisLabel: {
                  show: true,
                  interval: 0,
                  color: ["gray"],
                  align: "left",
                  verticalAlign: "bottom",
                  lineHeight: 52,
                  fontSize: 14,
                },
                data: this.wtopName,
              },
            ],
            series: [
              {
                zlevel: 1,
                name: "",
                type: "bar",
                barWidth: 15,
                animationDuration: 1500,
                data: attackSourcesDataFmt(this.wattaData),
                align: "center",
                itemStyle: {
                  normal: {
                    barBorderRadius: 0,
                  },
                },
                label: {
                  show: false,
                  fontSize: 10,
                  color: "red",
                  textBorderWidth: 2,
                  padding: [2, 100, 0, 0],
                  // position:'left',
                },
              },
              {
                name: "",
                type: "bar",
                barWidth: 15,
                barGap: "-100%",
                margin: "20",
                data: this.workMax,
                textStyle: {
                  //图例文字的样式
                  fontSize: 10,
                  color: "yellow",
                },
                itemStyle: {
                  normal: {
                    color:  '#F0F0F0',
                    width:"100%",
                    fontSize: 10,
                    //barBorderRadius: 30,
                  },
                },
                label:{
                  show: false,
                  position: [0, '-204px'],
                },
                legendHoverLink:false,
                tooltip:{
                      show:false
                    }
              },
              {
                type: "pictorialBar",
                itemStyle: {
                  normal: {
                    color: "#fff",
                  },
                },
                symbolRepeat: "fixed",
                symbolMargin: 4,
                symbol: "rect",
                symbolClip: true,
                symbolSize: [1, 15],
                symbolPosition: "start",
                symbolOffset: [0, 0],
                data: this.workMax,
                legendHoverLink:false,
                  z: 0,
                zlevel: 999,
                label:{
                  show: false,
                  position: [0, '-204px'],
                },
                tooltip:{
                      show:false
                    }
              }

            ],
          };
          Workshop3.resize();
            Workshop3.setOption(workorder);
            window.onresize = function () {
              Workshop3.resize();
            };
        });
      });
    },
     // 累积量展示年度能源消耗量柱状图
    getenergybar() {
      this.$startLoading('app-main')
      getworkbar({ year: this.tabPosition }).then((res) => {
        this.$closeLoading()
        const func2 = (data, params) => {
          let dataResult = [];
          data.forEach((item, index) => {
            dataResult.push({
              ...params,
              data: item.kgStandardCoal,
              name: item.workshopName,
              itemStyle: { color: this.energycolors[index] },
            });
          });
          return dataResult;
        };
        this.energyBarXaxis = res.data.dates;
        this.energyBarSeriesData = func2(res.data.workShopDataVos, {
          barWidth: 35,
          type: "bar",
          stack: "total",
          emphasis: {
            focus: "series",
          },
        });
         let energybar = {
            grid: {
              top: 30,
              left: 40,
              // right:30,
              // bottom:30
            },
            legend: {
              z: 10,
              show: true,
              bottom: "0px",
              itemGap: 60,
              itemWidth: 12,
              itemHeight: 12,
            },
            xAxis: {
              type: "category",
              axisTick: {
                show: true,
                alignWithLabel: true,
              },
              data: this.energyBarXaxis,
              //  data: ["1月", "2月", "3月", "4月", "5月", "6月", "7月","8月","9月","10月","11月","12月"],
            },
            yAxis: {
              type: "value",
              name: "单位：kw/h",
              nameTextStyle: {
                color: "gray",
                align: "center",
              },
              splitLine: {
                  show: true,
                  lineStyle:{
                      color: ['#d9d9d9'],
                      width: 1,
                      type: 'solid'
                  }
              },
              axisLabel: {
                verticalAlign: "top",
              },
            },
            series: this.energyBarSeriesData,

            // series: [
            //    {
            //      barWidth:35,
            //     name: "甲醇车间1",
            //     type: "bar",
            //     itemStyle:{
            //       color:"#0178FF"
            //     },
            //     stack: "total",
            //     emphasis: {
            //       focus: "series",
            //     },
            //     data: [320, 302, 301, 334, 390, 330, 320,240,250,260,270,280],
            //   },
            //   {
            //     name: "甲醇车间2",
            //     type: "bar",
            //      itemStyle:{
            //       color:"#68B0FC"
            //     },
            //     stack: "total",
            //     emphasis: {
            //       focus: "series",
            //     },
            //     data: [120, 132, 101, 134, 90, 230, 210,330,450,390,210,210],
            //   },
            //   {
            //     name: "甲醇车间3",
            //     type: "bar",
            //      itemStyle:{
            //       color:"#4BD5D9"
            //     },
            //     stack: "total",
            //     emphasis: {
            //       focus: "series",
            //     },
            //     data: [220, 182, 191, 234, 290, 330, 310,110,100,120,130,120],
            //   },
            //   {
            //     name: "甲醇车间4",
            //     itemStyle:{
            //       color:'#F69B38'
            //     },
            //     type: "bar",
            //     stack: "total",
            //     emphasis: {
            //       focus: "series",
            //     },
            //     data: [220, 182, 191, 234, 290, 330, 310,110,100,120,130,120],
            //   },
            //    {
            //     name: "甲醇车间5",
            //     itemStyle:{
            //       color:'#6A71EA'
            //     },
            //     type: "bar",
            //     stack: "total",
            //     emphasis: {
            //       focus: "series",
            //     },
            //     data: [220, 182, 191, 234, 290, 330, 310,110,100,120,130,120],
            //   },
            //    {
            //     name: "甲醇车间6",
            //     itemStyle:{
            //       color:'#DB87E8'
            //     },
            //     type: "bar",
            //     stack: "total",
            //     emphasis: {
            //       focus: "series",
            //     },
            //     data: [220, 182, 191, 234, 290, 330, 310,110,100,120,130,120],
            //   },
            //   {
            //     name: "甲醇车间7",
            //     itemStyle:{
            //       color:'#52C18A'
            //     },
            //     type: "bar",
            //     stack: "total",
            //     emphasis: {
            //       focus: "series",
            //     },
            //     data: [220, 182, 191, 234, 290, 330, 310,110,100,120,130,120],
            //   },
            // ],
         };
         this.$nextTick(() => {
         let workshops = echarts.init(document.getElementById("energydata"));
          workshops.resize();
          workshops.setOption(energybar);
            window.onresize = function () {
              workshops.resize();
            };
        });
      });
    },
    // 绘制累积量展示的饼图
    getenergypie() {
      // 累积量展示年度能源消耗量饼图
      this.$startLoading('app-main')
      getworkpie({ year: this.tabPosition }).then((res) => {
        this.$closeLoading()
        const func2 = (data) => {
          let dataResult = [];
          data.forEach((item, index) => {
            dataResult.push({
              value: item.kgStandardCoal,
              name: item.energyType,
              itemStyle: { color: this.energypiecolors[index] },
            });
          });
          return dataResult;
        };
        this.energypieData = func2(res.data);
        let energypie = {
          legend: {
            itemWidth: 12,
            itemHeight: 12,
            height: "20%",
            width: "100%",
            orient: "vertical",
            left: "45%",
            bottom: "1%",
            // textStyle: { lineHeight: "30" },
            formatter: function (name) {
              // 获取legend显示内容
              let data = energypie.series[0].data;
              let total = 0;
              let tarValue = 0;
              for (let i = 0, l = data.length; i < l; i++) {
                total += data[i].value;
                if (data[i].name == name) {
                  tarValue = data[i].value;
                }
              }
              let p = ((tarValue / total) * 100).toFixed(1);
              // return `{name|${name}}{value|${tarValue}}{percent|${p}%}`;
              return (
                "{name|" +
                name +
                "} {value|" +
                tarValue +
                "} {percent|" +
                p +
                "%" +
                "}"
              );
            },
            textStyle: {
               fontSize:14,
              rich: {
                name: {
                  padding: [0, 20, 0, 0],
                },
                value: {
                  padding: [0, 20, 0, 0],
                },
                percent: {
                  padding: [0, 20, 0, 0],
                },
              },
            },
          },
          series: [
            {
              name: "所属设备能耗拆标",
              center: ["50%", "40%"],
              type: "pie",
              radius: [0, 180],
              avoidLabelOverlap: true,
              roseType: "area",
              label: {
                show: true,
                fontSize: "14px",
                color: "white",
                position: "inner",
                formatter: `{b}\n\n{d}%`,
              },

              emphasis: {
                label: {
                  show: false,
                  fontSize: "40",
                  fontWeight: "bold",
                },
              },
              data: this.energypieData,
              // data: [
              //    {
              //     value: 480,
              //     name: "电能消耗",
              //     itemStyle: {
              //       color: "#0178FF",
              //     },
              //   },
              //   {
              //     value: 440,
              //     name: "天然气",
              //     itemStyle: {
              //       color: "#4DD5D7",
              //     },
              //   },
              //   {
              //     value: 410,
              //     name: "液化气",
              //     itemStyle: {
              //       color: "#A1F6F8",
              //     },
              //   },
              //   {
              //     value: 350,
              //     name: "水能消耗",
              //     itemStyle: {
              //       color: "#F29D3C",
              //     },
              //   },
              //   {
              //     value: 300,
              //     name: "甲醇",
              //     itemStyle: {
              //       color: "#F66262",
              //     },
              //   },
              //   {
              //     value: 220,
              //     name: "其他",
              //     itemStyle: {
              //       show:true,
              //       color: "#6E71EC",
              //     },
              //   },
              // ],
            },
          ],
        };
        this.$nextTick(() => {
        let energydist = echarts.init(document.getElementById("groupdata"));
        energydist.resize();
        energydist.setOption(energypie);
          window.onresize =  () =>{
            energydist.resize();
          };
        });
      });
    },
    // 年份的按钮
    selectyear(a) {
      if(a!='dropdownVal'){
        this.getenergypie();
      this.getenergybar();
      }
      
    },
    //更多年份的按钮
    downyear(val) {
      console.log(val)
      this.tabPosition = val
      this.dropdownVal = val
      this.getenergypie();
      this.getenergybar();
      // console.log("pppppp");
      // this.tabPosition=2016;
    },
    // 查询按钮
    selectdate1() {
      this.gettab();
      this.getbar();
      this.getmark();
    },
    selectdate2() {
      this.getline();
      this.gettab2();
    },
    selectdate3() {
        this.getpie();
        this.getpie2();
        this.getdevice();
        this.getwork();
    },
    //能源指标按钮
    selectenergy() {
      this.getenergytype();
      console.log(this.options);
    },
    //单元同比导出
    expt() {
      exp(this.queryPramas).then((res) => {
        console.log(res);
        const link = document.createElement("a");
        let blob = new Blob([res], { type: res.type });
        link.style.display = "none";
        link.href = URL.createObjectURL(blob);
        link.download = "单元同比环比表格"; //下载的文件名
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      });

    },
    // 单元趋势导出
    expts() { 
      exps(this.queryPramas).then((res) => {
        console.log(res);
        const link = document.createElement("a");
        let blob = new Blob([res], { type: res.type });
        link.style.display = "none";
        link.href = URL.createObjectURL(blob);
        link.download = "单元趋势表格"; //下载的文件名
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      });
    } 
  },
};
</script>
<style lang="scss" scoped>

::v-deep.el-tabs--card>.el-tabs__header {
    border-bottom: 1px solid #E4E7ED;
    width: 474px;
}
	/*tabs 去掉el-tab-pane切换时的蓝色下划线*/
	// .tabLeft>>>.el-tabs__active-bar {
	// 	background-color: transparent !important;
	// }

.el-button--primary {
  background: #0079ff;
  border: #0079ff;
  margin-left: 15px;
  border-radius: 3px;
}
.el-button--success {
  position: absolute;
  right: 20px;
  background-color: #3AC0A5;
  border:none;
  // margin-right: 20px;
}
span {
  color: gray;
  margin-left: 15px;
  margin-right: 10px;
}
.el-tab-pane:nth-of-type(1) {
  width: auto;
  .table-header {
    width: auto;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
  }
  ::v-deep.el-tabs__nav-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #E4E7ED;
    z-index: 1;
 }
  ::v-deep.el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 35px;
    line-height: 35px;
    outline: 0;
    padding: 0 32px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
  }
  .el-tabs__header {
    margin-top: 30px;
  }
  .el-select {
    position: absolute;
    top: 65px;
    right: 18px;
    // line-height: 25px;
    width: 120px;
    height: 20px;
    z-index: 10;
  }
  .energy-title {
    position: absolute;
    top: 75px;
    right: 150px;
  }
  .el-tab {
    margin-top: 30px;
  }
  #myecharts {
    width: 120%;
    height: 300px;
    z-index: 11;
    margin-top: 20px;
    margin-left: -9%;
  }
  #chain2 {
    width: 120%;
    height: 300px;
    z-index: 11;
    margin-top: 20px;
    margin-left: -9%;
  }
  .table-content {
    width: 100%;
  }
}
.el-tab-pane:nth-of-type(2) {
  width: auto;
  #myLiner {
    width: 100%;
    height: 300px;
    margin-left: -20px;
    // background-color: pink;
    margin-top: 40px;
    z-index: 999;
  }
  
  .unit-table {
    width: 100%;
    margin-top: 40px;
    // margin-left: 20px;
    margin-bottom: 20px;
  }
}
.el-tab-pane:nth-of-type(3) {
  margin-top: 20px;
  .ranking-content {
    width: auto;
    margin-top: 20px;
    .content-title {
      position: relative;
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #d9d9d9;
    }
    .content-up {
      // margin-top: 20px;
      width: 100%;
      display: flex;
      height: 480px;
     
      // background-color: pink;
      #up-left {
        width: 40%;
        height: 440px;
        //  margin-left:6% ;
        // background-color: green;  
      }
      #up-right {
        width: 50%;
        // margin-top: -50px;
        height: 480px;
        // background-color: pink;
      }
    }
    .content-down {
      // margin-top: 20px;
      width: 100%;
      display: flex;
      height: 480px;
      #down-left {
        width: 40%;
        height: 440px;
        // margin-left:6% ;
        // background-color: pink;
      }
      #down-right {
        width: 50%;
        height: 480px;
        // margin-top: -30px;
        // background-color: blanchedalmond;
      }
    }
  }
}
.el-tab-pane:nth-of-type(4) {
  width: auto;
  .show-header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: flex;
    margin-left: 15;
    justify-content: space-between;
    border-bottom: 1px solid #f0edf1;
    .text-title {
      font-size: 25px;
    }
    .h-year {
      margin-right: 20px;
    }
  }

  .show-content {
    display: flex;
    width: 100%;
    height: 670px;
    .content-bar {
      width: 60%;
      // flex: 2;
      height: 620px;
      #energydata {
        width: 55vw;
        height: 600px;
        z-index: 999;
        //  margin-left: 1%;
        // background-color: pink;
      }
    }
    .content-pie {
      margin-top: 15px;
      width: 40%;
      // flex: 1;
      height: 650px;
      // background-color: blue;
      #groupdata {
        width: 45vw;
        height: 620px;
        z-index: 10;
      }
    }
  }
  ::v-deep.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    color: #0079FF;
    background-color: #fff;
    border-color: #409EFF;
    -webkit-box-shadow: -1px 0 0 0 #409eff;
    box-shadow: -1px 0 0 0 #409eff;
  }
}
.aaaa{
  ::v-deep{
    .el-dropdown{
      border: 1px solid #409EFF
    }
  }
}
::v-deep.el-dropdown{
    // background-color: #409EFF;
    width: 85px;
    height: 41px;
    line-height: 39px;
    margin-left: -2px;
    border: 1px solid #DCDFE6;
    /* border-left: 0px; */
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
  // ::v-deep.el-dropdown{
  //    background-color: #409EFF;
  //    color: white;
  // }
.content-title {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  .borderline {
    /* display: inline-block; */
    height: 15px;
    width: 3px;
    margin-right: 8px;
    /* float: left;
    position: absolute;
    top: 13px;
    left: -10px; */
    background-color: #0c79eb;
  }
  .title-text {
    font-size: 20px;
    /* margin-left: 20px; */
  }
}
.main-item-none{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .main-item-none-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
}
// ::v-deep.el-radio-button__orig-radio:checked+.el-radio-button__inner {
//     color: #409EFF;
//     /* background-color: #409EFF; */
//     border-color: #409EFF;
//     -webkit-box-shadow: -1px 0 0 0 #409eff;
//     box-shadow: -1px 0 0 0 #409eff;
// }
</style>


<style lang="scss" scoped>
::v-deep{
  .tabs-outerLayer{
    .el-tabs__content{
        padding-left:20px !important;
        padding-right:20px !important;
      }
    &>.el-tabs__header{
      width: 100%;
      background-color: #f5f7f9 !important;
      .el-tabs__nav{
        border:none;
        
      }
      
      .el-tabs__item{
      background: #F5F5F5 !important;
      margin-right: 4px;
      border: 1px solid #E4E7ED;
      border-bottom: none;
      font-weight: 500;
      &.is-active{
        border: 1px solid #E4E7ED;
      border-bottom: none;
        background: #fff !important;
        color: #0079FF;
        font-weight: 500;
      }
    }
    }
  }

  .tabs-innerLayer{
    &>.el-tabs__header{
      .el-tabs__active-bar{
        background-color: #1576F2;
      }
       .el-tabs__item{
         &.is-active{
           color: #1576F2;
         }
       }
    }
  }

  .my-radio{
    .el-dropdown{
    
    }
    &>.el-radio-button__inner{
      border:none;
      padding: 0;
    }
  }
}

</style>

<style lang='scss'>
.test{
  .layout_main{
    padding: 0 !important;
  } 
}
</style>