<template>
  <div class="wrapper-container">
    <img
      src="../../assets/images/dataScreen/bg@2x.png"
      alt=""
      @load="bgImgLoading"
    />
    <div class="header-container" @click="goScreenfull">
      <img src="../../assets/images/dataScreen/top@2x.png" alt="" />
      <div class="title">
        <img src="../../assets/images/dataScreen/logo@2x.png" alt="" />
        <img
          src="../../assets/images/dataScreen/能源消耗统计分析大屏@2x.png"
          alt=""
        />
      </div>
    </div>
    <div class="times">
      <span>{{ year }}</span
      ><span>{{ `${month}.${day}` }}</span
      ><span>{{ week }}</span
      ><span>{{ times }}</span>
    </div>
    <div class="main-containers">
      <div class="left-containers">
        <div class="left-one">
          <div class="one-header">
            <img src="../../assets/images/dataScreen/box1@2x.png" alt="" />
            <span>能源耗能量统计</span>
          </div>
          <div class="select">
            <el-select
              @change="consumeSelect"
              v-model="consumeId"
              placeholder="能耗折标"
              size="mini"
              :popper-append-to-body="false"
            >
              <el-option label="能耗折标" value=""> </el-option>
              <el-option
                v-for="item in consumeList"
                :key="item.bcId"
                :label="item.bcName"
                :value="item.bcId"
              >
              </el-option>
            </el-select>
          </div>
          <div class="quarter-wrapper">
            <div class="quarter">
              <div>
                <img
                  src="../../assets/images/dataScreen/数据底卡@2x.png"
                  alt=""
                />
                <span>{{
                  quarterNum.length > 8
                    ? quarterNum.slice(
                        quarterNum.length - 9,
                        quarterNum.length - 8
                      )
                    : ""
                }}</span>
              </div>
              <div class="quarter-douhao">
                <span v-if="quarterNum.length > 7">,</span>
              </div>
              <div>
                <img
                  src="../../assets/images/dataScreen/数据底卡@2x.png"
                  alt=""
                />
                <span>{{
                  quarterNum.length > 6
                    ? quarterNum.slice(
                        quarterNum.length - 7,
                        quarterNum.length - 6
                      )
                    : ""
                }}</span>
              </div>
              <div>
                <img
                  src="../../assets/images/dataScreen/数据底卡@2x.png"
                  alt=""
                />
                <span>
                  {{
                    quarterNum.length > 5
                      ? quarterNum.slice(
                          quarterNum.length - 6,
                          quarterNum.length - 5
                        )
                      : ""
                  }}</span
                >
              </div>
              <div>
                <img
                  src="../../assets/images/dataScreen/数据底卡@2x.png"
                  alt=""
                />
                <span>{{
                  quarterNum.length > 4
                    ? quarterNum.slice(
                        quarterNum.length - 5,
                        quarterNum.length - 4
                      )
                    : ""
                }}</span>
              </div>
              <div class="quarter-douhao">
                <span v-if="quarterNum.length > 3">,</span>
              </div>
              <div>
                <img
                  src="../../assets/images/dataScreen/数据底卡@2x.png"
                  alt=""
                />
                <span>{{
                  quarterNum.length > 2
                    ? quarterNum.slice(
                        quarterNum.length - 3,
                        quarterNum.length - 2
                      )
                    : ""
                }}</span>
              </div>
              <div>
                <img
                  src="../../assets/images/dataScreen/数据底卡@2x.png"
                  alt=""
                />
                <span>
                  {{
                    quarterNum.length > 1
                      ? quarterNum.slice(
                          quarterNum.length - 2,
                          quarterNum.length - 1
                        )
                      : ""
                  }}</span
                >
              </div>
              <div>
                <img
                  src="../../assets/images/dataScreen/数据底卡@2x.png"
                  alt=""
                />
                <span>{{
                  quarterNum.length > 0
                    ? quarterNum.slice(quarterNum.length - 1, quarterNum.length)
                    : ""
                }}</span>
              </div>
              <span>季度消耗量</span>
            </div>
            <div class="month-quarter">
              <div>
                <span>{{ Thousands(monthConsume) }}</span>
                <img
                  src="../../assets/images/dataScreen/img_本月@2x.png"
                  alt=""
                />
                <span>本月消耗量</span>
              </div>
              <div>
                <span>{{ Thousands(weekConsume) }}</span>
                <img
                  src="../../assets/images/dataScreen/img_本周@2x.png"
                  alt=""
                />
                <span>本周消耗量</span>
              </div>
              <div>
                <span class="isAnimation1">{{ Thousands(dayConsume) }}</span>
                <img
                  src="../../assets/images/dataScreen/img_当日@2x.png"
                  alt=""
                />
                <span>当日消耗量</span>
                <span class="isAnimation2">+1</span>
              </div>
            </div>
          </div>
        </div>
        <div class="left-two">
          <div class="two-header">
            <img src="../../assets/images/dataScreen/box1@2x.png" alt="" />
            <span>各月份能源消耗统计对比</span>
          </div>
          <div class="select">
            <el-select
              v-model="consumeId2"
              placeholder="能耗折标"
              size="mini"
              :popper-append-to-body="false"
            >
              <el-option label="能耗折标" value=""></el-option>
              <el-option
                v-for="item in consumeList"
                :key="item.bcId"
                :label="item.bcName"
                :value="item.bcId"
              >
              </el-option>
            </el-select>
          </div>
          <div class="my-chars">
            <MonthEnergyChars :consumeId2="consumeId2" />
          </div>
        </div>
        <div class="left-three">
          <div class="three-header">
            <img src="../../assets/images/dataScreen/box1@2x.png" alt="" />
            <span>各车间设备实时预警列表</span>
          </div>
          <div class="table-container">
            <!-- <table>
              <tr>
                <td>设备</td>
                <td>预警指标</td>
                <td>预警值</td>
                <td>预警时间</td>
                <td>优先级</td>
              </tr>
              <tr>
                <td>甲醇设备</td>
                <td>1154</td>
                <td><div class="target">高</div></td>
                <td>预警时间</td>
              </tr>
            </table> -->
            <el-table
              @mouseenter.native="cybgHandleStop"
              @mouseleave.native="cybgHandleStart"
              :data="tableData"
              style="width: 100%"
              height="100%"
              align="center"
              :row-style="contectStyle"
              :header-cell-style="headerStyle"
            >
              <template slot="empty" v-if="tableData.length == 0">
                <div class="table-placeholder-img">
                  <img
                    src="../../assets/images/dataScreen/暂无数据@2x.png"
                    alt=""
                  />
                  <span>暂无数据</span>
                </div></template
              >
              <el-table-column prop="workshopName" label="车间" align="center">
              </el-table-column>
              <el-table-column prop="equipmentName" label="设备" align="center">
              </el-table-column>
              <el-table-column
                label="预警指标"
                prop="bcEneIndex"
                align="center"
              >
              </el-table-column>
              <el-table-column
                label="预警值"
                prop="warningValue"
                align="center"
              >
              </el-table-column>
              <el-table-column
                prop="warningStartedTime"
                label="预警时间"
                align="center"
              >
              </el-table-column>
              <el-table-column prop="zip" label="优先级" align="center">
                <template slot-scope="scope">
                  <span class="targer" v-if="scope.row.priority == 1">高</span>
                  <span class="targer1" v-if="scope.row.priority == 2">中</span>
                  <span class="targer2" v-if="scope.row.priority == 3">低</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div class="center-containers">
        <div class="select">
          <el-select
            @change="consumeSelect5"
            v-model="consumeId5"
            placeholder="能耗折标"
            size="mini"
            :popper-append-to-body="false"
          >
            <el-option label="能耗折标" value=""></el-option>
            <el-option
              v-for="item in consumeList"
              :key="item.bcId"
              :label="item.bcName"
              :value="item.bcId"
            >
            </el-option>
          </el-select>
        </div>
        <span class="top-btn" @click="downHandel"
          ><img src="../../assets/images/dataScreen/上@2x.png" alt=""
        /></span>
        <span class="bottom-btn" @click="topHandel"
          ><img src="../../assets/images/dataScreen/下@2x.png" alt=""
        /></span>
        <div class="center-left">
          <span>设备能源使用情况统计</span>
          <div class="center-left-img">
            <img src="../../assets/images/dataScreen/img_车间@2x.png" alt="" />
          </div>
          <span>{{ workshopName }}</span
          ><span>{{ result }}</span>
        </div>
        <div class="center-main">
          <animation v-model="animationIndex"></animation>
          <!-- <img src="../../assets/images/dataScreen/链接线@2x.png" alt="" /> -->
        </div>
        <div class="center-right" @mousewheel="wheelHandel" v-resize="resize">
          <div class="placeholder-img" v-show="placeholderImg9">
            <img src="../../assets/images/dataScreen/暂无数据@2x.png" alt="" />
            <span>暂无设备</span>
          </div>
          <div class="card-wrapper">
            <div
              class="card"
              @click="bgImgHandel(index, item)"
              v-for="(item, index) in windowsEachEquipmentLists"
              :key="index"
            >
              <div class="bgImg" v-if="index == indexss">
                <img
                  src="../../assets/images/dataScreen/选中-框@2x.png"
                  alt=""
                />
              </div>
              <div class="facility">
                <img
                  src="../../assets/images/dataScreen/img_设备@2x (1).png"
                  alt=""
                />
              </div>
              <div class="ka">
                <img
                  src="../../assets/images/dataScreen/设备box_1@2x.png"
                  alt=""
                />
                <div class="xuhao">
                  <img
                    v-if="index == 0"
                    src="../../assets/images/dataScreen/top1@2x.png"
                    alt=""
                  />
                  <img
                    v-if="index == 1"
                    src="../../assets/images/dataScreen/top2@2x (1).png"
                    alt=""
                  />
                  <img
                    v-if="index == 2"
                    src="../../assets/images/dataScreen/top3@2x (1).png"
                    alt=""
                  />
                  <span>{{ index + 1 }}</span>
                  <span v-if="index >= 3" style="color: #fff; opacity: 0.6">{{
                    index + 1
                  }}</span>
                </div>
                <div class="facility-name">{{ item.equipmentName }}</div>
                <div class="type" v-if="item.indexName != null">
                  {{ item.indexName }}
                </div>
                <div class="progress">
                  <el-progress
                    :percentage="
                      consumeId5 == '' && consumeNum3 == ''
                        ? Number(item.coalValue / 1000)
                        : Number(item.consumeValue / 1000)
                    "
                    :color="index <= 2 ? '#ffaa00' : '#00c7dd'"
                    :show-text="false"
                  ></el-progress>
                </div>

                <div class="data">
                  {{
                    consumeId5 == "" && consumeNum3 == ""
                      ? item.coalValue
                      : item.consumeValue
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-containers">
        <EnergyStatisticseChars
          :equipmentName="equipmentName"
          :equipmentData="equipmentData"
        />
      </div>
      <div class="foot-containers">
        <img src="../../assets/images/dataScreen/box_l@2x.png" alt="" />
        <div class="title">制药生产线各车间能源消耗情况</div>
        <div class="foot-header">
          <div class="grow">
            <el-radio-group v-model="tabPosition" @change="selectTimes">
              <el-radio-button label="1">本周</el-radio-button>
              <el-radio-button label="2">本月</el-radio-button>
              <el-radio-button label="3">本季度</el-radio-button>
              <el-radio-button label="4">本年</el-radio-button>
            </el-radio-group>
            <div class="more">
              <el-select
                @change="consumeSelect9"
                v-model="moreId"
                placeholder="更多"
                size="mini"
                :popper-append-to-body="false"
              >
                <el-option
                  v-for="item in moreList"
                  :key="item.moreId"
                  :label="item.moreName"
                  :value="item.moreId"
                >
                </el-option>
              </el-select>
            </div>
            <div class="select">
              <el-select
                @change="consumeSelect3"
                v-model="consumeNum3"
                placeholder="能耗折标"
                size="mini"
                :popper-append-to-body="false"
              >
                <el-option label="能耗折标" value=""></el-option>
                <el-option
                  v-for="item in consumeList"
                  :key="item.bcId"
                  :label="item.bcName"
                  :value="item.bcId"
                >
                </el-option>
              </el-select>
            </div>
          </div>
        </div>
        <div class="left-btn" @click="rightHandel">
          <img src="../../assets/images/dataScreen/left-arrow @2x.png" alt="" />
        </div>
        <div class="right-btn" @click="leftHandel">
          <img src="../../assets/images/dataScreen/right-arrow@2x.png" alt="" />
        </div>
        <div class="foot-main">
          <div class="foot-wrapper" v-show="!placeholderImg">
            <div
              class="cars"
              v-for="(item, index) in workshopInformationList"
              :key="index"
              @click="carsSelect(index, item)"
            >
              <img
                :src="
                  index == indexs
                    ? require('../../assets/images/dataScreen/box@2x.png')
                    : require('../../assets/images/dataScreen/车间-1默认框@2x.png')
                "
                alt=""
              />
              <div class="imgs">
                <img
                  :src="
                    index == indexs
                      ? require('../../assets/images/dataScreen/车间-2选中图@2x.png')
                      : require('../../assets/images/dataScreen/车间-2默认图@2x.png')
                  "
                  alt=""
                />
              </div>
              <div class="plant">{{ item.workshopName }}</div>
              <div class="plant-data">{{ item.result }}</div>
            </div>
          </div>
          <div class="placeholder-img" v-show="placeholderImg">
            <img src="../../assets/images/dataScreen/暂无数据@2x.png" alt="" />
            <span>暂无车间能耗情况</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EnergyStatisticseChars from "./energyStatisticseChars.vue";
import MonthEnergyChars from "./monthEnergyChars.vue";
import animation from "./animation.vue";
import * as api from "@/api/dataScreen/energyCockpit.js";
import screenfull from "screenfull";
import { clearTimeout } from "highcharts";
export default {
  components: { EnergyStatisticseChars, MonthEnergyChars, animation },
  data() {
    return {
      timer2: 0,
      cybgTimer: null,
      placeholderImg: false,
      placeholderImg9: false,
      moreId: "",
      moreList: [
        { moreName: "近2年", moreId: "5" },
        { moreName: "近3年", moreId: "6" },
        { moreName: "近4年", moreId: "7" },
        { moreName: "近5年", moreId: "8" },
      ],
      animationIndex: 0,
      equipmentId: "",
      equipmentData: [],
      equipmentName: "",
      windowsEachEquipmentLists: [],
      workshopId: "",
      result: "",
      workshopName: "",
      indexs: "0",
      indexss: "",
      workshopInformationList: [],
      consumeNum3: "",
      tabPosition: "1",
      weekConsume: 0,
      monthConsume: 0,
      dayConsume: 0,
      consumeId5: "",
      consumeId2: "",
      consumeId: "",
      consumeList: [],
      quarterNum: "1,111,111",
      handelNum: 0,
      isFull: false,
      wheelNum: 0,
      percentage: "30",
      year: "",
      month: "",
      week: "",
      day: "",
      times: "",
      timer: "",
      contectStyle: {
        backgroundColor: "transparent",
        color: "#fff",
        fontSize: "0.1rem",
        textAlign: "center",
      },
      headerStyle: {
        textAlign: "center",
        height: "1rem",
        maxHeight: "1rem",
      },

      tableData: [],
      options: [
        {
          value: "选项1",
          label: "黄金糕",
        },
        {
          value: "选项2",
          label: "双皮奶",
        },
        {
          value: "选项3",
          label: "蚵仔煎",
        },
        {
          value: "选项4",
          label: "龙须面",
        },
        {
          value: "选项5",
          label: "北京烤鸭",
        },
      ],
      value: "",
    };
  },
  directives: {
    // 使用局部注册指令的方式
    resize: {
      // 指令的名称
      bind(el, binding) {
        // el为绑定的元素，binding为绑定给指令的对象
        let width = "",
          height = "";
        function isReize() {
          const style = document.defaultView.getComputedStyle(el);
          if (width !== style.width || height !== style.height) {
            binding.value(); // 关键
          }
          width = style.width;
          height = style.height;
        }
        el.__vueSetInterval__ = setInterval(isReize, 300);
      },
      unbind(el) {
        clearInterval(el.__vueSetInterval__);
      },
    },
  },
  destroyed() {
    var appWrapper = document.getElementsByClassName("app-main")[0];
    if (appWrapper) {
      appWrapper.style.padding = "20px";
    }
  },
  created() {
    this.consumeSelect();
    //获取能源折标下拉框数据列表
    api.getConsumeIndices().then((res) => {
      console.log(res, "///");
      this.consumeList = res.data;
      //   this.consumeId2 = res.data[0].bcId;
      //   console.log(res, "p;p;p;");
    });
    this.selectTimes(); //初次加载各车间设备实时预警列表
    //各车间设备实时预警列表
    api.getWindowsWarningInformationLists().then((res) => {
      this.tableData = res.data;
      this.$nextTick(() => {
        this.cybgTimer = setInterval(this.handleCybgScroll, 100);
      });
    });

    //解决rem失效问题
    document.documentElement.style.fontSize =
      (document.documentElement.clientWidth / 320) * 3 + "px";
    window.onresize = function () {
      document.documentElement.style.fontSize =
        (document.documentElement.clientWidth / 320) * 3 + "px";
    };
    // 更新右侧显示时间
    var _this = this;
    this.timer = setInterval(function () {
      _this.getTime();
    }, 60000);
    this.getTime();
  },
  mounted() {
    this.$startLoading_d("wrapper-container"); //加载效果
    var appWrapper = document.getElementsByClassName("app-main")[0];
    if (appWrapper) {
      appWrapper.style.padding = "0px";
    }
  },
  methods: {
    moreHandle() {
      for (var i = 0; i < 4; i++) {
        let dom = document.getElementsByClassName("el-radio-button")[i];
        dom.classList.remove("is-active");
      }
    },
    // 控制数据大屏table滚动函数
    handleCybgScroll() {
      this.timer2 = this.timer2 + 1;
      var wrap = document.querySelector(".el-table__body-wrapper");
      // 只有内容多出可见高度才滚动
      if (wrap.children[0].clientHeight > wrap.clientHeight + 51) {
        if (wrap) {
          wrap.scrollTo({
            left: 0,
            top: this.timer2,
            behavior: "smooth",
          });
          //  滚动到底部时回到顶部并且清除滚动记录
          if (
            wrap.scrollTop >=
            wrap.children[0].clientHeight - wrap.clientHeight
          ) {
            wrap.scrollTop = 0;
            this.timer2 = 0;
          }
        }
      }
    },
    // 鼠标划入划出
    cybgHandleStop() {
      //   console.log("鼠标划入");
      clearInterval(this.cybgTimer);
    },
    cybgHandleStart() {
      //   console.log("鼠标划出");
      var wrap = document.querySelector(".el-table__body-wrapper");
      this.timer2 = wrap.scrollTop; //鼠标移出记录下当前滚动高度
      this.cybgTimer = setInterval(this.handleCybgScroll, 100);
    },
    //   背景图片加载完成，关闭loading效果
    bgImgLoading() {
      this.$closeLoading_d("wrapper-container");
    },
    consumeSelect9(e) {
      this.moreHandle();
      this.getWindowsEachWorkshopConsumeStatistics(e, this.consumeNum3);
      this.tabPosition = ""; //清空单选项
    },
    carsSelect(index, item) {
      this.workshopName = item.workshopName;
      this.result = item.result;
      this.indexs = index;
      this.getWindowsEachEquipmentLists(
        this.tabPosition,
        item.workshopId,
        this.consumeNum3
      );
    },
    selectTimes(e) {
      this.moreId = ""; //清空下拉选择项
      this.getWindowsEachWorkshopConsumeStatistics(
        this.tabPosition,
        this.consumeNum3
      );
    },
    downTimes() {},
    //   切换背景
    bgImgHandel(index, item) {
      this.indexss = index;
      this.equipmentName = item.equipmentName;
      this.tabPosition
        ? (this.tabPosition = this.tabPosition)
        : (this.tabPosition = this.moreId);
      console.log(this.tabPosition);
      this.getWindowsEachEquipmentSingle(this.tabPosition, item.equipmentId);
    },
    // 获取单个设备能耗详情
    getWindowsEachEquipmentSingle(timeDimension, equipmentId) {
      api
        .getwindowsEachEquipmentSingle(timeDimension, equipmentId)
        .then((res) => {
          this.equipmentData = res.data;
        });
    },
    //获取制药生产线各车间能源消耗情况列表
    getWindowsEachWorkshopConsumeStatistics(timeDimension, energyTypeId) {
      api
        .getwindowsEachWorkshopConsumeStatistics(timeDimension, energyTypeId)
        .then((res) => {
          if (res.data.length == 0) {
            this.placeholderImg = true;
            this.windowsEachEquipmentLists = [];
          } else {
            this.placeholderImg = false;
            this.indexs = 0; //每次切换时间的时候都默认选中第一个
            this.workshopInformationList = res.data;
            this.result = res.data[0].result;
            this.workshopName = res.data[0].workshopName;
            this.workshopId = res.data[0].workshopId;
          }
          if (res.data.length < 6) {
            var workshopDom =
              document.getElementsByClassName("foot-wrapper")[0];
            workshopDom.style.left = "50%";
            workshopDom.style.transform = "translateX(-50%)";
          }
          this.getWindowsEachEquipmentLists(
            timeDimension,
            this.workshopId,
            this.consumeNum3
          );
        });
    },

    consumeSelect3() {
      this.tabPosition
        ? (this.tabPosition = this.tabPosition)
        : (this.tabPosition = this.moreId);
      this.getWindowsEachWorkshopConsumeStatistics(
        this.tabPosition,
        this.consumeNum3
      );
    },
    consumeSelect5() {
      this.tabPosition
        ? (this.tabPosition = this.tabPosition)
        : (this.tabPosition = this.moreId);
      this.getWindowsEachEquipmentLists(
        this.tabPosition,
        this.workshopId,
        this.consumeId5
      );
    },
    // 设备排行列表
    getWindowsEachEquipmentLists(timeDimension, workshopId, energyTypeId) {
      api
        .getwindowsEachEquipmentLists(timeDimension, workshopId, energyTypeId)
        .then((res) => {
          if (res.data.length > 0) {
            this.animationIndex = res.data.length;
            this.windowsEachEquipmentLists = res.data;
            this.equipmentName = res.data[0].equipmentName;
            //   初次加载设备排行列表
            this.getWindowsEachEquipmentSingle(
              timeDimension,
              res.data[0].equipmentId
            );
            this.placeholderImg9 = false;
          } else {
            this.animationIndex = 0;
            this.equipmentData = [];
            this.equipmentName = "";
            this.placeholderImg9 = true;
            this.result = "";
            this.workshopName = "";
          }
        });
    },
    consumeSelect(e) {
      //获取季度耗能数据
      api.getQuartConsume(e).then((res) => {
        this.quarterNum = this.Thousands(res.data);
      });
      // 本周消耗量
      api.getWeekConsume(e).then((res) => {
        if (res.data == 0) {
          return;
        }
        var timer1 = setInterval(() => {
          ++this.weekConsume;
          if (this.weekConsume >= res.data) {
            clearInterval(timer1);
          }
        }, 3000 / res.data);
        setTimeout(() => {
          this.monthConsume = res.data;
          clearInterval(timer1);
        }, 4000);
      });
      // 本月消耗量
      api.getMonthConsume(e).then((res) => {
        if (res.data == 0) {
          return;
        }
        var timer1 = setInterval(() => {
          ++this.monthConsume;
          if (this.monthConsume >= res.data) {
            clearInterval(timer1);
          }
        }, 3000 / res.data);
        setTimeout(() => {
          this.monthConsume = res.data;
          clearInterval(timer1);
        }, 4000);
      });
      // 当日消耗量
      api.getDayConsume(e).then((res) => {
        var isAnimation1 = document.getElementsByClassName("isAnimation1")[0];
        var isAnimation2 = document.getElementsByClassName("isAnimation2")[0];
        if (res.data == 0) {
          isAnimation1.style.animation = "none";
          isAnimation2.style.display = "none";
          return;
        }
        // this.dayConsume = this.Thousands(res.data);
        var timer1 = setInterval(() => {
          ++this.dayConsume;
          if (this.dayConsume >= res.data) {
            clearInterval(timer1);
            isAnimation2.style.display = "none";
          }
        }, 3000 / res.data);
        setTimeout(() => {
          this.dayConsume = res.data;
          isAnimation2.style.display = "none";
          clearInterval(timer1);
        }, 4000);
      });
    },
    // 对季度嫩好数据加逗号处理
    Thousands(num) {
      var result = [],
        counter = 0;
      num = (num || 0).toString().split("");
      for (var i = num.length - 1; i >= 0; i--) {
        counter++;
        result.unshift(num[i]);
        if (!(counter % 3) && i != 0) {
          result.unshift(",");
        }
      }
      return result.join("");
    },
    topHandel() {
      this.wheelTop();
    },
    downHandel() {
      this.wheelDown();
    },
    //   鼠标滚轮事件
    wheelHandel(e) {
      if (e.deltaY > 0) {
        this.wheelTop();
      } else {
        this.wheelDown();
      }
    },
    // 鼠标下滚事件
    wheelDown() {
      var targetDom = document.getElementsByClassName("card-wrapper")[0];
      var cardDom = document.getElementsByClassName("card")[0];

      if (this.wheelNum >= 0) {
        return;
      }
      this.wheelNum += cardDom.clientHeight * 0.5 + cardDom.clientHeight;
      targetDom.style.top = this.wheelNum + "px";
    },
    // 鼠标上滚事件
    wheelTop() {
      var targetDom = document.getElementsByClassName("card-wrapper")[0];
      var kaDom = document.getElementsByClassName("center-right")[0];
      var bgImg = document.getElementsByClassName("bgImg")[0];
      var cardDom = document.getElementsByClassName("card")[0];
      if (
        Math.abs(this.wheelNum) >
        targetDom.clientHeight - kaDom.clientHeight
      ) {
        return;
      }

      this.wheelNum -= cardDom.clientHeight * 1.5;
      targetDom.style.top = this.wheelNum + "px";
    },
    // 左点击事件
    leftHandel() {
      var targetDom = document.getElementsByClassName("foot-wrapper")[0];
      var carsDom = document.getElementsByClassName("cars")[0];
      var footDom = document.getElementsByClassName("wrapper")[0];

      if (
        Math.abs(this.handelNum) >
        targetDom.clientWidth - carsDom.clientWidth * 8
      ) {
        return;
      }

      this.handelNum -= carsDom.clientWidth;
      targetDom.style.left = this.handelNum + "px";
    },
    // 右点击事件
    rightHandel() {
      if (this.handelNum >= 0) {
        return;
      }

      var targetDom = document.getElementsByClassName("foot-wrapper")[0];
      var carsDom = document.getElementsByClassName("cars")[0];
      this.handelNum += carsDom.clientWidth;
      targetDom.style.left = this.handelNum + "px";
    },
    resize() {
      // 当宽高变化时就会执行
      this.wheelNum = 0;
      this.handelNum = 0;
    },

    farmatDate(time) {
      if (time.toString().length == 1) {
        time = "0" + time;
      }
      return time;
    },
    goScreenfull() {
      const el = document.getElementsByClassName("wrapper-container")[0];
      if (screenfull.isEnabled && !this.isFull) {
        screenfull.request(el);
        this.isFull = true;
      } else {
        screenfull.exit();
        this.isFull = false;
      }
    },
    getTime() {
      var myData = new Date();
      this.year = myData.getFullYear();
      this.month = myData.getMonth() + 1;
      this.day = myData.getDate();
      var weekArr = [
        "星期日",
        "星期一",
        "星期二",
        "星期三",
        "星期四",
        "星期五",
        "星期六",
      ];
      this.week = weekArr[myData.getDay()];
      this.times = `${this.farmatDate(myData.getHours())}:${this.farmatDate(
        myData.getMinutes()
      )}`;
    },
  },
  beforeDestroy() {
    clearInterval(this.timer);
    clearInterval(this.timer2);
  },
};
</script>

<style scoped lang='scss'>
.wrapper-container {
  position: absolute;
  width: 100%;
  height: 100%;
  　-webkit-user-select: none;
  -khtml-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  img {
    width: 100%;
    height: 100%;
  }
  .header-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;

    // border: 1px solid pink;
    .title {
      width: 24vw;
      max-width: 460px;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 8px;
      :nth-child(1) {
        height: 44%;
        width: 10%;
        vertical-align: 17px;
        object-fit: scale-down;
      }
      :nth-child(2) {
        width: 90%;
        height: 65%;
        object-fit: scale-down;
      }
    }
  }
  .times {
    z-index: 1003;
    position: absolute;
    top: 32px;
    right: 0px;
    width: 20%;
    span {
      padding-right: 10px;
    }
    :nth-child(1),
    :nth-child(2),
    :nth-child(3) {
      font-size: 1.4rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: #0079ff;
      line-height: 30px;
    }
    :nth-child(4) {
      font-size: 1.4rem;
      font-family: PangMenZhengDao;
      font-weight: 400;
      color: #ffffff;
      line-height: 30px;
    }
  }
  .main-containers {
    position: absolute;
    top: 10%;
    // border: 1px solid red;
    z-index: 1005;
    width: 100%;
    height: 87%;
    display: flex;
    .left-containers {
      height: 100%;
      width: 27%;
      //   border: 1px solid rgb(0, 255, 128);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 2%;
      .left-one {
        width: 100%;
        height: 30%;
        // border: 1px solid rgb(8, 145, 155);
        position: relative;
        .quarter-wrapper {
          position: absolute;
          width: 100%;
          height: 80%;
          //   border: 1px solid rgb(236, 12, 12);
          top: 19%;
          .quarter {
            display: flex;
            justify-content: center;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            width: 90%;
            height: 45%;
            // border: 1px solid rgb(12, 236, 236);
            .quarter-douhao {
              width: 1%;
              text-align: center;
              position: relative;
              top: 50%;
              transform: translateX(-50%);
              transform: translateY(-60%);
              font-size: 2rem;
              font-family: PangMenZhengDao;
              font-weight: 400;
              color: #e7f3f7;
              line-height: 30px;
            }
            div {
              width: 12%;
              height: 65%;
              position: relative;
              margin-right: 1%;
              margin-left: 1%;
              span {
                width: 100%;
                text-align: center;
                display: block;
                position: absolute;
                top: 50%;
                transform: translateX(-50%);
                transform: translateY(-50%);
                font-size: 2.5rem;
                font-family: PangMenZhengDao;
                font-weight: 400;
                color: #e7f3f7;
                line-height: 30px;
              }
            }
            > span {
              position: absolute;
              bottom: 0;
              display: block;
              //  height: 20%;
              font-size: 1rem;
              font-family: PingFang SC;
              font-weight: 400;
              color: #ffffff;
              opacity: 0.6;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .month-quarter {
            width: 90%;
            height: 50%;
            // border: 1px solid rgb(12, 236, 49);
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            :nth-child(1) {
              width: 30%;
              height: 73%;
              position: relative;
              :nth-child(1) {
                font-size: 1.4rem;
                font-family: PangMenZhengDao;
                font-weight: 400;
                z-index: 1009;
                background-image: -webkit-linear-gradient(
                  bottom,
                  red,
                  #fd8403,
                  yellow
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: block;
                position: absolute;
                width: 100%;
                height: 73%;
                text-align: center;
                top: 43%;
                transform: translateY(-38%);
              }
              :nth-child(3) {
                font-size: 1rem;
                font-family: PingFang SC;
                font-weight: 400;
                color: #ffffff;
                line-height: 30px;
                opacity: 0.6;
                width: 100%;
                display: block;
                text-align: center;
              }
            }
            :nth-of-type(2) {
              width: 30%;
              height: 73%;
              position: relative;
              :nth-child(1) {
                font-size: 1.4rem;
                font-family: PangMenZhengDao;
                font-weight: 400;
                z-index: 1009;
                color: #00ccff;
                background-image: -webkit-linear-gradient(
                  180deg,
                  #1695f7 0%,
                  #57ddff 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: block;
                position: absolute;
                width: 100%;
                height: 73%;
                text-align: center;
                top: 43%;
                transform: translateY(-38%);
              }
              :nth-child(3) {
                font-size: 1rem;
                font-family: PingFang SC;
                font-weight: 400;
                color: #ffffff;
                line-height: 30px;
                opacity: 0.6;
                width: 100%;
                display: block;
                text-align: center;
              }
            }
            :nth-of-type(3) {
              width: 30%;
              height: 73%;
              position: relative;
              :nth-child(1) {
                font-size: 1.4rem;
                font-family: PangMenZhengDao;
                font-weight: 400;
                z-index: 1009;
                background-image: -webkit-linear-gradient(
                  180deg,
                  #51ecbb 0%,
                  #8effdb 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: block;
                position: absolute;
                width: 100%;
                height: 73%;
                text-align: center;
                top: 43%;
                transform: translateY(-38%);
              }
              :nth-child(3) {
                font-size: 1rem;
                font-family: PingFang SC;
                font-weight: 400;
                color: #fff;
                line-height: 30px;
                opacity: 0.6;
                width: 100%;
                display: block;
                text-align: center;
              }
              @keyframes dayConsume {
                0% {
                  top: 50%;
                  opacity: 1;
                }

                100% {
                  top: 40%;
                  opacity: 0;
                }
              }
              @keyframes jiaohao {
                0% {
                  top: 35%;
                  opacity: 1;
                }

                100% {
                  top: 25%;
                  opacity: 0;
                }
              }
              :nth-child(4) {
                // color: red;
                display: block;
                position: absolute;
                right: -13%;
                top: 35%;
                font-size: 0.7rem;
                font-family: PangMenZhengDao;
                font-weight: 400;
                z-index: 1009;
                color: #51ecbb;
                background-image: -webkit-linear-gradient(
                  180deg,
                  #51ecbb 0%,
                  #8effdb 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                -webkit-animation: jiaohao 1s linear;
                animation: jiaohao 1s linear;
                animation-duration: 1s;
                -webkit-animation-duration: 1s;
                /* Safari 和 Chrome */
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
              }
            }
          }
        }
        .one-header {
          height: 80%;
          position: relative;
          span {
            display: block;
            position: absolute;
            top: 5%;
            width: 100%;
            font-size: 1rem;
            font-family: PingFang SC;
            font-weight: 800;
            color: #ffffff;

            text-align: center;
            z-index: 1007;
            height: 100%;
          }
        }
        .select {
          position: absolute;
          z-index: 1008;
          right: 0;
          top: 2%;
          width: 20%;
        }
      }

      .left-two {
        position: relative;
        height: 30%;
        width: 100%;
        // border: 1px solid rgb(8, 145, 155);
        .my-chars {
          position: absolute;
          width: 100%;
          height: 90%;
          //   border: 1px solid rgb(8, 145, 155);
          top: 17%;
        }
        .two-header {
          height: 80%;
          span {
            display: block;
            position: absolute;
            top: 5%;
            width: 100%;
            font-size: 1rem;
            font-family: PingFang SC;
            font-weight: 800;
            color: #ffffff;

            text-align: center;
            z-index: 1007;
          }
        }
        .select {
          position: absolute;
          z-index: 1008;
          right: 0;
          top: 2%;
          width: 20%;
        }
      }

      .left-three {
        width: 100%;
        height: 30%;
        // border: 1px solid rgb(8, 145, 155);
        position: relative;
        .three-header {
          height: 80%;
          span {
            display: block;
            position: absolute;
            top: 5%;
            width: 100%;
            font-size: 1rem;
            font-family: PingFang SC;
            font-weight: 800;
            color: #ffffff;

            text-align: center;
            z-index: 1007;
          }
        }
        .table-container {
          position: absolute;
          top: 15%;
          width: 100%;
          height: 85%;
          //   border: 1px solid pink;
          //   table {
          //     position: relative;
          //     tr {
          //       width: 100%;
          //       td {
          //         width: 20%;
          //       }
          //     }
          //   }
          .targer {
            margin: 0 auto;
            display: block;
            width: 1.8rem;
            height: 1rem;
            border: 1px solid #f35555;
            border-radius: 11px;
            font-size: 0.6rem;
            color: #f35555;
            text-align: center;
            font-weight: 400;
            line-height: 1rem;
          }
          .targer1 {
            margin: 0 auto;
            display: block;
            width: 1.8rem;
            height: 1rem;
            border: 1px solid #efa21bed;
            border-radius: 11px;
            font-size: 0.6rem;
            color: #efa21b;
            text-align: center;
            font-weight: 400;
            line-height: 1rem;
          }
          .targer2 {
            margin: 0 auto;
            display: block;
            width: 1.8rem;
            height: 1rem;
            border: 1px solid #3779f3;
            border-radius: 11px;
            font-size: 0.6rem;
            color: #3779f3;
            text-align: center;
            font-weight: 400;
            line-height: 1rem;
          }
          .table-placeholder-img {
            width: 40%;
            /* height: 52%; */
            position: absolute;
            left: 52%;
            top: 12%;
            transform: translateX(-50%);
            span {
              display: block;
              text-align: center;
              font-size: 1rem;
              font-family: PingFang SC;
              font-weight: 400;
              color: #0a8afa;
              opacity: 0.4;
              margin-top: -45px;
            }
          }
        }
      }
    }
    .right-containers {
      width: 20%;
      height: 60%;
      //   border: 1px solid greenyellow;
      margin-left: 2%;
      position: relative;
    }
    .center-containers {
      width: 46%;
      height: 70%;
      //   border: 1px solid greenyellow;
      margin-left: 2%;
      position: relative;
      .select {
        position: relative;
        left: 87%;
        top: -1%;
        width: 12%;
      }
      .top-btn {
        display: block;
        position: relative;
        width: 5%;
        float: left;
        left: 66%;
        cursor: pointer;
        top: -4%;
      }
      .bottom-btn {
        position: absolute;
        display: block;
        width: 5%;
        left: 66%;
        margin-top: 58%;
        cursor: pointer;
        z-index: 1000;
      }
      .center-left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 2%;
        width: 45%;
        height: 90%;

        // border: 1px solid lightblue;
        .center-left-img {
          width: 100%;
        }
        :nth-child(1) {
          display: block;
          font-family: PingFang SC;
          font-weight: 800;
          color: #ffffff;
          font-size: 1rem;
        }
        :nth-child(3) {
          font-family: PingFang SC;
          font-weight: 400;
          color: #ffffff;
          display: block;
          //   padding-top: 5%;
          height: 5%;
        }
        :nth-child(4) {
          //   padding-top: 6%;
          height: 6%;
          font-family: PingFang SC;
          font-weight: 400;
          color: #ffffff;
          display: block;
          font-size: 1.5rem;
        }
      }
      .center-main {
        position: absolute;
        width: 22%;
        left: 43%;
        top: 13%;
        img {
          width: 100%;
          height: 80%;
        }
      }
      //   .center-right::-webkit-scrollbar {
      //     height: 0px;
      //     background: none;
      //     width: 0px;
      //   }
      .center-right::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 124%;
      }
      .center-right {
        position: absolute;
        width: 47%;
        right: -7%;
        top: 5%;
        overflow-y: hidden;
        z-index: 1001;
        // .center-right {
        //   position: relative;
        // }

        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // border: 1px solid red;
        .placeholder-img {
          width: 70%;
          height: 28%;
          position: absolute;
          left: 59%;
          top: 22%;
          transform: translateX(-50%);
          span {
            display: block;
            text-align: center;
            font-size: 1rem;
            font-family: PingFang SC;
            font-weight: 400;
            color: #0a8afa;
            opacity: 0.4;
          }
        }

        .card-wrapper {
          position: absolute;
          width: 100%;
          height: auto;
          top: 0;
          transition: 0.5s;

          .card {
            margin-top: 6%;
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 90%;
            padding-left: 10%;
            padding-right: 10%;
            cursor: pointer;
            // background: url("../../assets/images/dataScreen/选中-框@2x.png")
            //   no-repeat;
            // background-size: 100% 100%;
            align-items: center;
            // height: 10.66%;
            .bgImg {
              position: absolute;
              overflow: visible;

              img {
                width: 105%;
                height: 60%;
                z-index: 2005;
                overflow: visible;
              }
            }

            .facility {
              // position: absolute;
              height: 7%;
              width: 22%;
            }
            .ka {
              position: absolute;
              width: 70%;
              height: 3.5rem;
              //   border: 1px solid hotpink;
              img {
                height: 100%;
                width: 100%;
              }

              right: 0;
              .xuhao {
                position: absolute;
                top: 10%;
                width: 6%;
                left: 7%;
                span {
                  position: absolute;
                  // display: block;
                  left: 50%;
                  transform: translateX(-50%);
                  font-size: 0.7rem;
                  font-weight: 700;
                }
              }
              .facility-name {
                position: absolute;
                top: 10%;
                left: 15%;
                color: #fff;
                font-size: 0.8rem;
                opacity: 0.6;
              }
              .type {
                position: absolute;
                top: 47%;
                left: 6%;
                color: #70e6e4;
                border: 1px solid #70e6e4;
                border-radius: 11px;
                font-size: 0.8rem;
              }
              .progress {
                width: 80%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 6%;
              }
              .data {
                right: 7%;
                top: 47%;
                position: absolute;
                color: #f99c37;
                font-family: DIN-MediumItalic;
                font-weight: 400;
                font-style: italic;
              }
            }
          }
        }
      }
    }
    .foot-containers {
      position: absolute;
      width: 70%;
      height: 30%;
      bottom: 0;
      right: 0;
      .foot-header {
        width: 100%;
        position: absolute;

        // border: 1px solid indianred;

        top: 9%;
        .grow {
          // height: calc(0.6rem + 17px);
          // height: calc(0.4rem + 20px);
          // height: calc(0.3rem + 17px);
          height: calc(0.3rem + 22px);
          // height: calc(1.4rem + 2px);
          // height: calc(1.5rem);
          right: 3rem;
          position: absolute;
          display: flex;
          width: 49%;
          //   padding-right: 10%;

          //   border: 1px solid red;
          justify-content: right;
          .more {
            width: 5rem;
            ::v-deep .el-input--mini .el-input__inner {
              font-size: 0.8rem;
              color: #fff !important;
              height: 1.55rem;
              border-top-left-radius: 0%;
              border-bottom-left-radius: 0%;
            }
            .el-select {
              height: 100%;
              ::v-deep .el-input {
                height: 100%;
                .el-input__inner {
                  height: 100%;
                }
              }
            }
          }
          .select {
            // position: absolute;
            width: 21%;
            padding-left: 4%;
          }
        }
      }
      .title {
        position: absolute;
        top: 0;
        font-size: 1rem;
        font-family: PingFang SC;
        font-weight: 800;
        color: #ffffff;
        left: 5%;
        top: 5%;
      }
      .left-btn {
        position: absolute;
        width: 4%;
        top: 45%;
        cursor: pointer;
      }
      .right-btn {
        position: absolute;
        width: 4%;
        top: 45%;
        right: 5%;
        cursor: pointer;
      }
      .foot-main {
        position: absolute;
        left: 47.5%;
        transform: translateX(-50%);
        width: 85%;
        height: 68%;
        bottom: 0;
        // border: 1px solid rgb(0, 225, 90);
        overflow: hidden;
        .placeholder-img {
          width: 30%;
          height: 70%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          span {
            display: block;
            text-align: center;
            font-size: 1rem;
            font-family: PingFang SC;
            font-weight: 400;
            color: #0a8afa;
            opacity: 0.4;
          }
        }
        .foot-wrapper {
          position: absolute;
          height: 100%;
          width: auto;
          white-space: nowrap;
          transition: 0.5s;
          display: flex;
          //   border: 1px solid rgb(245, 9, 9);
          left: 0;
          .cars {
            position: relative;
            width: 7.4rem;
            margin-right: 1.5rem;
            cursor: pointer;

            .imgs {
              position: absolute;
              left: 10%;
              width: 80%;
              bottom: 0;
            }
            .plant-data {
              //   width: 34%;
              height: 13%;
              position: absolute;
              right: 7%;
              top: 5%;
              color: #fff;
              opacity: 0.6;
              font-size: 0.75rem;
              font-family: PangMenZhengDao;
              font-weight: 400;
            }
            .plant {
              height: 13%;
              position: absolute;
              left: 5%;
              top: 5%;
              color: #fff;
              opacity: 0.6;
              font-size: 0.65rem;
              width: 50%;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
::v-deep .el-progress-bar__outer {
  background-color: #61482c;
}
::v-deep .el-input__inner {
  background-color: transparent;
  border: 1px solid #3170ea;
}
::v-deep .el-table,
.el-table__expanded-cell {
  background-color: transparent;
}
::v-deep .el-table .cell {
  line-height: 17px;
}
::v-deep .el-table {
  color: #fff;
}
::v-deep .el-table .has-gutter th {
  color: #0098f9;
  font-size: 0.5rem;
}
::v-deep .el-table__body-wrapper::-webkit-scrollbar-corner {
  background-color: transparent;
}
// ::v-deep .el-table--striped .el-table__body tr.el-table__row--striped td {
//   background-color: transparent !important;
// }
::v-deep .el-table th,
.el-table tr {
  background-color: #06204f;
}
::v-deep .el-table--enable-row-hover .el-table__body tr:hover {
  background-image: url("../../assets/images/dataScreen/选中@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
::v-deep .el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #1f4997;
}
::v-deep .el-table::before {
  //去掉最下面的那一条线
  height: 0px;
}
::v-deep .el-table th,
.el-table th.is-leaf:nth-child(1) {
  border-bottom: 1px solid transparent;
}
::v-deep .el-table__header {
  border-bottom: 1px solid hsl(219, 89%, 58%);
}
::v-deep .el-table td,
// .el-table th {
//   padding: 0 0 !important;
// }
::v-deep .el-table .has-gutter th {
  padding: 2px 0 !important;
}

::v-deep .el-select-dropdown {
  background-color: rgba(6, 22, 49, 0.9);
  border-color: #002f71;
  left: 0 !important;
  position: absolute !important;
  top: 30px !important;
  text-align: center;
}
:v-deep .el-popper .popper__arrow,
.el-popper .popper__arrow::after {
  border-bottom-color: #08164d !important;
}
::v-deep .el-radio-group {
  padding-bottom: 0;
}
::v-deep .el-radio-button__inner {
  background-color: transparent !important;
  color: #3170ea;
  font-size: 0.8rem;
  border: 1px solid #3170ea;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}
::v-deep .el-radio-button:first-child .el-radio-button__inner {
  border-left-color: #3170ea;
  border-right: none !important;
}
::v-deep .el-radio-button:nth-child(2) .el-radio-button__inner {
  border-right: none !important;
}
::v-deep .el-radio-button:nth-child(3) .el-radio-button__inner {
  border-right: none !important;
}
::v-deep .el-radio-button:nth-child(4) .el-radio-button__inner {
  border-right: none !important;
  border-radius: 0%;
}
::v-deep .is-active {
  background: #0190fe !important;
  .el-radio-button__inner {
    color: #fff !important;
    border-left-color: #0190fe !important ;
  }
}
::v-deep .is-active:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
::v-deep .is-active:nth-child(2) {
}
::v-deep .el-dropdown {
  color: #3170ea;
  font-size: 0.8rem;
}
.header-new-drop {
  background-color: #08164d;
  border-color: #002f71;
}
::v-deep .el-input--mini .el-input__inner {
  font-size: 0.8rem;
  color: #fff !important;
  height: 1.55rem;
}
::v-deep .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: url("../../assets/images/dataScreen/选中hover@2x.png") no-repeat
    center / cover;
}
::v-deep .el-select-dropdown__item,
.el-select-dropdown__item {
  color: #fff;
  font-size: 0.8rem;
  padding: 0 0;
}
::v-deep .el-select-dropdown__wrap {
  max-height: 11rem;
}
::v-deep .el-popper[x-placement^="bottom"] .popper__arrow {
  left: 50% !important;
  transform: translateX(-50%);
}
@media screen and (min-width: 2100px) {
  .grow {
    height: calc(0.3rem + 24px) !important;
  }
  ::v-deep .el-input--mini .el-input__inner {
    font-size: 1rem;
    // color: #3170ea !important;
    height: 1.3rem;
  }
  ::v-deep .el-input.el-input--mini.el-input--suffix .el-input__inner {
    font-size: 0.8rem !important;
  }
  ::v-deep .el-radio-button__inner {
    background-color: transparent !important;
    color: #3170ea;
    font-size: 0.8rem;
    border: 1px solid #3170ea;
    padding-bottom: 0.25rem;
    padding-top: 0.18rem;
  }
}
@media screen and (max-width: 1900px) {
  .grow {
    height: calc(0.3rem + 18px) !important;
  }
  .header-container {
    transform: translateX(-50%);
    left: 50%;
    width: 100% !important;
    height: 80px !important;
    .title {
      width: 26vw !important;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 8px !important;
      :nth-child(1) {
        height: 20%;
        width: 100%;
        vertical-align: 15px !important;
        object-fit: scale-down;
      }
      :nth-child(2) {
        width: 87%;
        height: 55%;
        object-fit: scale-down;
      }
    }
  }
}
// ::v-deep .el-input.el-input--mini.el-input--suffix.is-focus {
//   background: #0190fe;
// }
::v-deep .el-input.el-input--mini.el-input--suffix .el-input__inner {
  font-size: 0.5rem;
  padding: 0 0 0 0.4rem !important;
}
::v-deep .el-input__icon {
  width: auto;
}
::v-deep .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #3170ea;
  border-color: #3170ea;
}
::v-deep .el-icon-arrow-up:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  color: #3170ea;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}
::v-deep input::-webkit-input-placeholder {
  color: #3170ea !important;
}
</style>