<template>
  <div class="wrapper">
    <transition name="fade-transform" mode="out-in">
      <div class="one-img-container">
        <router-link :to="{ name: 'equipment-management-one' }" target="_blank">
          <div
            class="container"
            @mouseenter="cybgHandleStop"
            @mouseleave="cybgHandleStart"
          >
            <img src="../../assets/images/dataScreen/预览图.png" alt="" />
          </div>
          <span>能耗消耗设备管理大屏1</span>
        </router-link>
      </div>
    </transition>
  </div>
</template>

<script>
import EnergyCockpitParticulars from "@/views/dataScreen/energyCockpitParticulars.vue";
export default {
  components: { EnergyCockpitParticulars },
  methods: {
    cybgHandleStop() {
      var container = document.getElementsByClassName("container")[0];
      container.style.transform = "scale(1.05,1.05)";
      container.style.transition = "all 0.3s ease 0s";
    },
    cybgHandleStart() {
      var container = document.getElementsByClassName("container")[0];
      container.style.transform = "scale(1,1)";
    },
  },
};
</script>

<style scoped lang='scss'>
.wrapper {
  width: 100%;
  height: 100%;
  //   border: 1px solid red;
  .one-img-container {
    width: 30%;
    // border: 1px solid pink;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    div {
      width: 98%;
      height: 20%;
      margin: 0 auto;
      //   border: 1px solid goldenrod;

      img {
        width: 100%;
        height: 100%;
      }
    }
    span {
      display: block;
      width: 98%;
      height: 28px;
      font-size: 20px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
      margin: 0 auto;
      padding: 30px 0px 50px 0px;
      text-align: center;
    }
  }
}
</style>