<template>
  <div class="chrars-wrapper" v-resize="resize">
    <div class="placeholder-img" v-if="equipmentData.length > 0">
      <img src="../../assets/images/dataScreen/设备消耗bg_box@2x.png" alt="" />
    </div>
    <div ref="chart" style="height: 35rem; width: 100%" id="container"></div>
  </div>
</template>

<script>
// import * as echarts from "echarts";
// import "echarts-gl";
import Highcharts from "highcharts/highstock";
import HighchartsMore from "highcharts/highcharts-more";
import HighchartsDrilldown from "highcharts/modules/drilldown";
import Highcharts3D from "highcharts/highcharts-3d";

HighchartsMore(Highcharts);
HighchartsDrilldown(Highcharts);
Highcharts3D(Highcharts);
export default {
  props: ["equipmentName", "equipmentData"],
  data() {
    return {
      placeholderImg: false,
      option: {
        colors: [
          "#0079FF",
          "#68B0FF",
          "#4BD5D9",
          "#F79C36",
          "#F76161",
          "#6B70E9",
        ],
        tooltip: {
          enabled: false,
        },
        plotOptions: {
          pie: {
            size: "65%",
            opacity: 0.9,
            innerSize: "60%",
            depth: 60,
            showInLegend: true,
            states: {
              //设置鼠标移入时不活动区域的透明度
              inactive: {
                opacity: 0.5,
              },
            },
            point: {
              events: {
                legendItemClick: function () {
                  return false;
                },
              },
            },
          },
          funnel3d: {
            borderWidth: 1,
            borderColor: "red",
          },
        },
        legend: {
          align: "center", //居左显示
          floating: true,
          symbolHeight: 10,
          symbolWidth: 10,
          symbolRadius: 0,
          y: -90,

          itemMarginTop: 10,
          itemHoverStyle: {
            opacity: 1,
            color: "#FFF",
          },
          itemStyle: {
            marginTop: "0.5rem",
            fontSize: "0.8rem",
            fontFamily: "PingFang SC",
            fontWeight: 400,
            color: "#FFFFFF",
            lineHeight: 40,
            opacity: 0.6,
          },
          labelFormatter: function () {
            return (
              this.name +
              "    " +
              `<sapn style="color:${this.color};">${this.options.y}</span>` +
              "%"
            );
          },
        },
        credits: {
          enabled: false, //不显示LOGO
        },

        chart: {
          backgroundColor: "rgba(0,0,0,0)",
          type: "pie",
          options3d: {
            enabled: true,
            alpha: 45,
          },
          marginTop: -140,
        },
        title: {
          text: "甲醇设备",
          style: {
            fontSize: "1rem",
            fontFamily: "PingFang SC",
            fontWeight: 800,
            color: "#FFFFFF",
            lineHeight: 30,
          },
          y: 60,
        },
        subtitle: {
          text: "设备能源种类消耗情况",
          style: {
            fontSize: "0.8rem",
            fontFamily: "PingFang SC",
            fontWeight: 800,
            color: "#FFFFFF",
            lineHeight: 30,
          },
          y: 90,
        },

        series: [
          {
            backgroundColor: "red",
            dataLabels: {
              enabled: false,
            },
            itemStyle: {
              color: "red",
            },
            name: "货物金额",
            data: [["电能", 100]],
          },
        ],
      },
    };
  },
  watch: {
    equipmentName: function (val, oldVal) {
      this.option.title.text = val;
      //   this.getEchartData();
    },
    equipmentData: function (val, oldVal) {
      if (this.equipmentData.length == 0) {
        this.option.plotOptions.pie.opacity = 0;
        document
          .getElementsByClassName("chrars-wrapper")[0]
          .classList.remove("is-actives");
        this.option.subtitle.text = "";
      } else {
        this.option.plotOptions.pie.opacity = 0.9;
        document
          .getElementsByClassName("chrars-wrapper")[0]
          .classList.add("is-actives");
        this.option.subtitle.text = "设备能源种类消耗情况";
      }
      this.option.series[0].data = val;
      this.getEchartData();
    },
  },
  directives: {
    // 使用局部注册指令的方式
    resize: {
      // 指令的名称
      bind(el, binding) {
        // el为绑定的元素，binding为绑定给指令的对象
        let width = "",
          height = "";
        function isReize() {
          const style = document.defaultView.getComputedStyle(el);
          if (width !== style.width || height !== style.height) {
            binding.value(); // 关键
          }
          width = style.width;
          height = style.height;
        }
        el.__vueSetInterval__ = setInterval(isReize, 1);
      },
      unbind(el) {
        clearInterval(el.__vueSetInterval__);
      },
    },
  },
  mounted() {
    //   判断饼图数据是否为空，为空不显示
    if (this.equipmentData.length == 0) {
      this.option.plotOptions.pie.opacity = 0;
      document
        .getElementsByClassName("chrars-wrapper")[0]
        .classList.remove("is-actives");
      this.option.subtitle.text = "";
    } else {
      this.option.plotOptions.pie.opacity = 0.9;
      document
        .getElementsByClassName("chrars-wrapper")[0]
        .classList.add("is-actives");
      this.option.subtitle.text = "设备能源种类消耗情况";
    }
    this.getEchartData();
  },
  methods: {
    resize() {
      // 当宽高变化时就会执行
      //执行某些操作
      //   this.getEchartData();

      let bodyHeight = document.body.clientWidth;
      if (bodyHeight < 1920) {
        this.option.title.y = 50;
        this.option.subtitle.y = 80;
      } else {
        this.option.title.y = 80;
        this.option.subtitle.y = 110;
      }
      this.getEchartData();
    },
    getEchartData() {
      const chart = this.$refs.chart;

      if (chart) {
        Highcharts.chart(chart, this.option);
        // window.addEventListener("resize", function () {
        //   myChart.resize();
        // });
      }
      this.$on("hook:destroyed", () => {
        // window.removeEventListener("resize", function () {
        //   myChart.resize();
        // });
      });
    },
  },
};
</script>

<style <style lang="scss" scoped>
.is-actives {
  background: url("../../assets/images/dataScreen/bg_饼图@2x.png") no-repeat
    center / cover;
  background-position: 48% 41%;
  background-size: 83% 36%;
}
.chrars-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  color: transparent;

  //   background-size: cover;
  .placeholder-img {
    position: absolute;
    display: block;
    width: 92%;
    height: 70%;
    top: 6%;
    left: 49.5%;
    transform: translateX(-50%);
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (min-width: 2100px) {
  .chrars-wrapper {
    background-size: 82% 43%;
  }
}
</style>>
