<template>
  <div class="chars-wrapper" v-resize="resize">
    <div
      ref="chart"
      style="height: 100%; width: 100%; position: absolute"
    ></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import * as api from "@/api/dataScreen/energyCockpit.js";
export default {
  props: {
    consumeId2: {
      default: "",
    },
  },
  data() {
    return {
      yList: [3, 19, 54, 27],
      barWidth: 20,

      option: {
        tooltip: {
          trigger: "axis",
          borderColor: "rgba(255,255,255,.3)",
          backgroundColor: "rgba(13,5,30,.6)",
          textStyle: {
            color: "white", //设置文字颜色
          },
          borderWidth: 1,
          padding: 5,
          formatter: function (parms) {
            var date = new Date();
            var year = date.getFullYear();
            var str =
              `${year} -
              ${parms[0].axisValue}` +
              "</br>" +
              parms[3].marker +
              "计划：" +
              parms[3].value +
              "</br>" +
              parms[0].marker +
              "实际：" +
              parms[0].value +
              "</br>" +
              parms[1].marker +
              "超出：" +
              parms[1].value;
            return str;
          },
        },
        backgroundColor: "transparent",

        //提示框

        /**区域位置*/
        grid: {
          left: "8%",
          right: "2%",
          bottom: 30,
          top: 10,
        },
        /**图例大小*/
        //  legend: {
        //   type: 'plain',
        //   left: 0,
        //   top: 20,
        //   itemGap: 20,
        //   itemWidth: 35,
        //   itemHeight: 20
        // },
        //X轴
        calculable: true,
        xAxis: {
          axisTick: {
            //x轴刻度线
            show: false,
          },

          data: [
            "一月",
            "二月",
            "三月",
            "四月",
            "五月",
            "六月",
            "七月",
            "八月",
            "九月",
            "十月",
          ],
          axisLabel: {
            align: "center",
            margin: 15,
            padding: [0, 5, 0, 0],
            opacity: 0.6,
            textStyle: {
              fontSize: "0.7rem",
              color: "#fff",
            },
            interval: 0,
          },
          show: true,
          type: "category",
          axisLine: {
            show: false,
            lineStyle: {
              color: "rgba(255,255,255,0.4)",
            },
          },
        },

        yAxis: {
          show: true,
          splitNumber: 4,
          axisLine: {
            show: false,
            lineStyle: {
              color: "#fff",
            },
          },
          splitLine: {
            show: false,
          },
          axisTick: {
            //y轴刻度线
            show: false,
          },
          axisLabel: {
            textStyle: {
              fontSize: "0.7rem",
              color: "#fff",
            },
            opacity: 0.6,
            formatter: function (value, index) {
              if (value >= 10000 && value < 10000000) {
                value = value / 10000 + "万";
              } else if (value >= 10000000 && value < 100000000) {
                value = value / 10000000 + "千万";
              } else if (value >= 100000000) {
                value = value / 100000000 + "亿";
              }
              return value;
            },
          },
        },
        // grid:{
        //     top:'52%',
        //     right:'50%',
        //     containLabel: true, // gird 区域是否包含坐标轴的刻度标签
        // },
        series: [
          {
            z: -1,
            type: "bar",
            symbolOffset: ["10%", 0],
            barWidth: "30%",
            stack: "num", //折叠显示
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 0.7, [
                  {
                    offset: 1,
                    color: "#037392",
                  },
                  {
                    offset: 0,
                    color: "#18e3cf",
                  },
                ]),
                opacity: 1,
              },
            },

            data: [99990, 19, 54, 27],
          },

          {
            z: -1,
            type: "bar",
            barWidth: "30%",
            stack: "num", //折叠显示
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 0.7, [
                  {
                    offset: 1,
                    color: "#76cb82",
                  },
                  {
                    offset: 0,
                    color: "#eba518",
                  },
                ]),
                opacity: 1,
              },
            },

            data: [990, 19, 54, 27],
          },
          {
            //大上顶
            z: 1,
            type: "pictorialBar",
            symbolPosition: "end",
            data: [10, 100, 100, 100, 150],
            symbolOffset: ["-13%", "-50%"],
            symbolSize: ["80%", "5% * 0.5"],
            itemStyle: {
              opacity: 1,
              color: function (params) {
                return "#4cb6cf";
              },
            },
          },
          {
            //大柱
            z: 4655,
            data: [10, 100, 100, 100, 150],
            type: "bar",
            barMaxWidth: "auto",
            // barWidth: "30%",
            barGap: "-150%",
            zlevel: -1,
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 0.7, [
                  {
                    offset: 1,
                    color: "#03366c",
                  },
                  {
                    offset: 0,
                    color: "#23b7f7",
                  },
                ]),
                opacity: 1,
              },
            },
          },

          {
            //下小底
            z: 2,
            type: "pictorialBar",
            data: [99, 19, 54, 27],

            symbolOffset: ["-25%", "0"],
            symbolSize: ["40%", "4%*0.2"],
            itemStyle: {
              normal: {
                color: "#1e8aab",
              },
            },
          },
          //        {
          //     //大下底
          //     z: 1,
          //     type: "pictorialBar",
          //     symbolPosition: "start",
          //     data: [10, 100, 100, 100, 150],
          //     symbolOffset: ["-13%", "-50%"],
          //     symbolSize: ["80%", "5% * 0.5"],
          //     itemStyle: {
          //       opacity: 1,
          //       color: function (params) {
          //         return "#4cb6cf";
          //       },
          //     },
          //   },
          //   {
          //     //上小底
          //     z: 3,
          //     type: "pictorialBar",
          //     data: [99990, 19, 54, 27],
          //     symbolPosition: "end",
          //     stack: "num", //折叠显示
          //     symbolOffset: ["-20%", "0"],
          //     symbolSize: ["40%", "4%*0.2"],
          //     itemStyle: {
          //       normal: {
          //         color: "#d29a2b",
          //       },
          //     },
          //   },
        ],
      },
    };
  },
  mounted() {
    this.getAllMonthConsume(this.consumeId2);
    this.getEchartData();
  },
  directives: {
    // 使用局部注册指令的方式
    resize: {
      // 指令的名称
      bind(el, binding) {
        // el为绑定的元素，binding为绑定给指令的对象
        let width = "",
          height = "";
        function isReize() {
          const style = document.defaultView.getComputedStyle(el);
          if (width !== style.width || height !== style.height) {
            binding.value(); // 关键
          }
          width = style.width;
          height = style.height;
        }
        el.__vueSetInterval__ = setInterval(isReize, 300);
      },
      unbind(el) {
        clearInterval(el.__vueSetInterval__);
      },
    },
  },
  watch: {
    consumeId2: function (val, oldVal) {
      this.getAllMonthConsume(val);
    },
  },

  methods: {
    resize() {
      // 当宽高变化时就会执行
      //执行某些操作
      //   this.getEchartData();
      const chart = this.$refs.chart;
      const myChart = echarts.init(chart);
      myChart.resize();
    },
    //   获取每月能耗数据
    getAllMonthConsume(bcId) {
      api.getallMonthConsume(bcId).then((res) => {
        this.option.xAxis.data = res.data.dateList;
        this.option.series[0].data = res.data.valueList;
        this.option.series[1].data = res.data.differentValueList;
        this.option.series[2].data = res.data.planValueList;
        this.option.series[3].data = res.data.planValueList;
        this.option.series[4].data = res.data.valueList;
        // this.option.series[5].data = res.data.planValueList;
        // this.option.series[5].data = res.data.valueSumDifferList;
        // if (res.data.differentValueList == 0) {
        //   this.option.series[5].itemStyle.normal.color = "#1e8aab";
        // } else {
        //   this.option.series[5].itemStyle.normal.color = "#d29a2b";
        // }

        this.getEchartData();
      });
    },
    getEchartData() {
      const chart = this.$refs.chart;
      if (chart) {
        const myChart = echarts.init(chart);
        myChart.setOption(this.option);
        window.addEventListener("resize", function () {
          myChart.resize();
        });
      }
      this.$on("hook:destroyed", () => {
        window.removeEventListener("resize", function () {
          myChart.resize();
        });
      });
    },
  },
};
</script>

<style>
.chars-wrapper {
  width: 100%;
  height: 100%;
  background: url("../../assets/images/dataScreen/img_底座@2x.png") no-repeat
    bottom / cover;
  background-size: 100% 27%;
}
@media screen and (min-width: 2100px) {
  .chars-wrapper {
    width: 100%;
    height: 100%;
    background: url("../../assets/images/dataScreen/img_底座@2x.png") no-repeat
      bottom / cover;
    background-size: 100% 16%;
  }
}
</style>